[2022-10-25 14:11] jorg3lopez commented on #6907
#### Update:
I was unable to get a hold of the inbound file and the outbound file because of the age of the ticket.  But with the information gathered, it seemed that these files were ready to be sent to MO and not WA. The above IDs are report_id(s) and not message_id(s). If we can get the message_id(s), we can check with SR if they can resubmit them, in case they came from SR.

[2022-10-25 15:19] snesm opened #7131 "GH Action version skew issue"
## Problem statement

Dependabot does not appear to be updating all occurrences of GH Actions.

## What you need to know

EnricoMi/publish-unit-test-result-action
.github/workflows/build_hub.yml:        uses: EnricoMi/publish-unit-test-result-action@713caf1dd6f1c273144546ed2d79ca24a01f4623
.github/workflows/build_hub.yml:        uses: EnricoMi/publish-unit-test-result-action@713caf1dd6f1c273144546

[2022-10-25 15:43] shy2cdc commented on #6355
Email from Amy:

Hi Brick,

I’m checking in to see if you are able to set up the dual feed this week?

Thanks,

Amy Manjon

[2022-10-25 15:51] snesm commented on #7131
There are known issues with Dependabot processing, but not sure if [this](https://github.com/dependabot/dependabot-core/issues/5017) is related.

[2022-10-25 15:51] sliu1000 commented on #6599
Update from Color on 10/24/2022 at 8:28 PM:

Thank you! We were able to connect to staging and will begin testing the API.
Ruey Pham

[2022-10-25 15:59] sliu1000 opened #7132 "SimpleHealthKit - API Sender Onboarding"
### What You Need to Know

- **[Yes, signed on 10/14/2022]** Terms of Service agreement signed

- [Originally scheduled 10/24 but cancelled due to staffing issues] Kickoff meeting completed

- [ ] Company’s intake form: [paste info below this]

- Name: Ramtej Pinisetty
- Job title: Program Manager
- Organization: Simple HealthKit Inc.
- Email address: statereporting@simplehealthkit.com, ramtej@sim

[2022-10-25 16:02] oslynn commented on #7080
2022-10-24:
Hi Ott,

Failed message info from yesterday, 10/24, below.

Processed Time

Status

Message ID

Reporting Facility

Accession#

Exception Text

10/24/22 4:01 PM

Failure

c11377a5-907d-42f8-b71b-ac1ceabcf00f-6

Advanced Molecular Diagnostics

c11377a5-907d-42f8-b71b-ac1ceabcf00f

Error creating lab. Blank identifiers in CE or CWE segments 1 or 4. See Activity Details.

10/24/22 4:01 PM

[2022-10-25 16:09] sliu1000 opened #7133 "SimpleHealthKit - Onboarding - Validate Test Files"
### Acceptance Criteria
- [**10/25/2022**] Sample file from sender received by RS team
- [x] Sample files saved to Keybase by assigned RS engineer
- [x] Sample file ingested into RS using validation UI tool by assigned RS engineer
- [x] Feedback provided to sender by assigned RS engineer (including instructions on what to modify in order to get validated)*
- [x] Sender modifies and re-sends sample

[2022-10-25 16:22] BerniXiongA6 commented on #7132
@BerniXiongA6 to reschedule sender onboarding kickoff -- will update epic once the kickoff meeting is confirmed

[2022-10-25 16:54] BerniXiongA6 commented on #6907
Hi @jorg3lopez what's our action item so I can update WA DOH on this? Also, can I help in any other way?

[2022-10-25 17:37] #6968 closed

[2022-10-25 17:47] fmccaf1 commented on #7000
Completed first draft and am working with James to improve/make edits

[2022-10-25 17:49] GilmoreA6 commented on #6593
Closing for now  until we get reengagement from Receiver.

[2022-10-25 17:50] GilmoreA6 commented on #6857
10/18 email to LimsABC - Waiting for response to requested changes.

"Hi Adrian,

Thanks for that info. Yes, there is another step that NJ requires. I've attached some instructions on how to sign up and complete the training for NJ's CDRSS portal (manual reporting portal). The lab will need to complete this training as part of the onboarding. For the HL7 side of things, NJ is requesting that we va

[2022-10-25 17:51] GilmoreA6 commented on #6678
closing as now engagement from users.

[2022-10-25 17:51] #6678 closed

[2022-10-25 17:52] GilmoreA6 commented on #6956
10/21 - working through issues with OAuth

"Hi Tara,

just to clarify, you are getting a 401 when attempting to get a bearer token? Since it's a 401  (unauthorized) and not a 400 (error) there are a couple of likely candidates.

1.) Try using a scope of "vaulthealth.*.report"

If that scope doesn't work....

2.) You are attempting to POST to the staging environment and not the production environme

[2022-10-25 17:52] doug-s-nava commented on #6968
nice

[2022-10-25 17:54] GilmoreA6 opened #7134 "Genabio Onboarding – Testing in Staging and Prod"
### Acceptance Criteria
- [ ] Sender has tested in staging and production
- [x] RS engineer has determined the data is good enough and graduates Sender to send Prod data to receiver 

### To Do
- [ ] RS engineer: update this ticket with comments with every interaction with sender
- [x] RS team member who originates this ticket: add dependencies:
     - [x] [name of company] Onboarding – Create Org

[2022-10-25 17:55] GilmoreA6 commented on #6377
Need to modify error logging on GAEN to extract error code sent back in from API so we can get more detailed info on why messages fail.

[2022-10-25 18:01] snesm commented on #7131
Incomplete bump PR's:
https://github.com/CDCgov/prime-reportstream/pull/7026
https://github.com/CDCgov/prime-reportstream/pull/7108
https://github.com/CDCgov/prime-reportstream/pull/7107
azure/login affected by recent updates for demo env.
https://github.com/CDCgov/prime-reportstream/pull/6997 split in two with https://github.com/CDCgov/prime-reportstream/pull/7084
https://github.com/CDCgov/prime-

[2022-10-25 18:04] #3920 closed

[2022-10-25 18:04] kevinhaube commented on #3920
Closed; work done in #4861

[2022-10-25 18:30] sliu1000 commented on #6954
Update, question from NIH Team:

Thank you, Kevin, for the fwd.

Joel,

Do you know the answer to the below question from Andrew?
Question for the ReportStream team: We know you are replacing PII fields with a <deidentified> string.  Can you let us know the date that you began using the <deidentified> string, instead of blanking out the values?
Best regards,

Sharon

From: Weitz, Andrew (NIH/NIBIB

[2022-10-25 18:46] kevinhaube commented on #6524
This fetch refactor work is entangled with STLT features despite being "SenderResource" -- the idea of a "sender" before is now referred to generically for senders/receivers as a "service", so this refactor work affects the services call that's blocking changes necessary for pagination on Daily Data (#4859)

[2022-10-25 19:23] #6459 closed

[2022-10-25 19:24] #6334 closed

[2022-10-25 19:24] #6400 closed

[2022-10-25 19:24] #6489 closed

[2022-10-25 19:25] BerniXiongA6 commented on #5296
@jorg3lopez will finish this ticket up for Sprint 54 and will intro Signetic to a new engineer if/when he has to roll off

[2022-10-25 19:25] kevinhaube commented on #4859
Incremental work to untangle network calls in Daily Data led to 6524 (tech-debt for Sprint 54 anyway) being included in necessary changes for this work to be completed! Two birds, meet my one stone.

[2022-10-25 19:27] BerniXiongA6 commented on #6806
Ryan / sender is on paternity leave -- will re-assign to engr when Ryan returns cc: @BerniXiongA6

[2022-10-25 19:29] BerniXiongA6 commented on #6733
Providence is currently on hold, could engrs shadow Joel/Jorge on this? cc: @BerniXiongA6

[2022-10-25 19:32] BerniXiongA6 commented on #7090
@jbiskie can pair with new engineer on this sender (OTC/CSV sender) cc: @BerniXiongA6

[2022-10-25 19:34] BerniXiongA6 commented on #6553
@jbiskie will help handoff this epic to the engineer @GilmoreA6 who will take over cc: @BerniXiongA6

[2022-10-25 19:35] BerniXiongA6 commented on #6550
@jbiskie can help handoff to new engineer if not done before leaving project cc: @BerniXiongA6 @MauriceReeves-usds

[2022-10-25 19:37] BerniXiongA6 commented on #6954
@BerniXiongA6 will follow up with @kjt9cc on this (CSV to HL7 / HHS Protect file format)

[2022-10-25 19:38] TomNUSDS opened #7135 "[Bug]: `api/check` should not allow http GET operations"
`GET` should exclusively support read-only operations that are "Safe methods that aren't expected to cause any side effects".

The `api/check` does DB writes, so should _only_ support `POST`.

The current api uses the HTTP Verb to control behavior

This should be moved to a cgi parameter.

Current cgi parameter `&sftpcheck=` has some odd behavior with `&sftpcheck=all` checking all settings. Since

[2022-10-25 19:48] BerniXiongA6 commented on #7118
@oslynn will PR today, and then close this ticket -- then create a new ticket for O&O backlog for next steps. cc: @BerniXiongA6

[2022-10-25 19:53] BerniXiongA6 commented on #7034
@BerniXiongA6 and @oslynn to follow up on and make sure ticket is updated with comments/work done.

[2022-10-25 19:54] #6724 closed

[2022-10-25 20:18] kevinhaube commented on #7124
Column 3 on the mural has a lot of info on this :D

[2022-10-25 20:28] kevinhaube commented on #7126
Info in Columns 1 and 2 of research mural!

[2022-10-25 20:28] TaneaY opened #7138 "CA - Unable to download daily data"
Elaine Li, elaine.li@phd.sccgov.org, Santa Clara County Public Health

User needs help downloading reports under daily data. "It always shows me a system message that there was an error loading the contents when clicking on the report name or "CSV". "

[2022-10-25 20:37] #6712 closed

[2022-10-25 20:37] kevinhaube commented on #6712
Done with Fetch Refactor Deliveries

[2022-10-25 20:43] brick-green commented on #6355
Jeremy confirmed that the whitelist request was made for HTTPS instead of SFTP. So he put in a new expedited request for SFTP.

[2022-10-25 20:57] TomNUSDS opened #7139 "New Settings names (and Clone) should prevent any names with special characters (e.g. `.`)"
Lots of code on the server depend on specific naming conventions. If Setting names (or Org names) include a specific set of character (or even words), then random problems will happen.

Ideally, this would be enforced at the API/pipeline layer, but a good place to start is the frontend UI.

 - [x] Exclude following characters from all names:
  - `"."` (period) because it's often used as a delimite

[2022-10-25 21:00] jorg3lopez commented on #7121
#### Update:
The password has been updated in the Texas's portal, in Azure secrets, and in keybase.

[2022-10-25 22:00] jbiskie commented on #6637
Email to Ryan on 9/20, regarding the sample file he sent on 9/16. His sample file is in keybase.

[2022-10-25 22:01] jbiskie commented on #6806
Staging and prod keys are in Azure.

[2022-10-26 04:57] HeatherRienks opened #7141 "FE Tech Debt: Design Enhancements"

[2022-10-26 04:59] HeatherRienks commented on #7141
@fmccaf1, @victorialb-usds @drew-usds
Creating this Epic to keep track of all of our small design related "tech debt" so we can tackle as we have time and it won't be overlooked.

[2022-10-26 15:17] #6983 closed

[2022-10-26 15:44] brick-green commented on #6850
ME now has a test environment. I got with Jeremy to submit a request for whitelisting

[2022-10-26 16:56] sliu1000 commented on #6956
Update from Sender:

Hi James!

Looping in the Vault Engineering team here for support. The team has looked into the LIVD value change and found that since PRL's test does not have an EUA, it's not in the list provided for mapping. We're wondering if there is another value we can place in OBR-4 if there is no EUA and there is no testkit Name ID in the mapping list?

Thanks!
Julia

[2022-10-26 16:57] fmccaf1 opened #7143 "Document Sender onboarding flow (internal and external)"
## Problem statement
ReportStream needs insight into its own processes to better design features and improve usability for external users. We also need insight into how the onboarding experience feels and is experienced by senders.

## What you need to know
There are currently journey maps and service maps in Mural, but they are primarily hypotheses (not based in real data from research).

 ## To

[2022-10-26 17:52] sliu1000 commented on #6903
@oslynn

Hi Ott, Vannessa from CALREDI is requesting for "some example MSH segments and accessions that you recently resubmitted"

She wants to do a quick check in the production environment.

[2022-10-26 18:33] jbiskie commented on #7090
From sender, 10/21:

[2022-10-26 18:54] kevinhaube commented on #7032
Issue removed from Experience board since discovery of impact is done. I'll remain subscribed to track progress!

[2022-10-26 19:28] TaneaY opened #7149 "Abbott- Sender failure- system outage"
Pamela Palmer, pamela.palmer@abbott.com, We are receiving a number of failures from our function that sends COVID test results to HHS. It is indicating that the service is unavailable.

[2022-10-26 19:47] jbiskie commented on #6553
This is currently blocked by #6733.

On hold until mid-late November when Providence can staff the project.

[2022-10-26 20:04] kevinhaube commented on #6913
Set to deploy Thursday 10/27!

[2022-10-26 20:21] brick-green opened #7150 "Turn on duplicate detection for all senders"
## Problem statement

Reportstream has an option to detect and ignore duplicate submissions. Turning this option on for senders will save processing time and resources in report stream in the event that errors occur in a sender system.

## What you need to know

Option in sender settings:

This is the default: `allowDuplicates: true`

All should be changed to `allowDuplicates: false`

## Acceptanc

[2022-10-26 20:36] brick-green opened #7151 "Investigate which high volume senders not set to async"
## Problem statement

All senders should be set to async processing type unless they have a need for the richer JSON response from the sync processing type. This action needs to be coordinated with the sender in the event they are currently using the data received in the "sync"  SON response. This will require us to reach out to the customer to ask about their current use of this data.

This will

[2022-10-26 20:41] brick-green commented on #6849
test file with fake data uploaded to Maine test system for their review

[2022-10-26 22:49] sliu1000 commented on #7149
Update from Jim regarding Sender ABBOTT:

From: Palmer, Pamela A <pamela.palmer@abbott.com>
Subject: AIMs issue

Good afternoon,

At approximately 11:00 AM CDT, we started getting a failure with the function application that sends Abbott’s NAVICA application COVID test results into AIMs. It is indicating that service is unavailable. We have had over 750 failures. There have been some successful tr

[2022-10-27 12:05] shy2cdc commented on #7149
Email from Pam:

Hi,

By 4:30 PM CDT, the errors had dropped to zero.

Regards,

Pam

[2022-10-27 12:09] shy2cdc commented on #6427
Dear Joel,

Good day. Thanks for your prompt response about API Key.

And I have question about your API Key.

Is this whether Test verion API key or real version rkey? (This is our partner question.)

Please kinldy inform me of that.

Thanks & Best reagards,

Philip Choi

[2022-10-27 14:17] shy2cdc commented on #7149
Email from Pam:

Good morning,

The error count has remained low overnight and we have retries built into the function that sends the data. We are continuing to monitor, but we are anticipating that nothing will need to be resent. Can you share what the root cause of the issue was?

Regards,

Pam

[2022-10-27 15:15] BerniXiongA6 commented on #5296
@jorg3lopez to contact snder and notify of departure -- have @greene858 or @oslynn as point of contact moving forward cc: @BerniXiongA6

[2022-10-27 15:50] sliu1000 commented on #6956
Update from Sender on 10/26/2022 at 6:54 PM:

Hi,

The LOINC Result Code for this test is 95425-5 and the LOINC Order code is 95826-4 (SARS-CoV-2 (COVID-19) N gene [Presence] in Saliva (oral fluid) by NAA with probe detection). I misread the previous question as the collection device instead of test device — my apologies. We've been asked to send the corresponding Testkit Name ID for this test, wh

[2022-10-27 15:59] kevinhaube commented on #3097
Now that we're on Router v6 that link @TomNUSDS shared is clutch! Should make app insights integration fairly easy (_knocks on wood_)

[2022-10-27 16:07] snesm commented on #7131
looks like  only "workflows" is being checked.  "actions" folder does not appear in any dependabot PR files changed.

[2022-10-27 16:37] #5187 closed

[2022-10-27 16:46] TaneaY commented on #7138
User emailed in for an update....

"I want to report that I’m not able to open and download my data. Can you please let me know if any updates or new versions were released that impacted my access? Thank you!

I submitted a service request two days ago and haven’t received any feedback."

[2022-10-27 17:28] brick-green commented on #6407
Any communication from UT on the whitelisting?

[2022-10-27 17:37] sliu1000 commented on #6407
@brick-green no we have not. I can follow-up with them.

[2022-10-27 20:15] jorg3lopez commented on #1495
We never got to this. It's all you now, @Brick.

[2022-10-27 20:22] jorg3lopez commented on #4385
#### Update
This issue should be resolved by now. It so happened that the schema from imagemover was blanking the fields to prevent phi leaking. Imagemover asked us to black the fields because some OTC test results had the patient's name and lastname in those fields. We reached out to imagemover around september 2022, and they told us that they had fix this issue on their end.

Imagemover disabled

[2022-10-27 21:09] HeatherRienks commented on #7095
@HeatherRienks to provide content to Florence by XX date for release in early December.

[2022-10-27 21:22] brick-green commented on #7151
Jim mentioned that we should not change the simple report csv uploader to async as SR may be displaying that information directly to the upload user. Going to make a spreadsheet to track comms with senders on this.

[2022-10-27 21:23] brick-green commented on #6355
Enabled Medex feed in production. They will review files are send back next steps.

[2022-10-27 21:25] sliu1000 commented on #7034
Update: Emailed SimpleReport to make sure the backlog was resubmitted.

[2022-10-27 21:38] jbiskie commented on #6733
Met with Brick, James, and Ott today to go over findings so far and potential solution paths. The testing and research modifications are in the `onboarding-ops/6733/results-any-obx` branch.

[2022-10-27 22:10] HeatherRienks commented on #3097
@kevinhaube - great news! Let's discuss what the next steps are!

[2022-10-28 15:32] #6988 closed

[2022-10-28 15:32] TomNUSDS opened #7164 "Metabase maintenance routine"
Create a process (likely a schedule reminder) to manually disable unused accounts in Metabase (production & staging) since it isn't a supported feature of the product.

(e.g. there are some team members who have accounts but metabase shows they've never logged into them and the accounts are +6 months old.)

This should be a slack message that shows up every month or so.

Done criteria:
* Documente

[2022-10-28 15:36] TomNUSDS commented on #7150
_**Verify behavior of `allowDuplicates: false`**_: Does it strip out duplicate tests from within bulk submissions or does it reject the whole submission?

Be prepared for extra work if the whole submission is rejected.

[2022-10-28 16:07] oslynn opened #7165 "Add "Test Performed LOINC Long Name" column to LIVD-Suplemental table."
During livd lookup for "Test Performed LOINC Long Name" using "Device_ID" (in LIVD Mapping column: Model), we don't get a unit value.  The reason is that LIVD-Suplemental table doesn't have the "Test Performed LOINC Long Name" column.  It gives us blank ("").  Therefore, the lookup will return a valid value + blank and it is not unique.

[2022-10-28 16:12] oslynn opened #7166 "Remove the LIVD-Suplemental table"
According to MO, he suggested that we remove the supplemental table.  This needs to be confirmed with Brick.
1.) Remove the table
2.) Test to make sure it doesn't break anything else.

[2022-10-28 16:15] #7118 closed

[2022-10-28 16:40] sliu1000 commented on #6355
Update from Amy Manjon (Sender):

So far, it’s looking good. I see a lot of messages have come across this morning. We’ll continue to monitor things and will be in touch.

[2022-10-28 16:49] sliu1000 commented on #6550
Update from Color sent on 10/27/2022:

Hi Team,

We're currently working on our eng design for ReportStream and was wondering if you guys might have availability from Wed - Fri (inclusive) next week to meet to go over a few questions that we have? Availability in PT below:

Wed, Nov 2 - 9:30am-10:30am, 12-2:15pm, after 3pm
Thurs, Nov 3 - after 10am
Fri, Nov 4 - after 12pm

Please let me know if yo

[2022-10-28 17:09] BerniXiongA6 commented on #7165
@oslynn Thanks for letting us know you found this issue. Please add more details: who is this affecting? how many senders are affected, if any? is this already being worked on or is it coming up as new work for Spring 54? Thanks for updating the ticket with these answers. cc: @brandonnava @BerniXiongA6

[2022-10-28 17:19] sliu1000 opened #7169 "PA - Investigate are/not receiving ALL SimpleReport Data"
Question sent from Kirsten Waller (kwaller@pa.gov), state of PA on 10/28/2022 11:27 AM:

## Problem statement

Wants to make sure they are or can receive SimpleReport Data.

## What you need to know

- The PA Department of Health ELR team would like to have a conversation regarding receiving SimpleReports in our ELR system.  We do receive some SimpleReport data that comes through AIMS, and assumed

[2022-10-28 17:33] ahay-agile6 opened #7170 "[Message Tracker][API] Documentation"
## Purpose

The API was written in tandem with the front-end for MVP to see if it works.

Add documentation and Open API specs for better understanding of how the API works and what it is for.

## Acceptance Criteria

- [ ] kdocs written for new db access methods
- [ ] kdocs written for azure MessagesFunctions class
- [ ] new endpoints added to the Open API spec

[2022-10-28 18:34] BerniXiongA6 commented on #7166
@oslynn please provide more info, also including @brick-green for visibility. What priority is this? Should it go into this or next sprint? Please advise, thanks! cc: @brandonnava @BerniXiongA6

[2022-10-28 18:36] fmccaf1 commented on #7000
Received James's edits. Closing ticket.

[2022-10-28 18:36] #7000 closed

[2022-10-28 18:40] BerniXiongA6 commented on #7169
Hi @sliu1000 Sharon, do we know what we are asking @brandonnava to do to take action on this request? Should this be a SR and RS joint meeting with PA DOH to confirm to them whether there is SR data coming through RS as opposed to AIMS? It says that PA DOH learned not all SR data is coming through AIMS, but it didn't indicate "who" they learned that from... curious if you have more info on this as

[2022-10-28 18:42] oslynn commented on #7166
@BerniXiongA6 @brick-green this ticket is a lower priority.  @MauriceReeves-usds told me to clean up the supplemental table.  He thinks that we don't need it.  However, he wants me to confirm with @brick-green first.  Yes, it can go to the next sprint.

[2022-10-28 18:50] #974 closed

[2022-10-28 18:59] sliu1000 commented on #7169
@BerniXiongA6

I tagged Brandon because at the last meeting you mentioned that the Product Manager will be moving the tickets from new to old.   A few things that come to mind is to check to see what data is coming in from PA. Someone from Engineering can check or do some research on that.

[2022-10-28 19:00] #6913 closed

[2022-10-28 19:28] HeatherRienks commented on #6994
@kevinhaube - let's discuss what remains on this one.

[2022-10-28 19:35] BerniXiongA6 commented on #7169
Thanks @sliu1000 for clarifying... I also see that you emailed PA to ask additional info too. @brandonnava and I met today to go over "Needs Analysis" of New tickets that get put on the board, so we'll make sure to keep communicating thoroughly on the tickets as we have questions or comments or updates. Thanks Sharon!

[2022-10-28 19:49] kevinhaube commented on #6994
@HeatherRienks Since there weren't that many changes, all changes have been taken care of, and in smoke testing, no errors occurred! This could be considered closed!

Areas that still MIGHT contain some static covid references would be public site content.

[2022-10-28 20:12] sliu1000 commented on #6471
Update from TN CEDS Informatics on 3:50 PM:

Hello,

TN can confirm we received 28 backlog of messages that has previously failed to process in our system and has no issues with them. We consider this case closed.

Thanks,

CEDS Informatics

[2022-10-28 20:12] #6471 closed

[2022-10-28 20:13] BerniXiongA6 commented on #7169
@BerniXiongA6 to get back to PA DOH on Monday 10/31 to schedule a call or respond with more elaborate answers to their questions. cc: @brandonnava @sliu1000

[2022-10-29 18:44] oslynn commented on #7080
2022-10-29.  Resubmitted all the messages with corrected OBX-3.2 to Jason.

[2022-10-29 18:46] oslynn commented on #7034
2022-10-28: Can't find the message in the Azure storage.

[2022-10-31 13:10] oslynn commented on #6407
2022-10-31: Followed up with Teri Bill.

Teri,

How are you?  Would you please give me the status of your Setting Up your SFTP site?  Do you have the IP for us to whitelist it?

Very best regards,
-Ott Sathngam
CDC SWE

[2022-10-31 14:01] sliu1000 commented on #7034
@oslynn

Hi Laura and Emma,

Could you please resubmit the back log with the short name? Calredie is requesting for the names to be shorten on all their old data so that it will become available in their system.  Please let me know if you have any questions.

Best regards,

Sharon

[2022-10-31 16:06] BerniXiongA6 commented on #6599
@GilmoreA6 is taking over the onboarding for Color moving forward. James, I'll forward any emails to you that I have so you know where we are in the process. cc: @sliu1000

[2022-10-31 16:23] BerniXiongA6 commented on #6550
BX emailed Color on 10/31/2022:

[2022-10-31 16:25] BerniXiongA6 commented on #6550
Scheduled to meet w/ Color on Thurs. Nov. 3rd 3pm ET -- @BerniXiongA6 and @GilmoreA6 cc: @brandonnava @sliu1000

[2022-10-31 17:24] brick-green commented on #7121
@BerniXiongA6 this one it done

[2022-10-31 17:24] #7121 closed

[2022-10-31 17:24] HeatherRienks commented on #6994
FYI-@fmccaf1 - I am closing this ticket, per @kevinhaube's comment, but see note above about Covid references.

[2022-10-31 17:25] #6994 closed

[2022-10-31 19:30] kevinhaube commented on #3097
After some investigation this morning, here's what this work might look like:

- [ ] Get Application Insights instance made for web client in Test
- [ ] Prototype the React application integration with Microsoft's provided App Insights React package
- [ ] Get prototype running and smoke test in Test environment
- [ ] Troubleshoot & Revise (god only knows how many times we may want to do this step)

[2022-10-31 20:02] brick-green commented on #7120
changed password and tested

[2022-10-31 20:02] #7120 closed

[2022-10-31 20:04] oslynn commented on #7080
2022-10-31: Feed back from RI all messages resubmitted on 2022-10-29 missing OBR-4.1, 4.2.

[2022-10-31 20:26] BerniXiongA6 commented on #7132
Email from BX to sender - updated on 10/31/2022:

[2022-10-31 20:55] HeatherRienks commented on #6794
@kevinhaube - is this something we need to prioritize?

[2022-10-31 20:57] brick-green commented on #6850
Added transport information to staging and prod  settings plus added the secrets to azure

[2022-10-31 23:12] sliu1000 commented on #6956
Update from Sender: 10/28/2022

Hi James,

Thank you for the detailed response! Regarding the EUA for PRL's test, they have applied for one, but the regulatory window was closed before they were approved. PRL submitted for EUA on September 9, 2020 and the FDA announced they would stop reviewing LDT EUAs on October 9, 2020. For other states we have automated, as long as an EUA was applied for and i

[2022-11-01 11:39] oslynn commented on #7080
2022-11-1: resubmitted one corrected OBR-4 message to RI to see if it is good.
Good morning, Jason,

I corrected the OBR-4-1, 2, 3, 7 for one message and uploaded to your prod folder to see if it is good for you.
The message id: cb23c0a5-3984-4ba2-8f9c-141db7d7bca4

Please let me know if it is good for you.  I will process and resubmit the rest of the messages.

Very respectfully,
-Ott Sathngam
CD

[2022-11-01 12:05] shy2cdc commented on #7080
Thank you, Ott,

I will be on the lookout for this at the next ELR push time and provide some feedback.

In addition, I did notice during my review of the failures from 10/29 that there are duplicate accession #’s coming through with different reporting facility names, i.e. Advanced Molecular Diagnostics (AMD) and CDC PRIME.  It is my assumption that these are all AMD accessions, but my question i

[2022-11-01 14:22] sliu1000 commented on #7094
Thank you, Ott,

I will be on the lookout for this at the next ELR push time and provide some feedback.

In addition, I did notice during my review of the failures from 10/29 that there are duplicate accession #’s coming through with different reporting facility names, i.e. Advanced Molecular Diagnostics (AMD) and CDC PRIME.  It is my assumption that these are all AMD accessions, but my question i

[2022-11-01 15:16] #6863 closed

[2022-11-01 15:20] BerniXiongA6 commented on #7090
@BerniXiongA6 send emails to @brick-green cc: @oslynn

[2022-11-01 15:38] BerniXiongA6 commented on #7090
BX sent to Philip/Osang/StoneLabs on Nov. 1:

From: Philip (ChoiJaeYoung) <jychoi3@osanghc.com>
Sent: Tuesday, November 1, 2022 9:19 AM

[2022-11-01 15:55] penny-lischer opened #7190 "[Message ID][Details][UI][API] Complete"
## Problem statement
As an internal admin, I would like to be able to see messages that I search upon as well as the details of a message when selecting a messageId from the Admin -> Message ID Search -> Message Details page.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c2

[2022-11-01 15:57] MauriceReeves-usds opened #7191 "Change PA Passwords"
Time to change the PA Passwords!

[2022-11-01 16:42] BerniXiongA6 commented on #7169
Meeting scheduled w/ PA DOH for 11/10 1:30pm-2pm ET

[2022-11-01 17:06] BerniXiongA6 commented on #6907
BX sent updates to Jenni and WA DOH team on 11/1/2022:

[2022-11-01 17:42] kevinhaube commented on #6919
In staging, ready to deploy November 3

[2022-11-01 18:31] fmccaf1 commented on #7098
Call with Sharon: This ticket is specifically for senders' registration process. Receivers will also need this change, but putting that off into the future for now.

[2022-11-01 18:36] #7124 closed

[2022-11-01 18:36] #7125 closed

[2022-11-01 18:36] #7126 closed

[2022-11-01 18:36] #7127 closed

[2022-11-01 21:29] #6986 closed

[2022-11-01 21:35] GilmoreA6 commented on #6599
Just wanted to check in and make sure I understand where we are in your onboarding process. It looks like Joel was able to solve the error for unknown schema that you were experiencing. Have you been able to send test data to staging yet or are you still encountering errors?

Thanks,

James

[2022-11-01 21:36] GilmoreA6 commented on #7134
Hi Juehua,

I have included the new public key you sent in our staging environment. Could you also provide one for production and I will add it.

When you are ready could you attempt to send some test data to the staging environment? Please note that no real data should be sent to staging, only test data.

Let me know if you have any other questions.

Thanks,

James

[2022-11-01 22:25] BerniXiongA6 commented on #6907
@oslynn and @BerniXiongA6 to chat about next steps now that WA DOH has replied with more info.

[2022-11-01 22:26] BerniXiongA6 commented on #6907
Emailed from Jenni at WA DOH on 11/1/2022:

[2022-11-01 22:29] GilmoreA6 commented on #6957
Hi All,

Wanted to check in and see if we were ready to test with some production data to our production endpoint yet.

Please let me know if you have any questions.

Thanks,

James

James Gilmore (Agile Six)

[2022-11-02 13:45] oslynn commented on #6907
Message Ids only:

db365053-28bd-4422-a032-1c381240c104

53bd3c23-73ce-4b71-b650-945ef335a85f

98f7a56f-e063-4577-938c-aaf9769a7c84

f68c5fab-8653-40c6-8b7a-785c96445cd7

7afcf41d-a5c3-4dd5-b273-79e32cdfeec7

8a0a7ad3-f3bc-4562-9a5a-fc65534b573a

8f04c1dd-4552-4e73-acf4-61b702a9428e

4dc21b7e-b0d2-4eda-a7ce-dbdc1e291318

5cb34012-fde1-4d17-95e0-0b8edc86b818

7f694e84-a39c-4646-b29c-e0848301f3fb

[2022-11-02 13:51] carlosfelix2 opened #7202 "Universal Pipeline simple smoke test"
### User Story:
As a developer, I want to be able to run an end to end smoke test on the UP, so I know the pipeline still works as expected.

### Description/Use Case
The smoke tests are meant to test ReportStream as a black box.  The smoke tests send some data using a specific fake sender in the Ignore org, let the system process the data and send it out to a fake receiver in the Ignore org. The

[2022-11-02 13:55] #6036 closed

[2022-11-02 14:06] Jcavallo7 opened #7203 "InBios Intl - Message Validation"
Hello,

User states:
Hello,

We are beginning to conduct formal validations for the reporting feature on our app and wanted to validate the transmission going from our App to ReportStream is validated.

We’ve submitted 3 entries and needed help to validate these entries or conversely share a csv file for the three IDs so we can manually verify the information ReportStream has received is correct.

[2022-11-02 14:31] snesm commented on #6910
Also: sonarcloud checks are not part of the build-backend custom action.

[2022-11-02 14:32] #7131 closed

[2022-11-02 14:40] BerniXiongA6 commented on #6907
@BerniXiongA6 will email Jenni, WA DOH to inform them that Ott is working on the ticket and has so far identified the sender is Intrivo. @oslynn is investigating further to determine what's causing the error "first/last unknown" and will provide next steps if needed to contact the sender to re-send if these are for actual patients.

[2022-11-02 14:47] brick-green commented on #7090
We're receiving a bunch of files to staging but they only contain a single string: "Temporary_CSV_file.csv". It looks like Joel had requested changes but those changes had not yet been verified. So I requested that a new file be delivered to confirm the changes.

[2022-11-02 14:49] brick-green opened #7216 "Osang LLC / Stone Labs Onboarding – Go Live Coordination"
### Acceptance Criteria
- [ ] Contacted sender to confirm when they want to start sending
- [ ] Introduced sender to the Customer Support form and CC: the Ops team (at least Sharon Liu and Berni Xiong)
- [ ] Adjusted final settings:
     - [ ] Modified organization.yml and created yamlitos
          - [ ] Customer status = active
          - [ ] For HL7 senders, schemaName: hl7/hl7-ingest-covid-19

[2022-11-02 14:50] brick-green opened #7217 "Osang LLC / Stone Labs Onboarding – Testing in Staging and Prod"
### Acceptance Criteria
- [ ] Sender has tested in staging and production
- [ ] RS engineer has determined the data is good enough and graduates Sender to send Prod data to receiver 

### To Do
- [x] RS engineer: update this ticket with comments with every interaction with sender
- [x] RS team member who originates this ticket: add dependencies:
     - [x] [name of company] Onboarding – Create Org

[2022-11-02 14:54] #7040 closed, assigned to JosiahSiegel, lucasdze, jeremy-page

[2022-11-02 15:12] BerniXiongA6 commented on #6088
@brick-green please create teickets

[2022-11-02 16:34] GilmoreA6 commented on #6957
Hey James,
You were correct earlier. We have to wait until the FDA accepts the product before we move on to testing the production endpoint. Unfortunately, the timeline on that is about 3+ months. We'll definitely reach out to you with any updates.

Sam'an Herman-Griffiths
Junior Software Engineer
Innolitics

[2022-11-02 16:35] GilmoreA6 commented on #6957
Thanks for the update!

I will make a note and put this on hold until we hear from you.

-James

[2022-11-02 16:36] #6324 closed

[2022-11-02 17:54] oslynn commented on #6907
@BerniXiongA6 , I don't these messages are valid messages.  Or, they are testing messages.  The reason are:
Missing
Patient Name: first/last are Unknow,
Patient's Address 1: Unknow,
Ordering Facility Phone Number: 1-111-111-1111
Performing Organization Name, Identifier Type Code: XX

I am not sure whether we should request Intrivo to resend them or not.

[2022-11-02 17:56] GilmoreA6 commented on #7134
Hi Juehua,

I think I've found the issue. In your payload you have:
{'iss': 'genabiolab.default', 'sub': 'genabiolab.default', 'aud': 'staging.prime.cdc.gov', 'exp': 1667400144, 'jti': 'xxxxxxxxx'}
Whereas ReportStream is expecting
{'iss': 'genabio.default', 'sub': 'genabio.default', 'aud': 'staging.prime.cdc.gov', 'exp': 1667400144, 'jti': 'xxxxxxxxx'}
also, make sure that your header replaces ge

[2022-11-02 19:18] HeatherRienks commented on #6990
@fmccaf1 - Please check with O&O as part of 6987 (usability testing) to see if this is needed. Thanks!

[2022-11-02 19:26] #6919 closed

[2022-11-02 19:31] HeatherRienks commented on #3099
Per @kevinhaube - an Engineer does NOT need to pick this ticket up :)

[2022-11-02 19:39] sliu1000 commented on #7097
Receiver from WA State is alerting us on another issue with Quickmed Diagnostic Inc sending data not belonging to WA State:

Report ID:
0b782214-b202-404f-81fe-a81cf35017d8

Original Communications:

We received a handful of messages originating from Quickmed Diagnostic Inc that have patient addresses in DC, but the state is listed as WA. We believe these results should be sent to DC rather than W

[2022-11-02 19:40] oslynn commented on #6907
@BerniXiongA6 , please email the following to Intrivo:

WA would like to know if these messages with the message ids below are testing messages or real production messages.

Message IDs
'------------
db365053-28bd-4422-a032-1c381240c104
53bd3c23-73ce-4b71-b650-945ef335a85f
98f7a56f-e063-4577-938c-aaf9769a7c84
f68c5fab-8653-40c6-8b7a-785c96445cd7
7afcf41d-a5c3-4dd5-b273-79e32cdfeec7
8a0a7ad3-f3bc-4

[2022-11-02 19:50] HeatherRienks commented on #6555
@kevinhaube - please create an Imp ticket for the work noted above (per our discussion, prob 1 pt of work!) :)
cc: @fmccaf1

[2022-11-02 20:09] sliu1000 commented on #7097
Hello,

The Sender was SimpleReport. I was able to figure this one out. I have requested SR to resubmit.

![image.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/74d149e4-93e5-42ab-b6f7-baff526af9d9)

[2022-11-02 22:25] HeatherRienks commented on #5822
@kevinhaube - per our convo, this might be a candidate to be closed (and grouped with external VS work, along with 6667).

[2022-11-02 22:25] HeatherRienks commented on #6667
@kevinhaube - per our convo, this might be a candidate to be closed (and grouped with external VS work, along with 5822).

[2022-11-03 12:31] shy2cdc commented on #7090
Email from Philip:

Dear Bernadette,
Thanks for your additional comment.
Dr Eric will back to you with finalized soon.
And then please check and let us know final validation result from your site.
Thanks and Best regards,
Philip Choi

[2022-11-03 14:16] kevinhaube opened #7220 "Move Validator under Admin nav"
## Problem statement

The validator lives under a dropdown labeled Upload & Validate, but for admins only. While it's an admin-only feature, it should live under the Admin dropdown navigation only.

## What you need to know

See #6555 for details

## Acceptance criteria

- [ ] Validation nav link lives under Admin nav

## To do

- [ ] Move validation link under Admin navigation

[2022-11-03 14:36] brick-green commented on #6355
Closing as I turned off the old feeds.

[2022-11-03 14:36] #6355 closed

[2022-11-03 14:37] brick-green commented on #6849
Maine has received the file but they do not have the bandwidth currently to continue with the integration. Moving to O&O backlog. Need to review in 1 month.

[2022-11-03 15:05] #6850 closed

[2022-11-03 15:58] BerniXiongA6 commented on #6907
BX sent this email to Karim / Intrivo on 11/3/2022:

[2022-11-03 16:00] brick-green opened #7224 "WA Migration - Extend REST service - Before or by Dec. 1, 2022"
## Problem statement

The new WA connectivity uses HTTPS POSTs with APIs and OAuth 2.0 JWT tokens to securely post ELR push messages to the OneHealthPort HIE gateway for delivery to the ELR Department of Health system.

## What you need to know

- [OneHealthPort API Documentation](https://zh-file.s3.amazonaws.com/304423150/f405d420-343f-4f17-b142-d7ee2940b353?Expires=1667487646&AWSAccessKeyId=AKIA

[2022-11-03 16:04] lucasdze commented on #5198
We have added tags using terraform on dns zones in test env. See PR https://github.com/CDCgov/prime-reportstream/pull/7222
Most of the resources hav been manually tag from Azure portal
Some of the tag do not need to be tagged or cannot be tagged now https://icfonline-my.sharepoint.com/:x:/r/personal/58917_icf_com/Documents/[AzureResources-Tags.xlsx](https://icfonline-my.sharepoint.com/:x:/r/person

[2022-11-03 16:07] brick-green opened #7225 "WA Migration - Create new receivers for testing and production"
### Problem Statement
WA will be a migrating to a new transport. But there will be overlap during development and testing. So separate receivers will be needed to accommodate the new and old simultaneously.

### Acceptance Criteria
 - Receiver for test environment created
 - Receiver for production env created

### To Do
- [ ]  Add receivers to local org file
 - [ ] create yml files in settings/pr

[2022-11-03 16:21] brick-green opened #7227 "WA Migration - Production Go Live - Before or by Dec. 1, 2022"
## Problem statement

WA needs to be set up in the production environment to receive via REST.

## Acceptance criteria

- [ ] Receiver filters allow data for WA
- [ ] REST transport is operational
- [ ] WA verifies that feed is working as expected

## To do

- [ ] Add REST transport information to receiver
- [ ] Disable old production feed

[2022-11-03 16:23] sliu1000 commented on #7089
https://osdh-labupload-prod.firebaseapp.com/__/auth/action?mode=resetPassword&oobCode=8eiYqX2sbi6Er_tFlzFFG5T1XkE2_RgAJtaV8t--q80AAAGD-wJ9HQ&apiKey=AIzaSyADk5GmBrqiyTGtB7zYK4opsOV9Db_DEiM&lang=en

Link to reset pw.

[2022-11-03 16:51] HeatherRienks commented on #6667
Per our convo, this ticket can be closed - this was merged in PR #6889.

[2022-11-03 16:51] #6667 closed

[2022-11-03 16:55] lucasdze commented on #6965
Resolving as Stephen said "I believe it caught enough between your testing and real code.  Close it"

[2022-11-03 17:04] lucasdze commented on #6819
Documentation
https://github.com/hashicorp/terraform-provider-azurerm/blob/main/website/docs/guides/3.0-upgrade-guide.html.markdown

[2022-11-03 17:06] MauriceReeves-usds commented on #2236
Closing this as we have a full proposal in place now at: https://github.com/CDCgov/prime-reportstream/pull/7228

[2022-11-03 17:06] #2236 closed

[2022-11-03 17:08] MauriceReeves-usds commented on #6061
This is done, and will eventually be superseded by a new structure: https://github.com/CDCgov/prime-reportstream/pull/7228

[2022-11-03 17:10] MauriceReeves-usds commented on #6446
@clediggins-usds This should hopefully be handled by https://github.com/CDCgov/prime-reportstream/pull/7228

[2022-11-03 17:10] MauriceReeves-usds commented on #5884
I have a proposal for this that will hopefully address most of the issues here: https://github.com/CDCgov/prime-reportstream/pull/7228

[2022-11-03 17:21] MauriceReeves-usds opened #7232 "Implement Phase 1 of Metadata Table Normalization"
## User Story
As a user of ReportStream I need access to the data about the contents of the test events we deliver to be available cleanly and in a very performant way.

## Description/Use Case
The current structure of the metadata tables is not sustainable. We need to move the data to a new layout that will scale into the future. More details are available in https://github.com/CDCgov/prime-repor

[2022-11-03 17:29] HeatherRienks commented on #6278
FYI- the code changes to support this have been merged, however, NO CONTENT structure has been updated.

[2022-11-03 18:27] fmccaf1 opened #7234 "Schedule first interview with sender"

[2022-11-03 18:29] fmccaf1 opened #7235 "Schedule second interview with sender"

[2022-11-03 18:29] fmccaf1 opened #7236 "Schedule third interview with sender"

[2022-11-03 18:31] fmccaf1 opened #7237 "Schedule fourth interview with sender"

[2022-11-03 18:31] fmccaf1 opened #7238 "Schedule fifth interview with sender"

[2022-11-03 18:55] rnz6 commented on #7138
@BerniXiongA6

Follow up email from user 11/3:

 "I need help downloading and accessing the daily data though I can see the daily report comes up every day. Please verify my access/account setup if it caused the problem."

[2022-11-03 19:37] shy2cdc commented on #7080
Email from Jason G:

Hi Ott,

Thank you for this update and thank you for the time and efforts to correct the feed.   Please feel free to contact me with any questions you have as well.

Best,

Jason

[2022-11-03 21:01] BerniXiongA6 commented on #7132
BX sent out this follow-up email post-kick-off to sender on 11/3/2022:

[2022-11-03 21:03] BerniXiongA6 opened #7241 "SimpleHealthKit Onboarding – Create Org and Sender Settings"
### Acceptance Criteria
- [x] Added to organization.yml and create yamlitos
    - [x] Customer status = testing
    - [ ] For HL7 senders, schemaName: hl7/hl7-ingest-covid-19-training

- [x] Added to prod settings table
- [x] Added to staging settings table
- [ ] Key exchange
    - [ ] 1. Shared secret
         - [ ] Created API keys in Azure staging
         - [ ] Created API keys in Azure prod

[2022-11-03 21:20] kevinhaube commented on #6993
Will present the following question in O&O sync on November 9th, 2022, to _possibly_ unlock more Validation work:

[2022-11-03 21:21] kevinhaube commented on #3095
#3099 May be more iterative rather than a one-time creation of all dashboard items; doing it per-insight seems to make sense from what I'm learning while implementing the prototype.

[2022-11-03 21:22] kevinhaube commented on #5641
The work for this may change based on the following topic raised tomorrow among tech leads:

[2022-11-03 21:23] BerniXiongA6 commented on #6637
Ryan is currently out on paternity leave -- @BerniXiongA6 will follow up on this to re-engage when he's back.

[2022-11-03 21:25] BerniXiongA6 commented on #7232
Hi @MauriceReeves-usds -- please add the priority label to this ticket when you get a chacne. In the meantime, @brandonnava and I will move it into O&O backlog so we can take it out of the New column. Thank you sir!

[2022-11-03 21:27] kevinhaube commented on #6246
Is this...done? Need to investigate.

[2022-11-04 12:03] shy2cdc commented on #7090
Email from Philip:

Dear Brick,

Good day.

Thanks for your support and prompt response.

You are right. Actually today is our due date for submission and report of finalized mobile application “myHomeTest” development to FDA for COVID-19 antigen Self Test.

So, please support us,

I'm not sure if I should ask you following favors, but I'm inquiring because we have not enough time definitely. So,

[2022-11-04 13:48] #5020 closed

[2022-11-04 13:51] carlosfelix2 opened #7242 "Universal Pipeline performs sender transforms"

[2022-11-04 13:53] carlosfelix2 opened #7243 "Read and validate UP Sender Transform configuration"
### User Story:
As an administrator, I want to be able to configure sender specific transforms, so I can fix data issues coming from senders.

### Description/Use Case
Read the designed configuration into objects to be used by code. The configuration is to be validated based on the rules of the design (e.g. two properties are not supposed to be used in one element). Will also need to include other

[2022-11-04 13:53] carlosfelix2 opened #7244 "UP Sender Transform detects schema circular dependencies in schema configuration"
### User Story:
As developer, I want the UP sender transform to detect when there is a schema circular dependency, so I can fix the issue.

### Description/Use Case
The UP sender transform configuration allows for child schemas (a schema that includes another schema).  There is the possibility that someone could include a schema that was already included at a higher level which will result in an i

[2022-11-04 13:53] carlosfelix2 opened #7245 "Detect duplicate element names in UP Sender Transform schema"
### User Story:
As a administrator, I want to know if I am using duplicate element names in a UP sender transform schema, so there are no name conflicts if a schema is later extended.

### Description/Use Case
When we are extending schemas, we have the ability to override an element by name, but if we make a mistake an use a name more than once then there could be issues with the extension changin

[2022-11-04 13:53] carlosfelix2 opened #7246 "UP Sender Transform can transform existing data in non-repeating FHIR resources"
### User Story:
As a receiver, I want sender data to be corrected and/or normalized, so I can receive correct data.

### Description/Use Case
Similar to the COVID Pipeline, we need to have the ability to transform sender data to be able to fix and/or normalize the data.  One example of this data problem would be the use of different strings to mean the same thing (e.g. Y, y, yes, positive). Some s

[2022-11-04 13:54] carlosfelix2 opened #7247 "UP Sender Transform can add new data to a FHIR bundle"
### User Story:
As a receiver, I want sender data to be corrected and/or normalized, so I can receive correct data.

### Description/Use Case
Similar to the COVID Pipeline, we need to have the ability to transform sender data to be able to fix and/or normalize the data.  One example of this data problem would be the use of different strings to mean the same thing (e.g. Y, y, yes, positive). Some s

[2022-11-04 13:54] carlosfelix2 opened #7248 "UP Sender Transform can transform existing data for repeating FHIR resources"
### User Story:
As a receiver, I want sender data to be corrected and/or normalized, so I can receive correct data.

### Description/Use Case
Similar to the COVID Pipeline, we need to have the ability to transform sender data to be able to fix and/or normalize the data.  One example of this data problem would be the use of different strings to mean the same thing (e.g. Y, y, yes, positive). Some s

[2022-11-04 13:54] carlosfelix2 opened #7249 "Support inline value sets in UP Sender Transform schema"
### User Story:
As a developer, I want to be able to specify a set of key/value pairs, so data that matches the key is converted to data specified by the value of the pair.

### Description/Use Case
This feature is similar to the existing FHIR to HL7 value sets.  The idea is that we will take FHIR values and convert them to another value.  For example, we may get strings like "PROD" and "DEMO" tha

[2022-11-04 13:54] carlosfelix2 opened #7250 "Support the use of lookup tables for value sets in UP Sender Transform schema"
### User Story:
As a developer, I want to be able to specify a ReportStream lookup table to be used as a value set, so data that matches the key is converted to data specified by the value of the pair.

### Description/Use Case
There are multiple lookup tables in the database that are used for normalizing values from senders.  We want to reuse these tables as well as we want to store future value

[2022-11-04 13:56] carlosfelix2 commented on #6761
See attached design:
[https://app.zenhub.com/files/304423150/d666073a-0d70-42dc-9779-82f163ae5593/download](https://app.zenhub.com/files/304423150/d666073a-0d70-42dc-9779-82f163ae5593/download)

[2022-11-04 14:09] carlosfelix2 opened #7251 "Allow the extending of a UP sender transform schema to create a new schema"
### User Story:
As a developer, I want to be able to extend a UP sender transform schema, so I do not have to duplicate a schema configuration that already exists.

### Description/Use Case
This feature is similar to the existing FHIR to HL7 schema extension.  We want to be able to create some common sender transforms that can be reused and tweaked for other senders as well.  This is a similar use

[2022-11-04 14:21] carlosfelix2 opened #7252 "UP "Convert step" transforms sender data using specified schema"
### User Story:
As an administrator, I want to specify which sender transform schema to use for a sender in the sender settings, so I can control the transform process on a per sender basis.

### Description/Use Case
We want the UP to do the sender transform after the data is converted to FHIR, but before it is routed.  The settings allow us to specify a schema we can use in the UP to specify whic

[2022-11-04 14:28] carlosfelix2 opened #7253 "UP Sender Transform schema can define constants to use for an element"
### User Story:
As a administrator, I want to be able to define constants in a UP sender transform schema, so I don't have to duplicate data.

### Description/Use Case
Similar to the FHIR to HL7 library, we want to be able to define string constants for the UP sender transform schemas to be used at the schema or element level.

### Risks/Impacts/Considerations
*

### Dev Notes:
* Follow the same i

[2022-11-04 14:46] jeremy-page commented on #6078
Using the existing database module as a template add a new PG14 flex server and, depending on environment, a replica to each of our environments.

These should mimic the existing PG11 boxes as much as possible - username,password, default charset etc. They need to be reachable from the VPN.

name should be "${var.resource_prefix}-pgsql14"
dns_zon should be postgres14 (instead of "postgres"

Done c

[2022-11-04 15:29] fmccaf1 opened #7254 "Complete interview with sender Intrivo"

[2022-11-04 15:31] fmccaf1 opened #7255 "Prep for sender interviews"
## Acceptance criteria
- [x] Prep coding/notes doc
- [x] Write discussion guide

[Link to discussion guide](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7BE07F8F28-0E41-40D8-8EB5-2F7D01B4C39B%7D&file=Document.docx&action=default&mobileredirect=true) (will continue to receive edits, but this is general direction)

[2022-11-04 16:28] ahay-agile6 opened #7256 "[API] Mechanism for switching Database queries to replica (readonly) database"
ReportStream Production Replica - pdhprod-pgsql-replica.postgres.database.azure.com
ReportStream Staging Replica - pdhstaging-pgsql-replica.postgres.database.azure.com (guessing)

## Problem Statement:

Most of the "experience" features on the ReportStream front-end are "readonly" operations on the database.
We are currently connecting to the prodcution's "real" databse that is "read-write" and is

[2022-11-04 16:43] #7234 closed

[2022-11-04 16:45] fmccaf1 opened #7258 "Schedule interview with Indiana PHD"

[2022-11-04 16:45] fmccaf1 opened #7259 "Schedule interview with Missouri PHD"

[2022-11-04 16:48] fmccaf1 opened #7260 "Prep for PHD onboarding interviews"

[2022-11-04 17:16] #6524 closed

[2022-11-04 17:33] ahay-agile6 opened #7262 "[Message Tracker][API] optimize message search api endpoint"
## Problem Statement
queries to the covid_result_metadata table are timing out on staging and production

## Acceptance Criteria
- [ ] queries don't time out...

## TO DO:
- [x] try adding an index on messageId to make the queries quicker (this already exists db/migration/V11__add_test_data_table.sql)
- [x] check if there are indexes on action_log to tracking_id (confirmed, there is one)
- [x] try

[2022-11-04 17:41] jeremy-page opened #7263 "Exception in production: Schema Error: 'zip-code-data' is missing in element"
The following error occurred in Production on 11/4/2022 at 11:53:33.260 AM

[More here in slack](https://semanticbits.slack.com/archives/C026DV8R21W/p1667577543023059)

`Exception while executing function: Functions.getOneOrganization Result: Failure
Exception: IllegalStateException: Schema Error: 'zip-code-data' is missing in element '{Element(name=patient_state_zip_lookup, type=TABLE, valueSet=n

[2022-11-04 18:45] sliu1000 commented on #7138
Sent follow up email to see if user is still having dl issues.

[2022-11-04 19:00] BerniXiongA6 commented on #6407
11/4/2022: BX email to Rachelle Bouton:

11/4/2022: Teri auto-reply message to BX:

11/4/2022: BX email to Teri Bills:

[2022-11-04 19:01] BerniXiongA6 commented on #6407
11/4/2022: Waiting on Rachelle Boulton to hopefully provide a status update in Teri Bills' absence.

[2022-11-04 19:57] #7031 closed

[2022-11-04 20:21] sliu1000 opened #7264 "RI - Error Messages"
## Problem statement

Errors/ Failures from 11/3:

Json Garret from RI is requesting that we point back to NBS TEST to avoid the failures in PROD when making these adjustments to avoid the overflow of failure reports in the production environment.  Once we can verify the fix is complete, we can then point back to NBS PROD and send all backlogged results.

## What you need to know

Processed Time:

[2022-11-04 20:25] rnz6 opened #7265 "NJ - ProPhase: Error in Rhapsody Route in PRODUCTION"
njelr.admin@doh.nj.gov - Mike Firkser

Please note the errors below in your ELR File: covid-19-7bff3bf2-0fd2-475a-835d-7b0e96cf5422-20221104134158.hl7

ORC-12.1 and OBR-16.1 are filled with 255 pound signs (#) and ORC-12 and OBR-16 contain “Unknown” for provider names.

In addition PROPHASE HAS NOT BEEN APPROVED TO MOVE TO OUR PRODUCTION ENVIRONMENT!!!   DO NOT SEND ANY MORE FILES TO OUR PRODUCTIO

[2022-11-04 20:50] sliu1000 opened #7266 "Fresno County - Duplicate Records"
## Problem statement

Issue reported by Logan Dambrino from Fresno County Department of Public Health.

There seems to be an issue with Simple Report’s data transmissions to CalREDIE over the last 2 weeks.
It appears that slightly altered duplicate labs were submitted by Simple Report to CalREDIE (2 per actual lab submitted to Simple Report), both with the same accession number and all other info,

[2022-11-04 22:36] GilmoreA6 commented on #6640
Hi All,

We have successfully received the file in production and are working with the state of CA DPH to review and make sure it meets their criteria. This is the last step of onboarding. As soon as CA lets us know everything looks good, we can turn you on for full production.

Thank you and I will be in touch as soon as I have a confirmation from CA.

-James

[2022-11-04 22:37] GilmoreA6 commented on #6640
email to CA-PDH:
Hi all,

Apologies for the long delay in this as it took us more time than expected to get the sender fully onboarded to our production environment. We now have a few production messages for the sender that are ready for review (these will contain actual PHI/PII). Given that we have now transitioned to our production feed pointing to SaPHIRE instead of CCRS should I send these to

[2022-11-04 22:37] GilmoreA6 commented on #6640
CA respone:

Hi James,

Thanks for the update.

We would like to review using our SaPHIRE test system.  Can you send the file(s) via secure email so we can play them into the correct test system?  Teddy or her team can provide comments after they review the messages.

Kind regards,

Ellaison

[2022-11-04 22:37] GilmoreA6 commented on #7134
Hi James,

Thanks a lot for your detailed information in your previous email. We fixed the problems and have sent our dummy csv file verified previously by CDC ReportStream team with bearer token, however, a failure JSON response was sent back to us, please see the attached "genabio.output.txt". We also used the sample csv file in the manual page 31, "Appendix B: Sample Payloads and Output", unfor

[2022-11-04 22:38] GilmoreA6 commented on #7134
Hi Juehua,

It looks we had created you a custom schema with different column headers. I have reverted your settings to use the default CSV upload schema. If you submit a file following the Programmer's guide now you should receive a successful response.

Thanks,

James

[2022-11-04 22:38] GilmoreA6 commented on #7134
Hi All,

I forgot to mention that if you would like to keep using the existing custom schema you have if you could forward me the dummy file you attempted to send in I can troubleshoot. It looks like you are missing the field testing_lab_clia.

Thanks,

James

[2022-11-04 22:38] GilmoreA6 commented on #6599
Hi All,

Thanks for meeting today. I was doing some thinking about the customizations you had mentioned for states and whether or not you should undo them to send to ReportStream. Let's actually leave that it place for now and if we can generate test messages for each of the unique customizations I can run them through and make sure they don't cause issues in ReportStream.

I was thinking about th

[2022-11-04 22:38] GilmoreA6 commented on #6599
James,

That sounds good. We'll leave the customizations for now. Thanks again so much for answering all our questions yesterday. You've provided us with some great information to help us accelerate our integration with you.

As we discussed, here are 2 IDs for messages I submitted yesterday in stage that I was expecting to go to states that are not California - 82200a2f-9592-43d4-9bce-7f5769971f9

[2022-11-05 08:17] oslynn commented on #7265
I notified ProPhase not to send any message to NJ until the onboarding is completed.   Sharon also responded to NJ email and notified them.

[2022-11-05 08:18] #7265 closed

[2022-11-07 14:12] #7065 closed, assigned to JosiahSiegel

[2022-11-07 15:30] carlosfelix2 opened #7275 "Design UP: Managing Translation Schemas"
### User Story:
As ReportStream, I want to provide an easy way for an end user or engineer to manage translation schemas in the universal pipeline without having to redeploy the app.

### Description/Use Case
Presently, the HL7 -> FHIR, FHIR -> HL7, and FHIR->FHIR schemas are stored as files in the repo.  Any changes to those schemas need to be made as a PR, merged then deployed to production.  We

[2022-11-07 15:34] kevinhaube opened #7277 "[Prototype] Create a prototype for codified error messages"
## Problem statement

The API error messages now are string-based, and while some contain useful metadata, all contain a hard-coded string error message. We will codify these errors, so that if the given error string does not suit the need, a translation layer may be applied to convert them to UI-friendly messages, or into another language for multi-lingual support.

## What you need to know

###

[2022-11-07 15:39] sliu1000 commented on #7034
Email Sent on Friday 11/4/2022 @ 6:56 pm

Just a heads up that this request has been completed - all the tests for Zuckerberg Hospital have been re-sent to ReportStream.

Thanks,
Emma

[2022-11-07 16:07] #6204 closed

[2022-11-07 16:50] sliu1000 commented on #7034
@oslynn

Emma updated the Facility name from Zuckerberg Hospital to SF DPH ZSFG on Friday. Can you please confirm.

[2022-11-07 17:09] fmccaf1 commented on #6689
### Findings from call w/ Berni - 11/4
- Programmer's guide needs update: both content and format
- Getting started: PHDs needs help, Berni happy to be SME
- ELR onboarding checklist: no longer accurate and unclear, should get rid of
- CSV download guide needs some updates, but other CSV resources can be removed
- Keep security practices and systems and settings

[2022-11-07 17:13] fmccaf1 opened #7279 "Programmer's guide makeover"
### Acceptance Criteria

- [ ] Work with Berni and O&O engineers to identify what is missing and what can be improved
- [ ] Work with Kevin Haube (experience engineer) to recreate programmer's guide as a webpage, as opposed to a PDF
- [ ] (Maybe) Add "listening" opportunities for the purpose of ux evaluation

[2022-11-07 18:32] fmccaf1 opened #7280 "Remove out-dated resources"
### Acceptance criteria
Remove the following resources from the RS website (under Resources)
- [x] CSV schema documentation guide
- [x] CSV upload guide

[2022-11-07 18:33] fmccaf1 commented on #7280
From [6689](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6689)

@kevinhaube

[2022-11-07 18:33] fmccaf1 commented on #7280
From [6689](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6689)

@kevinhaube

[2022-11-07 19:54] BerniXiongA6 commented on #7097
HI @sliu1000 we just got off our sync with WA Dept of Health today. They were wondering who would be resubmitting the messages? Laura King/SR was on the call and said that SR couldn't resubmit because these were CSV files, which they don't keep. Could you provide any updates you have on this ticket? Thanks so much!

[2022-11-07 19:59] sliu1000 commented on #7097
@BerniXiongA6

I've been requesting Quickmed to resubmit:

<img width="559" alt="WA-quickmed" src="https://user-images.githubusercontent.com/102377655/200403071-624fe5fb-ea85-424d-a1da-018d932e59e5.PNG">

![image](https://user-images.githubusercontent.com/102377655/200403226-7e49eb1c-2e92-4597-8016-305887771f8f.png)

[2022-11-07 21:31] TomNUSDS opened #7284 "Receiver checks do not support newer transports"
The CheckFunction and CRON job that drives the PicklesNDogs dashboard only support checking SFTP connections.

We should add support for the newer REST Receivers.

- [ ] Figure out what it means to test a REST Receiver endpoint. For SFTP, it means connecting and doing a "cd" into the directory. (For CheckFunction it actually uploads a file, but it sounds like we should avoid generating junk files

[2022-11-07 21:33] TomNUSDS commented on #7284
@greene858 I'm assigning to you for now as a heads-up only, but it should go into the normal sprint cadence.

[2022-11-08 04:21] kevinhaube commented on #7277
Just a note to later me:

If you forgot, we thought to do this as a proposal because error messages AND this functionality could be usefule to the wider team. We as Experience, though, want to take ownership of this error code standard by defining what it'll look like rather than just bring the idea up for wider team discussion.

[2022-11-08 13:56] #6706 closed

[2022-11-08 14:24] #4780 closed

[2022-11-08 14:25] #5058 closed

[2022-11-08 14:25] #4981 closed

[2022-11-08 14:26] carlosfelix2 commented on #4694
OBE

[2022-11-08 14:26] #4694 closed

[2022-11-08 14:33] carlosfelix2 opened #7287 "Migrate FHIR to HL7 library to its own open-source repo"
We believe we've written the only FHIR to HL7 converter. We want to pull the code into its own library to open source it so others can benefit from our work.

[2022-11-08 14:34] carlosfelix2 opened #7288 "Research steps needed to publish FHIR to HL7 library as new repo"
### User Story:
As a ReportStream, we want to publish the FHIR to HL7 library as a new open source library, so others can use it in their projects.

### Description/Use Case
The FHIR to HL7 library has unique functionality that can be useful for the healthcare community.  We want to move the code to its own repo and make it open source, but we need to identify all the steps needed and the process

[2022-11-08 14:54] victorialb-usds commented on #6975
Here is a list of who got the CX survey - https://cdc.sharepoint.com/:x:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Design%20and%20Research/Florida/RS%20CX%20Survey_Likelihood%20to%20Refer%20Research%20January%202022/Tracking%20Survey%20Distribution/Copy%20of%20ReportStream%20Directory%20-%20For%20CX%20Survey%20as%20of%20April%2014%202022_for%20Tracking.xlsx?d=wad10f4176f104bfeb5696

[2022-11-08 15:06] #7235 closed

[2022-11-08 15:06] victorialb-usds commented on #4252
Here is a link to the document shared from WA text of email where I requested it below for context - this was part of the CSV pilot: https://cdc.sharepoint.com/:x:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B00e2e75a-2b2a-4868-835a-844f4785dbe5%7D&action=edit&wdPreviousSession=4fefe8be-2c34-41c6-bb99-f708159d2a2b

Hi Emily and Benjamin,

Hope you are doing well.

I am following up as we me

[2022-11-08 15:09] victorialb-usds commented on #4252
@HeatherRienks tagging you here as I was looking through the board and found this thread. This is the validation work that WA does. Did this and others state validation process already get summarized and shared for the validation feature? Would this be useful? This was collected for CSV upload pilot. CC: @fmccaf1 @drew-usds @kevinhaube

[2022-11-08 15:14] #7165 closed

[2022-11-08 15:14] #7080 closed

[2022-11-08 15:15] BerniXiongA6 commented on #7034
@sliu1000 @oslynn -- can this be closed?

[2022-11-08 15:16] BerniXiongA6 commented on #7264
@oslynn how many points are left on this?

[2022-11-08 15:29] fmccaf1 commented on #4252
@victorialb-usds I don't think so, since the validation service is aimed at senders, not receivers. I think this is the info needed for O&O to make sure that receivers are getting data in the correct format for them.

[2022-11-08 15:36] oslynn commented on #5944
Dear Ott,

There were several files submitted to TEST with the filename starting with CDC_PRIME.  With CDC submitting ELR files for several facilities via ReportStream, there must be a clear distinction with the file name should ELR team ever have to troubleshoot.

Additionally, as discussed on the ReportStream/NJ DOH - Teams Chat meeting, ProPhase Diagnostics is being submitted TEST as an individ

[2022-11-08 16:05] clediggins-usds opened #7292 "Tech Debt: Refactor ReportStreamFilter"
### User Story:
As a RS developer, I want to have all filter expressions in a single variable in Receiver and Organization, so I can more easily maintain them.

### Description/Use Case
Organization and Receiver both have a number of properties that represent filters - jurisdictionalFilter, qualityFilter, routingFilter, and processingModeFilter. It would be more useful and produce less duplicate c

[2022-11-08 17:48] GilmoreA6 commented on #6857
Waiting for Nova Diagnostics to complete NJ onboarding training

[2022-11-08 17:49] GilmoreA6 commented on #6640
Sent to test system for CA and awaiting review

[2022-11-08 17:50] GilmoreA6 commented on #6956
Waiting for Response from CDC about how to handle non LIVD table tests

[2022-11-08 17:50] GilmoreA6 commented on #7134
Hi James,

Thank you so much for your email. We could not submit our dummy csv file yet by bear token, though we used the sample csv file provided by ReportStream Programmer's Guide at Appendix B, Page 31, for successful submission. After carefully checking the csv files, we noticed that testing lab information are required, however, our Covid19 antigen testing kits are OTC products and the inform

[2022-11-08 17:54] GilmoreA6 commented on #7134
-multiple issues with latest test file that need to be corrected.

[2022-11-08 18:25] BerniXiongA6 commented on #6436
@brandonnava and @BerniXiongA6 discussed this epic and bring up with the rest of the team.

[2022-11-08 18:28] BerniXiongA6 commented on #4238
@MauriceReeves-usds is this the same as the work you're currently in the process of doing? Let @brandonnava or me know if we can assign this to you or close it or something else if it's not the same.

[2022-11-08 18:31] BerniXiongA6 commented on #5387
@HeatherRienks we noticed this is still open and O&O is also tagged. Looks like this work is done. Can you confirm and feel free to close if that's true. cc: @brandonnava

[2022-11-08 18:31] BerniXiongA6 commented on #5118
@HeatherRienks we noticed this is still open and O&O is also tagged. Looks like this work is done. Can you confirm and feel free to close if that's true. cc: @brandonnava

[2022-11-08 19:14] #7190 closed

[2022-11-08 19:27] brick-green commented on #6733
have the coding completed - writing tests and commenting

[2022-11-08 19:34] #6491 closed

[2022-11-08 19:37] #6931 closed

[2022-11-08 19:46] #7104 closed

[2022-11-08 19:50] snesm opened #7297 "Possible vulnerability"
## Problem statement

Possible vulnerability discovered by Snyk code analysis.

## What you need to know

 [Links to documents, workflows, or list of key people and contact info]

- Snyk [finding](https://app.snyk.io/org/prime-reportstream/project/980e6e3c-7075-4866-b014-efa3b037bfa1#issue-b755fec9-09b2-4baa-83fd-6c0173f70734)

## Acceptance criteria

- [ ] ...

## To do

- [ ] ...

[2022-11-08 19:57] HeatherRienks commented on #7277
@kevinhaube - pls add in links to relevant info.

[2022-11-08 20:08] #6741 closed

[2022-11-08 20:09] #6740 closed

[2022-11-08 20:09] #7089 closed

[2022-11-08 20:10] #7034 closed

[2022-11-08 20:16] #7149 closed

[2022-11-08 20:22] #6890 closed

[2022-11-08 20:22] #7094 closed

[2022-11-08 20:43] BerniXiongA6 commented on #7093
@brick-green will edit AC and To Do's (currently using sender onbaording by acciddnt)

[2022-11-08 20:58] BerniXiongA6 commented on #6438
@brick-green please create ind. tickets for this epic

[2022-11-08 21:02] GilmoreA6 commented on #6438
https://doh.wa.gov/public-health-healthcare-providers/notifiable-conditions/rule-making/supplemental-guidance-elr-submitters

[2022-11-08 21:10] rnz6 opened #7298 "[CDPHE ELR Prod] Error: Cannot Write Message to DB"
Automatic Email from cdph_elr@state.co.us

This is an automatic email from the CDPHE Electronic Lab Reporting (ELR) system. There was an issue with a file or message submitted by your organization.

Issue Report: Cannot insert the message into the database due to the following reason:
**************************************************
The conversion of a varchar data type to a datetime data type r

[2022-11-08 21:54] kevinhaube commented on #6993
Documenting next steps for this initiative:

- [ ] @fmccaf1 (design) to capture current Sender feedback on internal Validate tool
- [ ] @kevinhaube (eng) to work with @fmccaf1 (design) to form tickets for this Epic
- [ ] @kevinhaube (eng) to usher through refinement until ready for PRIME time (that's a CDC PRIME pun)

[2022-11-08 22:01] kevinhaube opened #7301 "[FeatureFlags][API] Storing Organization-level Feature Flags"
## Problem statement

To effectively test over zoom with clients (and restrict organizations from features not ready yet) we want to allow access to a feature only to select organizations in ReportStream for a limited time. We would need to extend our current React app session capabilities, and allow the database to maintain a record of an organization's available features.

## What you need to kn

[2022-11-09 01:46] #6761 closed

[2022-11-09 01:46] #7043 closed

[2022-11-09 01:46] #7048 closed

[2022-11-09 01:46] #6801 closed

[2022-11-09 01:46] #6941 closed

[2022-11-09 01:46] #6934 closed

[2022-11-09 01:46] #6972 closed

[2022-11-09 01:46] #6140 closed

[2022-11-09 02:02] #6582 closed

[2022-11-09 02:02] #6949 closed

[2022-11-09 13:16] oslynn commented on #7264
All messages below need to be resent to RI production again.

Message_id/Accession #: 9064574a-cdce-4e95-9d9e-7526aff5464c
Message_id/Accession #: eca11338-1388-455e-8c41-e8ca11bb88af
Message_id/Accession #: d912e991-fca4-4af1-9db5-6a02c2f2d451
Message_id/Accession #: 09f3e969-8837-4d1b-afec-9ef468375644
Message_id/Accession #: d82d6513-528d-48b6-b48d-7fd15952a341
Message_id/Accession #: 6e242c47-

[2022-11-09 14:00] #5867 closed

[2022-11-09 14:00] #6496 closed

[2022-11-09 14:00] #5940 closed

[2022-11-09 14:00] #6443 closed, assigned to jeremy-page

[2022-11-09 14:00] #5543 closed

[2022-11-09 14:00] #6614 closed

[2022-11-09 14:01] #6827 closed

[2022-11-09 14:01] #6793 closed

[2022-11-09 14:01] #6820 closed

[2022-11-09 14:01] #6866 closed

[2022-11-09 14:01] #6966 closed

[2022-11-09 14:01] #5198 closed

[2022-11-09 14:01] #6976 closed

[2022-11-09 14:01] #6965 closed

[2022-11-09 14:01] #5006 closed

[2022-11-09 14:01] #6859 closed

[2022-11-09 14:43] jeremy-page opened #7305 "Create RO SQL user in each environment"
We should not be using the same user for our app as reporting/troubleshooting
* Create an RO user for smoketesting/reporting

This ticket is to create a RW user that can be shared with devs who need write access to the DB

[2022-11-09 14:46] jeremy-page opened #7306 "Add filter for CodeQL Action"
It should only be running when a file it watches changes

[2022-11-09 15:18] oslynn commented on #5944
Dear Ott,

There were several files submitted to TEST with the filename starting with CDC_PRIME.  With CDC submitting ELR files for several facilities via ReportStream, there must be a clear distinction with the file name should ELR team ever have to troubleshoot.

Additionally, as discussed on the ReportStream/NJ DOH - Teams Chat meeting, ProPhase Diagnostics is being submitted TEST as an individ

[2022-11-09 15:59] fmccaf1 opened #7307 "Edits to Account Registration Guide (in Resources, RS public site)"
# Important Info

[Mural board](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1667328248835/9317b8b37c030fe0edae0b5c42fe5df48472f404?sender=ua604735c5cf1162b042a4310) with all findings from evaluation of resources [(#6689)](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6689)

If any of the screenshots provided below are two

[2022-11-09 16:00] fmccaf1 commented on #7307
These updates must be preceded by the availability of SmartSheets and their corresponding forms from @sliu1000

[2022-11-09 16:13] fmccaf1 commented on #7098
Created ticket [7307](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/7307) for updates to account registration guide, including step 1 copy. Scheduling to meet with Sharon to make sure we're all clear for steps ahead before moving this ticket over to done.

[2022-11-09 16:15] fmccaf1 commented on #6689
Account registration guide updates documented in ticket [7307](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/7307)

[2022-11-09 16:35] ahay-agile6 opened #7308 "[Message Tracker][Message Detail][API][UI] Error messages"
Error messages are not showing up properly in the Message Tracker Message details page.

[2022-11-09 16:39] ahay-agile6 opened #7309 "[Message Tracker][UI] Message Tracker Message table does not show when there are no results"

[2022-11-09 16:41] ahay-agile6 opened #7310 "[Message Tracker][Message Id Search][UI]: submit search form when pressing the enter/return key on the keyboard"

[2022-11-09 16:43] #7255 closed

[2022-11-09 16:45] fmccaf1 opened #7311 "Complete interview with sender BZD Labs"

[2022-11-09 16:49] oslynn opened #7312 "Investigate staging and prod environment why they are not produce the same HL7 output."
Very same setting and LIVD Table for both Staging and Prod environment.  When send a SimpleReport file to ReportStream, it works in staging environment but not work in prod.

Hance, in LIVD-Supplemental.csv file if there is the row below, it doesn't produce the same HL7 output in prod and in staging:
TaqPath COVID-19 RNase P Combo Kit 2.0,94500-6,TaqPath COVID-19 RNase P Combo Kit 2.0_Thermo Fishe

[2022-11-09 16:55] oslynn commented on #5944
Responded to NJ,
Good morning, Joyce,

Attached is the Phase 2 Validation_.xlsx file.

Per your request Below in red, please the information you requested:

The unique file name submitted to TEST:

  ProPhase-covid-19-production-data-for-phase-2-test-20220929140229-A-V3.hl7

The date submitted to TEST:

  11/09/2022 9:55 AM CST

The facility name of the file being submitted (MSH-4: Sending Facilit

[2022-11-09 18:11] snesm commented on #7135
The API [spec](https://github.com/CDCgov/prime-reportstream/blob/master/prime-router/docs/api/check.yml) does not support POST (as you noted) and does not have any arguments defined.

check.yml has not been updated since we put in this placeholder.

[2022-11-09 18:18] #7309 closed

[2022-11-09 20:34] #7308 closed

[2022-11-09 20:42] kevinhaube commented on #7128
Set to deploy Nov 10!

[2022-11-09 21:29] sliu1000 opened #7319 "CDPH CA - Missing Specimen and Result Data"
![thumbnail_image001.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/5769ac04-63b3-43eb-bcee-5060e4878462)## Problem statement

Received an email from Jocelyn San Nicolas at CDPH CA on 11/8/2022:

Some of the CDC SimpleReport ELRs are not populating the Specimen and Result dates for labs, those are missing from the Laboratory tab for the incidence, but the lab entry is filled ou

[2022-11-09 21:35] JosiahSiegel opened #7320 "No longer destroy demo env on every provision"
## Problem statement

Demo env turnaround is too long if the entire env is destroyed before a provision.

## Acceptance criteria

- Demo destruction is to be reserved exclusively for the demo destroy workflow and no longer during provisioning

[2022-11-09 21:38] #7320 closed, assigned to JosiahSiegel

[2022-11-09 21:56] rnz6 opened #7322 "CO - Error Message Received"
From Nancy Kesco - nancy.kecso@state.co.us

Smartsheet Question Submitted:
When errors are detected in the files that Colorado receives, we send an error message to ReportStream@cdc.gov.  "Today we received an auto reply that asks us to find a different way to report.  What email address should we be using to notify you of errors in the files that you are sending to us?"

Message ID:
V2020-07-01_R

[2022-11-09 22:07] #6640 closed

[2022-11-09 22:26] Jcavallo7 opened #7323 "WA - OneHealth Port; New Connectivity ELR- (DOH) Deadline 12/1/22"
[https://app.zenhub.com/files/304423150/b9c30bf4-8ef7-4d98-9c22-d80cd3bf8849/download](https://app.zenhub.com/files/304423150/b9c30bf4-8ef7-4d98-9c22-d80cd3bf8849/download)**

Is your feature request related to a problem? Please describe.**

If you have not yet started to get set up with the new connectivity, your organization needs to start this work immediately.

**Describe the solution you'd li

[2022-11-09 22:28] BerniXiongA6 commented on #7322
@brick-green I didn't know that error message automatically go to the RS shared inbox, what do you think? cc: @sliu1000 @brandonnava

[2022-11-10 02:15] TomNUSDS commented on #7135
The code does use GET and POST.

[code]

I'm working on #7286 that only supports post and will have an updated api spec file.

It does NOT remove the old call.

Once it has been deployed, maybe we can remove the old call?

[2022-11-10 02:30] kevinhaube commented on #5517
See associated Epic #6993 for progress on when we can release this feature to a wider audience

[2022-11-10 02:44] kevinhaube opened #7325 "[FeatureFlags][UI] Support for updating Organization's FeatureFlags"
## Problem statement

As a design researcher, I expect to see a list of checkboxes for available feature flags on the Organization settings page. I should be able to select one or more, then hit save to post the settings changes to our server.

(Description in lieu of design due to capacity, courtesy of Flo. Thanks Flo!)

## What you need to know

This UI can be found by logging in as a PRIME Admi

[2022-11-10 03:07] kevinhaube opened #7326 "Integrate services into SessionContext"
## Problem statement

In ReportStream, we can abstract layers of settings as Organizations (the parent) and Services (the children). An organization that is a laboratory, for instance, would be a Sender Organization with multiple "sender" services. A state would be a Receiver with many "receiver" services.

As of now, two key features make ample use of services:
- Daily Data uses a services call t

[2022-11-10 03:09] kevinhaube opened #7327 "[Services][API] Organizations settings indicate service type available"

[2022-11-10 03:10] kevinhaube opened #7328 "Add Senders hook"
## Problem statement

Organizations in ReportStream have "services", such as Sender services and Receiver services. These are what we call "Senders" or "Receivers" internally for short. Because an Organization may have one, the other, or both, and they are required parameters for many features, we should have an way to fetch and cache the Organization-specific Senders and Receivers.

## What to kn

[2022-11-10 14:56] fmccaf1 opened #7329 "Schedule first interview with RS-experienced PHD"

[2022-11-10 14:56] fmccaf1 opened #7330 "Schedule second interview with RS-experienced PHD"

[2022-11-10 14:57] fmccaf1 opened #7331 "Schedule third interview with RS-experienced PHD"

[2022-11-10 14:58] fmccaf1 opened #7332 "Schedule fourth interview with RS-experienced PHD"

[2022-11-10 15:08] fmccaf1 opened #7334 "Prep for experienced PHD interviews"
## Acceptance criteria

- [ ] Prep coding/notes doc
- [x] Write discussion guide

[Link to discussion guide](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B7026F4BA-44DE-40EC-9461-47744B35EA53%7D&file=Conversation%20guide.docx&action=default&mobileredirect=true)

[2022-11-10 15:40] brick-green commented on #7322
It sounds like CO wants to continue sending to an inbox. The shared inbox makes the most sense. So either we tell CO they can just ignore the auto reply emails or we turn off the auto reply?

[2022-11-10 15:41] sliu1000 commented on #7322
I will turn off the auto reply.

[2022-11-10 16:16] sliu1000 commented on #7307
@fmccaf1 I'm working on reviewing this today and tomorrow.

[2022-11-10 16:19] BerniXiongA6 commented on #7322
Follow @sliu1000 -- what does that mean if we turn off auto-reply for its intended purposes? Or could we modify the language in the auto-reply?

[2022-11-10 16:25] BerniXiongA6 commented on #7151
@GilmoreA6 -- please add steps to the AC

[2022-11-10 16:36] lucasdze commented on #6783
Need Repo ownership previleges to be able to remove lgtm
Steps: https://docs.github.com/en/developers/apps/managing-github-apps/deleting-a-github-app

[2022-11-10 16:42] BerniXiongA6 commented on #7151
Brandon says it's a high priority Product goal - aligns with our OKR

[2022-11-10 16:50] BerniXiongA6 commented on #7319
@BerniXiongA6 let's add a Sprint 56 to this ticket.

[2022-11-10 17:21] lucasdze opened #7335 "Restore terraform state file in test environment"
The test terraform state file is not in sync with the remote repo resources. A lot of module/resources has to be manually imported due to this error
A resource with the ID "/subscriptions/7d1e3999-6577-4cd5-b296-f518e5c8e677/resourceGroups/prime-data-hub-test/providers/Microsoft.Network/privateEndpoints/pdhteststorageaccount-storage_account_file-62a16f52a" already exists - to be managed via Terraf

[2022-11-10 17:26] lucasdze opened #7336 "Enable terraform state file versioning for all environments"
If the active state file is corrupted or not in sync with local, we will have to do a lot manual effort to import resources. This can be resolve easily if we set versioning to just roll back to a previous version in case the statefile is not stable.

[2022-11-10 17:49] sliu1000 commented on #6954
Update:

Andrew from RADX Mars mentioned that he will reach out to Intrivo and let him know they would like to keep those fields optional.

[2022-11-10 17:49] #6954 closed

[2022-11-10 19:37] fmccaf1 opened #7338 "Code interview with BZD Labs"

[2022-11-10 19:43] fmccaf1 opened #7339 "PHD Research: Onboarding and decision to work with RS"
## Overview

- How do PHDs decide to work with RS?
- What are the forces at play? (JTDB methodology)
- How do PHDs experience the onboarding process?

## Participants

PHDs recently onboarded:
- Missouri
- Indiana
- New York (for decision to work with RS, not for onboarding bc they had a different onboarding process - REST API)

[2022-11-10 19:51] fmccaf1 opened #7340 "Sender Research: Onboarding experience and decision to work with RS"
## Overview
- How do senders decide to work with RS?
- What are the forces at play? (JTDB methodology)
- How do senders experience the onboarding process?

## Participants
Sender recently onboarded:
- BZD Labs
- Intrivo

[2022-11-10 19:59] fmccaf1 opened #7341 "Experienced PHD research: Experience of ongoing work with RS"
## Overview

How do PHDs experienced with RS...
- View and interact with the data
- Respond or react to data with errors

## Participants
- CA
- WA
- AS
- IL

[2022-11-10 20:02] #7329 closed

[2022-11-10 20:02] #7311 closed

[2022-11-10 20:52] sliu1000 commented on #7298
Received another [CDPHE ELR Prod] Error: Cannot Write Message to DB. Error message.

This is an automatic email from the CDPHE Electronic Lab Reporting (ELR) system. There was an issue with a file or message submitted by your organization.

Issue Report: Cannot insert the message into the database due to the following reason:
**************************************************
The conversion of a v

[2022-11-10 21:15] sliu1000 commented on #7307
Comment1: Under account registration guide. I would put a blurb stating that reportstream is for API users only. If they are looking for manual report or CSV uploads to defer to SimpleReport.

Comment 2: Steps 3,4,5 do not apply here. Users are not able to create or activate an account prior to scheduling a kickoff meeting.  I would replace step 3 with a Calendly link to schedule a kickoff meeting

[2022-11-10 21:47] sliu1000 opened #7342 "NJ - ORC-12.1 and OBR-16.1 consists of 255 Hashtags - Please resubmit"
**Describe the bug**

NJ - ORC-12.1 and OBR-16.1 consists of 255 Hashtags - Please resubmit

Location of Error in Message
PATIENT_RESULT[0].ORDER_OBSERVATION[0].ORC.OrderingProvider[0].IDNumber

Error Description
Field too long: 255 > 15

**Impact**
Not able to submit the results with the incorrect data.

**Expected behavior**
Submission with correct data with a field length less than 15 character

[2022-11-10 21:53] sliu1000 commented on #6958
Update from Sender Tara from Vault:

Hi James,

No, the response received was:

{

  "statusCode": 200,

  "headers": {

    "server": "nginx",

    "content-type": "text/plain; charset=UTF-8",

    "transfer-encoding": "chunked",

    "connection": "close",

    "vary": "Accept-Encoding",

    "x-request-id": "da77d715-8adb-4de8-8c95-12f822eb27a4",

    "x-token-id": "c2c62d55-c7a5-44db-aa99-061c

[2022-11-10 21:59] rnz6 opened #7343 "MA - ELR File Size Too Big"
## Problem statement

ELR Batch File Size problem that involved one being cut into smaller files

## What you need to know

 User's name is Janice Grantner
janice.Grantner@mass.gov

Email from Janice:

## To do
To review for file submission sizes and errors
- [ ] ...

[2022-11-14 15:26] #7128 closed

[2022-11-14 15:27] #7123 closed

[2022-11-14 15:34] carlosfelix2 opened #7355 "UP needs to record if a submitted report is an HL7 Batch file"
### User Story:
As a sender, I want to know the format of the submitted report, so I can keep track of my data.

### Description/Use Case
The UP currently records all the data being submitted as HL7, but we can also receive HL7 batch. We want to record the correct type of data received.

### Risks/Impacts/Considerations
* The detection mechanism needs to be robust, so do not rely in brittle checks

[2022-11-14 15:46] carlosfelix2 opened #7356 "UP needs to record item lineage correctly for HL7 Batch messages"
### User Story:
As a sender, I want ReportStream to correctly record the item lineage of my full-ELR data, so I can keep track of my data.

### Description/Use Case
The UP has been processing only HL7 single message files, but it is capable of processing HL7 batch files.  Looks like there is an issue recording the item lineage correctly when the convert step is processing a batch file.  We need th

[2022-11-14 16:13] BerniXiongA6 commented on #7191
@MauriceReeves-usds close if not last mile failtures

[2022-11-14 16:33] sliu1000 commented on #7097
From: Matt Perasso <matthew@quickmeddx.com>
Sent: Monday, November 14, 2022 8:25 AM
To: Report Stream (CDC) <reportstream@cdc.gov>
Cc: SimpleReport Support (CDC) <simplerpt_support@cdc.gov>
Subject: Re: [Action Required] - Quickmed Diagnostics - Incorrect State

Yes!

MATTHEW PERASSO
Operations / Sample Logistics
Matthew@quickmeddx.com
818.259.6663

On Thu, Nov 10, 2022 at 1:26 PM, Report Stream <

[2022-11-14 16:33] #7097 closed

[2022-11-14 16:40] carlosfelix2 commented on #7356
[https://app.zenhub.com/files/304423150/7ea14fba-93ab-4935-88d7-366bbea22b06/download](https://app.zenhub.com/files/304423150/7ea14fba-93ab-4935-88d7-366bbea22b06/download)

[2022-11-14 16:51] fmccaf1 commented on #6987
Besides usability, need to learn:
1. What is time to find a message without the message tracker? How does message tracker change that time?
2. What is use case for external message tracker?

[2022-11-14 17:30] penny-lischer opened #7358 "[BUG] Sort in Table component not sorting"
The sort in the Table component is not working as expected

**Impact**
Cannot sort on tables with pagination

**To Reproduce**
Steps to reproduce the behavior:
1. Select an organization that will return more that 20 records within Submissions. ie. Ignore
2. Go to 'Submissions'
3. Click on the 'Date/time' column heading
4. Notice that the data does not get sorted

**Expected behavior**
Data should

[2022-11-14 17:50] penny-lischer opened #7359 "Warning validateDOMNesting in console related to Table component"
## Problem statement

Currently our Table component contains a <span> tag within the <table> tag and is throwing a console error.

## What you need to know

 This is not ok
![Screenshot 2022-11-09 at 1.50.37 PM.png](https://images.zenhubusercontent.com/62697ac1be6e84867ab47e74/0f96cc9a-0334-4f90-b4d2-478e64a6980f)

## Acceptance criteria

- [ ] Fix the warning

## To do

- [ ] remove the <span> ta

[2022-11-14 19:14] clediggins-usds opened #7361 "SPIKE: Research Injection Frameworks"
To update RS codebase and move forward with making it more maintainable, testable, and usable by a broader group of projects within the public health domain, we would like to look into adding a dependency injection framework into the project and making the necessary updates to use it across the entire project.

Research the various modern injection frameworks available for kotlin/java and prepare

[2022-11-14 19:58] JosiahSiegel opened #7363 "Demo env provision failure if no existing db"
Demo env provision failure if no existing db

[2022-11-14 20:10] #7363 closed, assigned to nobody

[2022-11-14 20:59] snesm opened #7364 "Token API arguments"
## Problem statement

The token API parameters appear to be passed in the URL instead of as parameters to POST.

## What you need to know

- The token API [spec](https://github.com/CDCgov/prime-reportstream/blob/master/prime-router/docs/api/token.yml) specifies that `parameters:` are `in: path`
- The token API [spec](https://github.com/CDCgov/prime-reportstream/blob/master/prime-router/docs/api/to

[2022-11-14 21:02] #6417 closed

[2022-11-14 21:16] BerniXiongA6 commented on #7093
I'm sizing this as a "2" since most previous tickets with this scope were sized as "2"

[2022-11-14 21:57] TomNUSDS opened #7365 "Allow `@Deprecated` to be used by project"
1. Add `@Deprecated("Use AuthenticatedClaims", ReplaceWith("AuthenticatedClaimes.authenticate"), DeprecationLevel.WARNING)` to a function like `OktaAuthentication.authorizeByMembership`
2. Try to compile/unit test the code.
Result:

Fails with
[code]

[2022-11-14 21:58] sliu1000 opened #7366 "CO - Not Receiving Data from Secondary Feed "Co-phd.elr-secondary""
## Problem statement

The state of Colorado is not receiving data from their secondary field.  They believe that their secondary feed is being directed to their test server.

## What you need to know

![image.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/990011cf-ba75-47c6-b1eb-6d44121be321)

![image.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/0c666772-f

[2022-11-14 22:20] #7310 closed

[2022-11-14 23:15] GilmoreA6 commented on #7150
allowDuplicates: false does not strip out duplicate tests from within bulk submissions. The entire CSV file or HL7 batch message will fail if there is a single detected duplicate row.

Interestingly, it also does not detect duplicates within a csv file or HL7 batch message in an inbound message, if those messages or rows have not already been submitted. This is because the way that duplicate check

[2022-11-15 15:05] #7334 closed

[2022-11-15 15:16] rnz6 commented on #7342
Update from NJ:

Please note the errors below in your ELR File: covid-19-4543aef5-d678-48ce-831e-1410c4f4d1b1-20221115144137.hl7

ORC-12.1 and OBR-16.1 are populated with 255 hashtags.

Please correct and resubmit.

Thank you,

Mike Firkser

Technical Lead - NJDOH ELR Team
NJELR.Admin@doh.nj.gov

[2022-11-15 15:56] sliu1000 commented on #7366
@oslynn - Please resend these
ReportID
`ace09eb5-d932-48a9-b2cd-d1e300a3593e`
`4a7d5a83-fad3-44fb-b251-9fd208d7ddd3`
`42c665e2-fe7a-49f8-95e5-09e7fba299b9`

I still need to locate the other reportids but if you can find that would be awesome.

[2022-11-15 17:00] #4859 closed

[2022-11-15 18:17] victorialb-usds commented on #6975
Here is the research contact tracker --need to add that after any research interaction people log it in here. https://cdc.sharepoint.com/:x:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B532DCD82-BFD1-4AB7-82A2-83EF8C8F788A%7D&file=Research%20Tracker%20(updated%2020221013).xlsx&action=default&mobileredirect=true&cid=b086d346-0557-4f92-830f-59b6dc1ecbc4

[2022-11-15 18:18] victorialb-usds commented on #6975
Victoria is working with PHDI to learn about the panel they are creating and how we can have a PRIME wide panel so that we easily pull up and segment and reach out to users for ongoing research. Question? Do we want to be tracking out internal users too to know who we talk to about what - for sustainability and capacity building at CDC?

[2022-11-15 18:33] HeatherRienks commented on #7297
@kevinhaube - FYI,  @snesm has flagged this for further review. Thanks!

[2022-11-15 18:56] brick-green opened #7371 "CO - SR results not making it to the STLT"
## Problem statement

CO reported that they are not receiving results for some facilities:

Matthews VU
AFC Urgent Care in Cortez
Lake County Public Schools R-1

All three facilities say they're entering to Simple Report. We need to investigate where these results are being reported and when.

## Acceptance criteria

- [x] Verify that RS has received results for all three facilities
- [x] Verify w

[2022-11-15 19:16] rnz6 opened #7372 "San Juan Basin Public Health - Unable to download daily data"
New request from Shandi Pritchett,  spritchett@sjbpublichealth.org at San Juan Basin Public Health:

"We are not able to download and csv data from our daily data therefore we cannot access any data. We have tried several times and multiple accounts and different computers. We use this data to manage our numbers and input our out of state patients."

[2022-11-15 19:25] BerniXiongA6 commented on #7298
Hey @sliu1000 looks like @brick-green added a [duplicate ticket # 7371](https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/7371)after he heard from SimplerReport (who heard from CO) about this issue. I wanted to make everyone aware.

[2022-11-15 19:27] BerniXiongA6 commented on #7371
This is a duplicate of [ticket # 7298](https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/7298) -- let's make sure to close out one and keep the other. Just wanted to make everyone aware. @brick-green @sliu1000

[2022-11-15 19:52] sliu1000 commented on #6031
New ticket created 7343. Will close this one out.

[2022-11-15 19:52] #6031 closed

[2022-11-15 19:57] HeatherRienks commented on #6473
This might be a dupe.

[2022-11-15 20:02] shy2cdc commented on #7264
Good Afternoon Ott,

Wondering if you had any update in regards to this at all at this point in time?

Thank you,
Jason Suchon

[2022-11-15 20:15] brandonnava commented on #1757
@BerniXiongA6 Is this similar to the announcement page on the website Experience updated recently? If so do we want to close this out as complete? Or ask Experience if this is something they want to take on?

[2022-11-15 20:25] BerniXiongA6 commented on #1757
@brandonnava feel free to bring this back up with Exp team. This was an idea to start a newsletter that users could opt-in to receive updates from us. This would supplement the What’s New page.

[2022-11-15 20:40] brandonnava commented on #3424
@MauriceReeves-usds Was this ever taken on? Still something we want to consider?

[2022-11-15 20:45] brandonnava commented on #6393
@TomNUSDS Did we ever end up making a feature like this? Seems useful given our renewed focus on self service

[2022-11-15 20:54] brandonnava commented on #6611
Hi @TomNUSDS any new ideas on how to do this? Should we revive the discussion?

[2022-11-15 21:22] brandonnava commented on #4344
CSV work moved to SimpleReport

[2022-11-15 21:22] brandonnava commented on #4346
CSV moved to SimpleReport

[2022-11-15 21:22] #4346 closed

[2022-11-15 21:25] brandonnava commented on #3249
@MauriceReeves-usds Is this still a feature we want/need to implement?

[2022-11-15 21:38] brandonnava commented on #6964
@sliu1000 Is this a SimpleReport issue their team needs to fix or is it the RS side that is having issues?

[2022-11-15 21:40] brandonnava commented on #3469
@BerniXiongA6 Please reach out to the sender for an update

[2022-11-16 04:41] TomNUSDS commented on #6611
This came up in a discussion and I captured it to be discussed again in the future (so thanks for doing that now!)

Maybe @jimduff-usds can help jog my memory, but I think there are different authentication sub-errors that can happen (e.g. when parsing the bearer token or verifying something or another in our code)... but the response is always generic "auth failed".

While it is more secure to no

[2022-11-16 14:40] oslynn commented on #7264
After everything is good and gets confirmed by RI.  I will resend all the failed messages back to them.

[2022-11-16 14:57] sliu1000 commented on #7371
@brick-green @oslynn @BerniXiongA6 This ticket is related to 7366

[2022-11-16 15:07] oslynn commented on #7366
@sharon, I will find it, don't worry.

[2022-11-16 15:22] sliu1000 commented on #7342
Another one:

Please note the recurring errors below in your ELR File: covid-19-`6db3f44e-0440-4363-a724-8a07899abffe`-20221116144105.hl7

The issue with hashtags in ORC-12.1 and OBR-16.1 continues.  Please correct and resubmit.

[2022-11-16 15:51] BerniXiongA6 commented on #7322
Hey @sliu1000 can we close this ticket?

[2022-11-16 15:53] sliu1000 commented on #7203
@BerniXiongA6 @brandonnava

Did we schedule a Kickoff meeting for this sender? Should I request some times?

[2022-11-16 15:55] PatriciaPerozoUSDS opened #7378 "Universal Pipeline Postman Examples - Reports Endpoint"
**User Story:**
As a developer, I want to manually test the Universal Pipeline with a number of examples that will generate error and warning messages.

**Description/Use Case**
When writing and testing code manually, it would be helpful to have a set of postman examples checked into the repo that can be used to test all of our apis and compare against the expected behavior.

**Risks/Impacts/Consi

[2022-11-16 15:58] BerniXiongA6 commented on #7203
Hi @sliu1000 I can reach out to them since we’ve changed up our sender kickoff process slightly. Thanks for the reminder! cc: @brandonnava

[2022-11-16 16:18] PatriciaPerozoUSDS opened #7379 "Identify missing data in the Submission History API response for the UP data vs Covid pipeline data"
**User Story:**
As a sender, I expect to receive API responses in the same format containing the same information regardless of what pipeline I submitted messages to.

**Description/Use Case**
We need to review the API response for the submission history API to identify any missing data between the two pipelines.  We want to figure out if we are missing data or provide data in a different format t

[2022-11-16 16:36] BerniXiongA6 commented on #7343
@BerniXiongA6 @brandonnava create new ticket to break out hte data quality issues

[2022-11-16 16:36] #6733 closed

[2022-11-16 16:58] sliu1000 commented on #7366
@oslynn @GilmoreA6
Background Information:
Secondary Feed was turned off on 10/24/2022. SR data was going to the Secondary Feed prior to that turn off. Ott will resend that data prior to the turn off.

[2022-11-16 17:24] brick-green commented on #7169
In meeting with PA we discussed how the state is not connected with RS currently. So the solution was to onboard PA with SOAP. I think we can close this ticket out in favor of a PA onboarding epic.

[2022-11-16 17:37] shy2cdc commented on #7203
Email from James:

Hi Sharon,

Yes, we already had a kickoff meeting some time ago with Anshul Kumar and Joel Biskie; we did some initial data verification with them as well and that was successful.  They subsequently provided the key and server information for the production server.

However, for this product, we had to go through clinical trials and this delayed implementation of the actual repo

[2022-11-16 17:41] brandonnava commented on #7203
@BerniXiongA6 Sounds like they need a kickoff? Or would James or Brick emailing them be enough?

[2022-11-16 17:44] brick-green commented on #3681
@brandonnava The filters are going to be different for the universal pipeline. But the covid pipeline won't be decommissioned for a while so I think there's still value in finishing this ticket.

[2022-11-16 17:49] lucasdze commented on #7335
Resolved with PR #https://github.com/CDCgov/prime-reportstream/pull/7380

[2022-11-16 17:51] kevinhaube opened #7381 "[FeatureFlags][API] Support for global FeatureFlags"

[2022-11-16 17:51] kevinhaube opened #7382 "[FeatureFlags][UI] Support for toggling global FeatureFlags"
## Problem statement

To establish control over all features on the site, admins will have a toggleable flag value to turn on or off a feature of the ReportStream website. Example: I as an admin may go in and turn off global access to Daily Data, so no org may see it.

## What you need to know

Blocked by work in #7390

Awaiting designs as of December 8, 2022

## Acceptance criteria

- [ ] ...

##

[2022-11-16 17:53] fmccaf1 opened #7383 "Schedule working session to talk RS account registration"
## Working Session on RS Accounts

### Questions to be answered:
- What is the value prop of a ReportStream login (current and future)?
- Should we give all users an account as part of the receiver and sender onboarding processes?

### To do:
- [ ] Schedule working session with product leaders
-  [ ] Gather questions/more info
-  [ ] Prep Mural

[2022-11-16 17:55] fmccaf1 commented on #7098
Given conversation in O&O sync today, I think we need to create two separate "resources":
1. RS account registration guide (allows users to log in to ReportStream)
2. RS sender/receiver onboarding guide(s) (including step 1: filling out Sharon's smartsheet form)

[2022-11-16 18:26] lucasdze commented on #7336
Versioning is now enable in staging and Test environment terraform statefile

https://learn.microsoft.com/en-us/azure/storage/blobs/versioning-enable?tabs=portal

[2022-11-16 19:18] fmccaf1 opened #7385 "Feedback on FAQ"
Provide feedback to @sliu1000 on the [FAQ for the RS website](https://app.box.com/s/mj0wg2haui7v6zq964efigbg934slkld)

[2022-11-16 19:46] jeremy-page opened #7386 "Update Pagerduty Slack Action"
From PD:
You are receiving this message because our database shows that you are currently using an outdated version of our Slack integration in your PagerDuty environment and need to migrate to Slack v2 Next Generation. PagerDuty’s Slack v1 application was discontinued late 2021 and the Slack v2 connections that use v2 webhooks are currently slated to be discontinued. Please follow our Slack migra

[2022-11-16 19:48] jeremy-page opened #7387 "VPN Action is gone"
The VPN action we use to do deployments has been deleted from Github. We may be able to [use this one](https://github.com/kota65535/github-openvpn-connect-action), or we can script our own

[2022-11-16 19:50] kevinhaube commented on #7297
Hey! #6523 removes the final use of this method, and #6527 will remove the dormant remaining code thereafter. 👍🏼

[2022-11-16 20:35] kevinhaube commented on #6987
After meeting with SimpleReport (Emma Stephenson) we've identified two key areas this could be helpful to the larger PRIME family:
1. This tool could be made available to give SimpleReport more agency in their message issue handling, only then relying on ReportStream for deeper issues with our pipeline.
2. This tool could be made available to support Message History in a way our Submission History

[2022-11-16 20:49] sliu1000 commented on #6964
@brandonnava - Let me get back to you on this. I need to look into this.

[2022-11-16 20:51] sliu1000 commented on #6473
@HeatherRienks This is something Rakshinda and I were working on. But I think we can close this out.

[2022-11-16 20:57] kevinhaube opened #7390 "Organization and Global Feature Permissions APIs"
## Problem statement

As a PRIME Admin (a member of our Design team), I need the ability to show and hide features from specific organizations from the UI. And, as a PRIME Admin (a member of Experience team), I need the ability toggle a feature flag at the global level, allowing or disallowing access to a feature immediately and entirely.

## What you need to know

Our current access control (feat

[2022-11-16 20:59] sliu1000 commented on #7372
Followed up with user to see if they are still having issues.

[2022-11-16 21:00] #7169 closed

[2022-11-16 21:07] jeremy-page opened #7391 "Ensure Blob Storage and DB snapshots are recoverable if the RG is deleted"
We need to take steps to make sure we can recover DB & blob storage if we accidentally delete our account (or someone does for us)

[2022-11-16 21:12] kevinhaube opened #7392 "[FeatureFlags][React] Feature Flags available in application"
## Problem statement

ReportStream's front-end client needs access at any level to check the feature flags given to a user through their organization settings.

## What you need to know

There's currently a FeatureFlagContext that could maybe be stripped for functionality and merged in with our SessionContext?

## Acceptance criteria

- [ ] The ReportStream React client can perform checks on featu

[2022-11-16 21:17] kevinhaube commented on #7381
Can work this into #7301

[2022-11-16 21:17] #7381 closed

[2022-11-16 21:55] oslynn commented on #7264
Got response from RI (Jason Suchon) said all messages get to their production feed are good.  Now, it is time to gather all failed messages and resubmit to their prod.

[2022-11-16 22:06] BerniXiongA6 opened #7393 "MA - Data issues and wrong receiver"
## Problem statement

The user's file (prime-20221109145115) was received with special characters within some of the patient names. Also, they noticed several cases that were not Massachusetts residents, that should go to the proper state.

## What you need to know
Email sent from user, Janice Grantner (janice.Grantner@mass.gov):

User's name is Janice Grantner
janice.Grantner@mass.gov

## Accepta

[2022-11-16 22:10] BerniXiongA6 commented on #7343
New ticket created for third bullet point -- [Issue # 7393](https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/7393)

[2022-11-17 14:17] #7322 closed

[2022-11-17 14:33] jeremy-page opened #7396 "Update Demo CIDR block"
Demo needs to be changed replacing address space 172.17.1.0/25 with 172.17.4.128/25

[2022-11-17 15:19] kevinhaube opened #7398 "[Insights] Capture console errors & warnings in Insights"
## Problem statement

To capture browser console logging of errors and warnings, we should transmit warnings and errors as custom application insights data to be stored in Azure.

## What you need to know

SimpleReport has implemented log capturing through a higher-order function wrapping their use of the console in their application.

## Questions to answer

- _tbd_

## Acceptance criteria

- [ ]

[2022-11-17 15:23] shy2cdc commented on #6550
Email from Ruey:

Hi!

We're currently working on the ReportStream integration and had a few questions come up (doc version here if it's easier to share and distribute).

Questions:

Patient address state and collection facility state is how the logic distro the reports. What are the exact fields used for routing?

When reporting results, the response body contains “id” and “submission_id”. One is

[2022-11-17 15:29] oslynn commented on #7342
@sliu1000 ReportStream for NJ production feed is fixed.  It will truncate the ORC-12-1 and OBR-16-1 to the standard lengths accordingly.  Attached please find the list of patient_ids for SimpleReport to resubmit.  Please contact @emmastephenson for SimpleReport resend.

[https://app.zenhub.com/files/304423150/957f3961-b3cd-463c-9e86-86db8bdcce3e/download](https://app.zenhub.com/files/304423150/957

[2022-11-17 15:34] carlosfelix2 opened #7400 "Flu Pilot - Support migration of Simple Report to full ELR using UP"

[2022-11-17 15:34] carlosfelix2 opened #7401 "SPIKE: Research if we can support batch uploading of FHIR bundles"
### User Story:
As a Simple Report, I want to be able to upload multiple FHIR bundles to the reports endpoint, so I can batch my submitted reports and improve performance.

### Description/Use Case
Simple Reports is batching the submission of data to report stream.  If they are to submit batched data using FHIR then we need to figure out if we can actually receive it and how.  Currently, CSV batch

[2022-11-17 15:53] kevinhaube commented on #6847
Dupe of #6845

[2022-11-17 15:53] #6847 closed

[2022-11-17 16:21] carlosfelix2 opened #7402 "Support ingesting a single FHIR Bundle through the reports endpoint using the UP"
### User Story:
As a sender, I want to be able to submit my data as a FHIR bundle, so I can submit all reportable conditions.

### Description/Use Case
We want to be able to support the receiving of FHIR as a report from a sender. This is only for a single FHIR bundle right now.

### Risks/Impacts/Considerations
* We know that any change from the existing RS FHIR bundle format can break us, but th

[2022-11-17 16:30] BerniXiongA6 commented on #7203
Hey @sliu1000 @brandonnava I can send them new sender kickoff materials and then I'll propose times to schedule in Decembrer with them. Will udpate this ticket when I send out the email. Thanks!

[2022-11-17 16:32] drew-usds opened #7403 "Remove double H1/H2 on /resources and /support show pages"
**Describe the bug**
Show pages in /resources and /support are displaying the index header for their section. This causes multiple H1 and H2s to be on the show page and duplicates content unnecessarily. Probably just a bug from setting up/streamlining templates and easy fix!

**Impact**
- Breaks HTML guidelines
- Causes accessibility issues (ex screenreader confusion over content hierarchy)
- Dupl

[2022-11-17 17:28] HeatherRienks commented on #6473
@sliu1000 - sounds good - closing!

[2022-11-17 17:29] #6473 closed

[2022-11-17 17:56] emmastephenson commented on #7342
@sliu1000 was this triggered by a CSV results upload or a traditional SimpleReport test? If it was a CSV upload, we'll need to contact the organization to resend it.

[2022-11-17 18:29] jimduff-usds opened #7404 "Prevent re-'process'ing reports that have already been processed."
It appears that work can sometimes stay on our 'process' queue even though that work has already been completed.

This ticket does not fix the problem that the work item is not properly removed from the queue once its complete.

It does however prevent the bug from causing damage.

The fix is to take advantage of the fact that we track work in two places, thank goodness, in both the queue, and in

[2022-11-17 18:35] jimduff-usds commented on #7404
An example of the issue:

Report '49daccbc-9d65-4eff-850c-5b3b23cf6e3c' was received at 9:12pm from Cue.  Action_id = 20926986
Internal Report 'fc143a60-d93c-4416-afb7-a61801bc69b2' was created from it at that time. All OK.
1 item.

The initial ACTION at 9:12:25 succeeded fine, near as I can tell:
There were 3 empty reports for various ca-dph receivers, then one 'real' report child to hhsprotect.

[2022-11-17 19:14] sliu1000 commented on #7342
@emmastephenson Yes, its via CSV upload. I know that one of the organizations is Cirrusdx.  @oslynn Can you please confirm its for only one organization (Cirrusdx).

[2022-11-17 19:27] sliu1000 commented on #7372
After further research this may be a bigger issue than login/reactivation.  We have two users from the same county have the same issue.   Not able to see daily data when they log into their reportstream account.

I suspect this has to do with the new CO San Juan Basin Public Health folder/feed.

User emails: tmacon@sjbpublichealth.org and sjbpublichealth.org

@brandonnava  @BerniXiongA6  Please as

[2022-11-17 19:48] HeatherRienks commented on #7325
Hold off on this ticket until #7301 is completed.

[2022-11-17 19:50] sliu1000 commented on #7090
Update from Osang:

Dear Green,
Good day.
Our Engineer has finalized all cording work about application now. So, please check csv once again.
If you had not receive any full data yet, maybe Completed 2D barcode on our test cassette has not released yet.

But it would be appreciate to share any expected our problem with me and Dr Farid if you know.

I look forward to having your favorble reply soon

[2022-11-17 19:51] sliu1000 commented on #7090
@oslynn Here's the sender that needs help while Brick is out.

[2022-11-17 20:14] BerniXiongA6 commented on #7090
@oslynn @sliu1000 I"ll be reaching out to the sender to let them know they can validate their test files using SimpleReport's validation tool. I'll make sure to cc: you both.

[2022-11-17 20:18] jimduff-usds commented on #7404
Here's another example:

At 22:40:56.514 on 11/6/22, the process function picked up this work:

`gov.cdc.prime.router.azure.ProcessFunction - Process message: process&PROCESS&f687b352-51e2-42a1-a1d2-34b218617d0b&None&&hhsprotect.elr&`

At 22:40:56.693 , it succeeded:

`gov.cdc.prime.router.azure.DatabaseAccess - Inserted row into ACTION: action_name=process, params= process&PROCESS&f687b352-51e2-4

[2022-11-17 21:06] BerniXiongA6 commented on #7090
Quick update for all, I'm in talks with SimpleReport right now and so far I'm learning that the CSV validation tool is not currently leveraged as a standalone service, I'll find out more from Zedd to confirm that. Then, I'll inform Osang of next steps whether they can use CSV validation tool or not. Thanks! @oslynn @sliu1000

[2022-11-17 21:41] oslynn commented on #7366
@sliu1000 I just resent 3 files with report_ids above to co-phd prod feed.  Files names are below:

covid-19-4a7d5a83-fad3-44fb-b251-9fd208d7ddd3-20221026193205.hl7
covid-19-42c665e2-fe7a-49f8-95e5-09e7fba299b9-20221026013037.hl7
covid-19-ace09eb5-d932-48a9-b2cd-d1e300a3593e-20221027193134.hl7

Will you please let CO know?
Thanks

[2022-11-17 22:08] kevinhaube commented on #3097
Set to deploy to prod November 22!

[2022-11-17 22:23] sliu1000 commented on #7372
![image.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/7a91cb05-2d93-482e-9f46-a5fd5777eb68)

[2022-11-17 22:30] BerniXiongA6 commented on #7090
Hi @oslynn  and @sliu1000 -- Quick update on some investigation I did:

1. I confirmed from SimpleReport that their CSV validation tool is not a standalone feature for users
2. I confirmed from kevinh that SR’s validator is effectively only validating against the simple_report organization in ReportStream. Since ReportStream senders will be their own unique organization, SR’s logic would not suffi

[2022-11-18 14:46] #7338 closed

[2022-11-18 14:46] fmccaf1 opened #7405 "Code Interview: Intrivo"
[Coded interview located here](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B3763C941-8D7F-437A-A3A1-DE651811B278%7D&file=Notes%20-%20Intrivo%20Labs.docx&action=default&mobileredirect=true)

[2022-11-18 14:48] fmccaf1 commented on #7383
Heather took on scheduling the first part of this convo. Drew is working on putting together a problem statement to more clearly define the questions to be answered and frame the discussion.

[2022-11-18 14:48] #7383 closed

[2022-11-18 14:50] fmccaf1 opened #7406 "Interview with CA PHD"

[2022-11-18 14:50] #7254 closed

[2022-11-18 15:36] sliu1000 commented on #7371
@GilmoreA6 can I close this? I think this has been resolved.

[2022-11-18 15:46] sliu1000 commented on #7138
This ticket will be merged with ticket # 7372 @BerniXiongA6  @brandonnava should we create an epic for RS Daily Download Data issue? So far, we have three users having this issue.

[2022-11-18 15:49] sliu1000 commented on #7132
Update from Sender:

Validation test file sent for review:

Hope you and your team are doing well. We want to move forward with the next steps for the onboarding process.
We signed the TOS and reviewed the programmers guide. We will proceed with CSV format. Additionally, the guide mentions
that we can use an existing format that we use to report to CA. We are providing a test file in that format.

[2022-11-18 16:02] jimduff-usds opened #7409 "Ensure that all azure functions that pull items off the queue and TASK table confirm that there is no next_action mismatch"
We have seen cases with the old `process` azure function where the item in the queue says to 'process' but the row in the TASK table says next_action == 'NONE', that is, its already been processed.

This implies there is a rare race condition problem in the way we are using the queues, wherein things can get processed twice.

For all Azure Functions that are queue triggered, this can be _detected_

[2022-11-18 16:17] sliu1000 opened #7411 "HHS Protect Jurisdictional Filter - Confirm which senders are and/or not sending their data to HHS Protect"
## Overview

HHS Protect Jurisdictional Filter - Confirm which senders are and/or not sending their data to HHS Protect

## Participants

**Interview subject(s)**: [name/organization/etc]
Joel Biskie - Flexion

**Contact info**: ?

## Background

- [ ] Have we had previous contact/meetings/etc with the participant?
- [ ] Look into the the population/oranization/individual we're meeting with.
- [ ]

[2022-11-18 16:55] fmccaf1 commented on #7279
Duplicate

[2022-11-18 16:55] #7279 closed

[2022-11-18 17:31] BerniXiongA6 commented on #7411
Hey @sliu1000 Is this an Experience Research ticket? Just wanted to make sure because it was tagged as O&O too but Joel Biskie is no longer on our team. Please advise? cc: @brandonnava @HeatherRienks

[2022-11-18 17:47] ahay-agile6 opened #7413 "[Message Tracker] Immediate Improvements"
The big takeaway is that there is a difference between a "send" action and "batch" action.
Depending on which action type, anything related to the file needs a different label or wording.

## Improvement Notes:

1. **Receivers**: order by receiver name
2. **Receivers**: Incoming Report Id label should be "Outgoing Report Id" if the action type is "send"
3. **Receivers**: Incoming Report Id is misl

[2022-11-18 18:06] sliu1000 commented on #7411
@BerniXiongA6 Its related to the backend reportstream jurisdictional filters.  A request came into the Reportstream box to check which senders data is going to HHS Protect and which ones are not. So, it's more of a checklist/confirmation. I'm not sure if this is something that we can easily query/look up. Or if we should just create a checklist of all the senders and categorize them as Yes/No to d

[2022-11-18 18:11] BerniXiongA6 opened #7414 "PA - Onboarding"
# What You Need to Know
In meeting with the PA Dept of Health ELR Team, we discussed how the state is not connected with RS currently. We agreed upon the solution to onboard PA with SOAP. This is the epic for onboarding PA Dept of Health.

# Acceptance Criteria
The following items, generally in order, must be completed to successfully onboard a receiver to ReportStream (if there are any steps with

[2022-11-18 18:14] BerniXiongA6 commented on #7414
Tagging @brandonnava @MauriceReeves-usds @brick-green for visibility -- I'm happy to add individual tickets to this epic once I follow up with PA in email to discuss next steps. Sounds like we would start working with them next sprint or the following. I'll leave another comment in this epic when I send out that follow up email to PA Dept of Health.

[2022-11-18 18:16] BerniXiongA6 commented on #7411
Thanks for the clarification @sliu1000 ! @brandonnava lets discuss so we can triage this accordingly.

[2022-11-18 18:25] jimmyfagan opened #7415 "Tech Debt: Investigate need for "CsvFileTests-topic" Topic"
### User Story:
As a RS developer, I want to confirm whether or not the "CsvFileTests-topic" Topic is necessary so I can remove it from the repo if it is not necessary.

### Description/Use Case
In the process of updating objects to use the `Topic` enum instead of hardcoded strings, we added a few enum values to allow all existing tests to continue to run. One of these was for "CsvFileTests-topic"

[2022-11-19 00:17] jimmyfagan commented on #7402
@victor-chaparro and I spent some time working through this today. It feels like we're just scratching the surface, but it was a very good way to get more hands on with seeing what the process looks like in the code. I'll resume on it next week and ask for help as needed.

[2022-11-21 11:34] #7404 closed

[2022-11-21 13:57] carlosfelix2 opened #7427 "UP returns specific errors when bad HL7 data is submitted"
### User Story:
As a sender, I want specific error messages if my data was not accepted, so I can fix it.

### Description/Use Case
The UP is using the HAPI HL7 v2 library to read in HL7 data.  Currently we are returning a generic error message if the HL7 data is invalid.  We need to include more details if they are available.

### Risks/Impacts/Considerations
* The error messages provided by the

[2022-11-21 15:09] sliu1000 opened #7432 "MO - Production Data - Missing Information for ORC PlaceOrderNumber"
## Problem statement

We received a couple messages in our production queue this weekend, missing information.  Would you mind investigating?

## What you need to know

Filename:  covid-19-87c7b8eb-ecb9-4a9d-9036-4afeab515313-20221119182013
MSH-10:  4cb53955-9196-4a4f-bb7a-4d36e24c0aa3

Filename:  covid-19-50eee21a-d6c3-44b1-baf3-47fdb2379ed7-20221121022051
MSH-10:  96c2b19a-3691-44c5-ae6b-8c162e8

[2022-11-21 16:26] #5702 closed

[2022-11-21 16:40] TomNUSDS opened #7434 "Migrate all API Authentication code to a Kotlin decorator"
This is a placeholder ticket so we can add requirements.

- [ ] Decide on a standard decorator creation library for the whole project.
  - [ ] Watch out for order of decorator evaluation issues. (e.g. the claim `claims.authorized(setOf("*.*.primeadmin", "$orgName.*.admin")` requires `$orgName` from the endpoint. That variable comes from Spring's decorator `@BindingName` which needs to evaluate fir

[2022-11-21 16:46] penny-lischer commented on #7277
1. Updated the InvalidHL7Message() method to take an optional ‘ErrorCode’ string
2. Created an enum ‘ErrorCode’ to allow for consistent nomenclature and containment of the error codes to be passed into the InvalidHL7Message() method.
3. The front-end can then use the 'ErrorCode' to display a friendly message. In FileHandlerMessaging.tsx -> ErrorRow we call the ErrorCodeTranslation enum which maps

[2022-11-21 16:46] #7045 closed

[2022-11-21 16:46] #7044 closed

[2022-11-21 16:46] #7046 closed

[2022-11-21 16:54] #7054 closed

[2022-11-21 17:54] BerniXiongA6 commented on #7372
@BerniXiongA6 will add back to Sprint Planning to assign engr for Sprint 56. cc: @brandonnava

[2022-11-21 18:20] #6395 closed

[2022-11-21 18:56] HeatherRienks commented on #5049
@drew-usds - Do we need this ticket?

[2022-11-21 19:24] HeatherRienks commented on #4964
@drew-usds @victorialb-usds - do we have any updates on this, or do we just want to keep this in the backlog?

cc: @fmccaf1

[2022-11-21 19:28] HeatherRienks commented on #5150
@drew-usds @victorialb-usds -do we still need this ticket?  Not sure if it's been documented elsewhere in another ticket?

cc: @fmccaf1

[2022-11-21 19:34] drew-usds commented on #5049
Closing. Will turn this into individual tickets.

[2022-11-21 19:34] #5049 closed

[2022-11-21 20:03] drew-usds commented on #6959
@HeatherRienks From design sync 11/24: worth keeping this in the backlog. Could become part of a larger epic to better align how the admin section/tools work.

[2022-11-21 20:17] #7359 closed

[2022-11-21 21:11] fmccaf1 opened #7436 "Code interview: CA DPH"

[2022-11-21 21:13] sliu1000 commented on #7217
Update from Sender:

Dear Brick,

Thanks for your feedback.

Our engineer Dr Farid will follow up this issue more detail from next email.

And I am not sure whether attached file is what you or your colleague need to get from us.

Anyway he (our engineer) will back to you on Monday.

Thanks & Best regards,

Philip Choi

[2022-11-21 21:15] #6774 closed

[2022-11-21 21:24] fmccaf1 opened #7437 "Prototype Facility Look-Up Feature"
### Overview
- Experience team met to discuss facility look-up feature and went through [research supportive of the concept.](https://cdc.sharepoint.com/:w:/t/USDSatCDC/EYiKKLbo-BpMpJW4d9V-B7YBdDSjTk2tQqRcBvyoEi_kkw?e=CSgQVR)
- Identified a prototype of this concept that needs update: [Prototype link 1](https://www.figma.com/proto/VrSkTA87t8PPeXPugQ0i8O/ReportStream?node-id=12%3A275&scaling=min-zo

[2022-11-21 21:26] kevinhaube commented on #7277
@HeatherRienks I will go ahead and label this ticket with `release_notes`, bet let's sync and come up with how it's worded. I want to make sure these are communicated via release notes as experimental. These `code`s are still in a prototype phase, subject to change, and we do not have versioning or feature flags in place for the API.

Once we have a system in place to roll out stable error codes i

[2022-11-21 21:26] fmccaf1 opened #7438 "Facility Look-Up: Internal concept testing"
### Need to know
- Follow on from #7437

### To do

- [x] Uncover goals for learning

- [x] Prep conversation guide

- [x] Request O&O volunteers as participants

- [x] Schedule and complete usability testing with at least 3 O&O participants

[2022-11-21 21:47] oslynn commented on #7217
Email to Philip: 2022-11-21,
Good after noon, Philip,

Thank you for providing me the sample file for validation.  After examine the file, I had found additional fields and values needed for RS validation.
Please make correction to the sample file as info provided below and then resubmit it back to me.

Please fill in values to following fields:
patient_street: Need value (e.g., 123 Street)
patien

[2022-11-21 22:26] sliu1000 commented on #6964
@brandonnava

After looking into this, I see why this was sent to RS Zenhub.  The below OBX 18.1 is not listed in our HL7 file format.  Is this mapped as something else in our HL7 file?

Required component missing in segment - OBX 18.1 - Equipment Instance Identifier.Entity Identifier
Required component missing in segment - OBX 18.4 - Equipment Instance Identifier.Universal Id Type

[2022-11-21 22:28] jimduff-usds opened #7440 "Tell Senders we are Deprecating usage of URL parameters when sending to api/token endpoint"
This is a follow-on to ticket #7364.

We need to ask our senders to make a small change to the way they are requesting bearer tokens from us.

### Steps:

1.   Find all senders using the api/token endpoint.  (There are several ways to do this.  One is to look in metabase for all recent senders who create token_auth actions in the ACTION table)
2. Contact them and let them know they need to switch

[2022-11-21 22:45] GilmoreA6 commented on #7371
@sliu1000 CO is still reporting issues so I don't want to close this until we verify with them

[2022-11-21 22:46] GilmoreA6 commented on #7371
Hi Nancy,

Absolutely, I'm sorry to hear you are having difficulty tracking down the files so let's put another meeting on the books. Would Tuesday 11/29 at 9AM PST (11 CST) work?

Some more follow-up on the other two facilities, Matthews-Vu and AFC. I did find the Matthews-Vu facilities and we are sending them. The issue looks like the fact they are inputting the results under a bunch of differen

[2022-11-21 22:46] GilmoreA6 commented on #6599
Hi All,

Please see answers below in red. Let me know if you have any other questions.

Thanks

-James

James Gilmore (Agile Six)
Senior HL7 Data Analyst
Pandemic-Ready Interoperability Modernization Effort (PRIME)
From: Ruey Pham <ruey.pham@color.com>
Sent: Wednesday, November 16, 2022 2:06 PM
To: Xiong, Bernadette (CDC/DDPHSS/OD/HITSSU) (CTR) <rwe7@cdc.gov>
Cc: Gilmore, James (CDC/DDPHSS/OD/HITS

[2022-11-21 22:47] GilmoreA6 commented on #7134
Hi Juehua,

Apologies for my delay in response. I've checked the most recent file and I think the only thing we have that's still an issue in the file is the timestamps. Currently the date and timestamps are being sent in format dd/mm/yy. For DOB we would like yyyyMMdd and for the other timestamps in the file (order_test_date, specimen_collection_date, test_result_date, date_result_released) we wo

[2022-11-21 23:07] GilmoreA6 commented on #7150
Decision was made to only turn on duplicate detection for senders who are sending a single message per file.

[2022-11-21 23:37] GilmoreA6 opened #7442 "Update Duplicate Detection logic"
## Problem Statement:

We need to update our logic to allow detection of duplicates within a file that has not already been processed and to be able to reject individual messages within a batch file, not the entire file.

## What you need to know:

allowDuplicates: false does not strip out duplicate tests from within bulk submission if those messages have not already been processed. Also, the enti

[2022-11-22 04:05] #3097 closed

[2022-11-22 04:06] #7032 closed

[2022-11-22 14:08] BerniXiongA6 commented on #7442
Let's discuss in sprint planning if this is something that needs to come into this sprint yet @GilmoreA6 @brandonnava

[2022-11-22 14:17] shy2cdc opened #7444 "AZ DOH - Missing Data"
Ticket from Ana (ana.mendoza@adhs.gov):

ELR file `az-covid-19-ea11cec7-9742-4ea4-81f2-1793270c6399-20221121145037` received 11/21/2022 has records that are missing data in column 'test name'. These records are failing and we are unable to process.

Message ID: `29ba810a-b516-4a7f-aba3-4ec0fe89d834`

[2022-11-22 14:57] #6188 closed

[2022-11-22 15:46] kevinhaube commented on #6133
Completed by experience #7277

[2022-11-22 15:46] #6133 closed

[2022-11-22 15:47] #6253 closed

[2022-11-22 16:30] PatriciaPerozoUSDS commented on #7275
Needs a re-write. We aren't sure DB is the right storage choice. Cle hates jsonb. He now owns the re-write of this ticket. @clediggins-usds

[2022-11-22 16:50] fmccaf1 commented on #7098
I've generated content aligned with the finding (written in last comment above) that two separate resources need to be made:

1. Guide to submitting data to ReportStream
2. Guide to receiving data from ReportStream
BOTH of these contain reference to step 1 = filling out Sharon's smartsheet form

I've also updated the original Account registration guide, which deals specifically with users that wan

[2022-11-22 16:57] shy2cdc commented on #7444
Email from Ana:

ELR file we are receiving is missing Test Name on some of the records. These records are failing

[2022-11-22 16:57] brandonnava commented on #6964
@GilmoreA6 Any ideas on this one?

[2022-11-22 17:29] GilmoreA6 commented on #6964
@brandonnava We've seen this before, as an issue with the way the LIVD table gets certain values when there are duplicates. The SR schema only specifies two fields which when not unique can cause problems for our logic. Unfortunately, given the dates in the ticket we no longer have any of these messages stored so we would have to ask the submitter to re-send them.

[2022-11-22 17:51] TomNUSDS opened #7448 "[Bug] Json Diff Editor gets out-of-sync when doing edits"
Step:
1. Go into Edit Settings for `ignore` (`admin/orgsettings/org/ignore`)
2. Get into the Json Diff editor via the `Preview Save...` button
3. Change the Right Hand editable side by editing an existing field... but do NOT use correct json lint format. For example: change `"filters": [],` to `"filters": ["1","2"],` (which really should be:
[code]
to be correctly formatted.
Result: The highlighti

[2022-11-22 18:45] #5282 closed

[2022-11-22 19:06] GilmoreA6 commented on #6377
Need to add logic to GAENTransport.kt to include error returned in JSON in logs.

[2022-11-22 19:28] sliu1000 opened #7449 "Sender Abbott - API Upload Failure"
Sender Abbott, sent a service request via Smartsheet.

Problem:
Abbott received an error message when trying to send data to the ReportStream API.

Please see below images for more information:
![image.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/ab49eb32-3228-4acc-a1c6-4e3bcfe03f93)Pro![Abott.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/dfed8702-2b8a-41

[2022-11-22 19:57] fmccaf1 commented on #7143
Replacing this with Sender Research epic [7340](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/7340)

[2022-11-22 19:57] #7143 closed

[2022-11-22 20:04] fmccaf1 commented on #6689
### Still to do on this ticket

- [ ]  Need Berni's okay on newly edited "Account registration guide" [which can be found with all other content updates on this mural board](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1667328248835/9317b8b37c030fe0edae0b5c42fe5df48472f404?sender=ua604735c5cf1162b042a4310)

- [ ] Need Berni's okay on removing ELR onboarding checklist but allowing

[2022-11-22 20:16] BerniXiongA6 commented on #6621
@BerniXiongA6 send email to CO to inform of UP work with Pipelilne team -- then close out cc: @brandonnava

[2022-11-22 20:17] BerniXiongA6 commented on #7087
@BerniXiongA6 create ind. tickets before mid-November

[2022-11-22 20:18] clediggins-usds commented on #5026
Overridden by Mo's metadata proposal; closing.

[2022-11-22 20:18] #5026 closed

[2022-11-22 20:19] BerniXiongA6 commented on #5944
@BerniXiongA6 ask Megan Light to get involved and outreach cc: @brandonnava

[2022-11-22 20:21] #7264 closed

[2022-11-22 20:21] #7366 closed

[2022-11-22 20:21] #7342 closed

[2022-11-22 20:29] fmccaf1 opened #7450 "Interview with WA PHD"

[2022-11-22 20:38] brandonnava commented on #6964
@sliu1000 Per James' insight can you ask them to resend?

[2022-11-22 20:39] BerniXiongA6 commented on #6438
@BerniXiongA6 reach out to SR about their work on this with WA DOH -- bring back to O&O team for next steps. cc: @brandonnava

[2022-11-22 20:41] BerniXiongA6 commented on #7449
@sliu1000 can we get more info so we can determine how to take action on this?

[2022-11-22 20:47] sliu1000 commented on #7449
@BerniXiongA6

I just emailed Rajan from Abbott asking for more information and a for a screenshot (if available).  I'll update you once I receive more information.

Sharon

[2022-11-22 20:51] BerniXiongA6 commented on #7138
Closing this and keeping 7372 open

[2022-11-22 20:51] #7138 closed

[2022-11-22 20:54] #7330 closed

[2022-11-22 21:00] BerniXiongA6 commented on #7442
@BerniXiongA6 create backlog refinement meeting and add this ticket in that convo cc: @brandonnava -- @GilmoreA6 can also bring up to UP team regardless of O&O's AC

[2022-11-22 21:55] sliu1000 commented on #7449
@BerniXiongA6

I have attached three screenshots sent from Abbott.  They confirm that the error message is when they try to send data via ReportStream.

However, this error may be related to the data that reportstream is sending to HHS Protect.

[2022-11-22 23:52] kevinhaube opened #7453 "Error Codes for HL7 Validator"
## Problem statement

After the prototype is complete (#5641) our first service to adopt error codes will be the HL7 validator.

## What you need to know

Lives in `hl7serializer.kt`

##### Key figures
- Prototype built by Penny
- O&O contacts in-the-know: Berni, Mo
- Initiative managed by Kevin H.

##### History

We are embedding codes into error types with a focus on using these stable codes to

[2022-11-22 23:53] kevinhaube opened #7454 "[Document] Plan an approach for roll-out"
## Problem statement

We need a documented approach to rolling out the new error code system! We know a few key considerations include:

### API Programmer's Guide section for error codes AND established process for updating this

To successfully relay the intended message of any code, so that an API user may translate it on their end, we need to keep congruency between the codes returning from th

[2022-11-22 23:58] kevinhaube commented on #5822
Yep! We'll be handling this in our API Error Codes project :) HAPI is one of our noted libraries to begin implementing codes with first to translate the error to something more readable on the front-end.

[2022-11-22 23:58] #5822 closed

[2022-11-23 15:36] BerniXiongA6 commented on #7449
@sliu1000 Thanks for the updates to the ticket. We'll pull this into our backlog refinement next week to make sure it gets assigned and worked on by an engineer. For now, I'll assign it to @brandonnava so we can transfer ownership from support to O&O team. Thank you!

[2022-11-23 16:36] MauriceReeves-usds commented on #7343
Updated the batch timing to be every two hours instead of once a day via the website console.

[2022-11-23 17:25] MauriceReeves-usds commented on #7372
Reviewed Okta set up for Shandi and it looks correct. Settings in the app also look correct. Shandi is able to log in and sees the screenshot linked above when trying to access the Daily Data page. When I log in as an admin I am able to access the Daily Data page. We will need to tag in Experience to see why this is happening.

[2022-11-23 17:41] MauriceReeves-usds commented on #7372
Reached out to Experience 12.40 ET 23-Nov-2022

[2022-11-23 19:10] fmccaf1 commented on #6689
One more:

- [ ] Need Brick's okay on removing ELR onboarding checklist but allowing the link to work for those that may still have access to it (and a sense of how long this should remain available?)

[2022-11-23 19:12] fmccaf1 commented on #6987
Moved back to product backlog due to timeout issues that only dev ops can address. Once issues are addressed we can again move back into an upcoming sprint.

cc:
@kevinhaube

[2022-11-23 19:25] fmccaf1 opened #7459 "Designate website location and update the transcript for 5-min intro video to data senders"
## Problem Statement
As a sender, I receive a 5-min intro video via email. To reduce the pain of downloading and finding that video in the future (and potentially clogging my inbox), it would be nice to have a link to the video hosted elsewhere (like the RS website) to avoid these issues.

## Important info

- O&O team created a 5-minute intro video (mp4) to start off the process of onboarding sen

[2022-11-23 19:27] fmccaf1 commented on #7459
@BerniXiongA6: We'll revisit when you're back from PTO, week of Dec. 5

[2022-11-23 19:34] fmccaf1 opened #7460 "Edits to Getting started: Public health departments (in Resources, RS public site)"
# Important Info

[Mural board](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1667328248835/9317b8b37c030fe0edae0b5c42fe5df48472f404?sender=ua604735c5cf1162b042a4310) with all findings from evaluation of resources [(#6689)](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6689)

If any of the screenshots provided below are two

[2022-11-23 19:36] fmccaf1 opened #7461 "Add new resource: "Guide to submitting data to ReportStream""
# Important Info

This new resource will be based off of (and very similar to) the end resource from ticket [7460](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/7460)

Once ticket 7460 ^ is completed, that resource can be copied, and a few changes made, to create this new resource.

[Mural board here](https://app.mural.co/t/primedatainput641

[2022-11-23 19:37] fmccaf1 opened #7462 "Edits to CSV Download Guide (in Resources, RS public site)"
# Important Info
[Mural board here](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1667328248835/9317b8b37c030fe0edae0b5c42fe5df48472f404?sender=ua604735c5cf1162b042a4310) can be helpful if any screenshots below are too small.

## Specifics from Mural board for this ticket

### 1. Change title and subtitle
![image.png](https://images.zenhubusercontent.com/629a1db0e70457da479e69ae/9

[2022-11-23 20:04] fmccaf1 opened #7464 "Public validation service: Research and design"
### Need to know
- Internal usability testing is complete. Next stage of feedback is to learn from external users (senders themselves)
- Florence (UX) will meet with James (O&O eng) to be on hand and observe as senders (3 minimum) try out the validation service and attempt to understand and address the errors associated with their test message

[2022-11-23 20:08] fmccaf1 opened #7465 "Validation tool usability test: SimpleHealthKit"

[2022-11-23 20:09] fmccaf1 opened #7466 "Validation tool usability test: ReOpen"

[2022-11-23 20:09] fmccaf1 opened #7467 "Validation tool usability test: Providence"
[Notes from the session.](https://docs.google.com/document/d/1gAw5Uk3csf0JoByxHfQ9spsq1_eooV8ANsWWLKpV6Xw/edit#heading=h.hpsr3t2hf4k4)

[2022-11-23 21:04] sliu1000 opened #7471 "ReportStream OKTA Group for California Public Health needs to be updated."
## Problem statement

When a user logs into the ReportStream website.  If they are part of the California Department of Public Health the daily downloads page is not current. The last update showing is on 10/22/2022.

[Write a short description of what you want to achieve with this task]

A month or two ago the daily files were moved from CA-dph.elr to ca-dph.elr-saphire
The okta group needs to be

[2022-11-23 21:37] GilmoreA6 commented on #7449
After meeting with Abbott we have additional details. Starting 11/21/22 ~9:45PM - 11/22/21 12:45AM UTC approx 17% of all attempts to send messages to ReportStream were met with a 503 Service Unavailable error. Abbot mentioned this was the same error they received during the 10/27 outage when RS was completely down.

[2022-11-23 22:12] GilmoreA6 commented on #7449
Abbott has automated retry functions and all affected messages were able to resend.

[2022-11-24 01:51] #7364 closed

[2022-11-25 14:20] BerniXiongA6 commented on #6907
BX sent this email to Karim on 11/23/2022:

[2022-11-25 15:03] BerniXiongA6 commented on #7203
BX sent email to sender on 11/25:

Email received from sender on 11/23/2022:

Email sent from BX to sender on 11/22/2022:

[2022-11-25 17:01] lucasdze commented on #7070
This alert has been deleted as it only exists in test environment

[2022-11-25 18:15] GilmoreA6 commented on #7444
Sender PMG is sending incorrect value in column deviceName. Value being sent is "FlowFlex COVID-19 Antigen Test". Correct value from LIVD table is "FlowFlex COVID-19 Antigen Home Test"

[2022-11-25 18:38] GilmoreA6 commented on #7444
Good Morning all,

We received a ticket from one of our State DOH receivers and after investigation found that the issue stems from incorrect values being received in column "deviceName" and "deviceIdentifier" on some reports from PMG.

 The incorrect value being received in "deviceName" is "FlowFlex Covid-19 Antigen Test". Values in column deviceName should match the appropriate values from colum

[2022-11-25 19:47] BerniXiongA6 commented on #7449
@GilmoreA6 can this be closed, or shoudl we wait to ensure all is OK before closing? Please advise. Thanks for handling this! cc: @sliu1000 @brandonnava

[2022-11-25 19:51] BerniXiongA6 commented on #7203
Any engineer can assign themselves to validate this sender's files once the Sender has confirmed their test files are using the most current API fields list. cc: @brandonnava @brick-green @sliu1000

[2022-11-25 19:53] BerniXiongA6 commented on #7411
Hey @brandonnava could you bring this up at backlog refinement so that the engineers can determine what they want to do with this ticket? THanks! cc: @sliu1000 @brick-green

[2022-11-25 19:59] BerniXiongA6 commented on #7266
Hey @brandonnava this one is a couple weeks old so would be good to bring this up in a backlog refinement. Thanks! cc: @sliu1000 @brick-green

[2022-11-25 20:11] BerniXiongA6 commented on #6438
Hey @brandonnava could you connect with Laura King (via Slack) on this? I gave her a heads up that I'll be out the week she's back. I told her in advance that O&O will be reaching out as we'd like to find out what work they've done so far on this from a SR standpoint. That will help us to determine next steps on the RS end. Feel free to lean on @brick-green and Mo too if you need more background o

[2022-11-25 20:26] oslynn commented on #7298
Found: Within the file: covid-19-75fcc676-6883-4425-bd00-76a0afcf392c-20221108203127.hl7, there is a duplicate patient record with patient_id: 4152.  The first record was the wrong data input.  Therefore, it is deleted and resubmitted the file.

[2022-11-25 20:43] BerniXiongA6 commented on #6407
BX sent email to Teri and Rachelle on 11/21:

[2022-11-25 20:55] oslynn opened #7480 "Add "test_type" to all schemas baseOn covid-19 schema."
There is a new column of "Test Type" (test_type) is added to the LIVD Table.  It is added to covid-19.schema.  However, it is needed to be added to schema that baseOn (Not extends) the covid-19.schema.

[2022-11-25 21:16] GilmoreA6 commented on #7449
@BerniXiongA6 I'd like to leave this open for now as I don't yet have a good answer for why this happened and am still trying to track it down.

[2022-11-25 21:34] lucasdze commented on #7386
Documentation
https://support.pagerduty.com/docs/slack-v2-integration-guide

[2022-11-25 21:39] GilmoreA6 commented on #7319
This appears to be an internal issue to CA. For the messages being sent to CA we are populating the following date/time fields in the HL7 message for the listed accession numbers above. MSH-7 (date/time of message), ORC-15 (order effective date/time), OBR-7 (observation date/time), OBR-8 (observation end date/time), OBR-22 (results rpt date/time), OBX-14 (date/time of observation), OBX-19 (date/ti

[2022-11-25 21:49] sliu1000 commented on #7319
@GilmoreA6

Emailed the user to let them now that we are sending all those values over to them and to please check their internal system.  Also, advised them to reach out to us if they'd like to schedule a call to discuss further.

[2022-11-28 13:42] jimduff-usds opened #7482 "Azure.RequestFailedException: at Azure.Storage.Blobs.BlobRestClient"
We see this exception occasionally in Production.

It occurs in Azure code, not ours.  There appears to be no known negative effect, so this is a "won't fix" until we find otherwise.

The "Singleton lock renewal failed for blob" with a 403 message occured 6 times in the last 30 days.

If you look at the Telemetry, in this case it occurred immediately after various timer based Azure functions:  the

[2022-11-28 13:44] shy2cdc opened #7483 "RI DOH - ELR Failure - Rhode Island"
Hello @oslynn ,

My apologies for the delay in getting this information to you as I was out of the office with the holiday.  On Wed 11/23, RI had an ELR failure for an Intrivo lab that came through ReportStream.  I have asked our vendor to review and this is what they found to be the cause (see below).  If you could investigate this ELR and verify it was supposed to be submitted and/or a test ELR,

[2022-11-28 13:45] shy2cdc opened #7484 "RI DOH - ELR Failure - Rhode Island"
Hello @oslynn ,

My apologies for the delay in getting this information to you as I was out of the office with the holiday.  On Wed 11/23, RI had an ELR failure for an Intrivo lab that came through ReportStream.  I have asked our vendor to review and this is what they found to be the cause (see below).  If you could investigate this ELR and verify it was supposed to be submitted and/or a test ELR,

[2022-11-28 15:06] #7483 closed

[2022-11-28 15:29] sliu1000 commented on #7449
Jeremy would like us to start a process on how to hand these types of issues in the future.  I'll start a draft document and share for feedback.

[2022-11-28 15:39] sliu1000 commented on #6343
Update from Sender:

Can you confirm for me that these values will work with ReportStream? Also, do you know what value we should use for the AN Swab? On other lines in the [http://LIVD SARS-CoV-2 Test Codes.xlsx]LIVD sheet it looks like AN Swab and NP Swab specimen have the same SNOMED code. Are we allowed to use the same SNOMED code for both of those specimen types?

Model: CDC 2019-nCoV Real-Ti

[2022-11-28 16:55] sliu1000 commented on #7432
Another occurrence on 11/26/2022 and 11/28/2022:

We received a couple message in our production queue this past weekend, showing this error:

Filename:  covid-19-`a529959d-c78e-4e72-b049-1b2bbf60ea2c`-20221126182035 / MSH-10:  a88a594a-b81a-4710-8ff5-bb91fb5aa22b

Filename:  covid-19-`60ad2b2a-4ba8-4451-84c6-f559f5b4f568`-20221128022053 / MSH-10:  c0c6cfd2-da73-4442-9262-032f31b5820e

PATIENT_RES

[2022-11-28 17:13] brick-green opened #7491 "Upload new LIVD table"
## Problem statement

The LIVD team sent over a new LIVD table that needs to be uploaded into ReportStream.

## What you need to know

[LIVD Table Excel sheet](https://app.zenhub.com/files/304423150/4f9932c4-377b-4cfd-82ec-56a1ffb5ac67/download)

## To do

- [ ] Run livd-table-update command with new table

[2022-11-28 18:00] fmccaf1 commented on #7459
cc @sliu1000 @brandonnava

[2022-11-28 18:18] sliu1000 opened #7492 "Missouri - Last Mile Failures - Needs Investigation on why Failure occurred"
## Problem statement

Failed message received - Last Mile Failure on 11/28 at 11:36 am.

## What you need to know

Info Details: 21357737
Receiving Org: moftp.mo.gov
Failed at: Mon, 11/28/2022, 11:36 AM
Action ID: 21357737
Report ID: `0b1968ce-63b0-4fbd-a31c-6d313f8d07d0`
Report File Receiver: mo-phd.elr
File URI: https://pdhprodstorageaccount.blob.core.windows.net/reports/ready%2Fmo-phd.elr%2Fcov

[2022-11-28 18:20] #7224 closed

[2022-11-28 18:21] sliu1000 opened #7493 "WA - Last Mile Failures - The files for WA will need to be emailed securely,"
## Problem statement

A small number of WA delivery failures found on Last Mile Failures. Please investigate.  The files will need to be emailed securely.

## What you need to know
![image.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/d195c103-16c4-4de0-b20b-ff2927ae5f2a)

## Acceptance criteria

- [ ] ...

## To do

- [ ] ...

[2022-11-28 18:28] sliu1000 opened #7494 "CO - Last Mile Failures - Colorado Secondary Failures"
## Problem statement

Several Last Mile Failures for CO Secondary Feed.  Will talk to CO tomorrow regarding resend issues.

## What you need to know

 [Links to documents, workflows, or list of key people and contact info]

![image.png](https://images.zenhubusercontent.com/6282728600f2331155d73bf3/6e0e8f43-4b39-401d-9f66-0c4e8b080be8)

![image.png](https://images.zenhubusercontent.com/6282728600f2

[2022-11-28 18:33] #6689 closed

[2022-11-28 18:33] sliu1000 commented on #5944
Update from Joyce/NJ:

Hello Ott,

Hope all is well.  I am adding Andrea Moniquette onto the chain.

In review of the 11/9 file, the following issues exists:

There was only one case on the file.
Please provide a minimum of 10 – 20 cases for review.
The file appeared to be a resubmitted file.
Resubmitted files get flagged as duplicated and limit the review process.

To proceed with onboarding, ple

[2022-11-28 18:51] HeatherRienks commented on #5651
@kevinhaube - any feedback on this ticket? It says it is "in progress"- not sure if we need to bring it out of New Items...

[2022-11-28 18:55] kevinhaube commented on #5651
@HeatherRienks I'll take a look into this. I'm working on the outline for implementing codes throughout all error messages, and LIVD errors will be part of that plan 😄

[2022-11-28 18:56] sliu1000 opened #7495 "APHL - Message criteria suggestion"
## Problem statement

Andrew Weitz from NIH emailed the ReportStream box on 11/25/2022 at 1:32 pm requesting that we include at least the Last Name and DOB in messages.  The reason being that APHL only routes messages to states if they contact at least the Last Name and DOB.  Also, most states do not want to accept anonymous messages.

## What you need to know

Hi all,

We’ve heard that most state

[2022-11-28 19:37] kevinhaube opened #7497 "Fetch Refactor: useReceiversList (NewApi.ts)"
## Problem statement

As a report stream developer I want to replace all instances of usage of NewApi and useReceiversList with react query based hooks.

## Acceptance criteria

- [ ] usage of NewApi and useRequestConfig on all mentioned files is replaced with new react query based functionality

## To do

- [ ] ...

[2022-11-28 20:22] fmccaf1 commented on #5134
Closing this ticket because it has overlaps with some research we're doing currently, such as [epic 7341](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/7341)

[Also already mapped some of O&O's support process here.](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1664828377684/37d40ca8316ccc49451a96901ae70dd08050aaf7?sender=u

[2022-11-28 20:22] #5134 closed

[2022-11-28 20:23] #6612 closed

[2022-11-28 21:01] carlosfelix2 commented on #7401
Sample fake batch message [https://app.zenhub.com/files/304423150/d00fd684-05db-44f5-9dd3-72efb33259db/download](https://app.zenhub.com/files/304423150/d00fd684-05db-44f5-9dd3-72efb33259db/download)

[2022-11-28 21:13] brick-green commented on #6964
@GilmoreA6 Will resending work here? Won't the same thing happen with equipment UID?

If not, I'm happy to work with SR to send the extra fields

[2022-11-29 13:07] oslynn commented on #7484
This from message_id = Message ID: 7948f368-93e3-43ee-9936-358b4c35d484.  Note, there is no -3

[2022-11-29 13:13] shy2cdc commented on #7484
Excel table is below with text for both dates and times the same accession was submitted with failure.

Processed Time

Status

Message ID

Reporting Facility

Accession#

Exception Text

11/28/22 2:02 PM

Failure

`a345d89e-867b-47e9-b82b-b4aa792d16ae-3`

Intrivo

123456

Error creating lab. Blank identifiers in CE or CWE segments 1 or 4. See Activity Details.

11/23/22 8:05 AM

Failure
`
7948f36

[2022-11-29 14:29] victorialb-usds commented on #6975
@fmccaf1 we are talking this week. I would like to ask if you think we need to be tracking internal users.

[2022-11-29 14:31] MauriceReeves-usds commented on #5770
Resurfacing this now that SSHJ has released another update. I'd like to pull this into a sprint soon so we can build a test harness that lets us check out how easy it would be to use Mina instead of SSHJ and if it's reliable.

Acceptance criteria:
* Mina is able to connect to our different SFTP clients:
    - PuTTY Key
    - SSH Key
* We are able to wrap an interface around Mina and SSHJ such that

[2022-11-29 14:39] victorialb-usds commented on #6975
noting that in the doc shared by Rakshinda there was a suggestion of doing on ongoing focus group @HeatherRienks can we talk about this at the next sync with o and o if this is a good idea - what purpose it serves - I dont want to leave the folks talked to this summer hanging. with some new researchers coming on we might want to have capacity but there could be research ops around this so that we

[2022-11-29 15:04] kevinhaube commented on #7454
[Error Codes Rollout PDF](https://app.zenhub.com/files/304423150/06d3cb00-a2e0-4c58-8214-9aaf6bbf5012/download)

To be reviewed in O&O sync on 11/30!

[2022-11-29 15:06] kevinhaube commented on #3099
Determined 11/28 with Jewel and Jeremy that the "otb" data is not quite enough to form anything actionable. Site reliability is already handled by the current dashboard. Case closed!

[2022-11-29 15:06] #3099 closed

[2022-11-29 16:09] shy2cdc commented on #7484
Good Morning Ott and Jason,

This is the first I had time to dig into this further. I have a couple of things below in regards to this specifically that may help us in regards to this potentially.

1. In both of these cases with accession number 123456 it appears this is most likely a generic message that might be being generated that Intrivo is producing as it has most information for the patient

[2022-11-29 16:28] kevinhaube opened #7502 "[FeatureFlags][API] Checking Organization's FeatureFlags"
## Problem statement

Scopes will be delivered to the front-end to show and hide UI, but to truly validate a user's access to a page, our front-end `AuthElement` gate should implement a strict check with the API.

## What we know

Related to the database setup #7301

`AuthElement` on the front-end can take one or many scopes (`requiredFeatureFlag` prop); does it need to? Maybe we can simplify this

[2022-11-29 17:19] kevinhaube opened #7503 "[FeatureFlags][React] Use strict FeatureFlag check"
## Problem statement

So no front-end user can use browser tool sleuthing to manipulate their membership and gain access into features hidden to their organization, **we need to verify with a source of truth (RS API) that the organization is allowed access to a feature**.

If a feature is part of the RS unauthenticated experience (available when not logged in), **the check should _then_ only consi

[2022-11-29 17:19] #7405 closed

[2022-11-29 19:01] GilmoreA6 commented on #7491
LIVD table update deployed

[2022-11-29 19:51] brick-green opened #7505 "PA Onboarding - Add PA receiver to current PA organization"
## Problem statement

There is currently no receiver for PA at the state level. The receiver needs to be added the local, staging, and production environments.

## Acceptance criteria

- [x] PA-ELR.ELR added to organizations.yml
- [x] PA-ELR.ELR added to staging settings
- [x] PA-ELR.ELR added to production settings

[2022-11-29 19:56] brick-green opened #7506 "PA Onboarding - Create okta accounts for PADOH staff to access daily data"
## Problem statement

PA staff would like to access data to test for format and content. We are currently receiving data so the simplest option is to provision okta accounts.

## What you need to know

Email account:
- ccrawford@pa.gov
- meberhart@pa.gov

## Acceptance criteria

- [ ] okta created for staff
- [ ] confirmation from PA staff on access

[2022-11-29 20:03] brick-green opened #7507 "PA Onboarding - Test HL7 with PADOH"
## Problem statement

PA DOH will need to test the current HL7 format and content. It is very likely they will require changes to the current submissions.

## Acceptance criteria

- [ ] PA-DOH approves HL7 format

## To do

- [ ] Begin testing cycle with PADOH

[2022-11-29 20:12] brandonnava commented on #7493
@greene858 figured it made sense for you to take on this one. How pressing is this? You want me to throw it in this sprint or backlog?

[2022-11-29 20:13] brandonnava commented on #7494
@GilmoreA6 Now that we've had the call with them should I close this one out?

[2022-11-29 20:16] brandonnava commented on #7492
@brick-green @GilmoreA6 @oslynn How serious do we think this is? Should we get on a call with them or just ask Sharon to have them resubmit?

[2022-11-29 20:24] brick-green commented on #7492
If this is the first and only failure then I think just an attempt to resend. If the problem persists then we would investigate internally first prior to escalating to a call with MO.

[2022-11-29 20:29] brick-green opened #7508 "PA Onboarding - Test SOAP with full feed"
## Problem statement

PA uses a SOAP web service. We are currently using that service for the feed to PA counties. We should be able to use that same connection for PA but it will need to be tested.
## What you need to know

 [Links to documents, workflows, or list of key people and contact info]

- [PA-ELR Interface Specification v1-0.pdf](https://app.zenhub.com/files/304423150/9a3e2569-7ec1-4bd4

[2022-11-29 20:38] brandonnava commented on #7492
@sliu1000 Can you ask them to resend per Brick's advice?

[2022-11-29 20:41] sliu1000 commented on #7492
Sure thing, I'll send out an email shortly.

[2022-11-29 20:44] brick-green commented on #7492
@sliu1000 @brandonnava the transportation issue was with reportstream. So all we need to do is use the last mile failures tool to try to resend. @sliu1000 Have you used that before? I can show you how if not.

[2022-11-29 20:45] sliu1000 commented on #7492
@brick-green Yes, I just click on the resend button.

[2022-11-29 20:50] sliu1000 commented on #7492
![image](https://user-images.githubusercontent.com/102377655/204644816-45079b6a-edde-40d0-9682-2fc831340bc8.png)

It Failed.

[2022-11-29 20:57] brick-green commented on #7492
Okay, this should go to an engineer to investigate the root cause

[2022-11-29 21:15] brick-green commented on #7505
added receivers to staging and prod

[2022-11-29 21:16] #7505 closed

[2022-11-29 21:33] #7403 closed

[2022-11-29 21:35] brandonnava commented on #6637
@BerniXiongA6 Do we know how much longer he's out on paternity?

[2022-11-29 21:37] jimduff-usds opened #7511 "getDeliveries API calls occasionallly slow"
There were slow getDeliveries calls like this on 11/29:

http://pdhprod-functionapp.azurewebsites.net/api/waters/org/co-san-juan-basin-phd.elr-download/deliveries

Most SJB getDeliveries calls were just fine - returned 200 in a few seconds on avg.

However some others timed out, Example:
At 3:07:38 the getDeliveries request came in for co-san-juan-basin.
At 3:37:38 that call timed out, taking 30 m

[2022-11-29 21:37] brandonnava commented on #6872
@brick-green When will we know it's time to reengage?

[2022-11-29 21:41] brandonnava commented on #6403
@jeremy-page @jimduff-usds Checking in on this. Did we hit the under 5min github action build down goal? Close the ticket?

[2022-11-29 21:41] brick-green commented on #7506
waiting to confirm that results have been added after creating the PA primary receiver in production

[2022-11-29 21:42] brick-green commented on #7372
@GilmoreA6 Can this be closed?

[2022-11-29 21:43] jimduff-usds commented on #7511
The slow Chester county calls were in a spurt, from 12:06 to 12:10.  This is the same time we were doing other intense db calls.

[2022-11-29 21:44] brandonnava commented on #2082
@MauriceReeves-usds @brick-green Since we're not messing with PHINMS should I close this epic? Or is MN blocked from using RS without it? On the map it looks like MN is onboarded.

[2022-11-29 21:45] brandonnava commented on #4333
@MauriceReeves-usds @GilmoreA6 Still an issue? Close?

[2022-11-29 21:49] brandonnava commented on #2960
@brick-green Close?

[2022-11-29 21:51] oslynn commented on #7484
The issue is resolved by removing two duplicated test with "TestKit Name ID = 'Flowflex COVID-19 Antigen Home Test_ACON Laboratories, Inc'" from Livd-Suplemental.csv.

[2022-11-29 22:10] jimduff-usds commented on #7511
There were also closely bunched slow calls on 11/22 at 12:15 to http://pdhprod-functionapp.azurewebsites.net/api/waters/org/ca-scc-phd.elr-download/deliveries

No other recent slow spurts.

[2022-11-29 22:21] HeatherRienks commented on #5387
@BerniXiongA6 & @brandonnava - I missed this comment! My apologies!
Yes, closing this ticket as I believe we (Experience and O&O) decided that we would not send out regular emails to our users. There was a lot of discussion about this - see "Considerations" noted in ticket #5389.

I think the thought was that we did not want to spam our users. Additionally, we rolled out a new process for keeping

[2022-11-29 22:21] #5387 closed

[2022-11-29 22:48] GilmoreA6 commented on #7372
@sliu1000 Did San Juan report being able to access their downloads today? If so, we're good. All testing on our side didn't reveal any issues.

[2022-11-29 23:18] GilmoreA6 commented on #7494
This can be close. The secondary feed is now working again.

[2022-11-30 00:14] PatriciaPerozoUSDS opened #7513 "Universal Pipeline Postman Examples - Submission History Endpoint"
User Story:
As a developer, I want to manually test the Universal Pipeline with a number of examples that will generate error and warning messages.

Description/Use Case
When writing and testing code manually, it would be helpful to have a set of postman examples checked into the repo that can be used to test all of our apis and compare against the expected behavior.

Risks/Impacts/Considerations

[2022-11-30 11:48] oslynn commented on #7513
@PatriciaPerozoUSDS It would be nice that have Postman Collection as well.  Therefore, developers can just load it into their Postman and run it.

[2022-11-30 14:00] shy2cdc commented on #7484
From Jason G. 11/30 8:58am

Hi Ott,

These are all coming through with no personal identifiers, ie, names.  RI DOES NOT want any of these at home tests that do not have names, DOBs, or addresses.  These mess up our system greatly.  We have declined these with APHL and CDC prior for the same reason.  Please, do not send these through to RI.

Thank you,

Jason

[2022-11-30 14:38] fmccaf1 opened #7514 "Code Interview: WA DPH"

[2022-11-30 14:38] #7450 closed

[2022-11-30 15:13] oslynn commented on #7484
I will have to add a quality filter to their production feed.

[2022-11-30 15:42] sliu1000 commented on #7372
@GilmoreA6 I just check both users and it looks like they both signed in yesterday, everything must have worked for them as they didn't respond with any complaints.

[2022-11-30 15:42] #7372 closed

[2022-11-30 15:52] sliu1000 commented on #7266
SimpleReport requesting an update on the status on the below:

From: CDPH CalREDIEELR <CalREDIEELR@cdph.ca.gov>
Sent: Monday, November 28, 2022 6:22 PM
To: Light, Megan (CDC/DDID/NCEZID/DPEI) <wpa8@cdc.gov>; Garner Franklin, Leslie (CDC/DDPHSS/OD/HITSSU) (CTR) <rnx3@cdc.gov>; Wallace, Jayna (CDC/DDPHSS/OD/HITSSU) <tof4@cdc.gov>; Judd, Michael (CDC/DDPHSS/OD) <vuj4@cdc.gov>
Subject: FW: SimpleRepor

[2022-11-30 16:40] #7497 closed

[2022-11-30 17:05] brandonnava commented on #7492
@oslynn Hi Ott, given you're doing MO work can you look into this?

[2022-11-30 17:47] HeatherRienks commented on #5092
@kevinhaube. @fmccaf1  - FYI!

[2022-11-30 18:15] HeatherRienks commented on #5809
Per sync on 11/30/22, we will prioritize this!
Will create new tickets as part of this epic for next steps - possibly add Error Codes as first section to update on site?

[2022-11-30 18:16] HeatherRienks commented on #5813
Per sync on 11/30/22, we will prioritize this!
Will create new tickets as part of this epic for next steps - possibly add Error Codes as first section to update on site?

[2022-11-30 18:59] hannasage opened #7518 "App Insights MVP"
## Problem statement

Currently, ReportStream (RS) Product Managers (PdMs) have little to no insight as to
whether the features they launch for the static website (cdc.reportstream.gov) and the
authenticated experience, are meeting the needs of the end-users.

## Product vision

Providing quantitative metrics such as page views, button clicks and the like, will not only
aid in future feature-devel

[2022-11-30 19:00] #3095 closed

[2022-11-30 19:33] MauriceReeves-usds commented on #4333
@brandonnava still an issue. We need to communicate this to senders.

[2022-11-30 19:33] MauriceReeves-usds commented on #2082
@brandonnava please leave this open for now.

[2022-11-30 19:37] GilmoreA6 commented on #7449
Response from Abbott on my follow-up:

Hi James,

The time period is correct. We send messages 1 at a time in 15 minute batches. So every 15 minutes we will send N number of POST requests (where N = number of tests in the past 15 min). We have retries built in.

 we've been transmitting successfully before and since. We don’t have any failure requests since we have retry policy.  Seems like a tran

[2022-11-30 19:46] kevinhaube commented on #7398
Console errors/warnings appear to be transmitting from the front-end without additional configuration! Closing for now; keep on hand in case we find this is still needed.

[2022-11-30 19:46] #7398 closed

[2022-11-30 19:46] kevinhaube commented on #7454
Reviewed w/ O&O, provided them the document linked above. Good to close this!

[2022-11-30 19:46] #7454 closed

[2022-11-30 21:03] GilmoreA6 commented on #7134
Thanks Juehua!

The file looks good. Can you submit this through the API to our staging endpoint? If we don't have any problems there we can move on to testing in Prouction. Is there a particular state or territory that you want to test with? (usually this would be the state where most of results will go or where you are located).

Thanks,

James

[2022-11-30 21:45] oslynn commented on #7484
2022-11-30.  To filter our the invalid patient's information, I added to prod and staging database settings.
      qualityFilter:
        - "doesNotMatch(patient_first_name, Unknown)"
        - "doesNotMatch(patient_last_name, Unknown)"
        - "doesNotMatch(patient_dob, Unknown)"

[2022-11-30 23:12] #7491 closed