[2022-01-28 16:22] loripusey opened #4067 "California - Newport Children’s Medical Group - Baseline Research"
## Problem Statement
Newport Children’s Medical Group has requested to be onboarded to ReportStream and the CSV Uploader.

## Contact Info
Name: Lana Tello
Job title: Lab Manager
Organization: Newport Children’s Medical Group
Email address: info@ocrapidtest.com
Phone number: 626-905-5417

[2022-01-28 16:25] loripusey opened #4068 "Colorado - Covid Clinic - Baseline Research"

[2022-01-28 16:26] loripusey opened #4069 "Colorado - SDI Labs - Baseline Research"
## Problem Statement
SDI Labs has requested to be onboarded to ReportStream and the CSV Uploader.

## Contact Info
Afreen Rahman, Product Manager
afreen@sdilabsinc.com
+1 (214) 713-1437

[2022-01-28 16:41] loripusey opened #4070 "California - CADPH"

[2022-01-28 16:41] loripusey opened #4071 "Colorado - CDPHE"

[2022-01-28 16:47] anshulkumar-usds commented on #3809
1/28: After updates from SR team, OH was notified that all SR resubmissions were completed on 1/25. Awaiting confirmation of delivery from OH.

ImageMover submission still blocked by issue above.

[2022-01-28 16:48] brick-green-agile6 commented on #3438
Provided Ellaison with the date of transfer for the results

[2022-01-28 19:08] jimduff-usds commented on #1493
@TomNUSDS - is your comment on the right ticket? - it seems unrelated to this ticket (which we are planning to close, as @carlosfelix2 is reworking the is_otc feature anyway)

[2022-01-28 19:10] jimduff-usds commented on #1548
This work is done.

[2022-01-28 19:10] #1548 closed

[2022-01-28 19:11] kevinhaube commented on #3986
@loripusey I looked into this and this seems related to work @whytheplatypus has done regarding errors and warnings.

Gage, unfortunately all `ActionLog` objects are returning with null indexes, so the following code block is failing to create a list of row numbers:
[code]

I'm going to shift this bug to Pipeline's board

[2022-01-28 19:11] jimduff-usds commented on #1620
Closing.  No waters work ongoing at this time.

[2022-01-28 19:11] #1620 closed

[2022-01-28 19:22] jimduff-usds commented on #1736
Well, right now senders are only sending one HL7 at a time, so this is very low priority.

[2022-01-28 19:23] #1738 closed

[2022-01-28 19:23] #1744 closed

[2022-01-28 19:25] jimduff-usds commented on #1749
@timothybest-usds , @aliciabeckett-gov I'm closing this.   Feel free to reopen if you feel like this is still needed by SimpleReport.

[2022-01-28 19:25] #1749 closed

[2022-01-28 19:28] #1759 closed

[2022-01-28 19:29] kevinhaube opened #4074 "Swap "rows" for "itemNums" in Upload.tsx"
After work is complete on #3986, we need to swap the following code in Upload.tsx

[code]
for this new code

[code]

[2022-01-28 19:36] #2018 closed

[2022-01-28 20:33] anshulkumar-usds commented on #2623
1/28: VT's preference for MSH-4 is to use "PRIME OTC" as the namespace so that it's less than 10 chars.

[2022-01-28 20:35] anshulkumar-usds commented on #3022
@jorg3lopez you mentioned this is resolved. Can you share which files have been resubmitted to MA so I can follow up?

[2022-01-28 20:57] anshulkumar-usds commented on #3848
1/28: Shared an update with VT that initial testing of sample data yielded positive results. We should look to prioritize this for next week.

[2022-01-28 21:04] anshulkumar-usds commented on #3712
Resubmission to VT not needed per VT's preference. Fix in prod as an RS global change.

[2022-01-28 21:04] #3712 closed

[2022-01-28 21:04] #4042 closed

[2022-01-28 21:18] anshulkumar-usds commented on #4032
1/28: MA reported that this issue is isolated to this facility address only.

[2022-01-28 22:14] mlighdc opened #4078 "IL - Duplicate Submissions (Failures from 1/30)"
IL has identify duplicate submissions in files they received on 1/28/22.

A 36 MB file that was transmitted to them contained a significant amount of duplicates. After IL ran through their deduplication process, the file went from 36 MB to roughly 7 MB.

IL was also able to identity the first message control ID in the file was repeating in the file multiple times. More details can be  found in the

[2022-01-29 05:19] mlighdc opened #4079 "OH - Duplicate Submissions (Failures from 1/30)"
Date: 1/28 - 29/2022

OH is experiencing the same issue as IL with duplicate submissions. Following are the message IDs.

Please correct and resend with new message control IDs if possible.

[2022-01-31 11:18] rhood23699 opened #4082 "OO/Temporary Fix: Set processing mode to TEST"
## Problem statement
Temporarily hardcode processing_mode_code to "T" until we can debug setting this from the settings table

## Things know
N/A

## Acceptance criteria
- [x] All messages process with processing_mode_code set to "T".

## To do
- [x] Set processing_mode_code to "T"

[2022-01-31 12:49] rhood23699 commented on #3866
1/21/22 - Setup and account activation completed.

[2022-01-31 12:49] #3866 closed

[2022-01-31 12:55] rhood23699 opened #4085 "CDPHE (CO) - CSV Uploader Onboarding"
Epic for tracking the onboarding of CDPHE (CO).  CDPHE is both the Sender and Receiver.  They will convert CSV files received from other STLTs to our CSV format for upload into their system.

## Sender Info:
- Sender/Company Name: Colorado Dept of Public Health & Environment
- Type of Sender: State Public Health
- RS sender_id: cdphe-csvuploader

## Standard Tasks / Onboarding Steps:

**Initial In

[2022-01-31 13:13] rhood23699 opened #4086 "CDPHE (CO) - Initial Interest & Followup"
## Main Objectives & Tasks:

- [x] Document the date & time the Sender expressed interest -- 1/28/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov/terms-of-service
                 - https://reportstream.cdc.gov/sign-tos
         - Links to the CSV upload guide and CSV schema documentation

[2022-01-31 13:16] rhood23699 opened #4087 "CDPHE (CO) - Sender Setup - Create OKTA group & OKTA account"
## Main Objectives & Tasks:

- [x] Define the RS sender_id  --  cdphe-csvuploader
- [x] Create an OKTA group for the sender_id
- [x] Create an OKTA account using the RS Registration information.
- [ ] Verify OKTA account registration by the Sender.

[2022-01-31 13:17] rhood23699 commented on #4087
sender_id = cdphe-csvuploader

OKTA group and accounts created.

[2022-01-31 13:18] rhood23699 opened #4088 "CDPHE (CO) - Sender Setup - Create Sender Settings for Staging & PROD"
## Main Objectives & Tasks:

- [x] Locally, create and test Settings in organizations.yaml
- [x] Create the Staging & Production YAML settings files

[2022-01-31 13:20] rhood23699 opened #4089 "CDPHE (CO) - Testing - Prod/Test Internal"
## Description:
Complete testing with Sender in PROD environment while either blocking results to the STLT, or sending all results to the STLT's Test Feed.

## Main Objectives & Tasks:
- [ ]  Move all RS development to Staging & PROD.
- [ ] Make settings change to block results to the STLT, or send all results to the STLT's Test Feed.
- [ ] Validate Production data and make all necessary RS change

[2022-01-31 13:21] rhood23699 commented on #4089
N/A.  CDPHE is both the Sender and Receiver.  They will convert CSV files received from other STLTs to our CSV format for upload into their system.

[2022-01-31 13:21] #4089 closed

[2022-01-31 13:23] rhood23699 opened #4090 "CDPHE (CO) - Testing - Prod/Test External (if required by the STLT)"
## Description:
Complete full Integrated Test with the STLT if required by the STLT.

## Main Objectives & Tasks:
- [ ] Contact the STLT to setup testing with Production data in their Production environment.
- [ ] Verify which Feed the STLT wants to receive the results.  Make settings changes as-needed and deploy to PROD.
- [ ] Work directly with the STLT to complete Integrated Testing and gain ap

[2022-01-31 13:25] rhood23699 opened #4091 "CDPHE (CO) - Implement - Plan & Schedule GO LIVE"
## Main Objectives & Tasks:

- [ ] Change setting "customerStatus:" to active from testing.

- [ ] Contact RS Pipeline Team to turn on HHSProtect reporting.  **N/A.**

- [ ] Determine if there is a backlog of results.  If so, contact the STLT to determine what results are needed.  Example, in at one STLT, if a Sender has reported positives only to the STLT, then the STLT wants all COVID (positive

[2022-01-31 13:26] rhood23699 opened #4092 "CDPHE (CO) - Implement - GO LIVE & Post LIVE Review"
## Main Objectives & Tasks:

- [ ]  Monitor daily uploads for errors and contact Sender if results need to be corrected and resent.  Monitoring will typically be 1 week in duration unless issue are found.

[2022-01-31 13:47] rhood23699 commented on #4026
They haven't responded to kickoff request, but I email'd them that they are setup and ready to begin testing.

[2022-01-31 14:03] rhood23699 commented on #4057
We are ready for testing.  Waiting on OKTA account activation and the first test files.

[2022-01-31 14:19] anshulkumar-usds commented on #3045
1/31: Checked with AZ again

[2022-01-31 14:20] BerniXiongA6 commented on #3761
1.31.2022 @drew-usds is populating revised content on local environment. Will assist with Review/QA as needed. [See SharePoint working document](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Experience%20Team/Content%20design/3.%20Content%20Design%20Projects/ReportStream%20Website%20Copy%20Writing/Content%20revisions%20for%20-%20Home%20Pa

[2022-01-31 14:21] anshulkumar-usds commented on #3857
Brick followed up with CA on 1/28 - awaiting response from CA

[2022-01-31 14:23] anshulkumar-usds commented on #3954
@brick-green-agile6 we should send a couple of test messages to VT prior to releasing this to prod.

[2022-01-31 14:30] #4082 closed

[2022-01-31 14:42] anshulkumar-usds opened #4094 "MD - ELR failures for SR and "Unknown" sex"
On 1/28, MD reported that a list of ELR messages from SimpleReport that are failing (attached).

Additionally, they reported that large amount messages are showing patients' sex as "Unknown". Are users actually entering sex as Unknown or is there some kind of default?  @LGFranklin  can you respond to the second question on patient reported sex in SR?

[2022-01-31 14:43] anshulkumar-usds commented on #4094
[https://app.zenhub.com/files/304423150/45349b48-e0c6-4ac4-b2c6-a7a77d146969/download](https://app.zenhub.com/files/304423150/45349b48-e0c6-4ac4-b2c6-a7a77d146969/download)

[2022-01-31 14:45] anshulkumar-usds commented on #4078
Known issue with SR duplicate message submissions

[2022-01-31 14:50] anshulkumar-usds commented on #4079
Issue is being addressed

[2022-01-31 15:03] hermanAlexCordero commented on #3209
@loripusey I will add the new queries to the set.  The first set of queries were being reviewed with Mike before I went on vacation.  I'll update the ticket when I'm done with the new queries

[2022-01-31 15:17] whytheplatypus opened #4096 "Include send error info in detailed history response"
As a sender I want details of a failure to send my data to a receiver.

Notes:
- A failure to send data is recorded as an `action` with the name `send_error`.
- If there is no report associated with a `send_error` action currently then there will be no way to associate that action with the initial submission (so the scope would included creating an empty report and ensuring it is in the report lin

[2022-01-31 15:21] whytheplatypus opened #4098 "Include item routing info in detailed history response"
As a sender I want information on exactly which item's I've submitted have gone to which receivers.

Include item lineage information in the detailed history response. This also involves designing how that information should be represented in the response.

Notes:
- Item lineage information is stored in the item_lineage table.
- There are examples of recursive queries in the detailed history api c

[2022-01-31 15:23] whytheplatypus opened #4099 "Include download info in detailed history api"
As a sender I want information on reports that have been generated with my submission that have been downloaded by receivers.

This includes designing how this data should be presented in the API.

Notes:
- Involves `enriching` the detailed response with data from the download step, this data should already be present in the behavior as long as the report lineage is correct.

AC:
- Information on

[2022-01-31 15:28] #4088 closed

[2022-01-31 15:37] rhood23699 commented on #4086
Adrian scheduled Kickoff for 2/3/22 at 2p CT.  Main questions are:

- Where do we send test files?  There is no TEST feed in the CDPHE settings.
- Verify whether or not CDPHE intends to send other STLTs data in our CSV format?

[2022-01-31 15:51] loripusey opened #4100 "Add Link to Programmers Guide for API Sender Instructions"
## Problem Statement
Currently, the O&O team is providing a copy of the API Programmer's Guide to API end users via email. As ReportStream, we would like to make this Guide available on the website so that this email exchange is not necessary and so that end users will always have access to the most up-to-date copy.

## Acceptance Criteria
- Add a link to the API Programmer's Guide on the website'

[2022-01-31 15:52] loripusey opened #4101 "Update Content for Programmer's Guide"
## Problem Statement
The content in the API Programmer's Guide is out of date. As the ReportStream team, we need to update the content so that it matches the API functionality and we can provide accurate information when we distribute it to API end users.

## Acceptance Criteria
- Update the API Programmer's Guide so that it matches the API functionality
- Include the async progress in the API Pro

[2022-01-31 15:56] loripusey commented on #3935
@sethdarragile6 can you break this story up into individual tickets for the "must haves" so that we can look at during the next refinement

[2022-01-31 15:59] LGFranklin commented on #4094
@anshulkumar-usds
We recently updated the patient-facing options for sex assigned at birth to male, female, other, prefer not to answer. I believe the HL7 mapping for other, prefer not to answer is unknown. I'll confirm w/ the team.

[2022-01-31 16:06] Adrian-Brewster commented on #2653
Safehealth is onboarded in health. They have a prod release on their side so we should start seeing data come in this week

[2022-01-31 16:08] #3140 closed

[2022-01-31 16:09] Adrian-Brewster commented on #3432
@LGFranklin can you confirm functionality on the SR side?  Brick commented on 2913 to see what the next steps are. Thanks!

[2022-01-31 16:14] Adrian-Brewster commented on #3437
Should deploy tomorrow if blocking ticket is resolved. Imagemover will need to resend affected files.

[2022-01-31 16:16] Adrian-Brewster commented on #2473
@MauriceReeves-usds Any update on this?

[2022-01-31 16:17] JGreenFearless opened #4103 "End-User Authentication"

[2022-01-31 16:18] anshulkumar-usds commented on #2666
Anshul to check with LA if resubmissions are still needed

[2022-01-31 16:19] anshulkumar-usds commented on #3112
Anshul to follow up on email thread

[2022-01-31 16:25] anshulkumar-usds commented on #3830
@jimduff-usds has there been any movement on this with iHealth?

[2022-01-31 16:26] Adrian-Brewster commented on #3669
Mo to follow up with STRAC. If needed, we can strip it out.

[2022-01-31 16:27] anshulkumar-usds commented on #3427
WA does not need to validate. They are making PMG use SR. Still waiting on NM.

[2022-01-31 16:29] Adrian-Brewster commented on #3752
Sender still in staging.

[2022-01-31 16:31] Adrian-Brewster commented on #3973
Completed.

[2022-01-31 16:31] #3973 closed

[2022-01-31 16:33] Adrian-Brewster commented on #3968
Adrian to follow up with MS to  confirm message count.

[2022-01-31 16:35] jimduff-usds commented on #3963
During grooming on 1/31/2022, we said that we'll write tests on a case-by-case basis as we work on ingesting HCA data.

[2022-01-31 16:35] #4056 closed

[2022-01-31 16:37] anshulkumar-usds commented on #4047
Kickoff held on 1/27

[2022-01-31 16:48] smythe5 commented on #2135
Chris Winters is working on allowing contractors to get proper access and permissions to support on-call duty. He feels there will be movement soon.  In my opinion, this ticket should be closed.  Agile Six committed to having a few of our engineers join on call and we will do so once USDS is able to onboard our engineers to the systems they need.

[2022-01-31 16:53] jimduff-usds opened #4104 "Design the replacement to legacy history function endpoints"
Some of the legacy history API functions can now be replaced by the new Submissions History API, but not all.

There are current these use cases for the legacy history API:
1. Get a list of reports available for download.
1. Get details about one specific report.
1. Perform a download of one report.
1.  Get the facilities associated with a Report.  (Data is in the covid_result_metadata table)

Des

[2022-01-31 16:54] #1879 closed

[2022-01-31 16:55] Adrian-Brewster commented on #2191
Cle is this completed?

[2022-01-31 16:56] #2266 closed

[2022-01-31 16:58] Adrian-Brewster commented on #3525
Anshul to schedule convo to brainstorm this issue

[2022-01-31 17:00] jimduff-usds opened #4105 "Version the submission APIs so that we can transition Senders from old response format to new"

[2022-01-31 17:13] rhood23699 opened #4106 "OO/CSV Uploader-Set processing mode from settings table"
## Problem statement
The CSV schema (upload-covid-19.schema) is not using mapper: useSenderSetting(**processingModeCode**) to set the processing_mode_code element.

The schema is not setup to accept processing_mode_code as a field in the CSV file and override the settings table value.

RS DATETIME fields like order test date and specimen collection date are currently setup to accept only DATE valu

[2022-01-31 17:21] JGreenFearless opened #4107 "Security"

[2022-01-31 17:29] JGreenFearless opened #4108 "Tech Debt"

[2022-01-31 17:30] JGreenFearless opened #4109 "Security / Authentication"

[2022-01-31 17:30] cwinters-usds opened #4110 "Create/update incident template as appropriate"
Current items here:

https://cdc.sharepoint.com/:f:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Incidents?csf=1&web=1&e=MsKNZQ

[2022-01-31 17:35] clediggins-usds commented on #2191
@Adrian-Brewster nearly done, ready for review now. Assuming no blocking issues, should be merged after the review scheduled for tomorrow.

PR: https://github.com/CDCgov/prime-reportstream/pull/3951

[2022-01-31 17:35] #4103 closed

[2022-01-31 17:36] #4107 closed

[2022-01-31 18:13] JGreenFearless opened #4111 "Azure Function Workflow Improvements"
This epic covers a variety of improvements needed to the ReportStream Workflow from Reports -> Batch -> Send -> Download, as well as the supporting cross-cutting features of Settings and Lineage/History/Audit trail.

Key features include (work is tracked in individual tickets, not here)

Tracking which Setting versions were used to create reports.
Using ItemLineage to provide visibility into data

[2022-01-31 18:24] carlosfelix2 opened #4112 "Detect mapper circular dependency on schema load"
As an administrator, I want the schema to inform me if there is a mapper circular dependency, so I can fix the issue.

Acceptance criteria:
1. An error is thrown at schema load time if a mapper has a circular dependency (a mapper depends on an element that has a mapper that also depends on the first element).

[2022-01-31 18:25] carlosfelix2 opened #4113 "Merge release notes into one file instead of many"
Merge release notes into one file instead of many

Acceptance criteria:
1. Release notes are listed in one file with newest first.

[2022-01-31 18:25] carlosfelix2 opened #4114 "Merge release notes into one file instead of many"
Merge release notes into one file instead of many

Acceptance criteria:
1. Release notes are listed in one file with newest first.

[2022-01-31 18:25] #4114 closed

[2022-01-31 18:34] #4111 closed

[2022-01-31 18:57] JGreenFearless opened #4115 "Measure the ReportStream net promoter score with STLTs (both CDC defined and counties)"

[2022-01-31 19:24] kevinhaube commented on #3921
This seems to be taken care of. Within our staging code (`master` branch) we don't currently have anything conditionally showing `warnings` from our JSON response.

[2022-01-31 19:29] JGreenFearless opened #4117 "Dev/Engineer Onboarding"

[2022-01-31 20:21] anshulkumar-usds commented on #3045
AZ confirmed delivery.

[2022-01-31 20:21] #3045 closed

[2022-01-31 21:00] Adrian-Brewster opened #4118 "ND - Missing LOINC Codes"
**Describe the bug**
On 01/30/2022, ND  received two reports through Prime with no LOINC code from CHI St. Alexius Urgent Care on Main
68e2a4f4-66b6-43f6-a8b7-7f103f6a040f
84aca33b-fda2-4a50-9c80-c147b9ae1244

[2022-01-31 21:09] cwinters-usds commented on #3722
Will be trying out a couple of indexes this evening, doing timing queries and explains before and after, which I'll post here. Also these use the `brin` index ([more here](https://www.postgresql.org/docs/11/brin-intro.html)) but I'll experiment with that and the default `btree` as well.

[code]

[2022-01-31 21:15] cwinters-usds commented on #3619
Merged as part of https://github.com/CDCgov/prime-data-ingestion/pull/4

[2022-01-31 21:15] #3619 closed

[2022-01-31 21:16] cwinters-usds commented on #3899
This was approved and implemented by the firewall team on Jan 24

[2022-01-31 21:16] #3899 closed

[2022-01-31 21:18] rhood23699 opened #4119 "CSV Sender Onboarding"
Epic for tracking the onboarding of Senders using the CSV Uploader.

[2022-01-31 21:22] rhood23699 opened #4120 "SDI Labs - CSV Uploader Onboarding"
## Standard Tasks / Onboarding Steps:

**Initial Interest & Follow Up:**
**Sender Setup:**
          - Create OKTA group & OKTA account
          - Create Sender Settings for Staging & PROD
**Testing**
          - Prod/Test Internal
          - Prod/Test External (if required by the STLT)
**Implementation**
          - Plan & Schedule GO Live
          - GO LIVE and Post LIVE Review

[2022-01-31 21:31] sethdarragile6 opened #4121 "Admin Settings: allow edit of top-level organization"
## Problem statement

Currently in Admin Settings , top-level organization information is solely displayed in a read-only fashion. This information needs to be editable by admins (except for the "Meta" information, which should remain read-only).

![image](https://user-images.githubusercontent.com/92405130/151874722-8a588f60-c6c5-4461-ab90-3e2d63f0f823.png)

## Acceptance criteria

- [ ] Descripti

[2022-01-31 21:40] brick-green-agile6 commented on #3954
Just made the update to the the secondary feed and pinged VT for review

[2022-01-31 21:43] sethdarragile6 opened #4122 "Admin Settings: add back button to org edit page"
## Problem statement

Currently after the user chooses an organization to edit, there is no explicit way to navigate back to the main page- one has to use the browser's back button or reselect Admin-->Organization Settings from the top menu. Need to have a back button to make it simple.

## Design
May want to use the USDS Design System bread crumb component
https://designsystem.digital.gov/

Examp

[2022-01-31 21:52] sethdarragile6 commented on #3935
@loripusey this is done now, sorry for the delay. Must-haves boil down to

- #3970
- #4121
- #4122

[2022-01-31 22:02] brick-green-agile6 opened #4123 "OTC Default"
Coordinate OTC defaulting

[2022-01-31 22:04] #4123 closed

[2022-01-31 22:06] jorg3lopez commented on #2634
@Adrian-Brewster @Adrian-Brewster Submitted test result to MA with specimen id of `d48bf41a-b686-42bd-8c25-17e0f91591c1`
File name: prime-20220131215206

[2022-01-31 22:35] brick-green-agile6 commented on #3437
@anshulkumar-usds The fix was deployed on friday. ImageMover does not need to send the field test_result_status in their files. They only need to fill the correctedTestID field with the testID of the previous message. Let me know if i should reach out to IM on this.

[2022-01-31 22:52] brick-green-agile6 opened #4124 "Translation property for OTC defaults"
## Problem statement

Need to provide default values for OTC results.

## What you need to know

**Message Header and Other**

- Sending Facility Name (MSH-4.1) = “PRIME OTC“
- Sending Facility ID (MSH-4.2) = “0OCDCPRIME”
- All other CLIA fields Put same as MSH 4.2
- Message Profile Identifier (MSH 21.1) = “PHLabReport-NoAck”
- Result Status (OBX-11, OBR-25) = “R”
- NTE = Send organization name

*

[2022-02-01 02:20] drew-usds commented on #3901
@rhood23699 looking at [your updated doc](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B0BEE0446-8E4F-4736-BD60-4831FB1D75EC%7D&file=CSV-StandardFileFormatAndNotes-v2.docx&action=default&mobileredirect=true&cid=94a9560d-73e6-4b68-9e8c-fddb951e27f9) there are two new sections at the bottom:

- Reporting Facility Data Elements
- Misc Data Elements

I'm assuming t

[2022-02-01 02:22] cwinters-usds commented on #3722
The first one took ~2.5 minutes to be created:

[code]

Before:

[code]

After:

[code]

[2022-02-01 02:29] cwinters-usds commented on #3722
The second one also took a while to create:

[code]

Before:

[code]

After:

[code]

[2022-02-01 02:46] drew-usds commented on #4008
This is drafted in PR #4125

[2022-02-01 02:47] drew-usds commented on #3901
This is drafted in PR #4125

[2022-02-01 02:47] drew-usds commented on #4041
This is drafted in PR #4125

[2022-02-01 04:52] #4064 closed

[2022-02-01 12:36] rhood23699 commented on #3901
Sorry for the late response.  Yes, Reporting Facility Data and Misc Data Elements are internal to RS.

[2022-02-01 13:15] rhood23699 commented on #4120
1/27/22 - Adrian sent the kickoff meeting request.

[2022-02-01 13:18] rhood23699 commented on #4120
1/31/22 - OKTA group & account setup.
1/31/22 - Received email that OKTA account was activated.  Responded that we are ready to test and offered to answer any questions.

[2022-02-01 13:19] rhood23699 commented on #4120
1/31/22 - Create YML files for Staging & PROD and created the PR for deployment, but went ahead and updated Staging & PROD with the YML files.

[2022-02-01 13:21] #4060 closed

[2022-02-01 13:21] #4057 closed

[2022-02-01 13:21] #4059 closed

[2022-02-01 13:21] #4058 closed

[2022-02-01 13:21] #4054 closed

[2022-02-01 13:21] #4055 closed

[2022-02-01 13:22] rhood23699 commented on #4053
Closed this EPIC and all Issues.  We are now tracking this Sender under EPIC/Issue #4119.

[2022-02-01 13:22] #4053 closed

[2022-02-01 13:26] rhood23699 opened #4126 "Source BioScience - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Source Bioscience in CA
- RS sender_id: sourcebioscience_ca

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest  --  1/13/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov/terms-of-service
                 - https://reportstre

[2022-02-01 13:35] rhood23699 commented on #3847
N/A.  Moved to single schema.

[2022-02-01 13:35] #3847 closed

[2022-02-01 13:40] rhood23699 commented on #4126
1/13/22 - Adrian has kickoff schedule for 1/13/22 at 4p CT.

[2022-02-01 13:41] rhood23699 commented on #4126
1/13/22 Kickoff meeting completed. Source BioScience will contact their I/T in the UK to get started. They did confirm receipt of the OKTA registration email, but they have completed the registration yet.

[2022-02-01 13:42] rhood23699 commented on #4126
1/19/22 Source Bio reported that their activation email says expired. I've asked them to contact me because the email shouldn't expire for 90 days.

Added two more OKTA accounts and sent the activation emails.

[2022-02-01 13:43] rhood23699 commented on #4126
1/24/22 On the third activation email resend, the first account has been successfully activated. The 2 additional accounts have been resent, but are still pending activation.

[2022-02-01 13:43] rhood23699 commented on #4126
1/26/22 One OKTA account has been activated which is enough for testing. The other users can contact us whenever they like.

[2022-02-01 13:48] #3841 closed

[2022-02-01 13:48] #3842 closed

[2022-02-01 13:48] #3843 closed

[2022-02-01 13:48] #3840 closed

[2022-02-01 13:48] #3839 closed

[2022-02-01 13:49] rhood23699 commented on #3835
Closed this EPIC and all related Issues.  Moved all info to EPIC/Issue #4119.

[2022-02-01 13:49] #3835 closed

[2022-02-01 13:54] rhood23699 opened #4127 "Naval Health Clinic Lemoore - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Naval Health Clinic Lemoore, CA
- Type of Sender: Military Laboratory
- RS sender_id: naval-health-clinic-lemoore

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest  --  12/29/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov

[2022-02-01 14:01] rhood23699 commented on #4127
1/24/22 -  Moving forward with OKTA and testing with Michelle, but I haven't closed this because I believe you are waiting on the TOS to be completed.

[2022-02-01 14:05] rhood23699 commented on #4127
1/27/22 - Completed the addition to the new Single Schema.

2/1/22 - Supposed to have email'd them to send test file on 1/27/22, but I made an error configuring the singel Schema, so after the 2/1/22 deployment, I email requesting test files

[2022-02-01 14:06] #3912 closed

[2022-02-01 14:06] #3915 closed

[2022-02-01 14:07] #3914 closed

[2022-02-01 14:07] #3913 closed

[2022-02-01 14:07] #3908 closed

[2022-02-01 14:07] #4045 closed

[2022-02-01 14:08] #3907 closed

[2022-02-01 14:11] rhood23699 opened #4128 "Vivature - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Vivature in TX
- Type of Sender: Commercial Laboratory
- RS sender_id: vivature-tx

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest.
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov/terms-of-service
                 - https://r

[2022-02-01 14:12] rhood23699 commented on #4128
1/24/22 - Adrian set the Std Kickoff Meeting request.

[2022-02-01 14:13] rhood23699 commented on #4128
1/26/22 Assigned sender_id as "vivature-tx". Even though CA-DPH referred this Sender, I used the prefix "-tx" because they are out of Texas and may send results for multiple STLTs.

Will start the OKTA group & account creation today.

1/26/22 Created the OKTA group "DHSender_vivature-tx". The OKTA account already existed for the user. I added the ReportStream application to the OKTA account.

[2022-02-01 14:15] rhood23699 commented on #4128
1/26/22 Create the yml settings files and completed PR#: 4034 to add Vivature as a CSV Uploader Sender.

[2022-02-01 14:16] #4027 closed

[2022-02-01 14:16] #4028 closed

[2022-02-01 14:16] #4029 closed

[2022-02-01 14:16] #4026 closed

[2022-02-01 14:16] #4023 closed

[2022-02-01 14:17] rhood23699 commented on #4021
Closed this EPIC and all related Issues.  Moved to EPIC/Issue #:4119

[2022-02-01 14:17] #4021 closed

[2022-02-01 14:19] rhood23699 opened #4129 "CDPHE (Colorado DPH) - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Colorado Dept of Public Health & Environment (CDPHE)
- Type of Sender: State Public Health
- RS sender_id: cdphe-csvuploader

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 1/28/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream

[2022-02-01 14:22] rhood23699 commented on #4129
1/31/22 Adrian scheduled Kickoff for 2/3/22 at 2p CT.  Main questions are:

- Where do we send test files?  There is no TEST feed in the CDPHE settings.
- Verify whether or not CDPHE intends to send other STLTs data in our CSV format?

[2022-02-01 14:23] rhood23699 commented on #4129
1/31/22 sender_id = cdphe-csvuploader

OKTA group and accounts created.

[2022-02-01 14:25] rhood23699 commented on #4129
1/31/22 Completed YML files and testing.  Created PR to be deployed on 2/1/22; but the YML settings have been applied to Staging & PROD including updating cliaForSender in the CA-DPH feed.

[2022-02-01 14:28] #4092 closed

[2022-02-01 14:28] #4090 closed

[2022-02-01 14:29] #4091 closed

[2022-02-01 14:29] #4086 closed

[2022-02-01 14:29] #4087 closed

[2022-02-01 14:30] rhood23699 commented on #4085
Closed this EPIC and related Issues.  Moved to EPIC/Issue #: 4119

[2022-02-01 14:30] #4085 closed

[2022-02-01 14:36] rhood23699 opened #4131 "CA-DPH - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: California Dept of Public Health (CA-DPH)
- Type of Sender: State Public Health
- RS sender_id: cadph-csvuploadertest

## Initial Interest & Follow Up
- [x] Send Std CSV links.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov/terms-of-service
                 - https://reportstream.cdc.gov/sign-tos

[2022-02-01 14:38] rhood23699 commented on #4131
1/19/22 One OKTA account setup and activation email sent. One OKTA account already existed and was Staged. I activated it.

[2022-02-01 14:39] rhood23699 commented on #4131
1/27/22 Changed from the child schema to the new single CSV schema.

[2022-02-01 14:45] rhood23699 commented on #4131
2/1/22 Changes to schema to use the new DATETIME validation will be deployed on 2/3/22.

[2022-02-01 14:45] #3867 closed

[2022-02-01 14:46] rhood23699 commented on #3862
Closed this EPIC and all related issues.  Moved to EPIC/Issue #: 4119

[2022-02-01 14:46] #3862 closed

[2022-02-01 15:35] #2140 closed

[2022-02-01 15:38] #2674 closed

[2022-02-01 15:39] #2112 closed

[2022-02-01 15:39] #2139 closed

[2022-02-01 15:40] #2141 closed

[2022-02-01 15:48] Adrian-Brewster commented on #4118
More affected files:
91c1cc66-2073-48aa-96ab-c64182e80b5a
b8313b7d-b43a-4748-8e5e-dd6bc652d64c
2484795f-52d8-41ac-8a25-ba369109924a
775ac246-adbd-4230-892e-505b80f8c205
24fcdc60-90aa-4323-82fd-16cc64cb4e58
cca7030f-809d-43fd-877b-4b41157bc286
7f7c3fa8-eafb-491d-8ac3-81fec530ce1e

[2022-02-01 16:11] anshulkumar-usds commented on #2666
@jorg3lopez LA still wants the resubmissions completed. They are requesting that if the files are sent in batches, that the batch size does not exceed 1000 kb.

[2022-02-01 16:20] anshulkumar-usds commented on #4079
OH has requested we resubmit all failed messages with valid LOINCs and new message IDs
"Ideally, we would like to receive only the corrected results with valid LOINC codes with new message control IDs then than their original values so they do not fail."

[2022-02-01 16:26] anshulkumar-usds opened #4132 "GU - Duplicate Submissions (Failures from 1/30)"
GU reported duplicates and failures. Attached is the list of all messages that need to be resubmitted to GU with valid LOINCs

[https://app.zenhub.com/files/304423150/5376aced-e217-4536-9d68-eadcd3a7ddf2/download](https://app.zenhub.com/files/304423150/5376aced-e217-4536-9d68-eadcd3a7ddf2/download)

[2022-02-01 16:28] Adrian-Brewster commented on #4118
ND confirmed they want messages resent.

[2022-02-01 16:28] anshulkumar-usds opened #4133 "TN - Duplicate Submissions (Failures from 1/30)"
TN reported failures due to duplicates received on 1/30. Awaiting further instructions from TN on which messages to resubmit.

[2022-02-01 16:31] anshulkumar-usds opened #4134 "MS - Duplicate Submissions (Failures from 1/30)"
MS reported failures due to duplicate submissions on 1/30.

MS has requested we resubmit ALL results with valid LOINCs to correct this.

Please share file names for resubmissions so they can be tracked by the STLT.

[2022-02-01 16:43] anshulkumar-usds opened #4135 "WA - Duplicate Submissions (Failures from 1/30)"
WA reported failed messages due to duplicate submissions on 1/30.

WA wants us to inform them of the count and message ids for positive and negative results before any resubmissions are attempted.

[2022-02-01 16:55] Adrian-Brewster opened #4136 "IL - BHS Precision Enhancement Request"
**Describe the bug**
Illinois is having an issue because they use the time stamp in the BHS as a unique key and some of our files have the same time stamp so they are getting kicked out.  They initially thought they were more duplicates, but it looks to be a time stamp issue. They are requesting that we create a BHS down to seconds.  Apparently this is a common practice for them with other senders

[2022-02-01 17:37] #3890 closed

[2022-02-01 17:53] jimduff-usds opened #4138 "Develop a test plan for testing "Full ELR" data conversion"
As a developer, I need a way to test the conversion of full-ELR data (FHIR->HL7 and HL7->FHIR), so tests can be run for development and I know the conversions still work as expected.  This issue is to come up with a plan for such tests.

### AC

This is just a thinking ticket.  So the AC is that we have a set of stories/tickets written to do basic testing on the FHIR engine and Full ELR.

### Othe

[2022-02-01 18:21] Adrian-Brewster commented on #3968
MS is now requesting to have these messages resent along with all messages from Pearl River County Jail for the same date range.

[2022-02-01 18:25] brick-green-agile6 commented on #3968
Additional information from MS:
- Lamar County Detention Facility: Reporting 198 tests submitted via Simple Reports, NBS showing only 138 tests.

- Pearl River County Jail: Reporting 298 tests submitted via Simple Reports, NBS showing only 208 tests.

[2022-02-01 19:03] brick-green-agile6 commented on #4134
Going to ask Zedd to resend these results from SR. After they run I can gather the file names. [Uploading... MS - Message ID Resend.csv]

[2022-02-01 19:29] TomNUSDS opened #4140 "Fully onboard `DHPrimeAdmins` organization in staging and production"
We need an fully onboarded organization that is used as Prime Admins' default when they log into the server.

- [x] `DHPrimeAdmins` needs to exist in Okta and Okta Preview
- [ ] `PrimeAdmins` is the human readable Organization name.
- [ ] Add existing admins to this organization
- [ ] When there is an admin login default to this organization. (And fail in a reasonable way if the user is an admin b

[2022-02-01 19:29] victorialb-usds commented on #3647
https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Pilots/CSV%20Uploader/Experience%20Research_CSV%20flat%20file%20upload%20December%202021%20ongoing/New%20Mexico%20discovery%20research%20flat%20file%20upload%20December%202021/2022.1.4.NMDOH_discovery%20call_Carmela%20and%20Jordyn/New%20Mexico_discovery%20call%20%232_synthesis_1.4.21.docx?d=w420ca7b9a1a5441d82

[2022-02-01 19:33] TomNUSDS opened #4142 "Improve Admin's Organization dropdown for large amounts of data"
Since this is an admin-only UI, we don't need formal design. Maybe something similar to what github does with selecting Estimate or a Project in a ticket?

<img src="https://user-images.githubusercontent.com/74203452/152037927-e47e38d8-ab47-48aa-993a-09de33d3d137.png" width="200em">

Since this is an internal-only UI, strict USWDS isn't required initially.

Part of this is probably to make the cal

[2022-02-01 19:33] jimduff-usds commented on #2902
So far, this additional retry work has not been needed.

[2022-02-01 19:39] jimduff-usds commented on #1335
Same as #1688 ???

[2022-02-01 19:39] jimduff-usds commented on #1688
Same as #1335 ???

[2022-02-01 19:42] cwinters-usds commented on #3722
To address the criteria laid out by @jimduff-usds:

1. This query:

[code]

now takes 2.6 sec the first time, 300 ms the second time.

2. The "Last mile problems in the last three days" query in metabase, which I think translates to a count query of:

[code]

now runs in 26ms (but I didn't test before applying the index). But the query in metabase returns pretty quickly (within a few seconds), so

[2022-02-01 20:11] Adrian-Brewster commented on #4133
TN responded. They want all messages not sent to TN due to missing LOINC or invalid LOINC to be sent/resent including the two below:
137e9089-31e1-4fbb-8226-7c2923d0d5d7
2ab908ed-3133-4606-b058-a72685587312

[2022-02-01 20:14] #3810 closed

[2022-02-01 20:14] #3813 closed

[2022-02-01 20:15] #3814 closed

[2022-02-01 20:15] #3827 closed

[2022-02-01 20:15] #3828 closed

[2022-02-01 20:15] #3829 closed

[2022-02-01 20:15] #3832 closed

[2022-02-01 20:16] rhood23699 commented on #3797
Closed.  No longer using this CSV Uploader Template.  All CSV Sender Onboarding is now under Issue #: 4119

[2022-02-01 20:16] #3797 closed

[2022-02-01 20:22] rhood23699 commented on #4127
2/1/22  Michelle was confused by my email asking for CA residences only.  Explained the reason why was that we were still working to exclude TEST results for accidentally going to States' PROD feed.  We also confirmed that they will send the "current" stationed at military address instead of the patient's "Home of Record" address.

[2022-02-01 20:26] #4113 closed

[2022-02-01 20:42] victorialb-usds commented on #3436
Awaiting feedback on this estimated Wednesday 2/2 to get feedback.

[2022-02-01 20:43] victorialb-usds commented on #3975
@rachelhanster and @loripusey can we schedule something this or next week.

[2022-02-01 20:48] TomNUSDS commented on #2561
Results:
- Started wider discussion with USDS map/address experts about other agencies' solutions:
  - USPS api
  - USPS offline database
  - Postgres, postgis has some address verification feature.
  - SmartyStreets has a good API but it's online and is rate limited for
- USPS has an API but it's not as robust as SmartyStreets. USPS
- We have a CDC SmartyStreets license via SimpleReport we can us

[2022-02-01 20:51] loripusey commented on #3369
Validate if we are waiting on the API for this?

[2022-02-01 20:52] victorialb-usds commented on #3782
To do: synthesize what we have and break up future tickets by sender.

[2022-02-01 20:58] loripusey commented on #3635
@loripusey @rachelhanster We need to rethink this epic in light of getting away from OKTA

[2022-02-01 21:27] #3433 closed

[2022-02-01 21:27] #3700 closed

[2022-02-01 21:27] #3794 closed

[2022-02-01 21:27] #3888 closed

[2022-02-01 21:27] #3889 closed

[2022-02-01 21:27] #3892 closed

[2022-02-01 21:27] #3933 closed

[2022-02-01 21:27] #4074 closed

[2022-02-01 21:44] anshulkumar-usds commented on #4033
@brick-green-agile6 can this be closed?

[2022-02-01 21:46] anshulkumar-usds commented on #3809
Still need ImageMover to resubmit the following:
[code]

I will follow up with sender.

[2022-02-01 21:50] anshulkumar-usds commented on #3437
@brick-green-agile6 I contacted IM with your instructions. Thanks,

[2022-02-01 21:55] #4106 closed

[2022-02-01 22:04] anshulkumar-usds opened #4143 "MD - Duplicate Submissions (Failures from 1/30"
MD reported failures due to duplicate submissions on 1/30.

Messages that need to resubmitted are attached.

[https://app.zenhub.com/files/304423150/92cba95f-c579-4a4e-a6f5-b92689284d46/download](https://app.zenhub.com/files/304423150/92cba95f-c579-4a4e-a6f5-b92689284d46/download)

[2022-02-01 22:15] anshulkumar-usds commented on #4079
OH also sent us additional failures they saw on 1/31. These need to be added to our backlog of resubmissions. Please see attached.

[https://app.zenhub.com/files/304423150/c172ecf9-e8ad-42fd-8e8f-c58e787b0312/download](https://app.zenhub.com/files/304423150/c172ecf9-e8ad-42fd-8e8f-c58e787b0312/download)

[2022-02-01 23:35] TomNUSDS opened #4144 "[Bug]: On Submission history, Next, Next, Next, Prev, Next fails"
1. Log in as an admin
2. Switch to the `ignore` organization from the dropdown.
3. Switch to the `Submissions` tab.
4. Make note of the topmost item on each page as you navigate.
5. Click, Next, Next, Next, Prev, Next
Result: you land on the wrong page.

[2022-02-02 02:44] TomNUSDS commented on #1493
@jimduff-usds You're right, it does seem unrelated. I probably just put a comment on the wrong open tab.

[2022-02-02 13:02] jimduff-usds commented on #2794
This problem occurred 14 times in the last 3 days, for oh-doh, and now nm-doh, which I had not seen before.

Here's the full exception:
[code]

[2022-02-02 13:51] JGreenFearless commented on #4138
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4138?planning-poker) with ZenHub @carlosfelix2 @jimduff-usds @oslynn @smythe5 @whytheplatypus @jh765

[2022-02-02 14:02] anshulkumar-usds commented on #2320
@Adrian-Brewster, Leslie reached to me and mentioned Zedd from her team can help with this. WA expressed a need for this as well.

cc @LGFranklin

[2022-02-02 14:32] #2265 closed

[2022-02-02 14:34] jimduff-usds commented on #2134
We are doing this with HCA, not inBios.

[2022-02-02 14:34] #2134 closed

[2022-02-02 14:43] MauriceReeves-usds commented on #4143
Working on this now.

[2022-02-02 14:56] MauriceReeves-usds commented on #4143
Requested resubmit from Zedd on SR. Moving to internal review/QA.

[2022-02-02 15:24] anshulkumar-usds commented on #4132
@jbiskie Similar to what Mo did with MD, we can share the GU accession IDs with Zedd in SR team for resubmissions. Not sure how far you may have gotten on this, but consider this as an option. You can share this list in slack thread with Zedd.

[2022-02-02 15:24] anshulkumar-usds commented on #4078
2/2: @MauriceReeves-usds I am checking with IL again on how they would like to receive resubmissions. For now, please prioritize positives with corrected LOINCS.

[2022-02-02 15:27] anshulkumar-usds commented on #4135
Prior to any resubmissions are done, WA would like us to send them a spreadsheet with accessions IDs for positive and negative results along with respective LOINCs so they can assess the extent of the issue. Please organize this spreadsheet by positive and negative results separately as WA treats this as distinct workstreams in their systems.

After WA reviews this, their preliminary preference is

[2022-02-02 15:40] anshulkumar-usds opened #4145 "Distribution Lists for Receivers and Senders"
Let's work on creating shareable distribution lists for all of our receivers and senders. This will come handy for release notes, bug fixes, and disruption in service announcement.

fyi @MauriceReeves-usds @sarahnw

[2022-02-02 15:42] anshulkumar-usds opened #4146 "NJ - Duplication Submissions (Failures from 1/30)"
NJ reported failures due to duplicates received on 1/30. Awaiting further instructions from NJ on which messages to resubmit.

[2022-02-02 15:44] anshulkumar-usds opened #4147 "Globally Reduce Batch Size Limits for STLTs"
On 2/2, NJ requested that we limit the file size to under 5000 messages.

NJ pointed to one example file that contained 20,000 messages and caused memory issues in their system:

covid-19-3ba2e765-b06b-4eb0-a36c-f35aba199eb7-20220130143723.hl7

**Ticket title, description and scope updated on 2/15**

We should consider reducing batch sizes for all states, and make this a global change across Repor

[2022-02-02 15:48] loripusey opened #4148 "Colorado Sender Research - COVIDCheck Colorado"
## Problem statement
We have done discovery calls with States and now need to understand the processes for submitting data to understand the other side of the user dyad. We will also assess if senders are a good fit for ReportStream CSV upload pilot or SR.

- [ ] COVIDCheck Colorado

## What you need to know
(1) Email template to send to sender or to PHD to send to senders: https://cdc.sharepoint.

[2022-02-02 15:49] loripusey opened #4149 "Colorado Sender Research - Warrior - Interim"
post production check in
- [x] locate existing notes on sender or create new set of notes in CSV upload pilot folder, experience folder, in the state of referral (e.g. Colorado) make a new folder State_sender_name of new sender
- [x] reach out and schedule 30 minute call to answer interim questions in the [shared interim notes](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?

[2022-02-02 15:50] loripusey opened #4150 "Colorado Sender Research - Summit"
## Problem statement
We have done discovery calls with States and now need to understand the processes for submitting data to understand the other side of the user dyad. We will also assess if senders are a good fit for ReportStream CSV upload pilot or SR.

- [ ] Summit (no response)

## What you need to know
(1) Email template to send to sender or to PHD to send to senders: https://cdc.sharepoint

[2022-02-02 15:53] anshulkumar-usds opened #4151 "NH - Duplicate Submissions (Failures from 1/30)"
Checking with NH to see if they have a need for resubmissions and which options suites them best.

[2022-02-02 15:53] jbiskie commented on #4132
Thanks, that makes things a lot easier than I thought they would be. So do we only need to manually resubmit those that didn't come from SR?

[2022-02-02 15:56] anshulkumar-usds opened #4152 "VT - Duplicate Submissions (Failures from 1/30)"
Checking with VT to ensure they saw the notification and what preference they might have around resubmissions.

[2022-02-02 15:56] anshulkumar-usds opened #4153 "VT - Duplicate Submissions (Failures from 1/30)"
Checking with VT to ensure they saw the notification and what preference they might have around resubmissions.

[2022-02-02 15:57] brick-green-agile6 commented on #4133
Requested resend from Zedd for these results:

**message_id**
[code]

[2022-02-02 15:57] #3345 closed

[2022-02-02 15:57] #3506 closed

[2022-02-02 15:58] #3567 closed

[2022-02-02 15:58] #1458 closed

[2022-02-02 15:58] #3295 closed

[2022-02-02 15:58] #3579 closed

[2022-02-02 15:58] #2713 closed

[2022-02-02 15:58] #3527 closed

[2022-02-02 15:58] #3399 closed

[2022-02-02 15:58] #3580 closed

[2022-02-02 15:58] #3271 closed

[2022-02-02 15:58] #3175 closed

[2022-02-02 15:58] #3125 closed

[2022-02-02 15:58] #3728 closed

[2022-02-02 15:58] anshulkumar-usds commented on #4132
AFAIK, the duplicates all came from SR, so this might be as easy as asking SR team to resubmit the messages on this list.

[2022-02-02 15:58] #3157 closed

[2022-02-02 15:58] #1733 closed

[2022-02-02 15:58] #3381 closed

[2022-02-02 15:58] #3383 closed

[2022-02-02 15:58] #3378 closed

[2022-02-02 15:58] #3380 closed

[2022-02-02 15:58] #3860 closed

[2022-02-02 15:58] #3231 closed

[2022-02-02 15:58] #3765 closed

[2022-02-02 15:58] #343 closed

[2022-02-02 15:58] #3180 closed

[2022-02-02 16:17] brick-green-agile6 commented on #4133
The 5 results above only solve the LOINC code issue. Will work to find all results failed due to duplication issue.

[2022-02-02 16:29] brick-green-agile6 commented on #4134
Zedd is still working on the resend:

"btw the list you shared yesterday is still in flight, will have to make a minor code change, will let you know when that is done"

[2022-02-02 16:31] loripusey opened #4155 "California Sender Research - Martinez clinic"
## Problem statement
We have done discovery calls with States and now need to understand the processes for submitting data to understand the other side of the user dyad. We will also assess if senders are a good fit for ReportStream CSV upload pilot or SR.

## Acceptance Criteria
- [ ] discovery call with Martinez clinic - no response

## What you need to know
(1) Email template to send to sender

[2022-02-02 16:31] #3782 closed

[2022-02-02 16:33] drew-usds opened #4156 "Update homepage layout with new sender content"
## Problem statement

This is spun out of #3348.

RS is currently not communicating what we offer for senders on our homepage.

## What you need to know

[Content document](https://cdc.sharepoint.com/:w:/t/USDSatCDC/Ee6kAtuIKlxEsNQwaeiUcpIBMt29ktZNxmdSW_qRmyW8Fw?e=W0dTCU)
- Incorporate feedback/notes from Product at top of doc

## Acceptance criteria

- [ ] Homepage Layout is updated to capture hi

[2022-02-02 16:35] #2859 closed

[2022-02-02 16:38] loripusey opened #4157 "Zip Code Validation"
## Problem Statement
**High Level Issue:**
The CSV uploader is returning confusing error messages that are not helpful for the user to understand the problem with their file.
Issue scope: All-in-One Health Sender in Staging using the all-in-one-health-ca-covid-19.schema
**Example:**
The all-in-one-health-ca-covid-19 schema uses the mapper function zipCodeToCounty to create the element patient_coun

[2022-02-02 16:40] loripusey commented on #4157
@rachelhanster I created an Epic just to handle zip code validation and moved the SPIKE ticket here; we probably need to evaluate @TomNUSDS's results from the SPIKE and decide what work we need to do to move us forward

[2022-02-02 16:44] #2561 closed

[2022-02-02 16:48] #3992 closed

[2022-02-02 16:48] #3991 closed

[2022-02-02 16:50] rhood23699 opened #4158 "Core Bio Labs - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Core Bio Labs
- Type of Sender: Commercial Laboratory
- Location: OH
- RS sender_id: corebiolabs-oh

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 2/2/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov/terms-of-service

[2022-02-02 16:55] loripusey opened #4159 "Research Synthesis for Design"

[2022-02-02 16:56] loripusey commented on #4159
@inkandsound please add AC, maybe use other synthesis stories as a template

[2022-02-02 17:33] JGreenFearless commented on #3253
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/3253?planning-poker) with ZenHub @jimduff-usds @smythe5 @whytheplatypus @oslynn @carlosfelix2 @jh765

[2022-02-02 17:34] JGreenFearless commented on #1793
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/1793?planning-poker) with ZenHub @jimduff-usds @smythe5 @whytheplatypus @oslynn @carlosfelix2 @jh765

[2022-02-02 17:35] JGreenFearless commented on #3963
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/3963?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-02 17:35] JGreenFearless commented on #2249
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/2249?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-02 17:35] JGreenFearless commented on #2684
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/2684?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-02 17:36] JGreenFearless commented on #2685
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/2685?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-02 18:34] loripusey opened #4160 "Ticketing Tool for End Users"
## Problem Statement
As the O&O team, when our users report issues to us, we need a way to let them know where their issues are in our list of priorities and understand how and when they get resolved so that can provide excellent customer service to them.

## Background Info
[Mural board](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1643814910324/dfb5ed0e10d45cbac2356ec9c4178f94d

[2022-02-02 18:35] loripusey commented on #4160
@anshulkumar-usds @Adrian-Brewster @sarahnw Please add your list of wants for this tool
cc: @rachelhanster

[2022-02-02 19:02] loripusey commented on #3934
@sethdarragile6 can you add story points to this bug?

[2022-02-02 19:08] #3288 closed

[2022-02-02 19:11] #3985 closed

[2022-02-02 19:15] loripusey opened #4161 "Design Solution for Zip Code Validation"
# RECOMMENDATIONS
1. For schemas that need the zipCodeToCounty mapper or anything else that relies on the zip_code element, make the `zip_code` element required by using the `cardinality: ONE` property on the element
2. For schemas that do not have `zip_code` as required, do not make elements that use the `zip_code` required by using the `cardinality: ZERO_OR_ONE` property
3. Senders can send in z

[2022-02-02 19:18] anshulkumar-usds commented on #4146
NJ did not indicate any need for resubmissions. Message from NJ:

"If you sent duplicate messages, our system would have flagged them as such, and won’t be processed (except for the first one)."

[2022-02-02 19:18] #4146 closed

[2022-02-02 19:23] anshulkumar-usds opened #4162 "WY - Duplicate Submissions (Failures from 1/30)"
Inductive sent a list of messages that need to be resubmitted. See attachment and refer to sheet for WY.

[https://app.zenhub.com/files/304423150/452538ad-f1aa-4635-b2fb-fe6d2153166d/download](https://app.zenhub.com/files/304423150/452538ad-f1aa-4635-b2fb-fe6d2153166d/download)

[2022-02-02 19:26] anshulkumar-usds commented on #4132
Updates list here; failures as of 2/2 are greater than previously reported. Refer to the sheet for GU

[https://app.zenhub.com/files/304423150/e1318207-fe16-4169-a13c-6d25c35b3b64/download](https://app.zenhub.com/files/304423150/e1318207-fe16-4169-a13c-6d25c35b3b64/download)

[2022-02-02 19:27] anshulkumar-usds commented on #4134
Inductive provided a list of effected messages in the attached sheet. Refer to MS sheet:

[https://app.zenhub.com/files/304423150/443cef4a-2f70-49d1-8bfc-8506d712fb09/download](https://app.zenhub.com/files/304423150/443cef4a-2f70-49d1-8bfc-8506d712fb09/download)

[2022-02-02 19:28] anshulkumar-usds opened #4163 "AK - Duplicate Submissions (Failures from 1/30)"
Inductive provided list of messages that need to be resubmitted. See attachment.

[https://app.zenhub.com/files/304423150/b34d2a29-9cae-4759-8e65-e568587d71d2/download](https://app.zenhub.com/files/304423150/b34d2a29-9cae-4759-8e65-e568587d71d2/download)

[2022-02-02 19:32] brick-green-agile6 commented on #4133
We have received the results and they are batched. TN is scheduled to receive files once per day at 09:15 ET. So the results will be sent out tomorrow morning.

[2022-02-02 19:33] kevinhaube commented on #3678
Moving this into `Review/QA` column. The spreadsheet is complete! I will be reaching out to schedule a time to discuss the findings.

[2022-02-02 19:50] victorialb-usds commented on #3796
Relates to #3975

[2022-02-02 19:54] brick-green-agile6 commented on #4134
@anshulkumar-usds The list I provided to Zedd included all these results Inductive asked for. My request actually included more results...should I go back to Zedd with the list from Inductive?

[2022-02-02 19:57] victorialb-usds commented on #4148
They are a user of Primary Health which is connected to ReportStream via API. They will not be doing the CSV upload pilot but working with PrimaryHealth to be connected ReportStream. @rachelhanster I think we can close this and open new tickets as needed I did not see any related tickets on O and O board for this. Do you have a status so we can close?

[2022-02-02 19:59] victorialb-usds commented on #4148
I put it in the https://cdc.sharepoint.com/:x:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B6ECC6EA3-5D73-41BA-BCBA-AF01D84EA643%7D&file=CSV%20Upload%20Pilot%20Research%20Data%20Tracking%20Log%20November%202021%20ongoing_VLB.xlsx&action=default&mobileredirect=true&cid=b054c3fd-0c0e-465b-8e44-a6f95f631125
It iwsalso updated in your product log.

[2022-02-02 20:08] Adrian-Brewster commented on #4160
As a STLT, I want to be able to:
 - Click on a link that would bring me to a form that allows me to enter the issue name, when it started occurring, what that submitter severity level is and attach files/images
 - When the form is submitted, I would like to receive an email response with a ticket number
 - I would like to have access to an issue form where I can search my issue number and see what

[2022-02-02 20:08] #2891 closed

[2022-02-02 20:13] Adrian-Brewster commented on #4160
As a member of O&O, I want to be able to:
 - be notified when a new ticket is opened
 - have a space to triage ticket and assign priority level before it automatically becomes part of zenhub product backlog
 - NOT have to update ticket progress in multiple places (must integrate with ZenHub or be tracked separately)
 - System automatically sends submitter email when issue is ready to be retested

[2022-02-02 20:24] oslynn commented on #4003
New test CLI commands:
./prime data --input result_files/StandardCSV-Test.csv --input-client csvuploadertest --output-dir junk --route

curl -X POST -H "client:csvuploadertest" -H "content-type:text/csv" --data-binary "@./result_files/StandardCSV-Test.csv" "http://localhost:7071/api/reports"

./prime data --input-fake 100 --input-client csvuploadertest --output junk/StdCSV-fake.csv

[2022-02-02 20:29] anshulkumar-usds commented on #4134
@brick-green-agile6 No, that's fine. Let's work with your original list of IDs.

[2022-02-02 20:34] rhood23699 commented on #4158
Email'd CoreBio to give them a heads on about receiving an activation email.  Turns out they have an OKTA account, so I created an OKTA group and added their account.  I also created and deployed their YML Staging & PROD settings today, tomorrow at the latest.

[2022-02-02 20:41] rhood23699 commented on #3911
Moved all tasks for Lemoore to Issue #: 4119

[2022-02-02 20:41] #3911 closed

[2022-02-02 20:42] #4039 closed

[2022-02-02 20:43] brick-green-agile6 commented on #3968
Here are the count of records we delivered:

- Lamar County Detention Facility  - 192 records sent
- Pearl River County Jail - 269 records sent

[2022-02-02 20:47] rhood23699 opened #4166 "OO/Core Bio Labs - Add as new CSV Sender"
## Problem statement
Core Bio Labs needs to be added as a new CSV Sender.

## Things know
N/A

## Acceptance criteria
- [x] sender_id and processing_mode_code are set properly from the settings table.  sender_id should be "corebiolabs-oh" and processing_mode_code should be "T".

## To do
- [x] Add sender_id = corebiolabs-oh to the local organizations.yml
- [x] Create YML files for Staging and PROD

[2022-02-02 20:48] brick-green-agile6 commented on #4162
Results needing to be resent. Pulled from spreadsheet.
[code]

[2022-02-02 21:00] anshulkumar-usds opened #4167 "AK - Duplicate Submissions (Failures from 1/30)"
Inductive provided list of messages that need to resubmitted. See attachment

[https://app.zenhub.com/files/304423150/e2065708-b7cd-4ce0-9626-22991c552b3c/download](https://app.zenhub.com/files/304423150/e2065708-b7cd-4ce0-9626-22991c552b3c/download)

[2022-02-02 21:02] brick-green-agile6 commented on #4167
Inductive health requested one result for resend: eb77b5e6-a90e-481d-8b21-9c2446674ee0

[2022-02-02 21:11] jbiskie commented on #4132
Thanks, I'm reviewing this against the first list

[2022-02-02 21:11] anshulkumar-usds commented on #4151
NH wants to know how many messages were effected due to this and their message IDs. Please share the message IDs before any resubmissions are attempted

[2022-02-02 21:28] loripusey opened #4169 "test"
## Problem statement

[Write a short description of what you want to achieve with this task]

## What you need to know

 [Links to documents, workflows, or list of key people and contact info]

- [Document 1](https://...)
- [Document 2](https://...)
- ...

## Acceptance criteria

- [ ] ...

## To do

- [ ] ...

[2022-02-02 21:31] rhood23699 commented on #4158
Updated Staging & PROD and created PR #: 4168.  Email'd Core Bio Labs that they are ready to test.

[2022-02-02 22:14] NatHillardUSDS opened #4171 "[PHDI] Investigate alternative to VM-run Hosted Integration Runtime for Azure Data Factory"
**Description**
In order to use Azure Data Factory to contact servers that require a particular originating IP range, it appears necessary to use a [hosted integration runtime](https://docs.microsoft.com/en-us/azure/data-factory/concepts-integration-runtime), which in turn requires a VM to run it.

We would like to avoid using a VM if at all possible, given the administrative overhead of doing so.

[2022-02-02 22:23] jbiskie commented on #4132
Full list has 1212 unique message id's vs 444 in first list.  Counts are approx the same between created_at > '2022-01-28T10:55:23.094780' and created_at < '2022-01-31T01:30:00.000000'.  Remainder were messages after that time span.

[2022-02-02 22:29] jbiskie commented on #4132
Sent json with all messages to Zedd.

[2022-02-03 00:38] clediggins-usds commented on #3641
This card did not move through the pipeline on the board as it should have. It is now merged to master.

[2022-02-03 00:40] clediggins-usds commented on #2191
Duplicate #3641

[2022-02-03 00:40] #2191 closed

[2022-02-03 02:33] #3886 closed

[2022-02-03 13:09] rhood23699 opened #4175 "OO/OC Rapid Test - Add as New CSV Sender"
## Problem statement
OC Rapid Test in CA needs to be added as a new CSV Sender.

## Things know
N/A

## Acceptance criteria
- [x] sender_id and processing_mode_code are set properly from the settings table.  sender_id should be "ocrapidtest-ca" and processing_mode_code should be "T".

## To do
- [x] Add sender_id = "ocrapidtest-ca" to the local organizations.yml
- [x] Create YML files for Staging

[2022-02-03 13:11] rhood23699 commented on #4175
Completed testing and installed the Staging & PROD YML files.  Updated the CA-DPH feeds.

[2022-02-03 14:05] loripusey opened #4177 "System: Activate OKTA Account"
## Problem Statement
As ReportStream, I need to activate an OKTA user's account after I have verified their MFA code so that they can begin using their account.

## Acceptance Criteria
- Given I
   - Am the ReportStream API
- When I
   - Have verified the authenticity of an MFA code submitted by an OKTA user who received the auto-generated code sent to them via SMS
- Then I
    - Activate the OKTA

[2022-02-03 14:05] loripusey opened #4178 "Set Up the Simple Report Login Page Using the Self-Hosted Option in OKTA"
## NOTE
**This is a story for the Simple Report team. It is here because it is a blocker to us moving forward with our OKTA work.**

## Problem Statement
As an organization who wants to activate my OKTA account in order to gain access to ReportStream, I would like to see some branding for ReportStream when I activate my OKTA account so that I am not confused by the Simple Report branding.

## Acce

[2022-02-03 14:06] loripusey opened #4179 "Send ReportStream-branded Multi-Factor Authentication Email when MFA Activated for ReportStream Users"
## Problem Statement
As an organization who wants to activate my OKTA account in order to gain access to ReportStream, I would like to see some branding for ReportStream when I activate my OKTA account.

## Acceptance Criteria
- Given I
    - Am a user who received an activation email for ReportStream
- When I
    - Set up my password, security questions & answers, and MFA method
    - Submit my i

[2022-02-03 14:06] loripusey opened #4180 "Send ReportStream-branded Activation Email when Activating ReportStream Users"
## Problem Statement
As an organization who wants to activate my OKTA account in order to gain access to ReportStream, I would like to see some branding for ReportStream when I activate my OKTA account.

## Acceptance Criteria
- Given I
    - Am logged into OKTA as an OKTA admin
- When I
    - Choose to send the activation email to one or more ReportStream users
- Then
    - OKTA sends the ReportS

[2022-02-03 14:07] loripusey opened #4181 "User: Submit Received MFA Code"
## Problem Statement
As an OKTA user who received an MFA code via SMS text, I need to be able to enter and submit the code I received so that I can complete my account registration.

## Acceptance Criteria
- Given I
   - Received the RS OKTA account activation email
- When I
   - Open my activation email
   - Navigate from the email to a registration page where I can enter the following informatio

[2022-02-03 14:07] loripusey opened #4182 "User: Enter Login & Security Information"
## Problem Statement
As a ReportStream OKTA user who received an activation email, I need to be able to set my login/security information so that I can activate my OKTA account.

## Acceptance Criteria
- Given I
   - Received the RS OKTA account activation email
- When I
   - Open the activation email
- Then I
    - Can navigate from the email to a registration page where I can enter the following

[2022-02-03 14:11] cwinters-usds opened #4183 "Ignore test files under prime-router in Sonar code quality scan"
Tests by their nature appear to have more duplicated code, so let's either skip them or increase the % for them.

[2022-02-03 14:31] anshulkumar-usds commented on #4078
IL asked to be sent just the positives with corrected LOINCs.

Files should be sent as a .txt so they are treated as a "test" file at IL.

[2022-02-03 14:44] #3971 closed

[2022-02-03 14:44] #3918 closed

[2022-02-03 14:45] #3717 closed

[2022-02-03 14:45] #3917 closed

[2022-02-03 14:47] loripusey opened #4185 "Change the Main OKTA Account Image to a Different Logo"
## Problem Statement
As an organization who wants to activate my OKTA account in order to gain access to ReportStream, I would like to see some branding for ReportStream when I activate my OKTA account.

## Acceptance Criteria
- Change the Main OKTA Account Image to a new logo

[2022-02-03 15:22] carlosfelix2 opened #4186 "Ensure elements always have a type"
The schema allows for elements to not have a type specified, but code like the fake data generator will throw an exception if it finds one.

Acceptance criteria:
1. Elements that do not specify a type in a schema get a default type of TEXT.

[2022-02-03 15:47] MauriceReeves-usds commented on #4078
2/3 - Sent the file to their SFTP with a .txt extension.

[2022-02-03 16:18] brick-green-agile6 commented on #3954
VT responded that the messages in the test feed look good. Asked to send a results from SimpleReport. I will do that manually today.

[2022-02-03 16:21] loripusey opened #4189 "System: Send MFA Success Email"
## Problem Statement
As the ReportStream API, I need to be able to send a ReportStream-branded email to an OKTA user after I have activated their account so that they will know that they can now use their account.

## Acceptance Criteria
- Given I
   - Am the ReportStream API
- When I
   - Have activated an OKTA account
- Then
    - System sends the MFA success email to the selected users telling

[2022-02-03 16:32] zdeveloper commented on #4132
Done! expect to see it in RS around 10:45 CST

[2022-02-03 16:37] jbiskie commented on #4132
Thank you @zdeveloper!

[2022-02-03 16:55] rhood23699 opened #4190 "Newport Childrens Hospital - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Newport Childrens Hospital - Originally setup as OC Rapid Test
- Type of Sender: Hospital
- Location: CA
- RS sender_id: newport-childrens-hospital-ca

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 2/2/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration

[2022-02-03 16:56] rhood23699 commented on #4126
They email'd and stated they hope to send the first test file today, 2/3/2022.

[2022-02-03 16:57] rhood23699 commented on #4127
No timeline on when they will send a test file.

[2022-02-03 16:58] zdeveloper commented on #4133
resent these yesterday [(slack convo)](https://skylight-hq.slack.com/archives/C025F5W5Q7L/p1643817407558969?thread_ts=1643812851.953239&cid=C025F5W5Q7L)
137e9089-31e1-4fbb-8226-7c2923d0d5d7
2ab908ed-3133-4606-b058-a72685587312
7735253c-2785-4814-baf1-ea4e1b60dca6
d2239c58-97f1-4ebd-b393-a2b244371a8e
f1b5d170-e6ea-414a-bdd2-b3f65c5d708c

and these [(slack convo)](https://skylight-hq.slack.com/archi

[2022-02-03 16:58] rhood23699 commented on #4128
1/31/22 - Email'd them to let them know we are ready to receive test files.  No response yet.

[2022-02-03 16:58] zdeveloper commented on #4133
was there anything else for TN?

[2022-02-03 16:58] rhood23699 commented on #4120
They are configured on our side.  We have a call today at 2:30p CT to answer their questions.

[2022-02-03 16:59] rhood23699 commented on #4158
They are configured on our side.  We have a kickoff call on 2/4/22 at 9:30a CT

[2022-02-03 16:59] anshulkumar-usds commented on #4153
Vt did not indicate a need for resubmissions

[2022-02-03 16:59] #4153 closed

[2022-02-03 17:01] rhood23699 commented on #4190
They are configured on our side.  Sent account activation email this morning.  Need TOS

[2022-02-03 17:08] zdeveloper commented on #4143
resent the following [(slack convo)](https://skylight-hq.slack.com/archives/C025F5W5Q7L/p1643813458159989?thread_ts=1643812851.953239&cid=C025F5W5Q7L)
0030f40a-d0db-499c-87bd-1876aa6369a7
005c9588-a3a4-4b61-a5a1-74a150888a39
00a1f9bf-fbe4-4aaf-88f6-3dc2dfb65f85
016dca85-018a-4ad7-b9a1-d7f26daf71d9
01d8635f-5dd6-4667-a0fc-e7c815a2404b
01fadacd-06d7-4e00-bb99-d6b9bcf8efc5
025473a7-e5d5-4c86-a627-85c

[2022-02-03 17:10] anshulkumar-usds commented on #4162
The messages Brick listed above are from the excel sheet. So just need to resubmit these 5 for WY

[2022-02-03 17:12] zdeveloper commented on #4162
Done, resubmitted
30637f45-0f98-4e09-b693-d6489de3764f
bd42c1e4-e6f5-44a7-89d7-c57e71d1f92d
12e87fd4-9938-44ee-bc88-3e1abb4a41cf
48266e6d-7eb1-407d-b5ec-d8928404af7a
e15ba9f1-5b4e-4670-8883-4f34a1e64127

[2022-02-03 17:15] anshulkumar-usds commented on #4133
Checking with state on file delivery

[2022-02-03 17:23] zdeveloper commented on #4167
OK resent "eb77b5e6-a90e-481d-8b21-9c2446674ee0"

[2022-02-03 17:39] loripusey commented on #3718
@TomNUSDS I moved this to de-prioritized based on our new direction (i.e. not OKTA) for account activation
@rachelhanster

[2022-02-03 17:39] loripusey commented on #3916
@TomNUSDS I moved this to de-prioritized based on our new direction (i.e. not OKTA) for account activation
@rachelhanster

[2022-02-03 17:41] anshulkumar-usds commented on #4078
After emailing IL got a an auto reply that IL DOH is closed today due to weather. Hence, their review and feedback might be delayed.

[2022-02-03 17:46] anshulkumar-usds commented on #4162
Inductive is reviewing the resubmissions.

[2022-02-03 17:47] anshulkumar-usds commented on #4167
Inductive is reviewing the resubmissions.

[2022-02-03 17:47] anshulkumar-usds commented on #4132
Inductive is reviewing the resubmissions.

[2022-02-03 17:50] anshulkumar-usds commented on #4118
@Adrian-Brewster can you clarify which records ND needs? Just the ones listed above, or all failures?

[2022-02-03 17:53] Adrian-Brewster commented on #4118
@anshulkumar-usds Those are the messages they provided and requested resends for.  Are you seeing more failures than what they provided?

[2022-02-03 17:56] anshulkumar-usds commented on #4143
checking with state

[2022-02-03 18:00] anshulkumar-usds commented on #4118
no just confirming. So total of 9 messages:
[code]

[2022-02-03 18:06] zdeveloper commented on #4134
Resend 1347 events supplied by Brick

[2022-02-03 18:08] zdeveloper commented on #4118
resent the following
[code]

[2022-02-03 18:08] anshulkumar-usds commented on #4118
@Adrian-Brewster Zedd completed the resends for these. Please inform ND. thanks.

[2022-02-03 18:11] kevinhaube commented on #3678
@drew-usds @inkandsound @rachelhanster @loripusey I went ahead and documented the definitions and process by which these all run and report errrors in this document: https://cdc-my.sharepoint.com/:w:/g/personal/sle9_cdc_gov/EWzSdUxNJJBNhkdqChnDLKkBz64cOIH5xP8huKjqBnVTYA?e=hQ7Jbm

Feel free to reach out and set up a time to go through it if need be! :)

[2022-02-03 18:18] anshulkumar-usds commented on #4134
Checking with state

[2022-02-03 18:40] rhood23699 commented on #4129
2/3/22 Kickoff.  Main questions are:
  - Where do we send test files? There is no TEST feed in the CDPHE settings.
 - Verify whether or not CDPHE intends to send other STLTs data in our CSV format?
 - Need TOS

[2022-02-03 18:44] sethdarragile6 opened #4193 "Settings API: update org validation treats empty string as potential value for stateCode and countyName"
**Describe the bug**
When submitting a PUT call to the /api/settings/organizations/{org} endpoint with FEDERAL as the jurisdiction and empty string ("") as the stateCode and countyName, the API sends a 400 Bad Request and sends the message "stateCode or countyName not allowed for FEDERAL organizations".

![image.png](https://images.zenhubusercontent.com/61688531a0a844ef1cf9286b/c45b8d67-ecfb-47a4-

[2022-02-03 18:46] sethdarragile6 commented on #4193
hey @MauriceReeves-usds, we noticed this while working with the API. Not sure if it's an issue but it was confusing. If you agree, who would be a good person to assign to it for investigation?

[2022-02-03 18:55] #3718 closed

[2022-02-03 19:34] anshulkumar-usds opened #4194 "CO - Routt County Public Health Download Site"
Please setup access to the download site for Routt County Public Health in Colorado

[2022-02-03 19:47] brick-green-agile6 commented on #4133
filename delivered to TN:

covid-19-c0dc322c-ba67-41f1-8fe0-b7fbf428d541-20220203141604.hl7

[2022-02-03 20:03] anshulkumar-usds opened #4195 "CO - San Juan Basin Public Health Download Site"
Setup download site for San Juan Basin

[2022-02-03 21:09] TomNUSDS opened #4196 "[Bug]: Navigating back to first page of results never shows newer items."
1. Got to Submission History.
2. Navigate to 2nd page using Next
3. Add new items so they show up at the start of the Submission history.
    - May have multiple tabs open or API user has stuff submitted while they have this page open
4. Hit the Prev button to return to the first page.
Result: the new items don't show up.

Cause: the first page of results is using a starting cursor of the 2nd page

[2022-02-03 21:10] TomNUSDS commented on #3906
This problem is directly related to how we do cursor-based navigation of lists and it not easily fixed without a redesign.

<img width="462" alt="image" src="https://user-images.githubusercontent.com/74203452/152427584-df40e491-e9cb-4b8a-95da-18bbf8ad2ad2.png">

If you look at the urls used when navigating, they are different when doing a `Prev` and therefore cannot be cached at the network layer.

[2022-02-03 21:27] anshulkumar-usds opened #4197 "NJ - Truncate Performing Org Name to 50 chars for OBX-23.1 and AOE"
NJ needs the performing organization name to be truncated to 50 chars in OBX-23.1 and across all AOE questions.

Sample messages with this issue can be found in file "CDC_PRIME_covid-19-53f131f0-9f03-42a0-9b7f-0ca016b71b5f-20220203141620.hl7"

![asdadadadadada.PNG](https://images.zenhubusercontent.com/607d9d4a591b7cc0bb55c82e/821f5489-6752-46c3-89da-b0e21b4d6e39)

[2022-02-03 21:36] brick-green-agile6 commented on #3954
created a fake file for VT with the simple report format and transferred over to VT then pinged Theresa

[2022-02-03 21:49] brick-green-agile6 opened #4198 "MN - Missing Specimen Collection Date"
From: Cassman, Jacqueline (MDH)
Sent: Wednesday, February 2, 2022 3:42 PM
To: Judd, Michael (CDC/DDPHSS/OD <vuj4@cdc.gov>; Green, Brick (CDC/DDPHSS/OD/HITSSU) (CTR <rut5@cdc.gov>; Reeves, Maurice (CDC/OCOO/OD <qva8@cdc.gov>; Brewster, Adrian (CDC/DDPHSS/OD) (CTR <mpz9@cdc.gov>; Liu, James (CDC/OCOO/OD) <qpu0@cdc.gov>
Subject: MDH: CDC Prime ELR Error 1/27/22

Good afternoon,

MDH received an ELR m

[2022-02-03 21:51] brick-green-agile6 commented on #4198
@Adrian-Brewster @anshulkumar-usds I checked into this. ImageMover did not send the specimen collection date. Should we request they resend?

[code]

[2022-02-03 22:09] Adrian-Brewster opened #4200 "MA - Missing OBX-3"
MA had two messages error out on 1/31 due to missing OBX3.  Please correct and resend.

a494b8d4-8e71-4f46-8216-912cf086fb86
8bab1762-0e58-4db7-9af3-e2746e4ffef9

[2022-02-03 22:26] brick-green-agile6 commented on #3968
@Adrian-Brewster need to ping MS again on this?

[2022-02-03 22:37] Adrian-Brewster commented on #3968
Those counts for Lamar are different from what @mauricereeves provided. He said we sent 199 and one timed out.  @mauricereeves

@brick-green-agile6 We will need to resend all of these messages.

[2022-02-03 22:41] brick-green-agile6 commented on #4162
filename:

covid-19-fdf3598f-12c2-46c5-932d-241c8f6bef22-20220203181544.hl7

[2022-02-03 22:44] brick-green-agile6 commented on #4167
filename: covid-19-a1301cce-c402-44be-a166-b5fd70d46149-20220203181545.hl7

[2022-02-03 22:44] #4033 closed

[2022-02-03 23:07] brick-green-agile6 commented on #3968
@Adrian-Brewster my query was using created_at for the date range rather than specimen collection date. When I change to specimen date I got the same numbers as MS:

- Lamar County Detention Facility - 198 records sent
- Pearl River County Jail - 298 records sent

I'll format them and ask Zedd to resend

[2022-02-04 00:14] Adrian-Brewster opened #4202 "MS - Northwest Health and Wellness OBX-3 Confusion"
**Describe the bug**
ELR messages from Northwest Health and Wellness Clinic where the Resulted Test LOINC (OBX-3) of "95423-0" appears to be resulted out incorrectly.

From PHA "We see that a Detected result was provided in OBX-5, and we are not entirely sure which virus is detected from this field. Can we get clarification of how this LOINC is being resulted out and if this can be addressed for a

[2022-02-04 03:47] RickHawesUSDS commented on #3193
We've agreed that the full-elr topic will not support CSV senders. This simplifies the work involved greatly. In this case, I would expect submitters to the full-elr topic to have complete OBX-3 fields with LOINC code and valid device names. Our validators would only need to check for completeness.

[2022-02-04 03:49] RickHawesUSDS commented on #3192
Agree that offset time should be a requirement.

[2022-02-04 03:55] RickHawesUSDS commented on #3191
So, in general, I think validating SNOMED and LOINC codes should be a lower priority if one at all. There are 10000s of these codes. They are updated all the time. It involves a lot of work.

[2022-02-04 13:26] rhood23699 commented on #4129
2/3/22 - Had a kickoff call.  Notes are in the slack channel "onboarding&ops".  Summary, CPDHE will use CSV uploader to send CSV files received from other status to themselves.  We assisted them with activating their accouints.  Nancy will provide TEST SFTP credentials, so we can setup a test feed.  They are working on the TOS.

Changes requested.  They want Primary Language added.  We'll work on

[2022-02-04 13:31] rhood23699 commented on #4120
2/3/22 Held kick off meeting.  Summary, we'll setup CSV Uploader as a temporary solution and then move the CSV transfer to REST API.  They not only have a lab and perform the tests.  They are developing a test (no EUA yet) that will be sold to offices, etc.  The offices will perform the tests and result the test into the SDI portal.  SDI will then send us the results.  They will act as a data aggr

[2022-02-04 13:46] rhood23699 commented on #4129
2 of 3 accounts are activated.  We'll be able to move forward with testing.

[2022-02-04 13:59] rhood23699 opened #4204 "Warrior Diagnostics - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Warrior Diagnostics in CO
- Type of Sender: Commercial Laboratory
- Location: CO
- RS sender_id: warrior-dx-oh

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 2/3/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov/terms-

[2022-02-04 14:00] rhood23699 commented on #4204
2/3/22 - Adrian send kickoff request.

[2022-02-04 14:08] rhood23699 opened #4205 "OO/Warrior DX - Add as a new CSV Sender"
## Problem statement
Warrior diagnostics in CO needs to be added as a new CSV Sender.

## Things know
N/A

## Acceptance criteria
- [x] sender_id and processing_mode_code are set properly from the settings table.  sender_id should be "warrior-dx-co" and processing_mode_code should be "T".

## To do
- [x] Add sender_id = "warrior-dx-co" to the local organizations.yml
- [x] Create YML files for Stag

[2022-02-04 14:28] MauriceReeves-usds commented on #4198
@brick-green-agile6 yes. And they should always be sending that to us. @Adrian-Brewster @anshulkumar-usds please ask them to resubmit this record, and to make sure they're always sending us this. In fact, we should maybe update their schema to force that value to have a cardinality of one if it doesn't already. I can't really think of a single location that would accept a message without the speci

[2022-02-04 14:31] MauriceReeves-usds opened #4206 "Update ImageMover Schema to make Specimen Collection Date to have a Cardinality of One"
Based on the ticket @brick-green-agile6 created for a message MN received without a specimen collection date (#4198) we need to update the schema for Image Move to make sure they're always sending us that value. Let's add the value to their schema and update the cardinality and then test it out.

FYSA: @Adrian-Brewster @anshulkumar-usds

[2022-02-04 14:38] victorialb-usds commented on #3723
I attended a Q and A call with SDI yesterday and inserted some of the baseline questions we are looking to answer. I documented what I was able to gather in this document; https://cdc.sharepoint.com/:x:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B431D9FDE-C408-43E7-B643-E1D30652155C%7D&file=CSV%20pilot%20cohort%201_Pre%20Post%20Data.xlsx&action=default&mobileredirect=true

Notes can be fou

[2022-02-04 14:46] brick-green-agile6 commented on #3968
@zdeveloper Can you resend these as well? Also, let me know if the formatting isn't right. Want to do whatever we can to help

[https://app.zenhub.com/files/304423150/d6a1ac1c-bf3b-4058-b725-238617a15154/download](https://app.zenhub.com/files/304423150/d6a1ac1c-bf3b-4058-b725-238617a15154/download)

[2022-02-04 14:48] #4175 closed

[2022-02-04 15:20] victorialb-usds commented on #3723
@rachelhanster @loripusey as per the research integration discussion yesterday we can go back to them and ask for a 30 minute discovery call to get more detailed information and perhaps show some designs. This would change the AC on this.

[2022-02-04 15:32] #2904 closed

[2022-02-04 15:34] loripusey opened #4208 "Show Sender's Column Name in Error Message when it Differs from RS Column Name"
## Problem Statement

[2022-02-04 15:36] anshulkumar-usds commented on #4079
@jorg3lopez any update on this?

[2022-02-04 15:37] #4208 closed

[2022-02-04 16:00] anshulkumar-usds commented on #3395
@hermanAlexCordero please prioritize this for the current sprint. We can start piloting the form with a couple of states starting next sprint.

[2022-02-04 16:33] #3761 closed

[2022-02-04 16:36] inkandsound commented on #3929
Notes from the call with Abbott: https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7Bfa46e1bb-dba8-49d2-a69b-31bf8593a228%7D&action=edit&wdPreviousSession=ae4f8a67-9673-9b66-ffea-563453533506&cid=d429d713-7c2e-4f16-a60f-fdae57cb7b9d

[2022-02-04 17:00] #2095 closed

[2022-02-04 17:11] #3923 closed

[2022-02-04 17:30] #4166 closed

[2022-02-04 17:32] #3570 closed

[2022-02-04 19:05] victorialb-usds commented on #3975
o and o have data issue label

[2022-02-04 19:06] rhood23699 commented on #4158
Adrian is contacting Core Bio because they didn't join today's call.

[2022-02-04 19:07] rhood23699 commented on #4129
Received Test SFTP Creds.  Brick is testing it for me.  I've recommended this be a Thursday training item, so we all know how to test an SFTP connection.

CDPHE says they are ready to test when we get the connection online.

[2022-02-04 19:12] TomNUSDS opened #4209 "[Bug]: Failed API requests to get list of organizations breaks site"
Hitting this bug while working on #3891.
In an effort to minimize that other PR to just things specific to OktaPreview, this issue is being broken out into its own bug/task.

[2022-02-04 19:15] JGreenFearless opened #4210 "route messages about HL7s to a new fhirengine queue"
Acceptance Criteria:

- if ReportFunction.kt detects an HL7 file, put a message on a new fhirengine queue with a reference to the report_id of the submitted raw HL7.
- a new FHIREngine function grabs the message from the queue.

_(the above could be its own ticket)_

- The FHIR engine takes the message off of the queue, reads the file from the blob,  and compares it to itself.
- This is not runnin

[2022-02-04 19:17] JGreenFearless opened #4211 "HL7 to FHIR translation"
Acceptance Criteria:
- HL7 Message is converted to FHIR Bundle
- Unit tests

[2022-02-04 19:17] rhood23699 commented on #4204
2/4/22 Completed all Sender Setup.  (OKTA, YML and move to PROD & Testing).

[2022-02-04 19:21] JGreenFearless opened #4212 "Write a first draft of a FHIR profile for our systems for full ELR"
As a ReportStream user / dev I want to know what data we're storing in the FHIR bundle and how it's represented in FHIR.

AC:
- The profile is based on https://www.hl7.org/fhir/us/core/StructureDefinition-us-core-observation-lab.html
- All fields which have an hl7Field  from the base covid-19.schema have a representation in FHIR.
- Document those fields in covid-19.schema that are not covered.
- R

[2022-02-04 19:23] JGreenFearless opened #4213 "PLACEHOLDER: Have HCA sending data to staging or prod on a regular basis"
**may be easier for HCA to send to prod.

[2022-02-04 19:26] whytheplatypus commented on #4210
![FHIR Engine Progression - Page 1.png](https://images.zenhubusercontent.com/611d33d5e624dd44c803bcf4/c1e84c90-d0fd-478b-a2f1-b73d279ca31e)

[2022-02-04 19:27] whytheplatypus commented on #4211
![FHIR Engine Progression - Page 1(1).png](https://images.zenhubusercontent.com/611d33d5e624dd44c803bcf4/60ed790b-8ba0-43b3-9993-3d9926ae1850)

[2022-02-04 19:47] JGreenFearless opened #4214 "Begin using the action history processes for the FHIR Engine"
Acceptance Criteria:
- When an HL7 file is sent to the $convert-data endpoint an action history is created
- Details and Errors are entered as ActionLogs

[2022-02-04 19:53] MauriceReeves-usds commented on #4151
Looking at the results, I only see one record sent multiple times to NH: `48de367d-c704-43ff-8b70-25adf16122b7`. @Adrian-Brewster will follow up with them and ask them how they'd like us to proceed.

[2022-02-04 20:28] oslynn commented on #1688
There is no %%**placeholder** use with the new code anymore.  CsvSerializer.kt: mapRow use "" instead of %%**placeholder** when useCsv(element) is null/empty.  Therefore, I close the ticket.

[2022-02-04 20:28] #1688 closed

[2022-02-04 20:29] oslynn commented on #1335
In latest code the CsvSerializer.kt: mapRow doesn't use %%**placeholder** anymore.  It uses "" instead.  Therefore, I am closing this ticket.

[2022-02-04 20:29] #1335 closed

[2022-02-04 20:36] MauriceReeves-usds commented on #4135
@Adrian-Brewster @anshulkumar-usds Attached are the two spreadsheets to return to WA for the separate events (duplicated records and missing LOINCs). Please forward both to WA and ask them what steps they'd like us to take next.

[2022-02-04 20:37] MauriceReeves-usds commented on #4135
[https://app.zenhub.com/files/304423150/158979c9-84d0-4c5a-809e-963657130f70/download](https://app.zenhub.com/files/304423150/158979c9-84d0-4c5a-809e-963657130f70/download)
[https://app.zenhub.com/files/304423150/f229b8d5-5444-4999-a97f-c9aef7e8d5dc/download](https://app.zenhub.com/files/304423150/f229b8d5-5444-4999-a97f-c9aef7e8d5dc/download)

[2022-02-04 20:54] #4205 closed

[2022-02-05 00:40] jorg3lopez commented on #2666
@anshulkumar-usds Understood, I'll keep the files below 1000kb.

[2022-02-07 02:48] anshulkumar-usds opened #4215 "WA - Setup OTC Data Feed"
Placeholder - need to gather requirements from WA-DOH

[2022-02-07 13:22] jh765 opened #4216 "Improve Developer Onboarding Documentation"
Our Current Developer Board Docs can best be improved by "fresh eyes," actual developers who have come from outside the organization and can articulate both general and specific improvements.

As a developer new to the organization, I can make some initial changes that strike me as germane.  But I can also make some suggestions for improving this very process (the process of new developers making

[2022-02-07 13:50] MauriceReeves-usds commented on #4079
@jorg3lopez @anshulkumar-usds @Adrian-Brewster I'm looking at this now. I have a few ways we can tackle this:

1. We can send them the spreadsheet for the LOINC failures as we did with the other states, and they can update their system. This is the easiest path
2. Or, we can get the all the original SimpleReport submissions, create new files, and resubmit manually on our own after updating the mes

[2022-02-07 13:57] anshulkumar-usds commented on #4135
Spreadsheet shared with WA on 2/6 - awaiting response

[2022-02-07 14:34] rhood23699 commented on #4127
2/7/22 - Received email about test files on the 4th & 5th.  They are receiving equipment model names errors. They provided the model names.  I tested and email'd the valid combination of equipment model name and LOINC.

[2022-02-07 14:41] rhood23699 commented on #4129
Brick is out.  Email'd Joel to see if he can help with setup and testing of the Test Environment SFTP for Colorado.

[2022-02-07 14:44] rhood23699 commented on #4131
Per the 2/4/22 request by CA_DPH, I resent a test file with all results set to corrected, and all results are non-LA county addresses.

[2022-02-07 14:48] rachelhanster commented on #2906
Noting that @Adrian-Brewster investigated github issues forms. His two observations: 1) To create a ticket, an external user would need a github account. 2) Git is not user friendly.

[2022-02-07 14:51] anshulkumar-usds commented on #4079
2/7: Checked with OH on their preferred path. Awaiting response from OH.

[2022-02-07 15:09] anshulkumar-usds commented on #4132
From Inductive:
"Guam received the 1212 reprocessed labs yesterday and are officially caught up! All processed into the NBS system successfully. "

[2022-02-07 15:09] #4132 closed

[2022-02-07 15:15] anshulkumar-usds commented on #4202
Zedd - these messages point to a multiplex assay with a non-specific LOINC. I think you may need to update the LOINC to point to the COVID specific test and resubmit these to MS.
cc @LGFranklin

[2022-02-07 15:27] #4169 closed

[2022-02-07 15:27] Adrian-Brewster opened #4218 "DE - Remove secondary and investigate ImageMover issues (MSH-4)"
**Describe the bug**
DE is receiving failures to their secondary feed due to a missing MSH-4 value. Since this issue is specific to the secondary feed, we will disconnect secondary results until the OTC defaults work is completed.

Also, there are a lot of ImageMover results with missing MSH-4. We should just add them as the default for reporting_facility with their CLIA, that way if they don't se

[2022-02-07 15:30] anshulkumar-usds commented on #2639
Issues with Ellume data via Lifepoint have been noted. Lifepoint was made aware but mentioned they are reporting that were contracted to by Ellume.

[2022-02-07 15:30] #2639 closed

[2022-02-07 15:38] rhood23699 opened #4219 "OO/CSV Schema - Add Reporting Facility Info as Optional CSV fields."
## Problem statement
SDI Labs will be acting as a data aggregator in the near future when they get an EUA for their COVID test which means the Reporting Facility Name and CLIA will be different from the Performing Lab Name and CLIA.  The Reporting Facility Info is not currently in the CSV schema and spreadsheet.

CDPHE want Primary Language added which is not currently in RS or the CSV schema and

[2022-02-07 15:39] loripusey commented on #4209
Does this mean that it breaks our staging ReportStream site if we point to OKTA preview instead of production?

[2022-02-07 15:42] carlosfelix2 commented on #3587
Unable to reproduce.
Traced this issue in various places and saw no issues with the code. Tried to reproduce as follows:

1. Change a sender in the organizations.yml file to have processing type of async.
2. Load the settings to the database.
3. Verify the setting was stored. Note that there could be multiple versions of a setting, so make sure to look at the last version.
4. Run ./prime sender ge

[2022-02-07 15:42] #3587 closed

[2022-02-07 15:52] anshulkumar-usds commented on #4078
2/7: Checked with IL again today. Awaiting response from IL.

[2022-02-07 15:53] anshulkumar-usds commented on #4134
2/7: Inductive still reviewing, no update yet.

[2022-02-07 15:54] loripusey commented on #4142
Can you show this to us after stand up today?

[2022-02-07 15:55] loripusey commented on #4122
This has been de-prioritized.

[2022-02-07 15:57] #2906 closed

[2022-02-07 16:01] loripusey commented on #2866
@drew-usds Can you confirm if this problem still exists?

[2022-02-07 16:08] jimduff-usds commented on #3722
This has been handed over to Devops.

[2022-02-07 17:07] kevinhaube commented on #4196
A proposal for a general solution when designing for this cursor-based pagination is to grab our own "cursor" as an 11th item, rather than pulling 10 items only. While we still only display 10, the 11th is indicative of further data to pull and can be checked to show/hide the `Next ->` button.

In ascending order (clicking Previous), this 11th item would be the one prior to the first displayed ite

[2022-02-07 17:54] jimduff-usds opened #4226 "Implement API versioning or other plan to transition senders to new json response"
We want the submission response to be identical to what you get from the History Details API.   As currently sketched out, this is a breaking change.   How do we make that transition?

The current async non-verbose response to api/waters and api/reports POSTs looks like this:
[code]

And the corresponding NEW response should be identical to the response from the History Details API.
That is:

[cod

[2022-02-07 18:06] Adrian-Brewster opened #4227 "FL - Invalid CLIA number"
FL received 50 results from ReportStream containing an invalid CLIA number. The following CLIA number was provided : ```10D2251395```

Please provide the correct CLIA number for the patient with the accession numbers below:

specimen ids
```0cb30225-903a-4299-91c8-b85355b97f58```
```3aed2bd2-5b79-49f3-b4c6-661fc700adb3```
```a631f5aa-9ceb-4c2f-b969-70b6fd5f060c```
```f0abdefa-ebc1-4ead-b5ea-8a83d3

[2022-02-07 19:23] kevinhaube commented on #3678
@meckila @bgantick Great information available once you have CDC access :)

[2022-02-07 19:48] Adrian-Brewster commented on #4227
This is going to be addressed by the SimpleReport team. Leaving open until I hear from Leslie that the issue is resolved.

[2022-02-07 20:10] #4182 closed

[2022-02-07 20:11] #4181 closed

[2022-02-07 20:11] #4177 closed

[2022-02-07 20:12] #4189 closed

[2022-02-07 20:33] #4209 closed

[2022-02-07 20:37] anshulkumar-usds opened #4230 "ImageMover - Make Device ID a Required Field"
As mentioned in this ticket: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/3525

We need to work with ImageMover to inform them of updates to the schema we are proposing that will results in errors if one of the options in 3525 is not met.

To do
1. Alert ImageMover of our proposed changes and assess sender needs
2. Make the chan

[2022-02-07 20:43] anshulkumar-usds opened #4231 "AZ - ELR feed not transported on 2/6"
Our ops dashboard (https://prime.cdc.gov/metabase/question/23-needs-investigation-reports-not-transported-last-5-days)

shows that AZ's primary data feed on 2/6 failed to transport to the STLT.

Report ID ``` a36593ac-d238-4bc0-ba7f-4a90e2094126 ```
Action ID ```6919991```

[2022-02-07 20:47] TomNUSDS opened #4232 "[Spike] Update react-script to use version 5.0.0"
Need to upgrade because 4.x depends on outdated libraries.
Upgrading from 4.x -> 5.x of `react-script` build breaks the build.
SimpleReport has done the upgrade. Examine how they've done it (seems like a lot of work).
Remove the  "peerDependencies" and  "resolutions" sections related to react-scripts once it's upgraded.

[2022-02-07 20:50] anshulkumar-usds opened #4233 "API Sender Onboarding Content on RS Public Website"
After the review and updates to our API Programmer's Guide is completed by @jbiskie  in ticket https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/3627, we need to start the work of getting this content up on our website to the senders are aware that two options exist for onboarding.

To do:
1. Work with Experience team to get this pri

[2022-02-07 20:55] rachelhanster commented on #4233
@anshulkumar-usds Experience team is working on API documentation on public website right now. See https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/4101 and https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/4100

[2022-02-07 20:57] anshulkumar-usds commented on #4101
@jbiskie is working on an updated version of the Programmer's Guide here: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/3627

[2022-02-07 20:58] anshulkumar-usds commented on #4233
Closing this. Experience already working on this initiative.

[2022-02-07 20:58] #4233 closed

[2022-02-07 21:07] BerniXiongA6 commented on #3627
Hi @anshulkumar-usds @jbiskie is this regarding the same updates as the ticket we've got open on the Experience team (# [4101](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/4101))? cc @jimduff-usds @rachelhanster @loripusey

[2022-02-07 21:38] BerniXiongA6 commented on #4100
Update 2.7.2022: Scheduled working meeting for @kevinhaube @drew-usds and me to discuss current programmer's guide (getting it up on Sender Overview page). Also, would like to use that time to ideate on version 2 formatting ([# 4101 ](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/4101) I'm currently working on) from Word doc to static web pa

[2022-02-07 21:56] anshulkumar-usds commented on #3778
On 1/19/2022, ReportStream shared a proposal to add the following four identifiers to the LIVD spreadsheet:
[code]
We also suggested using the following values to mark these as true, false or unknown based on the HL7 Standard https://hl7-definition.caristix.com/v2/HL7v2.5.1/Tables/0136
[code]
During the meeting, the LIVD group agreed to adding the identified for OTC and Home-use. Other two will ta

[2022-02-07 22:01] anshulkumar-usds opened #4236 "Dead Letter Box for STLTS"
Follow up from our retro on 2/3, this is a placeholder to create a "dead letter box" for STLTs

Details to be added by @MauriceReeves-usds

cc @Adrian-Brewster @sarahnw

[2022-02-07 22:05] anshulkumar-usds opened #4238 "Setup an Outbound version of Covid Results Metadata table"
Our current view into Covid Results Metadata table shows us what ReportStream received from senders. Several support tickets mention the STLTs receiving an altered form of data from our senders - expectedly so after applying our transformations and other customizations that the STLTs have requested,

The proposal is to create an outbound version of the Covid Results Metadata table so we can see wh

[2022-02-07 22:40] jbiskie commented on #4101
@BerniXiongA6 I'm planning to complete this sprint.

[2022-02-07 22:42] jbiskie commented on #3627
Looks like the same updates.  Or if not, it should be!

<http://flexion.us/>

JOEL BISKIE
*Integration Engineer*
Pandemic-Ready Interoperability
Modernization Effort (*PRIME*)

FLEXION - VALUE FORWARD
811 E Washington Ave, Suite 400
Madison, WI 53703
*T.* 608.834.8600

On Mon, Feb 7, 2022 at 3:07 PM BerniXiongA6 ***@***.***>
wrote:

--

*Notice*: The information contained in this message or any at

[2022-02-08 12:43] rhood23699 opened #4240 "Kern County, CA - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Kern County Public Health Services Department, CA
- Type of Sender: Public Health
- Location: CA
- RS sender_id: kern-county-phsd-ca

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 1/26/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://repo

[2022-02-08 12:49] rhood23699 commented on #4240
1/27/22 - Kick off email sent by Adrian.

[2022-02-08 12:49] rhood23699 commented on #4240
I missed the Slack message to set them up.  I'm doing it now.

[2022-02-08 13:18] jimduff-usds opened #4241 "Make the new HistoryDetails API backward compatible with the current json response"
Rather than do API versioning for now, we're just going to make the field names in the new history details API backward compatible with the current api/waters and api/reports json response.

This is pretty easy to do, as follows:

## Acceptance Criteria

Change the new HistoryDetails fields as follows:

- Change "submittedAt" to "timestamp"
- Change "submitter" to "sender"
- Add  "reportItemCount"

[2022-02-08 13:22] jimduff-usds commented on #4241
Here's an example of what the history details returns right now:

[code]

And here's what it will look like when you are done (ignoring the order of the fields):

[code]

[2022-02-08 13:30] #3539 closed

[2022-02-08 14:18] jimduff-usds opened #4243 "Bug: The filters are still showing as zero-based; item_lineage table is still zero based"
Note: We use the term "index" in ReportStream instead of the term "row number" because our data could be batch HL7, or CSV, or (someday) FHIR.  The term "row number" does not make sense for HL7 or FHIR.

The index is used to count Items in a Report.   The rule is:

**Regardless of data format, the first Item in a Report has index = 1, and counting up from there.**

Therefore, **in a CSV, the first

[2022-02-08 14:34] BerniXiongA6 commented on #4101
Update 2.8.2022: Joel Biskie to complete updated version of programmer's guide by end of sprint. I'll do a full content review after that time to finalize a version 2.0 doc. (Couldn't create a dependency on O&O's # 3627 for this Issue, can you help @loripusey ?)

[2022-02-08 14:47] loripusey opened #4244 "API - Return Filter Type and Row(s) Affected with Filter Messages Returned upon CSV File Validation"
## Problem Statement
As the Experience Team, we need to be able to fail a file and display messages when we detect the presence of quality filter messages in the json that is returned by the API when we validate a file.

## Assumptions
We assume that there is currently a way to validate a file against quality filters.

## Acceptance Criteria
- When
    - A CSV file is validated/submitted using the

[2022-02-08 14:59] cwinters-usds opened #4245 "Add function app for infrastructure checking"
This should be a separate application not tied to the server. Some basic functionality:

* Validate our outbound IP address
* Validate we can reach a third party on the internet
* Validate we can read from/write to storage accounts
* Validate we can read from key vault

We may want to run this on a recurring basis and log results to the log analytics workspace so we can alert on errors. Make that

[2022-02-08 15:16] rhood23699 commented on #4126
2/8/22 We didn't receive a test file on 2/3/22.  Email'd asking for a status today.

[2022-02-08 15:17] rhood23699 commented on #4127
2/7/22 - The equipment model name and LOINC codes have been fixed.  Test file looks good.  Sent to CA-DPH for validation.

[2022-02-08 15:19] rhood23699 commented on #4128
2/8/22 Received email that they are delayed.  Not estimate on start.

[2022-02-08 15:20] rhood23699 commented on #4120
The addition of the Reporting Facility Name and Reporting Facility CLIA to the CSV file will be deployed to on Thursday the 10th.

[2022-02-08 15:24] jimduff-usds opened #4246 "The History Details API should accept reportId requests"
Currently the History Details API takes a 'submissionId' as a request (which is an action_id internally to reportStream)

This ticket is to make that API take a reportId as well.

TBD what the URL looks like.

---

Example of a current working local call to the Details API:

curl -H "client:ignore"  -H "authorization:bearer 123" -H "content-type:text/csv" "http://localhost:7071/api/history/simple_

[2022-02-08 15:24] rhood23699 commented on #4190
2/7/22 Adrian email'd asking for a status.

[2022-02-08 15:27] rhood23699 commented on #4158
2/7/22 Below are notes from Victoria.  Summary, kickoff completed, CSV development will be started by Core Bio.  No estimate on starting testing.

Some insights from follow up kick-off call with CoreBioLabs for CSV upload pilot. cc: @Rick Hood @Adrian Brewster @sarah add anything I missed.
@Rick Hood went over the unique schema requests for our standard schema (LOINC and equipment model name)(Bern

[2022-02-08 15:28] rhood23699 commented on #4204
Will help with account activation problem today.  They are setup and we are ready to receive test files.

[2022-02-08 15:29] rhood23699 commented on #4240
Completed all Sender Setup.  Waiting on account activation.  Email'd Sender regarding account activation

[2022-02-08 15:29] anshulkumar-usds commented on #2653
SafeHealth data in prod metabase as of 2/8. Closing this. Thanks @jbiskie

[2022-02-08 15:29] #2653 closed

[2022-02-08 15:30] anshulkumar-usds commented on #2666
@jorg3lopez any update?

[2022-02-08 15:36] anshulkumar-usds commented on #3525
Working to have this implements with each sender one at a time. Starting with ImageMover: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/4230

[2022-02-08 15:41] #2116 closed

[2022-02-08 15:43] anshulkumar-usds commented on #3209
@loripusey - @hermanAlexCordero is no longer with O&O so I'm removing him from the ticket and the O&O label for now.

[2022-02-08 15:44] anshulkumar-usds commented on #3391
No word from sender

[2022-02-08 16:58] cwinters-usds opened #4247 "Alert on 504s issued from Front Door"
We currently have a dashboard pane on the "ReportStream Production Performance" that shows the HTTP statuses returned from the Front Door. Use that same query to generate a PagerDuty alert if more than x generated over y minutes.

(Figure out x and y)

[2022-02-08 17:03] #2905 closed

[2022-02-08 17:11] whytheplatypus opened #4248 "HTTP triggered functions should timeout before 50s"
It should never be the case that a client receives a timeout when the application code is still running.

- There is a gateway that times out around 60s, the application code for an http request should time out before this
- This is most important for the two Receive endpoints (waters, and report)

[2022-02-08 17:28] loripusey opened #4249 "Update CSV Schema Documentation to Include New Standard Schema Column for Primary Language"
## Problem Statement
The standard schema being used for senders who use the CSV Upload feature has been modified to include an optional column to hold the patient's primary language. We need to update the CSV Upload Guide and the accompanying template to account for this new field.

We need to get the exact ReportStream field name from Rick Hood.

## Background Info
![image.png](https://images.zen

[2022-02-08 17:28] whytheplatypus commented on #4248
Can we confirm that calls to these are under 50s now?

[2022-02-08 17:29] loripusey commented on #4249
@drew-usds @BerniXiongA6 Can you please coordinate with Rick Hood on getting these changes made to coincide with the release of the new standard schema column
cc: @rachelhanster

[2022-02-08 18:29] ahay-agile6 commented on #3921
this was completed in ticket #3892 https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/3892

[2022-02-08 18:36] MauriceReeves-usds opened #4250 "Create Translation Option to Strip Invalid Characters"
Per email from PA, they can no longer wait for STRAC to address the hex 19 character appearing in files. We are going to add an option to the HL7 translation that will accept a list of values, or a regex, that will then get invoked and will strip out those characters.

Ideally we can scope this to a single field or invoke this on all fields, but for the first iteration, this will take a set of uni

[2022-02-08 18:39] emmastephenson commented on #3976
@anshulkumar-usds no, the last comment I saw here was the duplicate so I haven't looked into this. I also haven't seen anything from Siskiyou County, not sure if they sent that spreadsheet directly to Ming?

[2022-02-08 18:46] rhood23699 commented on #4120
Setup single OKTA login account for SDI Labs.

[2022-02-08 19:37] rick commented on #4158
![giphy (16)](https://user-images.githubusercontent.com/6259/153062556-e36853b9-a1f8-482e-9069-f88a5489d568.gif)

cc https://github.com/rick/you-rang/issues/1

[2022-02-08 20:50] Adrian-Brewster commented on #3968
Following up on it.  Have these been resent?

[2022-02-08 21:01] zdeveloper commented on #3968
DONE Resent 496 events.

[2022-02-08 21:31] #3127 closed

[2022-02-08 21:52] #4186 closed

[2022-02-08 21:52] oslynn commented on #4206
How to test: curl -X POST -H 'client: imagemover' -H 'Content-Type: text/csv' --data-binary '@/home/jorg3/Desktop/CDC/sample-data/ma-imagemover-to-resend-20220131.csv' localhost:7071/api/reports

[2022-02-08 22:02] oslynn commented on #4206
Acceptance:
1.) check ./build/sftp/<file output>.hl7
2.) check segment SPM-17 to see the same date as the test_result_date.

[2022-02-08 22:20] oslynn commented on #3607
Test: curl -X POST -H 'client: simple_report' -H 'Content-Type: text/csv' --data-binary '@/home/jorg3/Desktop/CDC/sample-data/pdi-covid-19-78d580bb-f426-43f8-a8ca-d319f338ee4d-20211221172001.csv' localhost:7071/api/reports

[2022-02-08 22:30] rachelhanster opened #4252 "Document and share Washington's data validation rules"
## Problem Statement
As part of research, we are finding out what validation various state PHDs do as part of their system that takes in COVID test results. We need to get the rules from Washington and evaluate what rules they have.

## Acceptance Criteria
- [ ] Get R scripts from Washington public health department team

- [ ] Document data validation rules in Washington's R scripts

Note: As of

[2022-02-08 22:46] jimduff-usds commented on #4248
I suppose we could write a dummy function where you just pass in an number and it sleeps for that many seconds before return a 200?

Also, there is already a smoke test that submits a 10,000 row csv!  But its so slow we never run it.  :irony

[code]

[2022-02-09 02:57] anshulkumar-usds commented on #4094
@LGFranklin I copied you on my last response to MD. Please let MD know how the "Unknown" is being mapped.

[2022-02-09 02:58] #4094 closed

[2022-02-09 03:37] anshulkumar-usds commented on #4079
Resubmissions completed on 2/8. OH acknowledged receipt. Awaiting confirming and accuracy of data by OH.

[2022-02-09 14:16] oslynn commented on #3607
Acceptance Criteria:
- View the output HL7 file and check the  OR-12-3 field.  It should truncate to 30 characters per HL7 standard as shown below:
![image.png](https://images.zenhubusercontent.com/6166db74c72e6d9735fd8b3b/1eea5608-bd79-4ea0-a1d4-8eedbf80edef)

[2022-02-09 14:32] rhood23699 opened #4255 "HHSProtect - Settings Changes needed for adding new Senders"
Currently, every new Sender added to ReportStream must send its production data to the "hhsprotect" sender.  A bit more explanation:
1. ReportStream is to send all production data to HHS protect EXCEPT for those senders that reject this.
2. Simple Report is one of the senders that CANNOT send its data to HHS protect.
3. We will handle any rejections by adding the specific sender to the jurisdictio

[2022-02-09 14:48] #3382 closed

[2022-02-09 14:55] RickHawesUSDS opened #4257 "[Bug]: HHS protect is not getting device identifier for Ellume submissions"
**Describe the bug**
The HHS protect feed is not receiving the `device identifier` from Ellume submissions

**Impact**
About 700k Ellume test results are not able to be classified as OTC tests. This is holding up producing actions from this data.

Potentially, All HL7 ingestion might be broken for the `device identifier` field.

**To Reproduce**'
I was able to reproduce the bug locally.
Steps to r

[2022-02-09 15:05] MauriceReeves-usds commented on #4218
I removed the DE secondary feed this morning per Uche's request. I'll be adding their info to reporting facility fields in their schema today as well.

[2022-02-09 15:35] carlosfelix2 opened #4259 "Add a cmdline option to NOT print out a table, when creating a lookup table"
When we create a new lookup table including the LIVD table, the tool outputs the entire table which is not useful for large tables or those that contain too many columns.  Make it an option in the tool so it only shows the output if specified.

Acceptance criteria:
1. Lookup table creation only outputs the raw table when specified via a command line option.

[2022-02-09 15:47] anshulkumar-usds commented on #4227
@LGFranklin assigning this you. Please let us know if anything is needed from ReportStream.

[2022-02-09 15:49] anshulkumar-usds commented on #3432
@LGFranklin can you please share an update?

[2022-02-09 15:52] jimduff-usds commented on #3722
@cwinters-usds , I wonder if we need indexes on the action_id column in the the report_lineage, action_Log, and report_file tables?

I'm seeing severe wheel-spinage in Metabase when trying to make links to those tables from the Action table.

![image.png](https://images.zenhubusercontent.com/5ff48b04da86ca0cf2bcf625/6f70645f-e0d0-44c6-9de9-ace3d05559c2)

[2022-02-09 16:28] Adrian-Brewster commented on #4151
Reached out to Zedd for resend

[2022-02-09 16:34] jimduff-usds commented on #4248
Note:   you could probably reproduce this by sending data that creates a bajillion warnings.   We think that this may have been a proximate cause of the problem last weekend.

[2022-02-09 16:44] Adrian-Brewster commented on #4151
Message resent.

[2022-02-09 16:44] #4151 closed

[2022-02-09 16:57] LGFranklin commented on #4227
I emailed the admin of this facility to request that they update the CLIA #.

[2022-02-09 17:00] jimduff-usds opened #4263 "Write documentation and/or release notes for new Json Response and History Details API"
Document our new json response format.
Also document our new HistoryDetails API format (which is basically the same as the json response, but can include additional data)

A bunch of examples of the new format are attached.

[2022-02-09 17:00] cwinters-usds commented on #3722
@jimduff-usds added these to staging, will do on production this evening; PR for flyway retrofit: https://github.com/CDCgov/prime-reportstream/pull/4262

[2022-02-09 17:05] jorg3lopez commented on #2666
Resubmission of test results is complete, 272 total test results.  (02/09/2022)
File name:
cdcprime_cdcprime_laoph_testing_testing_20220208202907
cdcprime_cdcprime_laoph_testing_testing_20220208203005

[2022-02-09 17:27] anshulkumar-usds commented on #3976
Will follow up with CA and create new ticket with next steps defined. Closing this for now.

[2022-02-09 17:27] #3976 closed

[2022-02-09 17:30] jimduff-usds commented on #4263
An example "synchronous" response (such as small senders, and the CSV Uploader Tool would get back)

[code]

And here's the corresponding response from the History Details API after the data has processed all the way, based on this query.

Note that its the same as above, but with the sentReports portion filled in.

 curl -H "client:ignore"  -H "authorization:bearer 123" -H "content-type:text/csv"

[2022-02-09 17:30] anshulkumar-usds commented on #3778
Received confirmation from Riki that the team is working on this and will have a PRIME-facing version of this mapper available by next week. The public facing version will not be altered as it is a standardized version used by other entities.

[2022-02-09 17:33] anshulkumar-usds commented on #3427
PMG looking into the three additional fields requested by NM

HL7 field   CSV Field
MSH.4.1     performingFacilityName
ORC.23      performingFacilityStreet
OBX.24      orderingFacilityPhone

[2022-02-09 17:38] anshulkumar-usds commented on #4202
MS/Inductive's concern isn't the LOINC code itself. Sample accession:
```5ce85a0c-87f8-4df2-82f7-50bb22936fc6```

We see that a Detected result was provided in OBX-5, and we are not entirely sure which virus of the three is detected from this field. We’re looking at the values from cell E218 in the “LOINC Mapping” sheet of the LIVD mapper and we do not see the “Detected” result as mentioned above

[2022-02-09 17:44] anshulkumar-usds commented on #3968
@Adrian-Brewster can you please follow up on the email thread and see if this can be closed?

[2022-02-09 17:54] anshulkumar-usds commented on #3809
Covered under the resubmits from 1/30

[2022-02-09 17:54] #3809 closed

[2022-02-09 17:57] sethdarragile6 opened #4264 "Admin Settings: add compare tool to edit/clone/new setting workflows"
## Problem statement

When editing or cloning a setting, we would like the ability to show a before/after comparison of the underlying JSON upon submitting the change. The user can then examine the differences and edit the JSON directly, if desired, before finally committing the change. Optionally, this same page could be used for the "new setting" workflow as a more useful JSON editor than a plai

[2022-02-09 17:57] anshulkumar-usds commented on #3848
2/9: VT reported that "USA" is coming in as the country under PID-11

[2022-02-09 17:57] loripusey opened #4265 "Sender production status: visual indicator and copy to help user identify status"
### Background

Senders would like to know whether they are in production and sending data to their PHD. We need a status indicator

### Acceptance Criteria
- [x] What does it look like?
- [x] Indicator/alert for "Test" status for CSV/API sender (ex: you have not yet been approved by your PHD)
- [x] Indicator/alert for "Error" status for CSV/API sender (ex: your account has been disabled in some w

[2022-02-09 18:05] Adrian-Brewster commented on #3968
I emailed MS yesterday to see if they could confirm receiving the messages. No response yet.

[2022-02-09 18:23] Adrian-Brewster opened #4266 "GU - Failures due to incorrect observation status"
**Describe the bug**
GU DOH received 17 files yesterday that failed due to an observation status being “X” in OBR-25 and OBX-11.

The NBS only accepts the observation status codes of “F” for final, “P” for preliminary,” or “C” for corrected.

Need to fix and resubmit.

Message ID                                                                  Reporting Facility
'''b96900e5-1d13-4302-84df-581deb04

[2022-02-09 18:29] LGFranklin commented on #4227
@anshulkumar-usds The CLIA is valid per the below. I am not sure how FL DOH wants to handle situations where it is valid but not yet in the "directory"
![image](https://user-images.githubusercontent.com/81384847/153266325-76416079-6f44-411b-8eb6-4e8102fadf04.png)

[2022-02-09 18:34] anshulkumar-usds commented on #2666
2/9: Checking with LA, awaiting response

[2022-02-09 19:18] drew-usds commented on #2866
@loripusey Yes still a problem, but not a high priority based on everything else we've got. This is a piece of larger problems we want to address around nav you get based on auth status, user type etc.

But in the meantime some futzy sidenavs are OK. We can push this down the priority ladder now but should leave it in the backlog and definitely eventually get to.

[2022-02-09 19:35] carlosfelix2 commented on #4257
Here is a more detailed set of warning messages for the data provided:
[code]

The problem with the data that I found was that, for the schema `hl7/lifepoint-covid-19`,
1. OBX-17-2 is empty.  There is text in OBX-17, but that would then be OBX-17-1, so equipment model is empty.  QUESTION: Do we have to change the schema for Lifepoint to use OBX-17 instead?
2. OBX-18-3 is empty.  There is text in O

[2022-02-09 19:43] victorialb-usds commented on #3819
To do: add Washington

[2022-02-09 19:44] victorialb-usds opened #4268 "Synthesize Washington State PHD Discovery Call"
[ ] add to cross- receiver research ppt: https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7BC4BA15FA-62A2-4847-916C-625A2C95BE20%7D&file=_TO%20USE_Receiver%20CSV%20Flat%20file%20upload%20comparison_Internal.pptx&action=edit&mobileredirect=true

[2022-02-09 20:10] loripusey commented on #1922
@inkandsound @drew-usds Please update the design link when it is avaialble

[2022-02-09 20:25] loripusey opened #4270 "Build API support for Sorting Submission History"
## Problem Statement
As a user, I need to be able to sort submission history by "Date/Time Submitted". This is the first step in that process, allowing the front end to query the back end to return ordered values.

## Assumptions

## Acceptance Criteria
- Can sort the submissions by the Date/time submitted (ascending or descending)

## To Do
-

## Technical notes:
### Relevant backend files:
- Sub

[2022-02-09 20:26] anshulkumar-usds commented on #3112
2/9: WA informed RS that their HIE informed the following:
"When we looked into this issue we could only find a couple of instances where we noticed this error message was sent. Has the USDS team looked at restricting the size of the batch files sent that contain the negative results to see if this resolves the issue? We have had other customers in the past batch more frequently to resolve this is

[2022-02-09 20:26] anshulkumar-usds commented on #3677
2/9: WA informed RS that their HIE informed the following:
"When we looked into this issue we could only find a couple of instances where we noticed this error message was sent. Has the USDS team looked at restricting the size of the batch files sent that contain the negative results to see if this resolves the issue? We have had other customers in the past batch more frequently to resolve this is

[2022-02-09 20:28] anshulkumar-usds commented on #3875
@zdeveloper these are SimpleReport messages. Could you please resubmit these?

[2022-02-09 20:32] loripusey opened #4271 "Clean and Present Final Design for Sorting & Filtering Submission History"
## Acceptance Criteria
- Consolidate Figma designs
- Use 2 element date picker
- Put default sort arrows on the header
- Address feedback that came out of user research

[2022-02-09 20:48] jimduff-usds commented on #4263
An example failure response (and identical HistoryAPI response):

[code]

[2022-02-09 20:48] loripusey opened #4272 "SPIKE - How Can we Find Out if a Sender is in T or P Processing Mode"
## AC
- Get answers to these questions
    - what field tells ReportStream if a sender is in T or P mode?
        - upload-covid-19.schema it is the processing_mode_code, but it pulls from customerStatus
    - where is the field's value stored?
        - it is stored in the settings table on the sender or receiver level
    - Is there a different field for senders who use the standard schema vs. s

[2022-02-09 20:56] victorialb-usds commented on #3286
We asked this in the WA discovery call (2/8/22) and it did not resonate. they just look at their surveillance to see if its been uploaded.

[2022-02-09 20:59] jimduff-usds commented on #4263
An example failure if the submissionId is not correct or if the submissionId does not belong to the organization name in the URL.

For example if the user requests
`http://prime.reportstream.cdc.gov/api/history/strac/submissions/1599`
and either submissionId 1599 does not exist or is not associated with client strac, this will return the following error:

[code]

[2022-02-09 21:01] emmastephenson commented on #3848
This is on SimpleReport to fix - I thought we were passing the country information to our test event exports, but looks like we're only storing it internally. How quickly would VT like this resolved?

[2022-02-09 21:05] anshulkumar-usds commented on #4227
@Adrian-Brewster  can you please share this with FL

[2022-02-09 21:06] oslynn commented on #2488
This is already done in the **./prime livd-table-download** command.

[2022-02-09 21:09] anshulkumar-usds commented on #3022
Shared with MA - closing this

[2022-02-09 21:09] #3022 closed

[2022-02-09 21:10] #2634 closed

[2022-02-09 21:41] anshulkumar-usds commented on #3432
I'll wait until @brick-green-agile6 is back so he may review. Thanks everyone for helping.

[2022-02-09 21:49] anshulkumar-usds commented on #3848
Thanks @emmastephenson. We haven't promised any timelines to VT. Soon-ish is great!

[2022-02-09 21:49] emmastephenson commented on #3848
Soon-ish we can do! :)

[2022-02-09 22:41] Adrian-Brewster commented on #4227
Sent over to FL.  Waiting on a response. Moving to external review.

[2022-02-09 23:55] sethdarragile6 commented on #3934
@loripusey Done, Not sure why I didn't get notified of your comment 7 days ago? 🤔

[2022-02-09 23:59] sethdarragile6 commented on #3934
@loripusey now I know. gmail was shoving a lot of my github stuff in the "Updates" category, which was hiding out from me in plain sight. fire me, fire me now. 🤦‍♂️

[2022-02-10 03:21] cwinters-usds commented on #3722
These three indexes have also been added to production:

[code]

Hopefully you'll see a speedup in metabase.

[2022-02-10 12:18] rhood23699 opened #4277 "OO/Add New CSV Senders"
## Problem statement
Need to add the following Senders:
  - Covid Clinic Org - Starting w/ CO patients
  - StemExpress in CA
  - Hollywood Smiles in CA

## Things know
N/A

## Acceptance criteria
- [x] sender_id and processing_mode_code are set properly from the settings table.  sender_id should be "covidclinic-org", "stemexpress-ca" and "hollywoodsmiles-ca", and processing_mode_code should be "T"

[2022-02-10 13:42] loripusey commented on #4272
@ahay-agile6 I assigned this to you, let me know if you have any questions or want to speak first

[2022-02-10 13:42] loripusey commented on #3369
@kevinhaube since you are working on the other related ones, I assigned this one to you

[2022-02-10 13:43] #3921 closed

[2022-02-10 13:45] #3937 closed

[2022-02-10 13:45] #4121 closed

[2022-02-10 13:46] #4144 closed

[2022-02-10 14:08] anshulkumar-usds opened #4279 "DIRECT Schema- Make Specimen Collection Date a Required Field"
As evidenced in the issue from MN, the ImageMover submission was missing this field:
https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/4198

The specimen collection date is currently an optional field from senders. Let's make it a required field for all senders by updating the Direct schema and making the necessary changes to the car

[2022-02-10 14:16] anshulkumar-usds commented on #4279
Duplicate of: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/4206

[2022-02-10 14:16] #4279 closed

[2022-02-10 14:18] jimduff-usds commented on #4263
## Async submissions

Senders submitting large numbers of submissions will be configured by the ReportStream team to use our high-throughput rapid-response "async" processing pipeline.   No change is required by the sender for this configuration.

Example Submission:

`curl -X POST -H "client:simple_report"  -H "content-type:text/csv" -H "x-functions-key:SECRET" --data-binary "@./testsubmission.cs

[2022-02-10 14:19] anshulkumar-usds commented on #3998
2/10: No longer blocked - checking with ImageMover on update

[2022-02-10 14:31] rhood23699 opened #4280 "Covid Clinic - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Covid Clinic
- Type of Sender: POC Lab
- Location: Testing with CO, but there a multiple states
- RS sender_id: covidclinic-org

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 2/9/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstre

[2022-02-10 14:33] rhood23699 commented on #4280
2/9/22 Had our kickoff call.  They are wanting to use CSV Uploader as a temporary solution to send results to CO.  They are already working with AIMS for a single solution to all States.

[2022-02-10 14:39] anshulkumar-usds commented on #4078
2/10: Checked with IL if anything is pending

[2022-02-10 14:40] anshulkumar-usds commented on #4079
2/10: Checked with OH on anything pending

[2022-02-10 14:44] anshulkumar-usds commented on #4134
2/10: Checking with Inductive if anything is pending

[2022-02-10 14:44] anshulkumar-usds commented on #4162
2/10: Checking with Inductive if anything is pending

[2022-02-10 14:44] anshulkumar-usds commented on #4167
2/10: Checking with Inductive if anything is pending

[2022-02-10 14:46] anshulkumar-usds commented on #4143
No further questions from state

[2022-02-10 15:07] zdeveloper commented on #3875
Done! resent 13 events.

[2022-02-10 15:49] MauriceReeves-usds commented on #3798
This isn't needed. Closing out.

[2022-02-10 15:49] #3798 closed

[2022-02-10 16:33] #3129 closed

[2022-02-10 16:50] #4277 closed

[2022-02-10 17:37] RickHawesUSDS opened #4282 "Ability to temporary disable senders and receivers"
**Background and Motivation**
Often during an incident, the incident response team would like to temporarily disable a sender or a receiver, because a partner end-point is misbehaving.

During the recent [Massive Duplicate Storm](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Incidents/2022-01-30%20-%20Duplicate%20Results%20Incident.docx?d=wfcd052e13e3b422

[2022-02-10 17:48] jimduff-usds opened #4283 "Add the filter type (eg 'qualityFilter') to the ReportStreamFilterResult"
When this ticket is done, a new field filterType should be added to ReportStreamFilterResult, and should appear in serialized versions of that object in the `action_log` table.

The possible values are as found in ReportStreamFilter.kt, that is:

[code]
(in practice jurisdictionalFilter will never appear, because we are not logging those right now)

So here's what the new serialized version of Rep

[2022-02-10 17:51] rhood23699 commented on #4255
sender_id: "all-in-one-health-ca" - They are in production and should be included.  I'll do that today.

Below are Senders that I'm working on that will soon need to be included.  Note, some of the Senders in your list are not mine, so I can't really answer for them.
"hollywoodsmiles-ca"
"kern-county-phsd-ca"
"cdphe-csvuploader"
"cadph-csvuploadertest"
"sourcebioscience_ca"
"warrior-dx-co"
"covidc

[2022-02-10 18:28] loripusey opened #4286 "SPIKE -- Can we use SendGrid to Trigger emails for OKTA Users"
## Questions to answer:
- Can we use SendGrid to trigger activation emails for OKTA users

## Acceptance Criteria
- Create solution proposal and place it [here](https://github.com/CDCgov/prime-reportstream/tree/35de1f5379a453d582cb8b96de8cca09b1c77a27/prime-router/docs/proposals)

[2022-02-10 18:43] jimduff-usds commented on #4263
Other things of note:

- I think we plan to retire and delete the 'verbose' option.  It'll be replaced with some sort of Item level History Details query, not yet written.  No-one is using 'verbose' right now.
- Let's document SkipSend - its useful.

[2022-02-10 19:07] anshulkumar-usds opened #4287 "Windy City Pro Labs - Sender Onboarding"
- [ ] Kickoff and Introduction to ReportStream & TOS
"• Get and analyze sample/dummy data from sender
• Finalize schema and share with sender"
Onboard to Staging
Send staging private key to sender (keybase.io)
Sender tests in staging until mutually agreed stability of data and connectivity is reached (no PII)
Validate sender data with receiver states
Onboard to Production (in test mode)
Mutual agr

[2022-02-10 19:08] anshulkumar-usds opened #4288 "MP Biomedicals - Sender Onboarding"
- [ ] Kickoff and Introduction to ReportStream & TOS
"• Get and analyze sample/dummy data from sender
• Finalize schema and share with sender"
Onboard to Staging
Send staging private key to sender (keybase.io)
Sender tests in staging until mutually agreed stability of data and connectivity is reached (no PII)
Validate sender data with receiver states
Onboard to Production (in test mode)
Mutual agr

[2022-02-10 20:58] #4134 closed

[2022-02-10 20:58] #4162 closed

[2022-02-10 20:58] #4167 closed

[2022-02-10 20:59] anshulkumar-usds commented on #4135
@zdeveloper completed the resubmissions for 169 messages. @MauriceReeves-usds when possible, please share filenames under which these got batched. WA requested these for tracking.

[2022-02-10 21:50] anshulkumar-usds commented on #3526
Hypothetical question we'd like to answer:

Abbott, a test manufacturer, sends us OTC BINAX-NOW results. ImageMover, a data aggregator, sends us OTC BD Veritor tests. Both sending entities are sending us OTC results; however, one (Abbott) is a test/device manufacturer, and the other (IM) is a data aggregator. By having these identifiers, we can study data quality and completeness across the sender

[2022-02-10 21:53] rhood23699 opened #4291 "StemExpress - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: StemExpress in CA
- Type of Sender: Commercial Lab
- Location: CA
- RS sender_id: stemexpress-ca

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 2/9/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.cdc.gov/terms-of-service

[2022-02-10 21:57] rhood23699 commented on #4291
Kickoff scheduled for 2/11/22 at 12p CT.  Sender Setup is complete except the setup of individual OKTA accounts.  We'll get those on the 2/11/22 call.

All YML and Send related updates have been completed.  We are ready to accept test files.

[2022-02-10 22:07] rhood23699 opened #4292 "Hollywood Smiles - CSV Sender Onboarding"
## Sender Info:
- Sender/Company Name: Hollywood Smiles
- Type of Sender: Dental Practice Offering COVID Testing
- Location: CA
- RS sender_id: hollywoodsmiles-ca

## Initial Interest & Follow Up
- [x] Document the date & time the Sender expressed interest -- 2/9/2022
- [x] Send Std Kickoff email.  This includes:

         - Links to TOS & TOS Registration
                 - https://reportstream.c

[2022-02-10 22:10] rhood23699 commented on #4292
2/9/22 Adrian sent Kickoff call request.  No response so far.  Need TOS.

[2022-02-10 22:12] rhood23699 commented on #4292
Sender setup is complete except I haven't received names and email address for OKTA account setup.  Email'd them today ask for this.

All YML and Sender setup in RS is complete.  Ready for testing.

[2022-02-10 22:19] rhood23699 commented on #4240
2/8/22 Adrian received a response thru Shared Inbox that they awaiting supervisor approval to begin.

Reminder to ask why they want to use ReportStream?  The answer is probably because they use a different LIMS system than the State, so they are responsible for reporting to the State.

[2022-02-10 22:29] jh765 commented on #3526
### putting this off
Primary-test-Method Flag:
proctor-authorized
not proctored
unknown/mixed
### Anshul can get more clarity on this one.

[2022-02-10 22:30] rhood23699 commented on #4204
2/9/22  Receive a test file through secure email because uploading failed.  The file was not in our CSV format.  It was in CO's CSV format.  Email'd back and let them know we needed it in our format.

[2022-02-10 22:44] rhood23699 commented on #4190
2/9/22 Still pending TOS.

2/10/22 Lana is having equipment model name and LOINC Code problems.  I requested a Zoom to help her, or that she send a de-identified file for my review.

[2022-02-10 22:53] rhood23699 commented on #4158
Moved Core Bio Labs to Production.  We'll watch for results.

[2022-02-11 00:36] sethdarragile6 opened #4293 "[Bug]: Admin Settings: Unable to edit the Translation section for receivers"
### Contact Details

_No response_

### What happened?

From Jorge:
"Unable to edit the translation section. I was unable to type in the box, but I was able to use backspace to delete."

At the time of the bug bash, I was able to repro this but am unable to now.

![image](https://user-images.githubusercontent.com/92405130/153520177-593e8e0c-d1f7-47ba-bd7a-065aff3e7773.png)

### Version

1.0.2 (Def

[2022-02-11 00:53] sethdarragile6 opened #4294 "[Bug]: Admin Settings: Sender edit page missing the "keys" and "processingType" fields"
**Describe the bug**
The "keys" and "processingType" fields are missing from the Sender Edit page

**Impact**
Can't edit these fields in the UI, and there's a chance that saving from the page might overwrite the fields with blanks.

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin, go to Admin->Organization Settings
2. Choose an organization from the list
3. Click on Edit for a

[2022-02-11 07:24] meckila commented on #4232
Spike Notes (until granted SharePoint access)
**Current Scripts**
[code]

- env-cmd →node program for executing commands using an environment from an env file

- [craco](https://github.com/gsoft-inc/craco/blob/master/packages/craco/README.md)→configuration layer for create-react-app that allows for customization without using [eject](https://github.com/facebook/create-react-app/blob/main/packages/

[2022-02-11 12:27] rhood23699 opened #4295 "Sender Training Website Tool, no data in production"
## User Story:
As a potential new CSV Sender, I would like the ability to work at my own pace to create CSV files from my system and validate the CSV data before engaging in a formal Onboarding process.

## Hypotheses:
Potential Senders would prefer to use a self-validation / pre-onboarding validation tool to insure they can comply with our standard before actually engaging with us.  This will red

[2022-02-11 12:35] rhood23699 commented on #4131
2/7/22 Resent another test file with all results marked as Corrected and non-LA county.  Not all results received Optum is investigating

2/9/22 Optum found that message were NACK'd because of the length of MSH.4.1 and others.  Basically the HL7 namespaces.

2/10/22 Set truncation on our test feed to True and resent the test file.  They received all but one result.  Optum is investigating.

[2022-02-11 12:40] rhood23699 commented on #4129
2/9/22 Test SFTP failing with cert error.

2/10/22 Mo fixed and I resent test file.  Now it is timing out.  Opened a ticket with CDC I/T to open the host and port to CDPHE's Test SFTP server.
  - Email'd test file to CDPHE.  They responded that it looks good.  They are working on their test file.

[2022-02-11 12:44] rhood23699 commented on #4127
2/10/22 There was a truncation problem on HL7 namespaces on our site.  It was fixed and Lemoore resent their file.  CA-DPH doesn't see it.  Optum will look for NACK'd messages and provide feedback.

[2022-02-11 12:47] rhood23699 commented on #4120
Email'd that we have added reporting_facility_name and reporting_facility_clia to be used on the results where SDI Lab is the result submitter but not the Testing Lab on their internally developed COVID test (EUA).

[2022-02-11 13:09] rhood23699 commented on #4127
Optum research showed that the truncation didn't work.  I think maybe they are looking at the previous errors.  I email'd our HL7 segments (no PHI) that showed the Namespaces as truncated.

[2022-02-11 13:43] whytheplatypus commented on #3526
lets split ` sendingMethod` into a separate ticket, it should probably not be static in something like settings, but allowed to be set via a header (probably user agent, or similar)

[2022-02-11 14:06] anshulkumar-usds commented on #4079
2/11: No further news from state. Closing.

[2022-02-11 14:06] #4079 closed

[2022-02-11 14:12] anshulkumar-usds commented on #4078
2/11: No further news from state. Closing.

[2022-02-11 14:13] anshulkumar-usds commented on #4133
2/11: No further request from state. Closing.

[2022-02-11 14:13] #4133 closed

[2022-02-11 14:14] anshulkumar-usds commented on #4135
@jbiskie @jorg3lopez @oslynn can any one of you please help me locate the filenames where the 169 message got batched for WA?

[2022-02-11 14:19] anshulkumar-usds commented on #3954
2/11: VT confirmed file processed without any issues, and requested we move the changes to prod.

[2022-02-11 14:26] jh765 commented on #3526
Anshul, the `senderType` should have a default value.  If you had to pick the default,
`testManufacturer, dataAggregator, facility, hospitalSystem`
what would you recommend?
I used `SenderType.facility` (they are more-likely to need a default) but that is easily changeable.

[2022-02-11 14:32] anshulkumar-usds commented on #3526
Fine with using ```facility``` as the default

[2022-02-11 14:36] rhood23699 commented on #4280
They send their first test file.  I'll validate today.

[2022-02-11 14:54] rhood23699 commented on #4291
Setup both email account in OKTA.

[2022-02-11 14:57] kevinhaube commented on #1869
@loripusey Two notes as I merge this in:
1. The endpoints for `/submissions` (both the list endpoint and details endpoint) currently don't return the filename, so this AC could not be met, though I don't think it's a blocker. We can easily add this on as an iterative upgrade to this page. ~1-2 SP

2. There was no AC for a printable page, but the designs showed a print button. I forewent it this ti

[2022-02-11 15:14] anshulkumar-usds commented on #3875
2/11: WA was notified of resubmissions. Awaiting confirmation from state.

[2022-02-11 15:23] #3875 closed

[2022-02-11 15:50] jh765 commented on #3526
did someone remove the following line:
import gov.cdc.prime.router.azure.Facility
(was line 5 of sender.kt)

[2022-02-11 15:51] anshulkumar-usds commented on #3677
2/11: WA noted this issue has surfaced again as of 1/25. See attached list of effected messages

[https://app.zenhub.com/files/304423150/4c1a435d-9931-44c9-9370-2465ef99187e/download](https://app.zenhub.com/files/304423150/4c1a435d-9931-44c9-9370-2465ef99187e/download)

[2022-02-11 15:52] jimduff-usds opened #4298 "Add tests of the AS2 transport to existing Smoke tests"
The smoke tests are designed to send to multiple transports.

We do not currently test the AS2 transport.  (Nor the SOAP transport, but I'm ticketing that separately)
(We were testing the Redox transport, but that just got removed.)

### Acceptance Criteria

-- The 'end2end' and 'merge' tests send data to AS2 transport.   Add others as you see fit.
- Needs to at least work locally
- Better if it a

[2022-02-11 15:54] jimduff-usds opened #4299 "Add SOAP transport to Smoke Tests"
The smoke tests are designed to send to multiple transports.

We do not currently test the SOAP transport.  (Nor the AS2 transport, but that's ticket #4298)
(We were testing the Redox transport, but that just got removed.)

### Acceptance Criteria

-- The 'end2end' and 'merge' tests send data to SOAP transport.   Add others as you see fit.
- Needs to at least work locally
- Better if it also works

[2022-02-11 15:58] JosiahSiegel opened #4300 "Non-production database restore pipeline"
**Description**
The primary database on non-production environments needs to be restored from production backups on a recurring schedule.
@cwinters-usds confirmed that the production database does NOT contain PII or PHI.

**Existing Resources?**
Non-production environments will need to be restored from the production backup.

[2022-02-11 16:04] JosiahSiegel opened #4301 "Update terraform to deny public access to storage accounts"
**Describe the bug**
Update terraform to deny public access to storage accounts

**Impact**
While storage account containers are currently private, allow public access on the storage accounts provides the option to make a container public, which we want to prevent.

[2022-02-11 16:04] #3900 closed

[2022-02-11 16:12] anshulkumar-usds opened #4302 "Monitor Support Inbox on Weekend"
Pursuant to the incident from 1/30, an action item is to start monitoring the support inbox over the weekend.

Todo:
1. Document SOP to establish protocol for monitoring and escalation
2. Develop rotating monitorship for the inbox between O&O team members

cc: @MauriceReeves-usds @sarahnw @Adrian-Brewster

fysa - @RickHawesUSDS

[2022-02-11 16:16] anshulkumar-usds opened #4303 "Publish Emergency Phone Number and Email for STLTs and Senders"
Pursuant to the incident from 1/30, we need to create a share a phone number and email address that can be used by our STLT and Sender partners in case of urgent support from the ReportStream team.

https://cdc.sharepoint.com/:w:/t/USDSatCDC/EeFS0Pw7PiRCvYUncjLAL7oB7CnPlJjGdouk_0uDRB7nQw?e=t08mkb&CID=B2403B80-0A1A-482E-B945-A2223BCD075B&wdLOR=cFB8C96FD-0258-479D-B78C-F60EC92893E6

Todo:
1. Work wi

[2022-02-11 16:30] loripusey opened #4304 "Create Instructions for the LIVD Table"
## Problem Statement
As a Sender, I struggle to understand how to use the HHS LIVD table to determine what codes to use for my test data.

## Background
Here is the original [ticket ](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/4295)Rick Hood created

## Acceptance Criteria
- Create some instructions for how to use the LIVD Table
- Instruc

[2022-02-11 16:33] #3482 closed

[2022-02-11 16:33] #3481 closed

[2022-02-11 16:33] #2150 closed

[2022-02-11 16:34] JosiahSiegel commented on #4301
For now I manually fixed the flag on those 3. TF is going through a major revamp right now in the test env and I confirmed the flag is set there. Once TF is rolled out to staging and prod, this will be better managed.
pdhteststorageaccount
pdhtestnewterraform
pdhstagingterraform

[2022-02-11 16:34] anshulkumar-usds commented on #2143
No response from sender after many months of delay. Closing for now.

[2022-02-11 16:34] #2143 closed

[2022-02-11 16:34] #4301 closed

[2022-02-11 16:39] anshulkumar-usds commented on #3783
@zdeveloper I reached out to Tim on this, but I think he's ooo. Can you please resubmit these for IL? They are from SR.

[2022-02-11 16:40] anshulkumar-usds commented on #4047
2/9: Roche sent some questions on field mapping b/w our guide and HHS SPec. @jbiskie taking a look.

[2022-02-11 16:42] anshulkumar-usds commented on #3830
iHealth is not interested in direct connection to RS at this time. Closing.

[2022-02-11 16:42] #3830 closed

[2022-02-11 16:43] anshulkumar-usds commented on #3469
2/10: Anavasi consented to TOS. Waiting for sender to submit data to prod endpoint.

[2022-02-11 16:44] anshulkumar-usds commented on #3752
2/3: Sender was provided prod key. Waiting for sender to share more data.

[2022-02-11 16:44] #3929 closed

[2022-02-11 16:44] Adrian-Brewster opened #4305 "PA - Changes Required to Test Names"
**Is your feature request related to a problem? Please describe.**
STRAC reached out to us to let us know that starting Monday 2/14, PA will be adding the following values to their data:

PA will be rolling out a new rapid test on Monday (02/14/2022). We wish to advice ReportStream that we will be adding the following values to our data:

equipment_model_name
 Previous valid values: "binax", "cue"

[2022-02-11 16:50] TomNUSDS commented on #3038
I think the fundamental problem is we're using `style-src: 'unsafe-inline'`.

@drew-usds
Chris and I tried to remove this option but the images referenced in content.json were being blocked. (e.g. `"icon": "cdc-logo.svg",`)

I suspect the `dangerouslySetInnerHTML` is what's triggering it.

[code]

But I need to get CSP somehow working on my local dev server... Maybe with a META approach? `<meta ht

[2022-02-11 16:53] anshulkumar-usds opened #4306 "Make resubmissions easier to STLTs"
Pursuant to the incident from 1/30, it was noted that resubmitting messages to STLTs can be a time consuming effort to execute. Furthermore, each STLT has unique submissions protocol for how resubmissions should happen. This is a placeholder to do:

1. Make resubmissions, in general, "easier" (define easier?)
2. Capture STLTs specific resubmission preferences in a "settings" framework so that when

[2022-02-11 16:55] #4105 closed

[2022-02-11 16:55] jimduff-usds commented on #4105
Same as #4226.  Removing this one.  HOpefully both are moot.

[2022-02-11 16:59] anshulkumar-usds opened #4307 "CA - Truncate OBX-23.1 and ORC-21.1 to 50 chars"
CA has requested we truncate OBX-23.1 and ORC-21.1 to 50 chars.

[2022-02-11 17:12] cwinters-usds opened #4308 "Extend Metabase 2000 record limit"
We generate weekly reports to send out to jurisdictions. For some states there are already > 2000 senders so the list currently gets truncated.

[2022-02-11 17:16] cwinters-usds commented on #4308
## Info

[This issue](https://github.com/metabase/metabase/issues/4564) talks about having this and some other settings in the UI as editable. But it's been around a while and I'm skeptical it'll be fixed soon.

[This comment](https://github.com/metabase/metabase/issues/12729#issuecomment-810084271) indicates on SQL Server you can modify this per query, don't think there's a way to do so on Postgr

[2022-02-11 17:17] jimduff-usds opened #4309 "Force externalName to always appear in the submissions function summary/list response"
### AC

Return"externalName" in the submissions summary/list response even when its null.

###Notes

Right now the code is set to not include this value when its empty.

The fix is on Submission.kt line 210.

### Example from when its filled in:

This call

curl -H "client:ignore"  -H "authorization:bearer 123" -H "content-type:text/csv" "http://localhost:7071/api/history/ignore/submissions" | pyt

[2022-02-11 17:24] jimduff-usds commented on #4309
### AC

Return"externalName" in the submissions summary/list response even when its null.

###Notes

Right now the code is set to not include this value when its empty.

The fix is on Submission.kt line 210.

### Example from when its filled in:

This call

curl -H "client:ignore"  -H "authorization:bearer 123" -H "content-type:text/csv" "http://localhost:7071/api/history/ignore/submissions" | pyt

[2022-02-11 17:31] Adrian-Brewster commented on #2320
Completed and added to all state CLIA reports

[2022-02-11 17:31] #2320 closed

[2022-02-11 17:38] jimduff-usds opened #4310 "Add a few summary fields to the History Details"
### AC

Add the following fields to the submission History Details Response:  `overallStatus`, `plannedCompletionAt`, `actualCompletionAt`.

#### overallStatus

`overallStatus `is meant to be a simple status value that tells a user if all the data in that submission has made its way to all the intended recipients.    Values are

- `error `- error on initial submission
- `received `- has passed the

[2022-02-11 17:48] #3894 closed

[2022-02-11 17:57] #3017 closed

[2022-02-11 17:57] #2890 closed

[2022-02-11 18:04] anshulkumar-usds commented on #2623
Notes from slack: https://usds.slack.com/archives/C01HFHPNJEL/p1643644886999509?thread_ts=1643644870.034559&cid=C01HFHPNJEL

VT has requested that all OTC results going to their jurisdiction use these values:

Message Header and Other
Sending Facility Name (MSH-4.1) = “PRIME OTC“
Sending Facility ID (MSH-4.2) = “0OCDCPRIME”
All other CLIA fields Put same as MSH 4.2
Message Profile Identifier (MSH

[2022-02-11 18:16] jimduff-usds commented on #1869
@kevinhaube, A bunch of thoughts and comments:

1. We are adding the missing externalName (aka the "filename") field to the History Details response with this ticket:  #4241.
2. In addition, be aware that ticket #4241 will also tweak a couple field names in the History Details, so that when #4241 is done, the History Details will be backwards compatible with the current json response to any submis

[2022-02-11 18:48] anshulkumar-usds opened #4311 "Abbott Onboarding - Direct to ReportStream for STLT Reporting"
Abbott wishes to start a pilot with ReportStream to begin reporting data to states. This is a placeholder to document the work and next steps for onboarding operations.

[2022-02-11 18:48] rachelhanster opened #4312 "Remind senders of reporting requirement"
## Problem Statement
As a public health department, I want ReportStream to identify facilities who aren't reporting per regulation and send reminder messages.

## Acceptance Criteria

- [ ] Identity facilities that have not reported in 2 or more days

- [ ] send an automated message to nudge facility about reporting

[2022-02-11 18:49] anshulkumar-usds commented on #4311
2/11: Staging key and updated instructions shared with user navicanonprod in keybase

Next steps are to review Abbott's current data schema, and update or create a new child schema from Direct.schema. Abbott still needs to confirm if they're sending CSV or HL7 files

[2022-02-11 18:50] anshulkumar-usds commented on #4266
2/11: Inductive reported that the following two facilities also came up with the same error:
Father Duenas Memorial School
messageID: ```96eddc2c-58c0-4e15-bccf-2e92ec58e9fa```
OKKODO HIGH SCHOOL
messageID: ```22237388-cfbe-4c99-8a53-fd53192fc1a7```

[2022-02-11 18:51] kevinhaube commented on #4241
This will make some breaking changes to the `/submissions` and `/submissions/:taskId` pages on the front-end. Please reach out/pair with the Experience team to ensure nothing is left broken!

[2022-02-11 18:55] kevinhaube commented on #1869
@jimduff-usds
Thanks for the heads up on #4241! I've left a note on the ticket to reach out to Experience since that'll loosely break some of our front-end display (defaults text will be displayed instead of the API-retrieved information)

Ahh, I must have old submissions without the `externalName` property. Thank you!

I believe the question of transmission date/time was an old one that didn't ge

[2022-02-11 19:06] sethdarragile6 opened #4313 "[Feature Request]: Admin Settings: Need to display detailed error message returned from the API if validation fails"
**Is your feature request related to a problem? Please describe.**
Currently when invalid data is submitted on a setting, a simple popup saying "An Error Occurred" will display- leaving the user to possibly guess at what the error might be.

**Describe the solution you'd like**
Typically when the API is called and a validation error is triggered, it returns a simple JSON object with an "error:" fi

[2022-02-11 19:08] sethdarragile6 opened #4314 "[Bug]: Admin Settings: Error notification alert too small for some messages"
**Describe the bug**
Some error messages that popup when saving changes are too long to fit in the existing "toast" popup. Dialog needs to be bigger and with a Close or Dismiss button (i.e. the dialog that occurs when hitting the Delete button)

**Impact**
Error messages are truncated, and thus not readable, and the dialog might go away before the user has the chance to read it or screenshot it.

[2022-02-11 19:10] kevinhaube opened #4315 "Pagination behavior not accounting for failed Submissions being filtered out"
**Describe the bug**
It looks like we receive the full API response, including failed submissions (id: null), and when filtering out, are not displaying the first 10 successful items on page 1, but rather the successful items from that original network call; in this case, only 2 items were successful. **This is likely due to the API only returning 10 items from the cursor and using an array filter

[2022-02-11 19:23] jorg3lopez commented on #3607
@oslynn @Adrian-Brewster @anshulkumar-usds Test results resubmitted today (02/11/2022)
file name:
covid-19-ee5e39a0-4b0c-4f18-8896-e95606ff96ef-20220210232102

[2022-02-11 19:44] anshulkumar-usds commented on #3607
2/11: Checking with NJ to validate changes in the file.

[2022-02-11 19:49] rhood23699 opened #4318 "OO/Add Saliva to sender-automation.valueset"
## Problem statement
Saliva specimen is in the sender-automation.valueset, but Saliva should be also.  We had a Sender trying to use Saliva and got frustrated trying to figure out why it was accepted.

## Things know
I haven't started using the Lookup table for sender-automation valuesets yet.  That will be another ticket.

## Acceptance criteria
- [x] Saliva is accepted and code exactly as Saliva

[2022-02-11 19:56] rhood23699 commented on #4204
2/11/22 Had a Zoom with Megan.  She finally got the LIVD fields correct, but she did find a problem with us not accepting Saliva as a specimen type.  I'm fixing it now for Tuesday release.

She was frustrated.  Said our format is far harder to meet than Colorado's which is true.
CC:  @loripusey @rachelhanster @victorialb-usds

[2022-02-11 20:29] anshulkumar-usds commented on #3677
2/11: WA does not have a way to convert the timezone to PST, and has requested RS to complete the resubmissions.

[2022-02-11 20:32] victorialb-usds commented on #3975
Anshul said "we're tracking those issues under the Data Quality Issues epic" setting up meeting for Monday 2/14

[2022-02-11 20:32] TomNUSDS commented on #3891
@MauriceReeves-usds See items from list marked with ⚠️ ... (e.g. do we ever send mail from staging)?

[2022-02-11 20:33] TomNUSDS commented on #3038
Seems like the `<SpinnerCircular>` component modifies style on-the-fly and fails. We'll need to find a different solution.

[2022-02-11 21:11] rachelhanster opened #4320 "Help Center"

[2022-02-11 21:33] sethdarragile6 opened #4322 "[Bug]: Admin Settings: Invalid JSON in Routing Filter passes validation but does not save"
**Describe the bug**
When entering invalid JSON in the Routing Filter field (for Receiver settings), the Receiver will appear to save successfully but then just leaves the field blank.

From Jorge (see screenshots below):
"when adding a filter without quotes and clicking on the save button, it displays that the changes have taken effect. When going back to check the changes, the changes are not th

[2022-02-11 21:45] sethdarragile6 opened #4323 "[Bug]: Admin Settings: Adding a valid filter value to NM-DOH did not save"
**Describe the bug**
A bug was encountered by Mo when entering a valid filter value for the top level org info for org NM-DOH:

"Adding a valid filter value to the organization and hitting save did not save my filter settings, but I didn't get an error"

**Impact**
Filter at an org level possibly not updatable.

**To Reproduce**
Steps to reproduce the behavior:

1. Login as admin, go to Admin->Org

[2022-02-11 21:53] cwinters-usds commented on #4247
Initial rule created from log analytics workspace: `pdhprod-504-alert` ([link](https://portal.azure.com/#blade/Microsoft_Azure_Monitoring/UpdateLogSearchV2AlertRuleViewModel/alertId/%2Fsubscriptions%2F7d1e3999-6577-4cd5-b296-f518e5c8e677%2FresourceGroups%2Fprime-data-hub-prod%2Fproviders%2Fmicrosoft.insights%2Fscheduledqueryrules%2Fpdhprod-504-alert))

[2022-02-11 21:55] rachelhanster commented on #4204
Zoom call: Sounds good.
Data schema: Why? What exactly is leading Megan to say that reportstream's data schema is "harder to meet than Colorado's"?

[2022-02-11 22:03] sethdarragile6 opened #4324 "[Feature Request]: Admin Settings: "Advanced" mode for entering entire orgs"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to enter an entire organization from scratch within the app. From Mo:

"It would also be good to have the 'advanced' mode we discussed before where we can just paste in the entire JSON doc for an org and sender or receiver in a single textblock"

**Describe the solution you'd like**
This could be a page no

[2022-02-11 22:22] sethdarragile6 opened #4325 "Admin Settings: Guard against race conditions/simultaneous edits"
## Problem statement

If more than one user is editing a particular org or org setting at the same time, there is a possibility one user will clobber the other user's setting without anyone realizing it. There should be some sort of mechanism in place that warns the user if the version of the org or org setting they're about to update is not exactly one version up from the version number they star

[2022-02-11 22:46] sethdarragile6 opened #4326 "[Bug]: Admin Settings: Clicking Cancel from an Edit or Clone page updates the display of org edit page with discarded changes"
**Describe the bug**
Clicking Cancel from the Clone page after entering something in the Name: field replaces the original setting name in the org edit page grid. From Joel:

"Click 'clone'->type text in the 'name' field->cancel.  then back on the org page, it displays the name that you typed but canceled out of on the previous page.
also, if you then try to click 'clone' again on the row that has

[2022-02-11 23:30] sethdarragile6 opened #4327 "[Bug]: Site Wide: Navigating through the application buttons does not scroll you to the top of destination page"
## Describe the bug
Generally within the app if you navigate to any other page it will try to keep you at whatever vertical position you had scrolled to before clicking the button- often forcing the user to constantly keep scrolling up as they use the application.

## Need to Know
This may be "us" using the React Router incorrectly.
React Router version is now v6.

## Acceptance Criteria
- [ ] Whe

[2022-02-12 00:01] drew-usds commented on #4249
@loripusey Moving this back into the sprint backlog. Update from Rick from today:

This is still in progress on their end, so no rush from us. Mo is working on changes that Rick will need to test. They'll keep us posted.

[2022-02-12 00:03] sethdarragile6 opened #4328 "Admin Settings: Keep org name on page while scrolling"
## Problem statement

When scrolling through some pages, the org name of which you're viewing/editing will often be out of view when scrolling. This could lead to confusion as to which org you're in the process of viewing/editing- especially if you have more than one tab open in your browser.

Possible solutions are to "freeze" the top row of the page that contains the org name, or even have a flo

[2022-02-12 13:38] LGFranklin commented on #4227
Closing the issue --- Sent CLIA receipt and hone number to Kristin

[2022-02-12 13:38] #4227 closed

[2022-02-13 11:52] jimduff-usds opened #4329 "Bug: Certain action_log warnings/errors are missing trackingId and index"

[2022-02-14 13:38] rhood23699 commented on #4126
'2/14/22 Had to reset OKTA password.  They are trying to send a test file.

[2022-02-14 13:44] rhood23699 commented on #4158
2/11/22 Three results sent.  Waiting on CA-DPH validation.

2/12/22 Seven results sent.  Waiting on CA-DPH validation.

[2022-02-14 14:18] jimduff-usds commented on #3736
Our original way to do this didn't work - throwing an exception at the "top level" of an Azure function triggers the queue retry mechanism.  For SendFunction we don't want the queue retry mechanism since we wrote our own.   We could turn this off with a function.json file, but we are currently autogenerating those files during the build, so that's a larger change than anticipated.

A better soluti

[2022-02-14 14:21] jimduff-usds commented on #2745
Closing as DONE.

[2022-02-14 14:21] #2745 closed

[2022-02-14 14:26] anshulkumar-usds opened #4332 "ID - Onboarding"
The following items, generally in order, must be completed to successfully onboard a receiver to ReportStream:

* [ ] Added to organization.yml
* [ ] Added to organizations-local.yml
* [ ] Added to staging settings table
* [ ] Added to prod settings table
* [ ] Added at least one receiver
* [ ] Added OKTA group to download site
* [ ] Added customers to OKTA group for download site
* [ ] Is custome

[2022-02-14 14:54] anshulkumar-usds commented on #3427
@jbiskie Can you please review the additional data PMG sent and share your feedback with the sender.

[2022-02-14 14:56] jimduff-usds commented on #2072
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/2072?planning-poker) with ZenHub @clediggins-usds @carlosfelix2 @jh765 @JGreenFearless @whytheplatypus

[2022-02-14 14:57] jimduff-usds commented on #4243
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4243?planning-poker) with ZenHub @jh765 @whytheplatypus @carlosfelix2 @clediggins-usds @JGreenFearless

[2022-02-14 15:02] anshulkumar-usds commented on #4135
Filename for 169 messages with missing LOINCs: missing-loincs-2/cdcprime_testing_20220210161515_879684.hl7

[2022-02-14 15:15] anshulkumar-usds opened #4333 "Convert senders to prefer datetime offset or UTC"
Several states has expressed concerns about default assumptions ReportStream makes for time-zones and date-time offsets that are communicated with our test results.

Upstream: We need to work with all our senders to have them send a date-time offset or default to UTC for all messages communicated to ReportStream.

Downstream: ReportStream needs to communicate with each STLT on how the time-zones a

[2022-02-14 15:19] anshulkumar-usds opened #4334 "ImageMover - Convert sender to prefer datetime offset or UTC"
Per details contained in this epic: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/4333

we need to work with ImageMover, update their schema, and default to a timezone to ensure we are capturing any datetime uniqueness and offsets the senders wishes to supply.

Per Jim, one way to do this would be to setup a "defaultTimeZone" fie

[2022-02-14 16:09] Adrian-Brewster commented on #3943
Heard back from NM. PMG had some changes to make. Changes made last week and PMG sent over new test files.  @jbiskie Will forward to NM this week.

[2022-02-14 16:09] #3438 closed

[2022-02-14 16:10] Adrian-Brewster commented on #3857
@brick-green-agile6 if we haven't heard back from CA, lets close this out.

[2022-02-14 16:11] Adrian-Brewster commented on #3820
Fields are already populated. Closing out

[2022-02-14 16:11] #3820 closed

[2022-02-14 16:14] Adrian-Brewster commented on #4206
Already merged. No feedback from ImageMover.

[2022-02-14 16:14] #4206 closed

[2022-02-14 16:15] #2488 closed

[2022-02-14 16:16] loripusey opened #4337 "Notifications for Senders & Receivers"

[2022-02-14 16:17] Adrian-Brewster commented on #3800
@oslynn @brick-green-agile6 @jorg3lopez @jbiskie please review today so we can close this out.

[2022-02-14 16:18] anshulkumar-usds commented on #3437
@brick-green-agile6 sender made a few submissions. Please review and confirm if the resubmissions are good.

[2022-02-14 16:20] Adrian-Brewster commented on #2473
@MauriceReeves-usds to merge.

[2022-02-14 16:20] anshulkumar-usds commented on #3783
@zdeveloper can you please take a look at these?

[2022-02-14 16:21] #3779 closed

[2022-02-14 16:22] loripusey opened #4338 "Help Center"
## Problem Statement
As a user, I want a place to go for initial help without having to interact with someone from ReportStream.
As reportstream admin, I want users to be able to easily find answers to common questions and be independent before contacting reportstream.

## Acceptance Criteria
- easy to access
- information is organized by most common to least common tasks
- content must really mat

[2022-02-14 16:22] anshulkumar-usds commented on #4198
2/14: Checked with IM and requested to make this a priority

[2022-02-14 16:23] anshulkumar-usds commented on #3778
Checking with FDA on further guidance

[2022-02-14 16:25] anshulkumar-usds commented on #3627
After revisions, we will follow up with content designers on the Experience team to make the content available on the website

[2022-02-14 16:26] jimduff-usds commented on #3736
PagerDuty can look for a unique string.   The use case in this ticket should not be at a level that triggers pagerduty to call someone, but we might want this in the future.

Use an existing Logger level?  This will require getting rid of the Azure "context" logging, and using the regular log4j logger.  TBD to use ERROR or FATAL.  Be sure there's enough context in that message - which receiver, wh

[2022-02-14 16:33] Adrian-Brewster commented on #4218
Waiting to hear back from DE.

[2022-02-14 16:35] Adrian-Brewster commented on #1166
@jorg3lopez to work on today.

[2022-02-14 16:39] #3069 closed

[2022-02-14 16:43] Adrian-Brewster commented on #3998
ImageMover doing resubmissions.

[2022-02-14 16:43] rhood23699 commented on #2616
Closed.  This was fixed under the a larger LIVD table ticket.

[2022-02-14 16:43] #2616 closed, assigned to rhood23699

[2022-02-14 16:44] victorialb-usds commented on #3197
@BerniXiongA6 tagging you here so you can see the original ticket on this
https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B3883912A-317A-4E99-8A2E-187C105C02BF%7D&file=A1H%20Pilot%20Synthesis_1.27.22_Internal.pptx&action=edit&mobileredirect=true

[2022-02-14 16:46] whytheplatypus opened #4339 "Endpoint for HL7 -> FHIR translation"

[2022-02-14 16:48] anshulkumar-usds commented on #3253
Removing O&O and @jbiskie from the ticket. cc @jimduff-usds

[2022-02-14 16:55] anshulkumar-usds commented on #4231
Outcomes: Make sure AZ gets the file, and root cause analysis why the report failed

[2022-02-14 16:55] JGreenFearless commented on #4329
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4329?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 16:56] JGreenFearless commented on #4310
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4310?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 16:57] JGreenFearless commented on #4309
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4309?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 16:57] Adrian-Brewster commented on #4197
Lets make this a global change.

[2022-02-14 16:57] JGreenFearless commented on #4283
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4283?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 16:58] Adrian-Brewster commented on #4020
Should also be a global change.

[2022-02-14 16:59] JGreenFearless commented on #4104
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4104?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 17:01] JGreenFearless commented on #4098
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4098?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 17:09] anshulkumar-usds opened #4341 "NV - Onboarding"
The following items, generally in order, must be completed to successfully onboard a receiver to ReportStream:

* [ ] Added to organization.yml
* [ ] Added to organizations-local.yml
* [ ] Added to staging settings table
* [ ] Added to prod settings table
* [ ] Added at least one receiver
* [ ] Added OKTA group to download site
* [ ] Added customers to OKTA group for download site
* [ ] Is custome

[2022-02-14 17:21] JGreenFearless commented on #4255
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4255?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 17:22] JGreenFearless commented on #4339
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Pipeline-6182b02547c1130010f459db/issues/CDCgov/prime-reportstream/4339?planning-poker) with ZenHub @carlosfelix2 @jh765 @jimduff-usds @oslynn @smythe5 @whytheplatypus

[2022-02-14 17:25] kevinhaube opened #4342 "Conditionally show externalName (file name) for Submission Details page"

[2022-02-14 17:52] RickHawesUSDS opened #4343 "[Bug] Patient Age is lost from Lifepoint HL7 messages"
**Describe the bug**
The HHS protect feed is not receiving age of the patient from LifePoint and Ellume

**Impact**
About 700k Ellume test results do not have patient age.

**To Reproduce**
I was able to reproduce the bug locally.
Steps to reproduce the behavior:

1. Run a local version of ReportStream
2. gradle run
3. Get a Lifepoint HL7 message
=> Notice that the PID segment has patient birthdat

[2022-02-14 17:53] RickHawesUSDS commented on #4343
Found at the same time as #4257

[2022-02-14 18:10] brick-green-agile6 commented on #3968
@Adrian-Brewster Here's the list of accessions numbers. I tried to append a file with the values but zenhub threw an error "An error happened while uploading the file, please try again". I got the same error every time I retried.
[code]

[2022-02-14 18:45] loripusey commented on #4270
@bgantick I believe we decided that we would need to do this work ourselves (as opposed to the Pipeline team); I'd like to get this into the next sprint, an you gather with the engineers and point this one? (since we don't have a refinement meeting before planning tomorrow)
cc: @rachelhanster

[2022-02-14 18:46] loripusey commented on #4315
@kevinhaube Can you point this bug? I'd like to get this into the next sprint
cc: @rachelhanster

[2022-02-14 18:50] brick-green-agile6 commented on #3954
@anshulkumar-usds just made the change to filter out AOEs from production for VT

[2022-02-14 18:58] #2907 closed

[2022-02-14 19:31] rhood23699 opened #4344 "OO/Sync sender-automation.valuesets file and its Lookup table (sender_valuesets)"
## Problem statement
Before I can move the Std CSV schema to the sender_valuesets lookup table, it needs to be sync'd with the existing sender-automation.valuesets file.

## Things know

## Acceptance criteria
- [x] Saliva is accepted and code exactly as Saliva specimen for specimen_type

## To do
- [x] Compare and sync all rows for each element_name in table_name sender_valuesets and the sender-a

[2022-02-14 19:47] rhood23699 opened #4346 "OO/Change Std CSV Schema to use the sender_valuesets DB table"
## Problem statement
Before I can move the Std CSV schema to the sender_valuesets lookup table, it needs to be sync'd with the existing sender-automation.valuesets file.

## Things know

## Acceptance criteria
- [ ] Each field listed below translates from the csv data received to the appropriate RS value.
         Fields are: race, ethnicity, test performed code, test result, specimen type, specim

[2022-02-14 19:52] anshulkumar-usds commented on #4135
2/14: WA does not need the failures due to SR duplicates resubmitted. They are reviewing the 169 submissions and will inform RS of next steps as needed. Follow up with WA by 2/18, otherwise close ticket.

[2022-02-14 20:35] loripusey opened #4347 "Bug: Need Space in Reference to API Programmer's Guide"
**Describe the bug**
Need a space here and on this [page](https://reportstream.cdc.gov/getting-started/testing-facilities/overview)
![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/53bd77a3-a608-457c-9c3f-b7488d6d8696)

**Impact**
Small impact

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://reportstream.cdc.gov/getting-started/testing-facilities/overvi

[2022-02-14 20:46] #1577 closed

[2022-02-14 20:46] #544 closed

[2022-02-14 20:46] #571 closed

[2022-02-14 22:03] sethdarragile6 opened #4348 "[Bug] Admin Settings: Remove clipping on org name at top of send/receiver page"
**Describe the bug**
Org name at top of the send/receiver edit page looks unsightly, needs a little padding

**Impact**
Display.

**To Reproduce**

1. Login as admin, go to Admin->Organization Settings
2. Choose an organization from the list
3. Click on Edit for a Send or Receiver setting
4. Observe unsightly formatting

**Expected behavior**
Org name should display with a little padding

**Screen

[2022-02-14 22:10] sethdarragile6 opened #4349 "Admin Settings: On landing page, sort organization list alphabetically"
## Problem statement

When at the landing page of Organization Settings, the list of organizations are not in any particular order.

![image.png](https://images.zenhubusercontent.com/61688531a0a844ef1cf9286b/a5ff4e79-b5dc-40df-a0cc-dd60d1c49362)

Although there is a mechanism to search for the org that you want, it would provide a smoother experience if the organizations were already sorted alphab

[2022-02-14 22:22] #3857 closed

[2022-02-14 22:27] sethdarragile6 opened #4350 "[Bug] Admin Settings: Padding issue on Edit Sender"
**Describe the bug**

![image.png](https://images.zenhubusercontent.com/61688531a0a844ef1cf9286b/4ff76a26-9c6a-4f7c-a51a-18383ba036bc)

**Impact**
Ugly display, but functional

**To Reproduce**
Steps to reproduce the behavior:
1. Login as admin, go to Admin->Organization Settings
2. Choose an organization from the list
3. Click on Edit for a Sender setting
4. If on a large display, resize window u

[2022-02-14 22:39] sethdarragile6 opened #4351 "[Bug] Admin Settings: Edit/Clone/Delete buttons are clipped on smaller displays"
**Describe the bug**
When using the Org Edit Page on a smaller display, the rightmost buttons for a particular setting can rendered unreadable and/or inaccessible.

Ex. org "strac" on staging
![image.png](https://images.zenhubusercontent.com/61688531a0a844ef1cf9286b/54e667ab-b01c-4197-98f6-68929f735950)

**Impact**
Limited or impaired functionality.

**To Reproduce**

1. Login as admin, go to Admi

[2022-02-14 23:41] sethdarragile6 opened #4352 "Admin Settings: Unify organization selection sitewide with Org settings landing page"
## Problem statement

The top right hand organization selection dropdown that displays sitewide to admins is completely irrelevant to the more "global" functionality of the Organization Settings pages. Furthermore, it has become less and less useful as more and more organizations come onboard. Since the search functionality on the landing page is much more useful to select an organization generall

[2022-02-15 00:33] sethdarragile6 opened #4353 "Admin Settings: Provide valid values for fields that take enum types"
## Problem statement

One of the most common complaints to come out of the bug bash about the Organization Settings pages was the lack of guidance about what constitutes valid input on any particular field. This story focuses on fields that are _not_ JSON fields, but merely fields that are expected to be from a pre-defined set of simple options. In other words, generally mapped to enum constructs

[2022-02-15 00:58] TomNUSDS commented on #4232
Sorry I'm just commenting. This is some GREAT research. Thanks!

What's your recommendation? Get rid of Craco and just use react-scripts or wait for a Craco update?

[2022-02-15 01:31] sethdarragile6 opened #4354 "Admin Settings: Provide valid values for fields that take JSON types"
## Problem statement

One of the most common complaints to come out of the bug bash about the Organization Settings pages was the lack of guidance about what constitutes valid input on any particular field. This story focuses on fields that are JSON fields, not simple option sets (enums).

Relevant fields
Org: "Filters"
Receivers: "Translation", "Jurisdictional Filter", "Quality Filter", "Routing

[2022-02-15 06:54] Adrian-Brewster commented on #4145
Sorry @anshulkumar-usds  I didn't see that you assigned this to me. @sarahnw we can put this together pretty quickly using the shared inbox folders.

[2022-02-15 06:55] Adrian-Brewster commented on #3228
Following up on this @kevinhaube  What still needs to be completed here?

[2022-02-15 12:46] rhood23699 commented on #4280
CDPHE gave the OK to move to production.  Moved them today and email'd to start sending results.

[2022-02-15 12:50] rhood23699 commented on #4158
'2/12/22 thru 2/14/22 Only 10 results.  CA-DPH has accepted all, but with a request to receive RACE codes.  Currently receiving OTHER.

[2022-02-15 12:57] rhood23699 commented on #4292
2/14/22  Added one OKTA account

[2022-02-15 13:00] rhood23699 commented on #4190
2/14/22 Zoom with Sender. Their email was down, so I could help answer questions online.  They email'd a de-identified file and it looks good.  Waiting to receiving a file through RS.

[2022-02-15 13:01] rhood23699 commented on #4190
Will change the OKTA group name to Newport Childrens Hospital

[2022-02-15 13:10] whytheplatypus opened #4355 "Initial FHIR to HL7 Translation Engine to convert to an ORU R01 message type"
As an administrator, I want to be able to specify what fields are translated to HL7 from FHIR, so the conversion is conversion is configurable.

Acceptance Criteria:
- FHIR Bundle is converted to a rough, perhaps incomplete, HL7 Message to demonstrate the capabilities of the engine

[2022-02-15 13:14] rhood23699 commented on #4129
2/11/22 Reviewing Mo's Primary Language change today.  Will review what is needed for the CSV Schema.

2/15/22 They have requested patient email.

[2022-02-15 13:18] rhood23699 commented on #4291
2/11/2022  Had our kickoff call.  Haven't received a test file yet.

2/14/22 Email'd Bryan that we will accept CSV vai API.
Received first test file.  Multiple issues.  Email list of problems on 2/15/22.

[2022-02-15 13:27] #2473 closed

[2022-02-15 13:34] kevinhaube commented on #3228
@Adrian-Brewster This has been merged and is currently in use, I believe! :)

[2022-02-15 14:12] kevinhaube commented on #4315
@loripusey Will do! This also looks like something we can tackle alongside the API work that goes with #4270

[2022-02-15 14:25] jeremy-page opened #4357 "Remove Ron Heft specific branch code in GHA"
The following GHA yaml files have stuff explicitly looking for Ron's work. These should be removed and either updated to use new branches or removed entirely.

* workflow "release.yml"
* actions "deploy-backend, deploy-frontend,vpn-azure"

[2022-02-15 15:22] jbiskie commented on #4257
Lifepoint sends 94558-4 in OBX-3, which doesn't match up with the Ellume or iHealth LOINC codes.  They weren't willing to change that when we onboarded because it wasn't in the original [Waters] specification.

[2022-02-15 15:26] anshulkumar-usds opened #4358 "WA - Missing Ordering Facility Name ORC-21"
On 2/15, WA reported that they are observing messages come in with missing Ordering Facility Name in ORC-21. Sample messages and filenames listed below. Per WA, the HL7 contain the following string in ORC-21: **^L**

[code]
Please investigate root cause, fix, and resubmit corrections.

[2022-02-15 15:30] anshulkumar-usds commented on #4135
2/15: @MauriceReeves-usds WA reports the following need to resent, and were not included in the 169 messages earlier:
[code]

[2022-02-15 15:54] anshulkumar-usds opened #4359 "Globally Update Sender Schemas to make Specimen Collection Date to have a Cardinality of One"
We recently made it a requirement for ImageMover to send specimen collection date by changing this sender's schema cardinailty. https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/4206

We need to make this a global change for all of our senders in production, and those in queue for onboarding. Please make the necessary changes to card

[2022-02-15 16:05] anshulkumar-usds opened #4360 "Global Truncation to 50 chars: OBX-23.1 and ORC-21.1"
Make a global change to ReportStream to truncate OBX-23.1 and ORC-21.1 to 50 chars.

State waiting for this change are noted below.

[2022-02-15 16:09] anshulkumar-usds opened #4361 "Global truncation to 30 chars: OBR-16.3 and ORC-12.3"
Some of this work is already done for the specific issue raised by NJ in
https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/3607

[2022-02-15 16:30] rachelhanster commented on #3893
Reviewed, and closing this ticket

[2022-02-15 16:30] #3893 closed

[2022-02-15 16:33] rachelhanster commented on #4148
Closing this ticket as CovidCheckColorado is not going to be a user.

[2022-02-15 16:34] #3647 closed

[2022-02-15 16:46] #3641 closed

[2022-02-15 16:46] #4003 closed, assigned to oslynn

[2022-02-15 16:51] Adrian-Brewster commented on #4305
From STRAC - "We only have one mapping on our end, I'm not sure what information you'd need for those two. In any case, the tests should map in the same way we have done for many months now. "binax" and "cue" should not change at all."

[2022-02-15 16:53] jimduff-usds commented on #3535
Feb 15, 2022: I checked, and the process_error state has never triggered in Prod.  The process_warning state has only occurred once, and it recovered immediately.    So I am punting this down a couple sprints, to re-eval again.

[2022-02-15 17:00] loripusey opened #4362 "Build API support for Filtering Submission History"
## Problem Statement
As a user, I need to be able to filter submission history by a "Date/Time" range. This is the first step in that process, allowing the front end to query the back end to return values from a date range.

## Assumptions

## Acceptance Criteria
- Can filter the submissions by the Date/time submitted based on a date range (i.e. start date and end date)

## To Do
-

## Technical n

[2022-02-15 17:05] bgantick commented on #4362
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Experience-607d9d5e68b95200150fec37/issues/CDCgov/prime-reportstream/4362?planning-poker) with ZenHub @ahay-agile6 @kevinhaube @meckila @sethdarragile6 @TomNUSDS

[2022-02-15 17:30] RickHawesUSDS commented on #244
Closing as a duplicate of #2775

[2022-02-15 17:31] RickHawesUSDS commented on #418
Closing as no longer relavant.

[2022-02-15 17:31] #418 closed

[2022-02-15 17:31] RickHawesUSDS commented on #214
Surpassed by the FHIR Engine work

[2022-02-15 17:31] #214 closed

[2022-02-15 17:32] RickHawesUSDS commented on #491
Closing as no longer relevant per ATO.

[2022-02-15 17:32] #491 closed

[2022-02-15 17:34] RickHawesUSDS commented on #2775
Released and pushed to production.

Demoed to WA. Waiting for go ahead.

[2022-02-15 17:34] #2775 closed

[2022-02-15 17:36] RickHawesUSDS commented on #3243
Assigning to @MauriceReeves-usds for his time zone work.

[2022-02-15 17:38] loripusey opened #4364 "Sprint 36 - Update Live States on SVG Map"
## Problem Statement
As ReportStream Product, we need to keep our map of live states up-to-date so that we communicate the state of our application to our current and prospective users and other stakeholders.

## Acceptance Criteria
- Update the SVG map for any new states that are now Live on these pages
    - https://reportstream.cdc.gov/
    - https://reportstream.cdc.gov/how-it-works/where-were

[2022-02-15 17:38] loripusey opened #4365 "Sprint 36 - Update Live States on SVG Map"
## Problem Statement
As ReportStream Product, we need to keep our map of live states up-to-date so that we communicate the state of our application to our current and prospective users and other stakeholders.

## Acceptance Criteria
- Update the SVG map for any new states that are now Live on these pages
    - https://reportstream.cdc.gov/
    - https://reportstream.cdc.gov/how-it-works/where-were

[2022-02-15 18:06] MauriceReeves-usds commented on #911
Pinged DE today to see what their thoughts were on moving live. Let them know that we don't currently have any Quidel data we can send them.

[2022-02-15 18:14] victorialb-usds opened #4366 "Create Likelihood to Refer Follow up interview protocol"
## Overview
We are doing these follow up interviews with those with high and low scores on the CX survey - promoters and detractors - those that are happy with the product and those that are not. There are two key reasons for doing this
(1) Research - provide insights on what is working and what is not working to guide recommendations for changes and growth plan (as per OKR Q2).
(2) Marketing - #1

[2022-02-15 18:32] inkandsound commented on #1922
Design: https://www.figma.com/proto/VrSkTA87t8PPeXPugQ0i8O/ReportStream?page-id=2513%3A22007&node-id=2515%3A24512&viewport=292%2C48%2C0.5&scaling=scale-down-width&starting-point-node-id=2515%3A24581

[2022-02-15 18:34] meckila commented on #4232
Removing the craco config and attempting to build without it resulted in the same error. Ejecting appears to be the only option if we want to update

[2022-02-15 18:34] inkandsound opened #4367 "PRIME-wide Branding"
- Create and facilitate branding workshop with SimpleReport
- Align on shared goals for PRIME

[2022-02-15 19:18] JosiahSiegel opened #4369 "Increase retained releases to 3 months"
**Is your feature request related to a problem? Please describe.**
Increase retained releases to 3 months

**Describe the solution you'd like**
Increase the threshold for retaining releases within the github release workflow

[2022-02-15 19:36] JosiahSiegel opened #4373 "Generate pre-release with notes"
**Describe the solution you'd like**
Generate a pre-release with notes that updates whenever `master` is updated.

[2022-02-15 19:45] rhood23699 opened #4374 "OO/Change CSV Sender Name - Add New CSV Senders"
## Problem statement
Change Sender's Name.  Change sender_id from ocrapidtest-ca to newport-childrens-hospital-ca.
Add EliteMed Laboratories - sender_id: elitemedlabs-co
Add The Youth Clinic - sender_id: youthclinic-co

## Things know
N/A

## Acceptance criteria
- [x] sender_id and processing_mode_code are set properly from the settings table.  sender_id should be "newport-childrens-hospital-ca";

[2022-02-15 19:48] victorialb-usds commented on #3975
In meeting with Anshul and Sarah: mentioned other places:
- Data issues: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/3182
- Support Queue: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/2576
- Root Cause Analysis: https://app.zenhub.com/workspaces/onboarding--o

[2022-02-15 19:55] #4369 closed

[2022-02-15 20:08] JosiahSiegel opened #4375 "Index out of bounds error in `Report.kt`"
**Describe the bug**
Index out of bounds error in `Report.kt`

**Impact**
Unknown impact. 15 index out of bound exceptions logged in a few seconds @ `2/15/2022, 1:52:20 PM`

**Logs**
 * [Transaction Details](https://portal.azure.com/#blade/AppInsightsExtension/DetailsV2Blade/ComponentId/%7B%22SubscriptionId%22%3A%227d1e3999-6577-4cd5-b296-f518e5c8e677%22%2C%22ResourceGroup%22%3A%22prime-data-hub-p

[2022-02-15 20:13] #1869 closed

[2022-02-15 20:13] #1556 closed

[2022-02-15 20:13] #3369 closed

[2022-02-15 20:19] jbiskie opened #4376 "cleanslate.sh appears to hang"
**Describe the bug**
When running cleanslate.sh, it _appears_ to hang.  Due to recent changes in `multiple-settings set`, the line `./prime multiple-settings set --input settings/organizations.yml 1>>${LOG?} 2>&1` in `populate_vault()` silently waits for `y <enter>` input from the user to commit the changes.

**Impact**
cleanslate.sh does not complete.

**To Reproduce**
Steps to reproduce the beha

[2022-02-15 20:26] victorialb-usds opened #4377 "Colorado Sender Research - Youth Clinic Med Lab _ Baseline Research"
KO call to get baseline information
https://cdc.sharepoint.com/:x:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B431D9FDE-C408-43E7-B643-E1D30652155C%7D&file=CSV%20pilot%20cohort%201_Pre%20Post%20Data.xlsx&action=default&mobileredirect=true

[2022-02-15 20:27] victorialb-usds opened #4378 "CO Sender Elite Med Lab Baseline Research"
To do:
- [x] locate existing notes on sender or create new set of notes in CSV upload pilot folder, experience folder, in the state of referral
- [x] experience does kick off call with sender to get baseline information (see excel) and takes notes in ongoing notes
- [x] enter information into excel
- [x] share insights in slack including user stories and into microsoft lists

EXCEL:
https://cdc.sh

[2022-02-15 20:33] TomNUSDS commented on #4349
@meckila @sethdarragile6 is reworking this page as part of https://github.com/CDCgov/prime-reportstream/issues/4352
So it probably makes sense for him to fix this bug OR for you to wait when other changes are done (to avoid merge conflicts).

[2022-02-15 20:41] brick-green-agile6 commented on #4266
SimpleReport transmitted the results with "X" in the test_result_status field. These all seem to be corrections to previous results. @zdeveloper Can you check these results and let us know why "X" was used rather than "C" in test_result_status?

[2022-02-15 20:48] jimduff-usds commented on #4375
This occurred in the process step, reading in an internal CSV file.

My first suspicion would be that we added or removed a column from the covid-19.schema in the latest release.

[2022-02-15 21:04] victorialb-usds commented on #4160
I am adding some user quotes to add more context: We got a  question from a state that likely feeds into the user story:

I have a question for you: Currently, our pipeline detects issues with data integrity on incoming files (e.g., missing valid LOINC codes in OBX 3.1) and generates an automated email to the sending facility, asking them to review, correct, and resubmit the problematic records or

[2022-02-15 21:08] victorialb-usds commented on #4378
KO scheduled for 2/16

[2022-02-15 21:11] victorialb-usds opened #4380 "CA Sender - Lemoore Naval Clinic - Interim Research"
**Assess how the intervention is going so we can provide support and collect data about pain points.

## To do
- [ ] Assign RS team member as note taker (if possible)
- [ ] Conduct meeting and take notes in ongoing notes doc
https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7BC6413B25-BFC2-47D7-AEEE-126F37BE87CD%7D&file=Interim%20Check-in%20calls%20raw%20notes_CSV%20

[2022-02-15 21:14] anshulkumar-usds commented on #3731
Next steps for resolution:
1. Truncate OBX-23.1 and ORC-21.1 to 50 chars
https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/4360

2. Truncate OBR-16.3 and ORC-12.3 to 30 chars
https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/4361

3. Check back with CA on corrected resu

[2022-02-15 21:16] victorialb-usds commented on #4160
@loripusey @rachelhanster this seems like a feature that could be useful to get some design on and we could ask of future calls with Nevada and Idaho since we will be meeting with STLTs anyway. cc @drew-usds

[2022-02-15 21:17] anshulkumar-usds opened #4381 "VT - Incorrect observation status of "X" in SimpleReport"
On 2/15, VT reported:

"We are seeing an increasing number of results from SimpleReport come to Vermont with an Observation Status = X. Reviewing the messages, it appears from the notes that the test was cancelled. These messages are failing to process successfully into our surveillance system (we use NBS). This was not previously an issue, and we first began seeing this about a week ago and the r