[2021-10-28 12:58] anshulkumar-usds opened #2816 "CLIA reporting for states"
## Problem statement

Onboarded states have a requirement whereby they must know of newly registered facilities (CLIAs) prior to receiving data from them. Presently, a member of the O&O team manually runs a query in Metabase, and sends out emails to each state with this information. Due to resource limitations, this process is only performed weekly. However, states would like to have access to new

[2021-10-28 13:47] anshulkumar-usds opened #2817 "Update settings table for onboarding STLTs"
## Problem statement

The settings table needs to be updated as states are onboarded (moved to prod) to RS. The process needs to be documents and formalized alongside our update process for map on the website.

## What you need to know

The attribute  customerStatus and has values of inactive, testing, and active
At this time this will only drive the metabase reporting to help us better find issue

[2021-10-28 14:54] anshulkumar-usds opened #2820 "Abbott - Consent to RS ToS"
## Problem statement

To onboard a sender to RS, consent to RS's ToS is required. Abbott already has a DUA in place with HHS for the current HHS Protect reporting. We need to understand whether a new DUA with CDC is required, or if their consent to RS/CDC ToS is sufficient for us to move forward with migration.

## What you need to know

- Abbott is reviewing the current DUA internally with their

[2021-10-28 15:19] rhood23699 opened #2821 "CSV Uploader - Add De-Identify Function"
## Problem statement
Senders typically do not have a good way to de-identify data.  They typically use EXCEL, but EXCEL can unexpectedly alternate data.  Example, date formats are changed; leading zeros are removed; and large numeric fields are changed to scientific notation.  This is a major problem during testing because the schema is developed and tested using altered data, so when we move to P

[2021-10-28 16:19] jimduff-usds opened #2822 "Ongoing Bug in production: Syntax error at from window.onerror"
We occasionally see this Exception in Production:

Syntax error
Problem Id:Syntax error at from window.onerror

window.onerror@https://reportstream.cdc.gov/js/prime-web-receiver-post.js:4:13

Sorry - that's all that's in the message

This most recently occurred on 10/28/2021, 10:16:06.980 AM (Eastern Local time)

It has occurred 35 times in the last 30 days.

[2021-10-28 17:11] sean-usds opened #2823 "Resolve issues that came up in the Fortify scan"
I'll create separate tickets for sub issues, just creating this ticket here for visibility and for my own reminder. All the problems that came up with Fortify were labeled "low" criticality so this is not urgent.

[2021-10-28 17:13] RickHawesUSDS opened #2824 "KTLint Git Hook fails on M1 Mac"
**Describe the bug**
As a developer with an M1 Mac, my Git commits always fail.

**Impact**
I have to disable the ktlint git hook to do work.

**To Reproduce**
Steps to reproduce the behavior:
1. Make a valid Kotlin file change
2. Run the git hook (.environment/ktlint/run-ktlintCheck.sh)
=> the script hangs

**Expected behavior**
A clear and concise description of what you expected to happen.

**A

[2021-10-28 18:00] carlosfelix2 opened #2825 "Handle the possibility of two table creation requests conflicting each other"
Handle the possibility of two table creation requests conflicting each other.  The two tables could be created with the same version number.

Design considerations:
An initial thought was to use a SERIAL type on the version number, but the version resets for each table.

Acceptance criteria:
1. The lookup table creation code can handle two or more simultaneous requests to create a table.

[2021-10-28 18:04] TomNUSDS opened #2826 "Add client Github Action to check for unused dependencies in packages.json"
To reduce risk, it would be nice to have an automated GH action that runs on submission to check for unused packages.

- [ ]  Figure out which tool/package to use to do the dependency check to find unused packages. Both`depcheck` and `npm-check` can both do the check, there might be others.
- [ ] Run and remove unused packages from the `package.json` file.
- [ ] Update the `yarn.lock` after they a

[2021-10-28 18:52] anshulkumar-usds opened #2829 "CA - Open questions from 10/28/21"
## Problem statement

During the weekly call with CA, the following questions were noted as open:
1. CA wants to see school IDs (NCES IDs) being mapped to their test messages. Need to check with Rick Hawes on this implementation.

2. Secondary feed
2.1. Jen from Optum mention that CA's secondary/OTC feed is currently pointed to staging. CA is interested in getting this secondary feed and want to g

[2021-10-29 04:26] Adrian-Brewster opened #2833 "IL - ORC-12.1 & ORC-16.1 ordering facility name being placed in an ‘ID’ subfield causing messages to fail"
ORC12.1 (OrderingProvider->ID) is for an ID and has maximum character size limit of 15, it would be best if this subfield could be left blank or the correct NPI be placed here. The same problem is happening in OBX 16.1.1 (OrderingProvider->ID), the ordering facility name is being placed here and it’s exceeding the character size limit.

Messages do not need to be resent.

![image.png](https://imag

[2021-10-29 04:31] #2706 closed, assigned to brick-green

[2021-10-29 13:33] victorialb-usds opened #2834 "Landscape Analysis of Current and Prospective Users"
## Problem statement

Currently there is not an ongoing system or location (e.g. document or dashboard) that tracks current and prospective users (e.g. basic descriptive statistics and qualitative descriptors e.g. type of institution, how they upload if a sender).

*note that this will help us have an accurate picture of our "sample" for research e.g. helpful for knowing who to reach out to do use

[2021-10-29 14:00] Adrian-Brewster opened #2835 "MD - Prince Georges County facilities all having the same CLIA ID?"
Maryland reached out to see why all the Price Georges County facilities have the same CLIA ID.

[2021-10-29 15:29] #2691 closed, assigned to TomNUSDS

[2021-11-01 14:30] jimduff-usds opened #2841 "As a coder, I need to be able to generate fake data for `direct` schema children"
Generating fake data for schemas that are children of `direct` causes exceptions.

Is this a problem with the schema or with the fake data generator?  Either way, we have to be able to generate fake data without getting exceptions.

[code]

Also when you run it, you get errors on duplicate `performingFacilityName` and `performingFacility` fields.

[code]

[2021-11-01 14:38] loripusey commented on #1567
@BerniXiongA6 is this ticket still relevant? If it is on hold can we close it?

[2021-11-01 14:39] jimduff-usds opened #2842 "new smoke test: Confirm that we can generate and submit fake data for every active schema"
As developers, we need to make sure that we can generate fake data and successfully submit it, for every actively used schema.  See #2841 for an example of a current problem that is prompting this test.

This story is to confirm this with a new test called `submitfakes` that will do the following:

1.  Start with the Senders:  Get a list of all the schemas associated with all the Senders in the sy

[2021-11-01 14:42] #1726 closed

[2021-11-01 14:44] loripusey opened #2843 "Understand ways senders report data"
## Problem Statement
As ReportStream, we need to understand all of the different ways that submitters of data need to be able to submit their data so that we can build tools that would benefit them.

## Acceptance Criteria
- Secondary/desk research on user segments
- Interview users (3-5 for smaller segments up to 10 for larger segments)
- Synthesize results
- Document research & present to team
-

[2021-11-01 14:48] BerniXiongA6 commented on #1567
@loripusey Let's keep it open in the Icebox for now. I'll follow up with the design team in our next sync to determine whether this is still a feature we want on the website.

[2021-11-01 15:06] loripusey commented on #2821
@rhood23699 Are there OTS products out there that could do this for Senders?

[2021-11-01 15:16] sean-usds opened #2852 "SEO basics for ReportStream"
From Ming: "can you help me understand why the RS page does not show up when you google it? The RS github page does and is the 2nd highest result behind SimpleReport." https://usds.slack.com/archives/C02HJ43AE8Z/p1635545478124500

Looks like we have a meta tag defined that prevents robots, like the Google Bot, from crawling the website:
https://github.com/CDCgov/prime-reportstream/blob/64ac89dfbb7

[2021-11-01 15:35] loripusey opened #2856 "Visual Design & Clickable Prototype for Validation Feature"
- Have clickable prototypes that we feel is good to put in front of end users for testing that are based on the wireframes that have been created
- Do 2 versions for user feedback

[2021-11-01 15:40] jimduff-usds commented on #2271
I propose that we go ahead and implement explicitly ordered mappers to support this.
We may also need both field-level and whole-item-level (whole covid test) mappers to make this work.

[2021-11-01 16:17] cwinters-usds commented on #2648
A few things:
1. Are we planning on using these rules as-is for all environments? Or are we going to templatize/customize per environment? For example this would impact `connect-src` which only explicitly mentions staging.
2. Are we or any of our dependent services using web workers? (see: [child-src](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy/child-src)
3. B

[2021-11-01 18:09] loripusey opened #2859 "Gather Feedback from Users for Validation & Submission History Feature's Clickable Prototype"
- Reach out to 5 Sender users (i.e. people) with at least 3 Organizations to get their feedback on the Validation & Submission History Feature's Clickable Prototype
- Doesn't have to be CSV users, can be API users

[2021-11-01 18:15] loripusey opened #2861 "Make a Plan to Gather Feedback from Users for Validation Feature's Clickable Prototype"
- Develop a plan for how we will gather feedback

[2021-11-01 18:21] #2514 closed

[2021-11-01 18:40] #1951 closed

[2021-11-01 18:42] ronaldheft-usds commented on #1062
@jimduff-usds @cwinters-usds This appears to be the issue we ran into during Thursday's deploy.

[2021-11-01 18:46] ronaldheft-usds commented on #1952
This has been completed.

[2021-11-01 18:46] #1952 closed

[2021-11-01 18:47] ronaldheft-usds commented on #2011
@bjohnson-fearless When you have findings regarding this, please post them here so we can discuss as a group. Thanks!

[2021-11-01 18:50] #1592 closed

[2021-11-01 18:50] #1623 closed

[2021-11-01 18:50] #1762 closed

[2021-11-01 18:50] #1994 closed

[2021-11-01 18:50] #2247 closed

[2021-11-01 18:50] #2433 closed

[2021-11-01 18:50] #2437 closed

[2021-11-01 18:50] #2439 closed

[2021-11-01 18:50] #2679 closed

[2021-11-01 18:50] #2692 closed

[2021-11-01 18:50] #2693 closed

[2021-11-01 18:51] #1728 closed

[2021-11-01 18:51] #2449 closed

[2021-11-01 18:51] #2450 closed

[2021-11-01 18:51] #2451 closed

[2021-11-01 18:51] #2452 closed

[2021-11-01 18:51] #2453 closed

[2021-11-01 18:51] #2454 closed

[2021-11-01 18:51] #2482 closed

[2021-11-01 18:51] #2483 closed

[2021-11-01 18:51] #2484 closed

[2021-11-01 18:51] #2667 closed

[2021-11-01 18:51] #2668 closed

[2021-11-01 18:51] #2669 closed

[2021-11-01 18:51] #2670 closed

[2021-11-01 18:52] #2457 closed

[2021-11-01 18:52] #2672 closed

[2021-11-01 18:52] #2673 closed

[2021-11-01 18:53] #2678 closed

[2021-11-01 19:14] ronaldheft-usds commented on #656
Added details.

[2021-11-01 19:25] ronaldheft-usds commented on #2060
@drew-usds Is this ticket as written still valid? i.e. I don't think we're going to maintain the old site once we roll out the React site. Therefore, should we close this and create a separate ticket to track having a user-experience environment.

[2021-11-01 19:28] ronaldheft-usds commented on #2101
This is an ongoing issue. It appears after some type of deployment, or on some interval, the function app loses all function keys.

If we plan to continue to use function keys for the long term, we should figure out what's happening here.

[2021-11-01 19:31] ronaldheft-usds commented on #2566
This is an ongoing problem. The application recovers from this, but it's annoying an appears to be a bug in Azure.

[2021-11-01 19:35] #2824 closed

[2021-11-01 19:39] ronaldheft-usds commented on #450
This ticket is no longer required as the CDC has their own effort to do this. This is not our responsibility.

[2021-11-01 19:39] #450 closed

[2021-11-01 19:41] ronaldheft-usds commented on #660
Where does this ticket stand?

[2021-11-01 20:50] loripusey opened #2862 "Develop Plan for Measuring Organizations’ Likelihood of Referral"
## Problem Statement
As ReportStream, we would like to measure an organizations’ likelihood of referring ReportStream to their peers so that we can gauge overall product satisfaction.

## Hypothesis
Organizations will recommend the use of ReportStream to others in their industry/state​

## Results
- We would like to be able to generate an average referral score
- Question: what is the industry sta

[2021-11-01 20:51] loripusey opened #2863 "Develop Plan for Capturing Analytics"
## Problem Statement
As ReportStream, we would like to capture analytics to measure the success and usage of the product over time so that we can know that we are heading in the right direction.

## Notes
Refer to the analytics as outlined in the Product Brief [https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Experience%20Team/Artifacts/Repo

[2021-11-01 20:53] loripusey opened #2864 "Develop Plan for Measuring the Number of Organizations using the Product"

[2021-11-01 20:55] loripusey opened #2865 "Develop Plan for Measuring Front-end Interactions"
## Problem Statement
As ReportStream, we would like to measure how organizations’ are interacting with the ReportStream website so that we can gauge product performance and usage.

## Hypothesis
Organizations can quickly access and interact with product features​

## Results
We would like to be able to capture the following
   - Time to complete form(s) or proxy ​
        - PHD intake form (can't

[2021-11-01 22:00] TomNUSDS opened #2866 "React left-nav crowds layout"
**Describe the bug**
The Left Nav is a duplicate of SOME the Top Nav. This is fine for desktop layout, but narrow and mobile layouts get crowded.

You can see that the navigation is duplicated from the "Menu" and the Left Nav.
<img src="https://images.zenhubusercontent.com/6001ffdbfa03b2340a4ca394/17fa1fb5-8bcd-45d6-a66e-8b82f040150c" width="400px">

For mobile, we hide the Left Nav, then the cont

[2021-11-01 22:11] TomNUSDS commented on #2866
@drew-usds Feel free to close with "not a bug", but it does seem odd to me.

[2021-11-01 22:34] TomNUSDS opened #2868 "Add Attribution content to site to comply with creative commons requirements?"
We're using a Creative Commons map svg https://commons.wikimedia.org/wiki/File:Blank_USA,_w_territories.svg and need to give attribution somewhere.

Do we have such a page yet? Seems like we should.

Also, there's a comment in the .svg file (which is just text) giving attribution (where the svg came from), but I'm not sure if this is enough.

use title or alt for the attribution

[2021-11-01 23:13] TomNUSDS commented on #2740
Let me know if you need help updating the new svg map in the React app.

[2021-11-01 23:15] TomNUSDS commented on #2773
The new svg map is in place. Can you let me know if you have any 508 concerns for it?

[2021-11-01 23:22] mlighdc opened #2870 "MD - Filter out missing accession numbers"
Maryland would like to filter out **Friendship Public Schools** and **Family & Nursing Care Select** because they are missing no accession numbers.

[2021-11-02 00:43] mlighdc commented on #2635
@anshulkumar-usds we received another email regarding a missing LOINC code (date of email - Mon 11/1/2021 10:44 AM)

0b796db7-c769-440a-8292-007fee90d00f

[2021-11-02 03:11] RickHawesUSDS commented on #2663
In local builds

[2021-11-02 03:11] #2663 closed

[2021-11-02 04:28] mlighdc commented on #911
@MauriceReeves-usds Delaware has requested an update for why the Ordering Provider data is missing

Also, for messages that have NONE in the header (MSH-4), would it be possible to identify the sending facility in MSH-4? – it should be clinic name and CLIA but we are seeing “None” instead of a name.
None^39D2205226
None^39D1050194
None^39D0701535
None^39D0701535

[2021-11-02 04:45] drew-usds commented on #2060
@ronaldheft-usds Thanks for flagging, yep we can def close this one!

[2021-11-02 04:45] #2060 closed

[2021-11-02 10:44] LGFranklin opened #2872 "IL - Data Issue"
This message came into the SimpleReport inbox. It's been forwarded to the Report Stream inbox.

"I am reporting for my department at Wabash General Hospital. I had accidentally submitted that <patient> was positive on DOS 10/18 and 10/25. I marked them as an error and input the correct information. The health department is requesting that the errors be removed so they do not show up on IMED.

[2021-11-02 13:09] MikeC-A6 commented on #2631
@MauriceReeves-usds - I verified in Metabase that all records received into RS in the last 30 days have the testing lab name populated where Ordering_Facility_Name `contains` "St Ambrose Catholic School".  This does not appear to be an issue with the inbound data.

[2021-11-02 13:20] loripusey opened #2873 "Research Internal Admin Tools the Onboarding & Operations Team Needs to do Onboarding Faster"
As the Onboarding & Operations team, we need to be able to onboard Senders and Receivers quickly and easily so that we can meet our Key Results of

Onboarding a Sender within 15 business days from kickoff
Onboarding a Receiver within 3 business day from kickoff

Refer to this mural for ideas from initial research: https://app.mural.co/t/primedatainput6410/m/agilesixapplications0942/1632761768968/c

[2021-11-02 13:21] loripusey opened #2874 "Design Tools the Onboarding & Operations Team Needs to do Onboarding Faster"
As the Onboarding & Operations team, we need to be able to onboard Senders and Receivers quickly and easily so that we can meet our Key Results of

Onboarding a Sender within 15 business days from kickoff
Onboarding a Receiver within 3 business day from kickoff

Refer to this mural for ideas from initial research: [https://app.mural.co/t/primedatainput6410/m/agilesixapplications0942/1632761768968/

[2021-11-02 13:23] loripusey opened #2875 "Research & Design for All Email Content that RS Needs to Send"
## Acceptance Criteria
- We need content templates for the various emails that RS needs to send
- Document where all of the RS emails reside (OKTA, sendgrid?) and what they say

## Reference
[https://help.okta.com/wf/en-us/Content/Topics/Workflows/use-case-custom-user-notifications-crm.htm](url)

[2021-11-02 13:23] loripusey opened #2876 "Design User Flow to Allow User to Reset Password w/i ReportStream"
## Acceptance Criteria
- Work with engineering to create the user flow for allowing a user to reset their password

## Background
Currently users must log out and go through the "Forgot Password" workflow in order to change their password; or call support

[2021-11-02 13:51] loripusey commented on #2865
@drew-usds can you update me on where we are with gaining access to Azure App Insights?

[2021-11-02 14:51] carlosfelix2 opened #2878 "SFTP check function uses credentials when available"
The SFTP check function is not using credentials if available.

Acceptance criteria:
1. SFTP check function uses credentials when available

[2021-11-02 15:43] mlighdc opened #2881 "VT - Issue with OBX-18"
For tests run on the BD Veritor, OBX-18 (Equipment Instance Identifier) is missing a required field, Universal ID Type (OBX-18.4). This field is required but may be empty, and we would expect OBX-18 to contain the serial number or UDI of the test kit or instrument. SimpleReport does not capture either the serial number or UID.

Example OBX-18 received in a recent message:
|BD Veritor Plus System_B

[2021-11-02 15:56] jimduff-usds commented on #2328
[https://app.zenhub.com/files/304423150/cf9c3f21-2609-4f22-b210-4c2db2641936/download](https://app.zenhub.com/files/304423150/cf9c3f21-2609-4f22-b210-4c2db2641936/download)

(It wouldn't let me upload a plain .md file)    This attached file an an analysis Jim did on Nov 1, looking at the distance between our current HL7 parsing and what we need to support full ELR.

[2021-11-02 16:56] #2742 closed

[2021-11-02 16:56] #2077 closed

[2021-11-02 17:05] anshulkumar-usds opened #2883 "CST OTC Data Pull and Analysis"
## Problem statement

Rick Hawes mentioned that on the last CST leadership call there was interest expressed in learning more about the shape of OTC data currently in ReportStream. We need to determine and develop high level metrics on data quality, completeness and volume for all OTC data in RS.

## What you need to know

- Currently, almost all OTC data comes from one vendor Cue.
- We are curren

[2021-11-02 18:11] #2829 closed

[2021-11-02 18:13] anshulkumar-usds commented on #2596
Followed up with IM on 11/2 - awaiting sender's response and fix

[2021-11-02 18:14] anshulkumar-usds commented on #2635
Followed up with IM on 11/2 - same issue with IL - awaiting sender's response and fix

[2021-11-02 18:17] anshulkumar-usds commented on #2719
Followed up with Cue on 11/2 to understand root cause.

[2021-11-02 18:23] anshulkumar-usds commented on #2578
Site setup, user profile in Okta setup and users have access. Need conversion to csv format before closing.
fyi - @jorg3lopez

[2021-11-02 18:25] anshulkumar-usds commented on #2620
Site setup, user profile added and activated in Okta. Awaiting conversion to csv

[2021-11-02 18:27] anshulkumar-usds commented on #2550
Awaiting deployment on 11/4 for conversion to CSV. Expected availability 11/8

[2021-11-02 18:34] carlosfelix2 opened #2885 "Test database lookup tables need to be loaded on startup on local"
Test database lookup tables need to be loaded on startup on our local instance like the settings are loaded.  There will be errors if table data is missing.

Acceptance criteria:
1. Database lookup tables are loaded from a set (zero or more) CSV test files.
2. Test files should be stored in an obvious place that show they are test files only (perhaps in src/test)

[2021-11-02 18:40] carlosfelix2 opened #2887 "Prime CLI lookup table diff does not work well with LIVD lookup"
Prime CLI lookup table diff does not work well with LIVD lookup.  Identify if this can be fixed somehow.

Acceptance criteria:
1. Identify the issue with the DIFF portion of the lookup table CLI and try to fix if possible.

[2021-11-02 19:23] loripusey opened #2889 "Validation Design"
As the Experience Team, we need some research and design for the Validation feature as outlined in this Epic [https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2095](url).

- [ ] Look at Colorado's validation python script
- [ ] Look at Washington's two sets of R scripts for data validation
- [x] Synthesis/discussion on common errors from calls

[2021-11-02 19:27] loripusey opened #2890 "Submission History Design"
As the Experience Team, we need some design for the Submission History & Lineage feature as outlined in this Epic [https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/1652](url).

[2021-11-02 19:32] anshulkumar-usds commented on #2872
@LGFranklin sorry I don't see the message in our shared mailbox. Could you please forward it to me at rdz8@cdc.gov

thanks!

[2021-11-02 19:32] loripusey opened #2891 "Visual Design & Clickable Prototype for Submission History Feature"
## AC

Create a clickable prototype where:

- [ ] Sender can log into the app
- [ ] Sender can see an index/table view of everything they've submitted
  - [ ] Index view has < prev and next > pagination
  - [ ] Sender can filter results in the index view
- [ ] Sender can see show page of details about each thing they've submitted

Prototype includes:

- [ ] updated symbols
- [ ] layers/artboards o

[2021-11-02 19:33] loripusey opened #2892 "Make a Plan to Gather Feedback from Users for Submission History Feature's Clickable Prototype"
## AC

- [ ] Create research plan to test submission history
- [ ] Tthink about possibly bundling the validation & submission history into 1 research gathering event

[2021-11-02 19:33] anshulkumar-usds commented on #2635
On 11/2 OH reported another message with missing LOINC:
0b796db7-c769-440a-8292-007fee90d00f

[2021-11-02 19:33] loripusey opened #2893 "Gather Feedback from Users for Validation Feature's Clickable Prototype"

[2021-11-02 19:42] loripusey opened #2894 "Gather Feedback from Users for Submission History Feature's Clickable Prototype"
# AC

- [ ] Recruit users to test (API or csv users)
- [ ] Schedule sessions
- [ ] Conduct sessions using plan from #2892
- [ ] Synthesize results and create recommendation
- [ ] Share out with team

[2021-11-02 19:44] #2893 closed

[2021-11-02 19:49] loripusey opened #2895 "R&D - Internal Tools for Onboarding"
## Problem Statement
As the Onboarding & Operations team, we need to be able to onboard Senders and Receivers quickly and easily so that we can meet our Key Results of
- Onboarding a Sender within 15 business days from kickoff
- Onboarding a Receiver within 3 business day from kickoff

## Prioritization Exercise & Mural Board
https://app.mural.co/t/primedatainput6410/m/primedatainput6410/163950141

[2021-11-02 20:25] #1981 closed

[2021-11-02 22:28] clediggins-usds opened #2899 "Database Cleanup - Task Table"
The columns

- translated_at
- batched_at
- sent_at
- wiped_at
- errored_at

are no longer used, since these actions are tracking in the Action table. We should clean up the data structure and all associated logic around these columns.

Part of this ticket will be verifying that these columns are not used anywhere in the code base, database stored procedures, or metabase questions.

[2021-11-02 22:29] clediggins-usds opened #2900 "Database Cleanup - Action"
The action table should have only action_respeonse and no longer use action_result.
Action_response should be populated for every action.

The codebase will need to be scanned to ensure we are not using action_result anywhere.

[2021-11-02 22:39] clediggins-usds opened #2901 "SPIKE - Understand Azure"
This is a spike case to understand Azure better in general, and specifically how ReportStream uses it

Questions to answer:
- How do instances, docker containers, threads, and functions relate?
- What options are there for auto-scaling?
- When we load a set of lookup/metadata, how is that used?  Is it retained and used across multiple function calls?
- Does each function call load its own set of m

[2021-11-02 22:50] clediggins-usds opened #2902 "Batch Retry"

[2021-11-02 22:50] clediggins-usds opened #2903 "Send Retry"
Not sure if this belongs under this epic, and needs to be fleshed out to be able to work on it.

In short, make send automatically detect and log failures, and then retry to recover from temporary issues.

[2021-11-03 00:22] HeatherRienks commented on #2594
Team Charter can be found on our SharePoint/Teams site in the "Artifacts" folder here: https://cdc.sharepoint.com/teams/USDSatCDC/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FUSDSatCDC%2FShared%20Documents%2FPRIME%20ReportStream%2FTeam%20Documents%2FExperience%20Team%2FArtifacts&viewid=17db3ff6%2D95c5%2D4562%2Da1f3%2D12b5097b5947

[2021-11-03 00:23] #2594 closed

[2021-11-03 12:55] #2782 closed

[2021-11-03 12:55] #2783 closed

[2021-11-03 12:56] #2780 closed

[2021-11-03 12:57] #1831 closed

[2021-11-03 12:57] #1530 closed

[2021-11-03 12:57] #1504 closed

[2021-11-03 12:57] #1503 closed

[2021-11-03 12:57] #1389 closed

[2021-11-03 12:57] #1392 closed

[2021-11-03 12:57] #1394 closed

[2021-11-03 12:57] #1390 closed

[2021-11-03 12:58] #1969 closed

[2021-11-03 12:58] #1968 closed

[2021-11-03 12:58] #1966 closed

[2021-11-03 12:58] #1967 closed

[2021-11-03 13:11] loripusey opened #2904 "Allow Internal Admin to Submit/Validate a CSV File on behalf of a Selected Sender in a Staging Environment"
## Problem Statement
As an Internal Admin, I need to be able validate a data file on behalf of a Sender who I am working with to onboard.

## Design
[https://www.figma.com/file/VrSkTA87t8PPeXPugQ0i8O/ReportStream?node-id=1597%3A4628](url)

## Acceptance criteria
- Given I
    - Am logged into ReportStream **STAGING** as a **ReportStream Admin**
- When I
    - Navigate to the new Sender submission

[2021-11-03 13:19] loripusey commented on #2904
@drew-usds @inkandsound I added this story to the Validation Epic to account for an onboarding team member needing to use our validation feature for a selected Sender in a staging environment, please consider this when you do research/design

[2021-11-03 13:26] loripusey opened #2905 "Custom OKTA Account Management for Users"
## Problem statement

Given the influx of new users coming in, we need to fix a longstanding problem with account creation, login, and management. SimpleReport was the original owner of Okta and all of the default login pages and emails are branded with SimpleReport text and images. Okta only lets an account to have a single set of templates for these flows.

- SimpleReport branded Okta pages and

[2021-11-03 13:35] loripusey opened #2906 "Organizations Can Request Support Online"
## Problem Statements
As an Organization that uses ReportStream, when I have a problem with ReportStream, I would like to easily be able to request assistance from the support team so that I can work towards solving my problem.

## Background Info
- When a RS user has an issues with our platform, the only way currently to notify the development/product team is via email - directed personally to te

[2021-11-03 13:37] loripusey opened #2907 "R&D - Handling Support Requests"
Refer to this ticket for Problem statement
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2906

## Problems
- Handling support requests in a timely manner
- Request support via the ReportStream website

## Ideas to create issues from:

- How can we help triage issues for our team? What are common issues coming in?
- What can we do to help spe

[2021-11-03 13:41] loripusey commented on #2637
This issue has been turned into an Epic: [https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2906](url)

[2021-11-03 13:41] #2637 closed

[2021-11-03 14:14] loripusey opened #2908 "Data Sharing & Summary Statistics for Senders & Receivers"

[2021-11-03 14:33] anshulkumar-usds commented on #2631
Assigned to @jorg3lopez

[2021-11-03 15:00] loripusey opened #2910 "Content Updates for Auto-generated Emails"

[2021-11-03 15:01] loripusey opened #2911 "Content for Senders"

[2021-11-03 15:44] HeatherRienks commented on #2740
@MauriceReeves-usds  or @Adrian-Brewster  - Do you have a list of the states that we need to update?

Thanks!

cc: @TomNUSDS, @drew-usds

[2021-11-03 15:53] jorg3lopez opened #2912 "LIVD Table Needs To Be Updated"
There is a new update for the LIVD table. This is an essential operation as it adds new emerging tests and takes away deprecated ones.

Steps:
* Download LIVD table from here: https://www.cdc.gov/csels/dls/sars-cov-2-livd-codes.html
* Add it to metadata/tables folder
  * follow naming convention to rename the current one
  * follow naming convention by renaming the new one LIVD-SARS-CoV-2-latest.c

[2021-11-03 16:14] anshulkumar-usds opened #2914 "ImageMover, Cue - Incorrect Equipment Model Names"
@MikeC-A6 pulled together a summary of all equipment names in RS for the past 7 days that show incorrect names compared to the LIVD table. Summary attached below.

Next steps:
Reach out to ImageMover and Cue to share these results and determine next steps for resolution with each sender.[https://app.zenhub.com/files/304423150/67338508-64c1-4bda-ae9b-b59b0849ca71/download]

[2021-11-03 16:14] anshulkumar-usds commented on #2914
[https://app.zenhub.com/files/304423150/2257f802-127a-4c75-a960-8763c82a4fda/download](https://app.zenhub.com/files/304423150/2257f802-127a-4c75-a960-8763c82a4fda/download)

[2021-11-03 16:16] anshulkumar-usds commented on #2914
Shared results with ImageMover, awaiting reply from sender

[2021-11-03 16:29] anshulkumar-usds commented on #2914
Shared with Cue as well, awaiting sender reply

[2021-11-03 17:04] TomNUSDS opened #2916 "Update unit tests to remove CdcMap component references"
**Describe the bug**
CdcMap component has been replaced with a static svg graphic. But there are still some empty references to the CdcMap component in some unit tests (where it's basically stubbed out).

Related PR #2837 that broke the tests.

**Impact**
It's very low impact since the test stubs out the component. It's mostly just confusing to see it referenced still.

[2021-11-03 17:05] #1974 closed

[2021-11-03 17:05] #2333 closed

[2021-11-03 17:05] #2611 closed

[2021-11-03 17:21] HeatherRienks opened #2917 "Reporting on all users who have signed TOS"
Feedback from @mlighdc  on 10/27/21 via Slack and via our conversation on 11/3/21:

**How can we track users who have signed the Terms of Service?**

Currently, we are just able to search the ReportStream general inbox by the address "no-reply@cdc.gov" or subject line "`OrgName` has signed the Terms of Service"

It is important for us to be able to pull list of users/organizations as we continue t

[2021-11-03 17:44] kevinhaube commented on #2455
Hey @jimduff-usds! I took care of steps 1-4 in this ticket (all the code changes). Working with @anshulkumar-usds now on the release notes; I'm a bit confused, though. Is this affecting `/api/waters`?

[2021-11-03 18:21] #2903 closed

[2021-11-03 18:21] clediggins-usds opened #2918 "Process Retry"
As a sender or receiver I want to have the highest chance of all messages getting to where they need to go as possible.

### AC
* If the `process` step fails, ReportStream will record what happened, then gracefully re-attempt to process the record.
* Retries should be limited to a reasonable number, say 5 or so.
* Failures resulting in a future retry will show up in the Action table as action_name

[2021-11-03 18:40] anshulkumar-usds commented on #2881
OBX-18 can be left blank if we can't find a valid value to populate.

![image (3).png](https://images.zenhubusercontent.com/607d9d4a591b7cc0bb55c82e/2924231e-2da6-4d82-aa84-3566576d09f3)The preferred approach might one suggested by @MikeC-A6 to use the LIVD table mappings. Attached is the mapper.

[2021-11-03 19:03] anshulkumar-usds commented on #2881
Also investigate why BinaxNOW is empty

[2021-11-03 19:11] anshulkumar-usds opened #2919 "CO - Send OTC Results to TEST"
CO is interested in review what OTC data ReportStream has available for them. Please send available OTC data to CO's TEST / staging endpoint for their review.

[2021-11-03 19:53] jimduff-usds commented on #2455
/api/waters is identical to the current /api/reports, but with a different authentication style.   So it would affect both.

[2021-11-03 20:10] TomNUSDS opened #2920 "Run jest tests as Github Action on submit"
**Is your feature request related to a problem? Please describe.**
Changed the CdcMap component but forgot to run unit tests locally. Submission didn't get blocked.

**Describe the solution you'd like**
Run all jest test on Github PR creation/updates.

**Describe alternatives you've considered**
Remembering to always do it ourselves locally... but that's a fail.

[2021-11-03 20:12] TomNUSDS opened #2921 "Run prettier to verify everything is formatted correctly on PR add/update."
**Is your feature request related to a problem? Please describe.**
As a developer, I forget to run prettier on my local machine before submitting a PR. I'd like the new/update PR sanity check to reject my request if the prettier needs to clean up any files.

**Describe the solution you'd like**
Github action should just do this.

[2021-11-04 01:28] mlighdc opened #2923 "Weekly New Facilities Report"
Update weekly facilities reports to WA, VT and other states to reflect the columns in the original file sent.

@Adrian-Brewster it would be helpful to see how you are creating these queries. I noticed the files are different by state... for example the file that is sent to CA is different than the one being sent to VT or WA. It also looks like  you have just the Facility information and do not hav

[2021-11-04 12:28] MikeC-A6 commented on #2631
@jorg3lopez - I did some investigation on this CLIA.  Up until 9/11/2021, the lab name was not sent for this CLIA.  On 9/13/2021, lab name is populated on the inbound reports.  This is confusing because AZ is stating that they didn't receive the lab name on 10/15.  It looks like they are referring to the 8 records with a created date of 10/14/2021.  Are we able to check the outbound file and deter

[2021-11-04 12:55] anshulkumar-usds commented on #2638
Meeting with Recuro scheduled for 2:30 PM ET on 11/8. A flow chart or some sort of visual would be helpful for the "demo".

[2021-11-04 12:59] whytheplatypus opened #2926 "More meaningful report "Options""
## Problem statement

Currently the behavior when submitting a report is controlled by the `Options` enum. This is overloaded so it's unclear to the requester what it controls. It also prevents multiple behaviors to be configured at once, e.g. Allowing invalid items, and sending immediately.

## What you need to know

Options is defined [here](https://github.com/CDCgov/prime-reportstream/blob/mast

[2021-11-04 13:47] #1268 closed

[2021-11-04 13:49] anshulkumar-usds commented on #2586
duplicate of 2585

[2021-11-04 13:49] #2586 closed

[2021-11-04 13:49] anshulkumar-usds commented on #2639
Iceboxed until after Ellume goes live on RS

[2021-11-04 13:50] #1999 closed

[2021-11-04 13:55] #1450 closed

[2021-11-04 13:56] #1776 closed

[2021-11-04 13:58] Adrian-Brewster commented on #2565
@mlighdc  I am not sure how to include MSH-4 on these reports.  It is not an option in Metabase that I am seeing.  I can include facility name and facility CLIA but not the truncated facility name that appears in MSH-4.

[2021-11-04 14:01] anshulkumar-usds commented on #2914
Cue mentioned the LIVD tables recently changed and will work to fix in their next release.

No word yet from IM.

[2021-11-04 14:02] anshulkumar-usds commented on #2870
related to 2518

[2021-11-04 14:16] anshulkumar-usds commented on #2158
Follow up with NC and Ming to understand what the specific needs from NC are.

[2021-11-04 14:44] anshulkumar-usds commented on #2881
DII: Device Instance Identifier

For the immediate term, we will make all of OBX-18 blank for VT.

[2021-11-04 16:10] sean-usds commented on #2658
@RickHawesUSDS @MauriceReeves-usds We had a conversation with the Okta reps yesterday and based on their recommendations here is a solution:

1. (Sean) Change all Okta groups to be linked to both "ReportStream" and "ReportStream (test)". This can be done via the Okta web interface. There are only a few dozen groups so it shouldn't take too long.
2. (@kevinhaube) Change the client code to check for

[2021-11-04 16:58] mlighdc commented on #2565
@Adrian-Brewster are you able to show me or tell me what is in Vermont's MSH-4? We can do custom actions (e.g truncation like we can in Excel) in Metabase so we might be able to trunc it.

[2021-11-04 17:33] anshulkumar-usds opened #2930 "CA - Missing ImageMover Data"
CA continues to report that ImageMover data is not reaching them. In metabase, we see the following CLIAs assigned to ImageMover and bound for CA; none is reaching CA.

05D2189797
05D2191150
05D2204489
05D2213725
05D2230032
11D2213893
31D2214292
CDPH000077
SA

We now have access to the ACK/NACK inbox: https://ecgqc.healthtechnologygroup.com/ecgqc/home.do
And a sample message shows a few errors why

[2021-11-04 17:37] anshulkumar-usds commented on #2930
Also need to check with @MauriceReeves-usds if we can receive these acks and nacks to our SFTP, or can pull from CA's SFTP

[2021-11-04 17:47] MauriceReeves-usds commented on #2822
@loripusey this just happened again. are we able to prioritize this as it's triggering Pager Duty notifications.  Thanks

FYSA: @jimduff-usds @sean-usds @rachelhanster

[2021-11-04 17:54] kevinhaube commented on #2658
@RickHawesUSDS @MauriceReeves-usds I drafted a PR for you to review alongside the release plan

[2021-11-04 18:54] anshulkumar-usds opened #2933 "VT - MSH-4 contains space as last character"
VT is reporting that some namespaces in MSH-4 have a space as the last character. Following up with VT to get message IDs. Need to update the truncation logic to remove the last character if it is a space.

Accession #: 0111d7b2-abba-46db-9e8d-7ac97f8876be
MSH-4: |North Country Union ^47D2240822^CLIA|

Accession #: a214f4aa-7395-4772-8502-c96261290245
MSH-4: |Shelburne Community ^47D2241033^CLIA|

[2021-11-04 20:52] JosiahSiegel commented on #2797
@ronaldheft-usds There's a small win at reducing dev daily builds by adding the `--quick-package` argument to cleanslate, which passes same to `gradlew`. I made this change in this commit [here](https://github.com/CDCgov/prime-reportstream/commit/80eac746c681f221eeaa78c0a610839a82e1d524), but it doesn't really go with the title of this issue, even if all towards the same effort of reducing build t

[2021-11-04 21:04] loripusey commented on #2822
@MauriceReeves-usds I can prioritize it in our backlog and pick it up next sprint; I'll also check with the team to see if anyone has capacity to pick it up this sprint

[2021-11-04 22:10] sean-usds commented on #2535
https://github.com/CDCgov/prime-reportstream/pull/2936

[2021-11-05 12:57] loripusey commented on #1922
@inkandsound @drew-usds Can you remind me what we decided about paging? How many records are going to be displayed at a time?

[2021-11-05 12:59] loripusey commented on #1393
@inkandsound @drew-usds FYI, I don't think this story is yet captured in the wireframes

[2021-11-05 14:04] #2069 closed

[2021-11-05 16:26] clediggins-usds opened #2945 "Clean up ActionHistory.createResponseBody"
There are numerous code cleanup activities needed in the createResponseBody method; evaluate functionality, document it, unit test it.

[2021-11-05 16:56] RickHawesUSDS commented on #244
Working on GAEN for WA #2775

[2021-11-05 16:56] RickHawesUSDS commented on #421
Duplicate

[2021-11-05 16:56] #421 closed

[2021-11-05 17:16] carlosfelix2 commented on #2885
The constraints on the database will not allow the same table name with the same version number to be created, so this scenario is not possible thanks to that constraint.

[2021-11-05 17:16] carlosfelix2 commented on #2825
The constraints on the database will not allow the same table name with the same version number to be created, so this scenario is not possible thanks to that constraint.

[2021-11-05 17:16] #2825 closed

[2021-11-05 19:31] jbiskie opened #2950 "Onboarding for Abbott and Lifepoint"
## Problem statement

Abbott and Lifepoint need to be set up as senders.  Abbott needs a pared down version of the direct schema available.

## Acceptance criteria

Abbott and Lifepoint are set up as senders in RS and Abbott has a working schema associated.

[2021-11-05 19:38] TomNUSDS opened #2952 "Unknown `text/html` urls return 404 instead of being routed to react's root index.html page."
**Describe the bug**
Single Page Apps (SPAs) don't issue http requests to load "pages", but they do change the url path in the Address Bar to make it look like the pages are being changed.

This path is "abstract" and doesn't lead to an actual page on the server. So, browser refreshing the page and bookmarks won't work correctly.

This is a common issue with SPA setups.

**Impact**
Deep links and

[2021-11-05 19:51] TomNUSDS commented on #2952
Suggestion from [here](https://medium.com/medialesson/best-way-to-host-a-single-page-application-spa-in-microsoft-azure-3e70cbd075c3) (in the _ Azure App Service_ section).

[code]

[2021-11-05 19:54] TomNUSDS commented on #2952
There's an alternate solution. Switch the React app from using url paths to using fragment identifier.

I'm going to do more research down this path.

[2021-11-05 19:58] loripusey opened #2953 "Generate V2 of CSV Uploader Pilot Slide Deck/Documentation"

[2021-11-05 19:59] loripusey opened #2954 "Conduct CSV Uploader Pilot"
## Problem Statement
As the Experience Team, we need to pilot the CSV Uploader with reporting entities and PHDs so that we can understand whether ReportStream via the CSV Uploader using a standard schema will get used.

## [Hypotheses](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1638985599379/3d76a25d28d21d28d698f30146322677e9f3ab4b?sender=ud3aa760e30b39bcf436d4473)
- Hypothesis

[2021-11-05 20:02] cwinters-usds commented on #2952
Sounds good. I'll keep that solution in mind while researching the security headers stuff, there may be overlaps there in implementation.

[2021-11-05 21:12] cwinters-usds commented on #2648
Just some implementation notes:

1. There is no way to set HTTP headers on the storage account ([Azure docs here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website#adding-http-headers))
2. There's a way to do this via the Front Door configuration ([Azure docs here](https://docs.microsoft.com/en-us/azure/frontdoor/front-door-security-headers)) However, note that Terra

[2021-11-06 14:41] MikeC-A6 opened #2957 "Reduce errors and improve sender and receiver visibility for fields currently used and populated by the LivdMapper()"
There have been multiple issues created since May, 2021 related to fields used and populated by the LivdMapper().  This Epic will consolidate those issues and create new user stories and acceptance criteria for the issues to be addressed.

**Problem Summary:**

If a sender does not send in the _exact_ Model_ID or Test_Kit_Name_ID, multiple fields will fail to populate in the outbound file to the S

[2021-11-06 20:05] TomNUSDS commented on #2952
@cwinters-usds I'd like to try an experiment.

If there's a `404.html` will that automatically load when a page isn't found?

If so adding this to the package.json might be enough?

`"postbuild": "cp build/index.html build/404.html",`

I'm going to do a PR with just this change, if nothing else, it shouldn't break anything.
https://github.com/CDCgov/prime-reportstream/pull/2958

[2021-11-07 13:53] MikeC-A6 commented on #2881
Confirmed that BinaxNow is empty because there isn't a UID listed for BinaxNow on the LIVD spreadsheet

[2021-11-07 14:19] MikeC-A6 opened #2959 "Root Cause Analysis - AZ - OBX-23.1"
In the outbound CSV file that goes to AZ, only records received from SimpleReport had a value populating OBX-23.1, which is Laboratory_Name.  Other senders were sending in laboratory name, however; these were not being sent to AZ in the Lab name field in the outbound file. This was identified because AZ contacted us on October 15th about 8 records that were missing laboratory name.

Research, docu

[2021-11-07 14:22] MikeC-A6 opened #2960 "Root Cause Analysis of Data Quality Issues"
This Epic will be used to categorize issues for root cause analysis of observed data quality issues

[2021-11-07 15:24] MikeC-A6 commented on #2959
Completed [Root cause Analysis](https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7BC91A308D-33D5-49EB-8A9D-508BA7A3C891%7D&file=AZ%20Lab_Name%20RCA-%2011%207%202021.pptx&action=edit&mobileredirect=true)  @jorg3lopez

[2021-11-08 04:21] anshulkumar-usds commented on #2881
Issue is more widespread beyond BD Veritor. Preferred fix for VT is to leave all of OBX-18 blank. fyi - @jorg3lopez

[2021-11-08 13:56] #2620 closed

[2021-11-08 15:36] loripusey commented on #1567
@BerniXiongA6 were you able to follow up on this this past week?

[2021-11-08 15:44] jorg3lopez opened #2971 "Clark County Download Site - CSV Format"
Clark County has requested the test results to be in csv format.

 Steps to follow:
* Create csv schema for Clark County, OH
* Update org file to reflect csv format

[2021-11-08 15:45] loripusey commented on #2866
@TomNUSDS can you tell us what screen size does this bug affect? tablets? phone-size only?

[2021-11-08 15:47] BerniXiongA6 commented on #1567
@loripusey the design team says let's keep it in the "icebox" still. It's still a possible idea, just not a priority at the moment. Thanks!

[2021-11-08 15:48] loripusey commented on #2868
Yes, we should comply with their requirements and give credit.

[2021-11-08 15:58] Adrian-Brewster commented on #2157
Email Header: Update: PRIME ReportStream IP Migration Complete

Hello All,

This email is to inform you that the the PRIME ReportStream IP migration from an Azure-based range to a CDC-based range is now complete and you may remove our old IP address from your firewall.

Thanks!

@mlighdc I figured we could keep this short and simple.  If you have anything you would like to add, feel free to do so!

[2021-11-08 16:05] loripusey commented on #2917
@mlighdc Can you provide us with information on who would need access to see the list of users who have agreed to the TOS and how frequently they would be accessing this information?

[2021-11-08 16:06] mlighdc commented on #2157
@Adrian-Brewster I would make the following tweak to make sure folks know it is an update and what to do if they experience any issues. There was also a slight typo. Please make sure to copy me on the email. Thanks!

email Header: **Update -** PRIME ReportStream IP Migration Has Been Completed

Hello All,

This email is to inform you that the PRIME ReportStream IP migration from an Azure-based ran

[2021-11-08 16:10] loripusey commented on #2920
@TomNUSDS I will bring this up at the Scrum of Scrums today

[2021-11-08 16:11] loripusey commented on #2921
@TomNUSDS  I will bring this up at the Scrum of Scrums today.

[2021-11-08 16:16] Adrian-Brewster commented on #2971
Moving HL7 to CSV.  Jorge will work on this today. Will then resubmit files

[2021-11-08 16:16] anshulkumar-usds opened #2973 "CA - NCES School ID"
CA is interested in receiving NCES school ID in their HL7 messages from ReportStream.

- RS shared the APHL guidance on how to incorporate this for receivers
- Waiting for CA to get back to us and advise on next steps
- Will need to work with Rick Hawes to update the settings internally

[2021-11-08 16:21] Adrian-Brewster commented on #2760
Completed.

[2021-11-08 16:21] #2760 closed

[2021-11-08 16:27] anshulkumar-usds opened #2974 "CA - Setup SFTP to pull ACKS and NACKS from Optum"
To manage the ACKS and NACKS workflow for CA, we need to consider setting up a connection to Optum's SFTP folders. Need to be further groomed.

- One option is for Optum to use subfolders to differentiate between primary and secondary ACKS and NACKS
- Sample NACKs can be found in this ticket 2930
https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-

[2021-11-08 16:29] Adrian-Brewster commented on #2914
IM acknowledged the issue and is working on a remedy. Same with CUE.  Hoping to deploy corrections this week.

[2021-11-08 16:31] Adrian-Brewster commented on #2914
Potential solution on our end is building in logic to accommodate * so that we do not need to coordinate with senders going forward.  @MikeC-A6

[2021-11-08 16:32] Adrian-Brewster commented on #2447
Made deployment last Friday.  Need to update settings.

[2021-11-08 16:34] Adrian-Brewster commented on #2820
Still pending. Part of Abbott Onboarding. Still waiting to hear back

[2021-11-08 16:36] anshulkumar-usds commented on #2596
Confirming with IM if they resubmitted effected records.

[2021-11-08 16:37] Adrian-Brewster commented on #2709
CDPH wants to have the ability to set a single CLIA per sender.  Primary focus is on SimpleReport but will likely expand to other senders.  EPIs are not able to see the sender name because they only receive a portion of the original message.  OBX is originally in obx23.10 segment but EPIs dont receive that, so they are asking we also include it in 23.1.

[2021-11-08 16:39] anshulkumar-usds opened #2975 "CA - Secondary Feed"
Tasks to be completed for CA's secondary feed

1. Point the feed from staging to production
2. Confirm if data was pushed to CA prod feed
3. Jen is also checking to ensure Optum has or hasn't received this data

[2021-11-08 16:41] Adrian-Brewster commented on #2805
Waiting to hear back from sender.

[2021-11-08 16:44] Adrian-Brewster commented on #2599
Just received staging data last week. Joel is planning to look at it this week and provide feedback.

[2021-11-08 16:49] Adrian-Brewster commented on #2518
Issue was addressed with MSH-4 fix.

[2021-11-08 16:49] anshulkumar-usds commented on #2596
addressed with the MSH-4 deployment fix from IM

[2021-11-08 16:49] Adrian-Brewster commented on #2548
Issue was addressed with MSH-4 fix.

[2021-11-08 16:49] #2548 closed

[2021-11-08 16:50] #2596 closed

[2021-11-08 16:51] Adrian-Brewster commented on #2526
Jorge is planning to resend this week.

[2021-11-08 16:52] #2618 closed

[2021-11-08 16:53] #803 closed

[2021-11-08 16:54] oifekoya opened #2976 "System Cleans Sender Data on Submission"

[2021-11-08 16:55] oifekoya opened #2977 "System Cleans Sender Data on Submission"

[2021-11-08 16:58] #2707 closed

[2021-11-08 16:59] #2749 closed

[2021-11-08 16:59] Adrian-Brewster commented on #2975
Needs external review. Then we can close out.

[2021-11-08 17:02] Adrian-Brewster commented on #968
hesitation on ToS.  Maya has already reached out.

[2021-11-08 17:03] jimduff-usds opened #2978 "Add a new 'sftpcheck' CoolTest that checks all the `ignore` receivers"
As a developer, I want to know that sftp connections work before doing other smoke tests.

Acceptance Criteria:
- Get the list of ignore organizations that have an sftp host transport from setting receiver database table.
- For each receiver that has an sftp host transport listed in the ignore organization, call the sftpcheck API endpoint and verify you get back an OK response that we are able to

[2021-11-08 17:03] Adrian-Brewster commented on #2054
@MikeC-A6

[2021-11-08 17:12] mlighdc commented on #2917
@loripusey I don't have a full list. It would be myself, members of the PRIME team, and anyone on the OGC side.

[2021-11-08 17:42] sean-usds commented on #2648
doing this manually via the Front Door config makes sense to me! maybe we should just have a Readme somewhere in our repo with the configurations so that we at least have version history of any changes? we'd have to make sure the Readme stays up to date, but I don't imagine changes to SecurityHeaders will happen too frequently

[2021-11-08 17:54] loripusey commented on #952
@Adrian-Brewster @drew-usds The link to the proposal no longer works, can someone provide a new link?

[2021-11-08 18:17] loripusey commented on #2920
@TomNUSDS Is this work that needs to be done or a process that needs to be put in place? Is this something that you can bring up in the engineering sync?

[2021-11-08 18:17] loripusey commented on #2921
@TomNUSDS Is this work that needs to be done or a process that needs to be put in place? Is this something that you can bring up in the engineering sync?

[2021-11-08 18:25] jorg3lopez opened #2979 "Integration Files Need To Get Recreated - Daylight Savings"
Integration files need to get recreated because the change in time due to daylight savings, is causing the integration test to fail.

Solution:
* Generate new integration files (single and batch)

[2021-11-08 19:54] loripusey opened #2980 "Research/Negotiate OKTA Page Re-branding"
## Acceptance
- Determine if we can re-brand OKTA pages (login, help, forgot password) that currently say "Simple Report" to say something that is inclusive of ReportStream

## Background
- Help page: Content would be the same for Simple Report and ReportStream but the header says "Simple Report"
[https://hhs-prime.okta.com/help/login](url)

## TO DO
- Talk to Simple Report branding/design folks t

[2021-11-08 20:06] sean-usds opened #2981 "Give users ability to change their passwords"
## Problem Statement
Users are unable to reset their password. Their workaround is to select "forgot my password" and go through that flow

## Acceptance Criteria
- Given I
    - Am a ReportStream user who wants to change their password
- When I
    - Log in
    - Select "change my password"
- Then
    - I am taken to a form for changing my password

[2021-11-08 21:00] RickHawesUSDS commented on #2883
@anshulkumar-usds Here are example reports that HHS Protect is doing on the OTC data shape. We should at least do this type of analysis.
https://cdc.sharepoint.com/:b:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/OTC%20Data/BinaxNow%20Data%20Profile.pdf?csf=1&web=1&e=9Xf69a

https://cdc.sharepoint.com/:b:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/OTC%20Data/Ellume%20Da

[2021-11-08 21:08] anshulkumar-usds commented on #2883
Thanks @RickHawesUSDS . @MikeC-A6 will be taking the lead on compiling the metrics. We should have some draft metrics for you by later this week.

[2021-11-08 21:10] RickHawesUSDS commented on #2973
@anshulkumar-usds So wait until CA gets back to us.

[2021-11-08 22:12] clediggins-usds opened #2982 "Cleanup: Look into how db.transaction is used in processFunction, batchFunction, and sendFunction"
Verify the usage of database transactions in our queue processing functions (processFunction, batchFunction, sendFunction) and see if only what is needed within a transaction is present in that transaction.

Update tests to ensure rollbacks occur as expected when part of a transaction fails.

[2021-11-09 13:21] rhood23699 commented on #2741
Merged.

[2021-11-09 13:21] #2741 closed

[2021-11-09 13:22] rhood23699 commented on #2729
Merged.

[2021-11-09 13:23] #2729 closed

[2021-11-09 14:00] MikeC-A6 opened #2985 "Ignore the presence or absence of asterisk characters for Test Equipment name fields"
As a sender, I want to be able send in a test equipment name value from either column M or column B from the [LIVD table](https://www.cdc.gov/csels/dls/documents/livd_test_code_mapping/LIVD-SARS-CoV-2-2021-10-27.xlsx) with or without an asterisk so that Reportstream can look up related fields using the LIVDMapper() function.

Design considerations:
The LIVD table column in question is Model, and t

[2021-11-09 15:00] carlosfelix2 opened #2986 "Translation tests for CSV to HL7 failing due to DST time change"
Translation tests for CSV to HL7 failing due to DST time change.  This is due to the CSV serializer using the CST timezone by default when no timezone is specified in a date.

Acceptance criteria:
1. CSV serializer defaults to a timezone not affected by a DST time change.

[2021-11-09 15:27] BerniXiongA6 commented on #1569
11.9.2021 @victorialb-usds  and Berni to start discussing this as we collab on content and research efforts for future state RS website iterations.

[2021-11-09 16:57] sean-usds opened #2989 "Admin okta users need to be added to az-phd to see data"
Not sure why, but twice now I've had admin users complain that they cannot see data in the production app but after I added them to the Okta group for az-phd it then worked. Possibly a bug related to the dropdown feature?

[2021-11-09 19:25] carlosfelix2 commented on #2985
Artifact with more information and examples of Equipment model names
[https://app.zenhub.com/files/304423150/43a9e1e8-c21d-4923-ba3b-8f91ab61f22c/download](https://app.zenhub.com/files/304423150/43a9e1e8-c21d-4923-ba3b-8f91ab61f22c/download)

[2021-11-09 20:20] #2154 closed

[2021-11-09 20:23] HeatherRienks commented on #2740
@Adrian-Brewster - do you have a list of the states that we need to update, or is there another teammate I should reach out to?

Thanks!

[2021-11-09 20:28] drew-usds commented on #2287
This has already been resolved and merged into staging.

[2021-11-09 20:47] TomNUSDS commented on #2863
Early in the research, we should double-check the assumption we'll be using Azure's analytics product (application insights) versus the one government agencies one "DPA": https://open.gsa.gov/api/dap/

Probably using the same as SimpleReport is the best decision.

[2021-11-09 21:13] anshulkumar-usds commented on #911
@MauriceReeves-usds DE is requesting if MSH-4 can be populated with default Ordering provider instead of adding a filter to DE's outbound feed.

[2021-11-09 21:47] JosiahSiegel commented on #1885
@cwinters-usds
It turns out that a few import commands for azure have known to fail unless the resource path is quoted. This isn't always true, but better to play it safe.
Since `./tf.sh -c ""` expects input within double quotes, whoever is entering the import command should use single quotes instead: `./tf -e ${ENV_NAME} -c "import a 'b'"` (note `'b'`)

I cannot confirm that this is the ENTIRE is

[2021-11-09 23:31] Adrian-Brewster commented on #2740
Hey @HeatherRienks We haven't had any states go to production for a couple of weeks so I dont have any updates.  Thanks for checking!

[2021-11-09 23:33] HeatherRienks commented on #2740
@Adrian-Brewster -thank you!

[2021-11-09 23:40] Adrian-Brewster commented on #2740
I just tag Drew in a slack message letting him know.  We can improve on that workflow though if you have any ideas! :) @HeatherRienks

[2021-11-09 23:48] HeatherRienks commented on #2740
Yes, let's chat more! Since we already have nearly 50% of the US in production, I don't think it would be too "noisy" if we posted this in RS general? It's also a big win when we have a state go into production, so would be good for the larger team to be aware too!

cc: @drew-usds

[2021-11-09 23:53] brick-green-agile6 commented on #2930
@anshulkumar-usds this will be fixed by [#2897](https://github.com/CDCgov/prime-reportstream/pull/2897) from @jorg3lopez . After the fix has been deployed we can look at a data resend.

[2021-11-10 00:18] #2287 closed

[2021-11-10 03:40] drew-usds commented on #2298
Closing, dupulicate of #2296

[2021-11-10 03:40] #2298 closed

[2021-11-10 13:58] JosiahSiegel commented on #2352
Please see here for built-in [long-running query detection](https://docs.microsoft.com/en-us/azure/postgresql/concepts-query-performance-insight#viewing-performance-insights).
A termination solution based on these metrics can also be built, but there is nothing built in that terminates from last I've seen.

[2021-11-10 15:11] carlosfelix2 commented on #1334
Already implemented as part of another issue

[2021-11-10 15:11] #1334 closed

[2021-11-10 15:22] Adrian-Brewster opened #2995 "Get team's IP addresses so we can get ID to whitelist"
In order for team members to resend data to Inductive Health states, we need to have their IP range whitelisted with Inductive Health.

[2021-11-10 15:27] RickHawesUSDS opened #2996 "Bug: Prime CLI does not connect production"
**Describe the bug**
The prime CLI ignores the --env flag.

**Impact**
Cannot onboard new senders and receivers in the normal process.

**To Reproduce**
Steps to reproduce the behavior:
1. `./prime login --env prod`
=> Login is not needed in this environment

**Expected behavior**
You should be taken to the login page

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2021-11-10 15:53] loripusey commented on #2811
Please refer to the Onboarding's team research that led to the CSV Uploader: https://cdc.sharepoint.com/teams/USDSatCDC/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FUSDSatCDC%2FShared%20Documents%2FPRIME%20ReportStream%2FTeam%20Documents%2FSender%20Automation%20Team%2FMisc%2E%20Notes%20%26%20Artifacts%2FSender%20Automation%20Team%20program%20Review%20V1%20%2010%201%202021%2Epdf&parent=%2Ft

[2021-11-10 16:14] JosiahSiegel opened #3000 "tf local development interrupted by false AZ_BACKEND_REQUIRED flag"
## Describe the bug
If commands are passed to `tf` via `-c`, the value of variable `TFCMD` is analyzed to determine how to set variable `AZ_BACKEND_REQUIRED` **BEFORE** it adopts the argument passed by `-c`. This falsely requires an azure backend for commands that should not (`validate|graph`).

## Impact
Local debugging is interrupted if Azure access is not available.

## To Reproduce
Steps to re

[2021-11-10 16:26] JosiahSiegel commented on #2757
API rate limits can be set per API key or address with [Azure API Management](https://azure.microsoft.com/en-us/services/api-management/)

[Example](https://docs.microsoft.com/en-us/azure/api-management/api-management-sample-flexible-throttling#ip-address-throttling)

[2021-11-10 17:34] jorg3lopez opened #3003 "MN Suppress SPM-2-1 And Resend Failed Messages"
MN has asked us to suppress SPM-2-1 which came with the fixes for OBR-22.  Once this is done we need to resend the three failed messages.

#### Specimen id
1.	61804-95209-3-R113-20210914
2.	58088-95209-3-R2574-20210921
3.	d1f90347-832a-48b3-bd85-085cd07bacaf

[2021-11-10 18:50] oifekoya opened #3009 "ReportStream Optimization / Scalability"

[2021-11-10 19:12] drew-usds commented on #2815
Updates from the related SR issue linked above. TL;DR = Looks like the internal OKTA workflows will meet our needs. OKTA possibly doesn't handle the static pages that show up elsewhere though.

Couple of us working on ReportStream chatted with Dale and Mike from Okta yesterday and this topic came up. They gave us a brief demo of Okta Workflows and it seems like this will solve this problem. When a

[2021-11-10 19:15] drew-usds commented on #2980
Updates from[ related SR issue](https://github.com/CDCgov/prime-simplereport/issues/2833). TL;DR = Okta might not let us differentiate these static content pages in the same way we can with emails.

Thank you both! I think sorting by groups within the workflow is likely our best option. @drew-usds, I'm not sure about the options available to differentiate content on the login or password reset pag

[2021-11-10 19:17] drew-usds commented on #2980
Possible workarounds given the above comment:

- Use CDC branding for the Okta account
  - Swap the SR logos to a CDC one
  - Make sure we scrub any specific mentions of SR from those generic pages
- Create our own login flow with dedicated RS help pages

[2021-11-10 19:20] victorialb-usds commented on #2779
VLB: Here is link to the current intake form: https://prime.powerappsportals.us/siw/

[2021-11-10 19:23] victorialb-usds commented on #2779
Q? VLB: is there already sense/synthesis of barriers to onboarding - perhaps this is a quick first step or SPIKE to do? based on CDC demo and conversations with onboarding team the variation in onboarding includes external factors to consider perhaps we already have a sense of these.

[2021-11-10 19:38] BerniXiongA6 commented on #2393
11.9.2021 Welcome email template was reviewed. Mark as Done.

[2021-11-10 19:41] drew-usds opened #3011 "Results show page has errors with report ID"
**Describe the bug**
If a user clicks through to a report show page, they can see the full details including the list of facilities. If you refresh the page (or go back and click through to the same report), you get an error and a few empty fields. Shows up on localhost/staging/prod.

![Screen Shot 2021-11-10 at 1.26.18 PM.png](https://images.zenhubusercontent.com/5ff50e49f74e134e95117280/5215ef0a

[2021-11-10 19:45] drew-usds opened #3013 "When logged out and viewing the login page, can't go back to previous page"
**Describe the bug**
When logged out of the application and viewing the `/login` page, you can't navigate back to the previous page you were on. Page just reloads `/login`.

**Impact**
Users could get stuck navigating the app when logged out.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `/login`
2. Click back in your browser
3. Page infinitely will go back to `/login`

**Expected be

[2021-11-10 19:53] drew-usds opened #3014 "Right clicking a CSV download link saves "download.html" and not the CSV"
**If this is easy then we want to go ahead and fix this, if not easy then discuss with the team**

**Describe the bug**
Left clicking on the "CSV" download link for a report on the report index works. Right clicking and choosing "save link as" (Using a mac, but equivalent on Win) does not download the CSV, it downloads "download.html" instead.

**Impact**
Users might have trouble if they choose to

[2021-11-10 20:03] Adrian-Brewster opened #3015 "IL - OBX-23.1 Org Name truncate to 50 chars"
Illinois is having a problem with the length of the organization name in OBX 23.1. The maximum character sizing limit for this subfield is 50, and quite often more than 50 characters are being sent.

![image.png](https://images.zenhubusercontent.com/60d1eba7caf0775fd79203f8/19c24e5d-a744-461b-917a-7df14402fc25)

[2021-11-10 20:12] loripusey commented on #2228
@TomNUSDS can you look at this and, if DevOps need to do the work, re-assign to them? Thanks.

[2021-11-10 20:28] loripusey commented on #2810
@TomNUSDS if this is fixed can you close please?

[2021-11-10 21:02] loripusey opened #3016 "Update Visual Designs to Incorporate User Research & Feedback"
## Acceptance Critiera

[2021-11-10 21:03] loripusey opened #3017 "Update Visual Designs to Incorporate User Research & Feedback"
## Acceptance Criteria

[2021-11-10 23:22] sethdarragile6 commented on #2246
A version of this went to production, but upon review with @rhood23699 and @carlosfelix2 there are a few things that need ironed out

1. A parse error at build time when trying to use the MM/dd/yyyy format (or any format with a / in it). This is a simple fix
2. When using the "MM/dd/yyyy" in the new nullDateValidator, it would seem that some validation occurs upstream from mapper (CsvSerialize, I

[2021-11-11 00:07] mlighdc commented on #3003
Emailed MN about the fixes were deployed today and 3 files resent. Awaiting confirmation the issue has been resolved.

[2021-11-11 00:19] mlighdc commented on #2881
Emailed VT to inform them OBX-18 should be blank for SimpleReport facilities.

[2021-11-11 00:31] mlighdc commented on #3015
The issue came in on 11/5/21 for tracking purposes.

[2021-11-11 00:50] mlighdc opened #3020 "IL - Ordering facility name being placed in an ‘ID’ subfield"
Issue came in 10/22/21 - I checked and it does not appear a ticket has been created for this.

Few messages are failing because of the ordering facility name being placed in an ‘ID’ subfield.

ORC12.1 (OrderingProvider->ID) is for an ID and has maximum character size limit of 15, it would be best if this subfield could be left blank or the correct NPI be placed here. The same problem is happening

[2021-11-11 00:54] mlighdc commented on #3020
Already opened - [2833](https://github.com/CDCgov/prime-reportstream/issues/2833l), closing this ticket.

[2021-11-11 00:54] #3020 closed

[2021-11-11 01:53] mlighdc opened #3021 "IA - Onboarding"
The following items, generally in order, must be completed to successfully onboard a receiver to ReportStream:

* [ ] Added to organization.yml
* [ ] Added to organizations-local.yml
* [ ] Added to staging settings table
* [ ] Added to prod settings table
* [ ] Added at least one receiver
* [ ] Added OKTA group to download site
* [ ] Added customers to OKTA group for download site
* [x] Is custome

[2021-11-11 02:00] mlighdc commented on #3021
- Met with IA team on 11/10/21 to kick-off onboarding process
- Have received Implementation Guide
- Frequency - every 2 hours is fine
- Have requested SFTP credentials
- Will work with  team to onboard SimpleReport facilities

[2021-11-11 18:49] jorg3lopez opened #3022 "MA Missing OBR-22 In Messages From STRAC"
MA has reach to us (2021-11-11) letting us know that OBR-22 is missing in some messages. There was a fix pushed to production for this same issue (Image Mover). After further investigation, it was noticed that reports coming from STRAC had the issue.

### Action
- Add the test result released date to OBR-22 in the STRAC schema

[2021-11-12 13:49] loripusey commented on #2246
@sethdarragile6 I'm confused by "a version of this went to production". Was there another related ticket out there?

[2021-11-12 15:04] #2719 closed

[2021-11-12 15:05] loripusey commented on #2779
@victorialb-usds this is a good place to start: https://cdc.sharepoint.com/teams/USDSatCDC/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FUSDSatCDC%2FShared%20Documents%2FPRIME%20ReportStream%2FTeam%20Documents%2FSender%20Automation%20Team%2FMisc%2E%20Notes%20%26%20Artifacts%2FSender%20Automation%20Team%20program%20Review%20V1%20%2010%201%202021%2Epdf&parent=%2Fteams%2FUSDSatCDC%2FShared%20D

[2021-11-12 15:12] loripusey commented on #2779
Also, this captures some of the ideas for internal tools.
https://app.mural.co/t/primedatainput6410/m/agilesixapplications0942/1632761768968/ce4723a6dc07bc6d9d58a07e9f79d71c54d83375?sender=ud3aa760e30b39bcf436d4473

https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1634743003369/60869a741f0cc628d79dbcc167736033fa5ae9f2?sender=ud3aa760e30b39bcf436d4473

[2021-11-12 15:23] #1062 closed

[2021-11-12 15:23] #790 closed

[2021-11-12 15:28] #2152 closed

[2021-11-12 15:28] #2665 closed

[2021-11-12 15:28] #2622 closed

[2021-11-12 15:59] kevinhaube opened #3026 "Cannot fetch Report by ID from API"
**Describe the bug**
When on the `/report-details` page of the React app, refreshing the page triggers this call:
![Screenshot from 2021-11-12 10-45-14](https://user-images.githubusercontent.com/4022304/141494235-f21dd63a-8223-4875-99c2-404f51d48042.png)

The way the front-end is handling these calls is as follows:
1. The user accesses the `/daily-data` page where the full list of active reports a

[2021-11-12 16:07] BerniXiongA6 commented on #1565
11.12.2021 Closing this Epic since the ongoing activities (PRs) will exist on the "Experience" team board instead.

[2021-11-12 16:07] #1565 closed

[2021-11-12 16:15] sethdarragile6 commented on #2246
@loripusey no, no related ticket. what I meant by that was that the code was approved and merged to master (and thus deployable and I _believe_ deployed to production). then, the issues above were discovered while "stage testing" with Rick Hood. Unfortunate, but it doesn't impact anything unless someone actually tries to use this new mapper.

[2021-11-12 16:16] acoushawk opened #3027 "Terraform pre-commit hook is scanning TF code regardless of code change"
The terraform pre-commit hook to test the formatting is firing due to an error in the bash script.

[2021-11-12 16:33] rhood23699 commented on #2246
@loripusey I'll help Seth and Aurora on the issues found.  I apologize.  You were nice enough to create this ticket for me back in September, but I didn't review the AC closely enough, so it doesn't reflect exactly what the existing VBScript is currently doing.  I'll do better in the future.

[2021-11-12 16:45] anshulkumar-usds commented on #2518
@jorg3lopez have we resent the files to MD. We need to confirm with them on any lingering items.

[2021-11-12 17:28] anshulkumar-usds commented on #3003
This issue also persists for STRAC messages. Anshul alerted MN that a fix will be rolled out on 11/16. We need to resubmit files to MN again and confirm their delivery before closing this issue. This will also include the fix to suppress SPM-2.1.

@jorg3lopez please plan to resubmit the relevant files on Tuesday. I will inform MN on the plan.

[2021-11-12 17:33] anshulkumar-usds commented on #2881
We still need to implement that same fix for OBX-18 for all senders.

[2021-11-12 18:17] jorg3lopez commented on #3003
@anshulkumar-usds I submitted the fix into production a few minutes ago. The fix is in effect as of now, we don't have to wait until Tuesday. The org file gets updated directly through the command line and not through the deployment. I don't see any records of MN failed messages, this is something we can ask them; to send us the message ids from the failed messages so we can resend them.

[2021-11-12 18:19] jorg3lopez commented on #2881
@mlighdc OBX-18 will be blank in all messages.

[2021-11-12 18:48] anshulkumar-usds commented on #3003
Thanks @jorg3lopez . I'm following up with MN to see if/what needs to be resubmitted.

[2021-11-12 19:21] anshulkumar-usds commented on #3021
Checking with IA on their preference for secondary feed and OTC data

[2021-11-12 19:29] loripusey commented on #2246
sounds good, I just wanted to clarify and make sure there was not a related ticket

[2021-11-12 19:34] anshulkumar-usds commented on #2158
Check with Karla to see where we are with onboarding. Will follow up with specific on OTC after hearing back.

[2021-11-12 20:15] anshulkumar-usds commented on #2872
@mlighdc @LGFranklin replied to IL user that we cannot remove any records. If they need to amend previously submitted results, please reach out on the SR side. No further action from RS is needed.

[2021-11-12 20:15] #2872 closed

[2021-11-12 20:23] anshulkumar-usds commented on #3015
@MauriceReeves-usds I remember this ask for at least one other states. Should be truncate OBX-23.1 to 50 chars across the board?

[2021-11-12 21:13] JosiahSiegel opened #3035 "Update `cleanslate.sh` to use `frontend-react/`"
**Describe the bug**
`cleanslate.sh` fails after the removal of `frontend/` (replaced by `frontend-react/`).

**Impact**
Local development testing is impacted.

**To Reproduce**
Steps to reproduce the behavior:
1. cd `prime-router`
2. Run `./cleanslate.sh`
3. Wait for failure when vault is brought up with `docker-compose up --detach vault`

**Expected behavior**
`./cleanslate.sh` should complete w

[2021-11-12 21:23] anshulkumar-usds commented on #2623
Plan communicated to VT:

Priority
•	Test message delivery by end of next week (11/19)

After test delivery
•	Review and re-adjust to feedback as needed
•	Build automated process to deliver production OTC data (completed by 12/3)

[2021-11-13 00:07] #2810 closed

[2021-11-13 00:21] TomNUSDS opened #3038 "Lighthouse issues with the CSP"
Related to #2228

We've implemented the CSP (Content Security Policy header) that the Lighthouse was complaining about and we're up to 93%, but it appears there is one more recommendation:

Currently, that section is:

[2021-11-13 00:22] TomNUSDS commented on #2228
We've implemented the CSP (Content Security Policy header) that the Lighthouse was complaining about and we're up to 93%, but it appears there is one more recommendation: I created https://github.com/CDCgov/prime-reportstream/issues/3038 to research/address it.

[2021-11-13 00:22] #2228 closed

[2021-11-13 00:52] TomNUSDS commented on #3038
It seems the risk is associated with the whole domains we're giving for the `script-src`. ANY script on `hhs-prime.okta.com`,` global.oktacdn.com`, `www.google-analytics.com` or `*.in.applicationinsights.azure.com` can run. (So for example, `global.oktacdn.com` would need to be serving up malicious code).

The concern with nonces or hashes in the CSP might be keeping hashes synced up as scripts ch

[2021-11-14 13:23] jimduff-usds opened #3039 "FL - 4 files for fl-hillsborough-phd.elr-download Batch step failed due to different schemas in same batch"
A bug that occurred on Saturday Nov 13, 2021, as aftermath of Friday Nov 12 deployment:

It looks like fl-hillsborough used to have the wrong schema, and it was fixed during a deployment on Friday, which is all well and good.   However, this caused the Saturday 9:15am ET merge of 4 reports destined for fl-hillsborough to fail, because it happened to be a mix of the old and new/corrected schema nam

[2021-11-14 13:33] jimduff-usds opened #3040 "As a ops person, I need to be able to make schema changes without worrying about old data in the system"
### The problem

Production deployment of Schema changes can cause the batch step to fail because it tries to merge together data from incompatible previous and new data formats.

See latest manifestation of this problem in #3039.   This is a new manifestation of a problem we have long known about - that deploying schema changes is currently fraught with possible difficult-to-fix errors as old and

[2021-11-15 13:43] whytheplatypus opened #3041 "--needs grooming-- Normalize HTTP Response building"
As a maintainer or contributor I need a standard pattern for building HTTP responses to reduce bugs and ease maintenance and accelerate new work.

## Problem statement

Responses from HTTP endpoints are constructed in multiple ways throughout the system.

## What you need to know

- [Fluent builder example](https://github.com/CDCgov/prime-reportstream/blob/2bc0749eaa98f6fccb20e524c4eb0c6130de0c3b/

[2021-11-15 13:48] whytheplatypus opened #3042 "--needs grooming-- Use common logging pattern"
As a maintainer or contributor I need a standard pattern for logging to reduce bugs, ease maintenance, reduce dependencies, and accelerate new work.

## Problem statement

Currently there are at least two logging tools: a [`context`](https://github.com/CDCgov/prime-reportstream/blob/master/prime-router/src/main/kotlin/azure/ActionHistory.kt#L207-L209) logger and a [`kotlin logger`](https://github.

[2021-11-15 13:49] whytheplatypus commented on #3042
Current thinking is to only use the kotlin logging gained via inheritance. This would reduce the complexity of many function calls and constructors that currently require a `context` to be passed around only for logging.

[2021-11-15 14:22] loripusey opened #3043 "Review/QA Metabase Queries for Capturing Usage/Retention Metrics"
## Problem Statement
As the Experience Team, we need to review and validate the following metabase queries to ensure they are capturing the correct measurements.

## Acceptance Criteria
Review/QA the following metabase queries that are visible on the [Experience Team Dashboard](https://prime.cdc.gov/metabase/dashboard/20-experience-team-dashboard) to ensure they capture the correct measurements:
-

[2021-11-15 14:52] anshulkumar-usds opened #3045 "AZ - Missing Specimen ID"
On 11/12, 6:51 PM, AZ reported that in the file received on 11/11, the Specimen_ID column was left blank for many entries. This is a required field for AZ, so we need to do the following:

1. Understand what is missing
2. Repopulate the file missing specimen IDs and submit to AZ
3. Understand root cause of why this field was left blank
4. Can we implement internal checks within RS to prevent this

[2021-11-15 15:39] loripusey commented on #2921
@TomNUSDS ?

[2021-11-15 15:39] loripusey commented on #2920
@TomNUSDS ?

[2021-11-15 15:42] loripusey commented on #2866
@TomNUSDS ?

[2021-11-15 15:42] loripusey commented on #952
@drew-usds ?

[2021-11-15 15:50] loripusey commented on #2822
@sean-usds can we close this bug now that React has moved to Production?

[2021-11-15 16:13] anshulkumar-usds commented on #2518
Anshul checked with MD (kristy) on 11/12. Awaiting feedback from state on next steps and if any resubmissions are needed.

[2021-11-15 16:14] anshulkumar-usds commented on #2870
The underlying issue in this ticket is already part of 2518. Closing this out.

[2021-11-15 16:14] #2870 closed

[2021-11-15 16:23] anshulkumar-usds opened #3052 "IL - Missing LOINC in OBX-3.1"
First reported on 10/12, IL reports that some messages were sent with missing LOINC codes in OBX-3.1

Message control IDs and HL7 snippet showing missing LOINCs are attached.

To do:
1. Repopulate LOINCs in the missing messages and resubmit to IL
2. Understand root cause as to why this is happening and what RS can do to prevent from happening again?
2.1 Is it a sender issues? If so, please share m

[2021-11-15 16:28] jimduff-usds commented on #2279
I don't *think* this error has occurred recently?  Please post example here if that's incorrect.    This problem can occur on Sent files, but sparingly.   My proposed hack solution is to add one second to the timestamp in the filename.

[2021-11-15 16:30] TomNUSDS opened #3053 "Engineering Research -- Add some sort of github CI/CD to monitor 508 compliance"
## Problem statement
We have have really good 508 compliance, but as we add features, we should track if it goes down and catch it quickly.

## What you need to know

Lighthouse has a free accessibility checker built into it that's pretty good and there seems to be github ci/cd support? https://github.com/GoogleChrome/lighthouse-ci

We should use that to verify our 508 compliance stays 100% on all

[2021-11-15 16:34] anshulkumar-usds opened #3054 "NJ - OBX-23.1 Truncate Organization Name to 50 chars"
In recent days, both IL and NJ have reported that Organization Name in OBX-23.1 should be truncated to 50 characters.

This ticket is to make the change to our universal schema so that ALL receivers begin to receive less than or equal to 50 characters in OBX-23.1

For reference, tickets from NJ  and IL are below:

https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/is

[2021-11-15 16:37] anshulkumar-usds commented on #3039
Anshul notified receiver contacts of delayed files. Will need to provide another update when files are delivered.

[2021-11-15 16:38] TomNUSDS commented on #2921
@loripusey A good thing to do is put me in the assignment field. I typically check the queue of things assigned to me to decide what to work on next.

As for this ticket, I'm going to check with @sean-usds to see if this is already done.

[2021-11-15 16:53] anshulkumar-usds opened #3055 "OH - Missing LOINC Codes from ImageMover"
On 11/15 at 8:49 AM, OH reported additional messages where the LOINC code is missing.

Message IDs:
69e18868-3d96-43e0-bc99-656dd3f8a1b4
2e2fe3ef-233a-4213-a354-cfd1c1c971d2

Todo -
1. Investigate root cause in Metabase and verify data submitted from sender (Imagemover)
2. Contact IM and raise as high priority item for resolution
3. Have Sender resubmit data to OH

[2021-11-15 17:18] anshulkumar-usds commented on #2817
Anshul to setup RS locally and circle back with Mo

[2021-11-15 17:20] anshulkumar-usds commented on #2635
On 11/15 at 8:49 AM, OH reported additional messages where the LOINC code is missing.

Message IDs:
69e18868-3d96-43e0-bc99-656dd3f8a1b4
2e2fe3ef-233a-4213-a354-cfd1c1c971d2

[2021-11-15 17:21] anshulkumar-usds commented on #3055
Closing because issue captured in in 2635

[2021-11-15 17:28] anshulkumar-usds commented on #2974
CA pushing to RS may not be possible - not in scope with our ATO - check with Chris Winters if this is possible for RS
RS can pull from CA/Optum - no current process
1. New type of transport, ingestion and processing in our blob store
2. Ideal - API endpoint, emulate what we get from senders,. Ingest ACKS and NACKS and save them in our DB
3. Check if there is a proposal for this in RS

[2021-11-15 17:28] loripusey opened #3056 "SPIKE -- Evaluate How we Validate Dates in ReportStream & Make Recommendations"
## Problem Statement
We created a custom mapper to handle dates that come from a Sender submission as a string:
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2246

However, what we didn't know was that the CSV Serializer was doing date validation based on the field being typed as a date (often from the base COVID schema) before the custom ma

[2021-11-15 17:29] #2246 closed

[2021-11-15 17:30] anshulkumar-usds commented on #2974
How is AIMS processing ACKS and NACKS? Do we have an industry best practice? What is the standard in this space?

Possible discussion point with pipeline team.

[2021-11-15 17:39] #2763 closed

[2021-11-15 17:41] #2923 closed

[2021-11-15 17:41] #1866 closed

[2021-11-15 17:44] anshulkumar-usds commented on #1577
No communication from CT, may need outreach from CDC

[2021-11-15 17:44] mlighdc commented on #2763
@anshulkumar-usds  FYI - we figured out the issues with Colchester School District ... they selected the wrong state when setting up the facility so they were not showing up in the weekly report. I have emailed VT to let them know and they will reach out to the school district to correct.

[2021-11-15 17:47] anshulkumar-usds commented on #1879
Check with Kevin and Ming in next steps

[2021-11-15 17:48] clediggins-usds opened #3057 "Add 'processingType' option to sender"
Add processingType to sender setting.
If not present or set to 'sync' use the syncronouse pipeline. Default to 'sync'. If set to 'async' use the async pipeline. This can be overidden by sending in the 'processing' query parameter on a POST

[2021-11-15 17:52] anshulkumar-usds commented on #2372
Bug: Quality filter, fails on universal model name.

needs more definition, backlog grooming

[2021-11-15 17:53] #2446 closed

[2021-11-15 17:53] anshulkumar-usds commented on #2446
shared with CDPH

[2021-11-15 17:53] TomNUSDS commented on #2866
It happens at all sizes for desktop (as small as it can be resized before it hits the minimum size limit).

Mobile does something different but it's just as annoying?
![image](https://user-images.githubusercontent.com/74203452/141830203-bef64cc1-86c2-40de-b52e-4f7bb86996a6.png)

But this is a low priority and is ultimately a decision **design** should make?

My recommendation is that we hide this

[2021-11-15 17:56] anshulkumar-usds commented on #2652
@MikeC-A6 can you please update status?

[2021-11-15 17:57] #1245 closed

[2021-11-15 18:04] mlighdc commented on #2565
@anshulkumar-usds unfortunately, we can't close this one out. We have to address MSH-4 issue so I am re-opening it unless you would like to create a different ticket. I think we can do this via metabase.

[2021-11-15 18:38] TomNUSDS commented on #3053
@sean-usds Thoughts?

[2021-11-15 19:19] anshulkumar-usds commented on #2565
@Adrian-Brewster looks like the MSH-4 issues is not resolved. Can you please work with VT on this?

[2021-11-15 20:04] mlighdc commented on #2565
@anshulkumar-usds I already created a test version of the report to include MSH-4. Just sent it off to VT for them to review and see if they have any feedback. If the new report works for them. @Adrian-Brewster just need to update their existing report to include the custom column, which should be pretty easy.

[2021-11-15 21:02] TomNUSDS commented on #3038
Notes:
 - We might be able to change the `script-src` to just be `'self'`. Looking at how the okta widget works, it seems like it's ONLY loading script from our react app and making ajax requests to okta.
 - This will create issues when we go to add analytics _scripts_ that load remotely from a CDN. We can add a `'sha256-###'` to the `script-src` which is a checksum for every remote script we exec

[2021-11-15 21:10] JosiahSiegel commented on #3035
These changes are pending merge of PR #3004

[2021-11-15 21:17] kevinhaube commented on #3011
@drew-usds Apologies for not linking them, but PR #3025 fixed 1/2 of this bug and has been merged. I'll dig into it further and see if I can't figure out why `reportId` isn't properly being passed in on refresh.

[2021-11-15 21:43] anshulkumar-usds commented on #3021
Shared OTC updates, primary and secondary feed, and option to receive either on the download site.

@Adrian-Brewster please get back to Ellen on the IP whitelist topics

[2021-11-15 23:13] ahay-agile6 commented on #3056
Some initial notes:

1. `CSVSerializer.kt` is validating elements in the `mapRow` method on line 343 when when it calls `element.checkForError`. As far as I can see, `HLSerializer.kt` is not utilizing this function in its equivalent (or anywhere in this file).
Also, to answer Lori's question about **inheritance**, they are **_not_** inheriting from a parent `Serializer` class that share functions.

[2021-11-16 00:29] mlighdc commented on #3021
I responded to IA regarding the IP whitelist and sent her our range.

[2021-11-16 03:24] anshulkumar-usds commented on #2550
@brick-green-agile6 can you please share updated ETA switching from HL7 to CSV?

[2021-11-16 03:37] anshulkumar-usds commented on #2635
Shared the messages IDs reported by OH on 11/15 with ImageMover.

[2021-11-16 04:04] anshulkumar-usds opened #3069 "SafeHealth Onboarding"
Epic to track SafeHealth sender onboarding work

[2021-11-16 04:53] mlighdc commented on #3003
MN successfully received the 3 messages that were resent. Received confirmation on Friday, 11/12/21.

[2021-11-16 04:54] Adrian-Brewster commented on #3021
Hi Ming and Anshul,

Sorry - after being out for bereavement leave last Friday and being sick
today I’m still playing catch up on emails. Ming, it looks like you sent IA
the IP range via secure email. Let me know if there is anything I can help
with!

Adrian

On Mon, Nov 15, 2021 at 7:29 PM Ming Ligh ***@***.***> wrote:

[2021-11-16 04:57] Adrian-Brewster commented on #2158
Anshul  - we had a kick off call with NC to gather requirements several
months ago. I just took a look and can’t find my original notes, but it’s
been long enough that we may want to just set up another call with Walter
and Remmy. Let me know if you want me to set that up.

Adrian

On Thu, Nov 4, 2021 at 10:17 AM Anshul Kumar ***@***.***>
wrote:

[2021-11-16 05:08] mlighdc commented on #3039
@anshulkumar-usds Colorado emailed me Monday at 10:30 am Eastern about not receiving files since Friday. Will cc you on my reply but assumed that they should have gotten an email from you.

[2021-11-16 05:16] mlighdc commented on #2872
@anshulkumar-usds I would like to talk to IL about this because it was the public health department who asked the SR user to  remove the incorrected result. I am wondering if they would like to handle as we proposed to MT.

[2021-11-16 12:42] jimduff-usds opened #3070 "As a user, I want clear 'row' numbers - let's make all our item numbering consistent"
We number items in our error records, and, separately, in the item_lineage table.   The former numbers the first row of data as row 1, and the latter as row 0.

Make these consistent globally by always numbering with row 1 as the first row of data.

### AC

- check all the places we number or index "rows" of items.  Where are our inconsistencies?  At this time, the known inconsistency is between t

[2021-11-16 14:26] anshulkumar-usds commented on #3021
IA does not want any OTC results made available to them. Please filter out any results that do not have a valid CLIA.

[2021-11-16 14:36] loripusey commented on #3056
@ahay-agile6 Is it your recommendation then that we focus on doing all date validation in the checkForError function that the CsvSerializer uses and abandon use of the mapper that we just built?  Also, I would think that we should handle as many date format scenarios as we can think of and handle scenarios where the element is DATE type but user sends a date/time and a DATETIME type where the user

[2021-11-16 14:39] jimduff-usds opened #3072 "As a dev, I need to check that Okta connections (from Prod and Staging to Okta), are working"
We have a 'check' function, but it only checks one thing:  sftps.

This ticket is to add ability to check Okta connections.

### AC

- add ability to check connections to okta to the existing api/check function.
- document how to use the capabilities of check function (including both the sftp check and new okta check) in a docs/playbooks md file.

### Design Considerations

- The sftp check was sp

[2021-11-16 15:18] #3035 closed

[2021-11-16 16:40] #2916 closed, assigned to TomNUSDS

[2021-11-16 17:39] Adrian-Brewster commented on #2833
Mike working on triaging the ticket today.  Will coordinate with Herman to get eta in creating a fix

[2021-11-16 17:59] #2797 closed

[2021-11-16 18:11] carlosfelix2 opened #3075 "Debrief Experience Team on database lookup table functionality"
Debrief Experience Team on database lookup table functionality

Acceptance criteria:
1. Debrief Experience Team on database lookup table functionality

[2021-11-16 18:11] carlosfelix2 commented on #3075
Held meeting 11/16/2021 at 12:30pm EST

[2021-11-16 18:13] kevinhaube commented on #1976
@loripusey Would you be able to point me in the direction of that VBscript? The link provided broke when we rearranged ZenHub boards I think

[2021-11-16 18:25] TomNUSDS commented on #3038
@cwinters-usds I'd like to try an experiment on staging once things are stable there.

I'd like to change the CSP's `script-src` section to remove all the domains and just have `'self' 'strict-dynamic'` and see if our site works correctly.

I think might be issues when we add analytics support (since this typically loads from a remote script).

[2021-11-16 18:40] clediggins-usds opened #3076 "Test Case for ensuring sender data"
UC:
As an administrator I want to see sender data in reporting.

Desc:
There are no test cases to ensure that 'receive' action rows populate sending or and sending org client. There was an issue where this was missed and it was not caught by test cases.

AC:
* A 'received' action row will always have `sending_org` and `sending_org_client` populated

[2021-11-16 18:42] clediggins-usds opened #3077 "Test case for receive action sender detsil"
UC:
As an administrator I want to see sender details on reports

Desc:
All actions of type 'receive' should populate `sending_org` and `sending_org_client`.  There was a case where it was missed, and no tests caught it.

AC:
* All actions of type 'receive' will have a value in `sending_org` and `sending_org_client`

[2021-11-16 18:53] sean-usds opened #3078 "SPIKE -- Research a better design for user permissioning"
## Problem
Right now user permissioning is based just on Okta group. The frontend code makes assumptions on Okta group naming conventions and isn't designed for complex permissions. This has caused bugs for admins who are are a part of many groups and have sending and receiving permissions.

## Acceptance Criteria
- Recommendation for a more reliable and scalable permissions pattern that follow be

[2021-11-16 19:48] #3000 closed

[2021-11-16 19:51] TomNUSDS opened #3079 "[Design] After failed ReactUI upload, Continue action is hard to find"
**Describe the bug**
Design bug: errors and warnings are unbounded length (e.g. there could be thousands of them?) The retry is so far down the page as it gets lost and re-clicking the Upload tab doesn't clear the results.

**Impact**
Could be frustrating/confusing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Upload page from the topnav
2. Click on Upload file
3. Select an large in

[2021-11-16 20:09] ahay-agile6 commented on #3056
@loripusey after speaking with the onboarding team, we came up with these recommendations:

**Short Term:**
1. Yes! Remove our mapper that we made because the `checkForError/toNormalized` overwrite bad dates in the first place.
2.  Use the `checkForError/toNormalized` methods to handle the `DATE` Element type normalization. Add the scenarios of what we know/can predict how senders will manually en

[2021-11-16 20:16] #1885 closed

[2021-11-16 20:18] ahay-agile6 commented on #3056
[https://app.zenhub.com/files/304423150/8c349b9a-6d7e-4046-89d9-8aa1d68e8340/download](https://app.zenhub.com/files/304423150/8c349b9a-6d7e-4046-89d9-8aa1d68e8340/download) - Has examples of the manual entered date formats that we will need to add, written in Kotlin.

[https://app.zenhub.com/files/304423150/93f11950-1c45-45d8-a8c6-f388e1b7924d/download](https://app.zenhub.com/files/304423150/93f11

[2021-11-16 20:27] loripusey commented on #1976
https://cdc.sharepoint.com/:u:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Sender%20Automation%20Team/vbScript%20for%20Data%20Cleansing%20Epic/PRIME-Sender-CUC-v2%20(2).vbs?csf=1&web=1&e=zzHyNc

[2021-11-16 20:46] rhood23699 commented on #2833
@Adrian-Brewster @anshulkumar-usds @MikeC-A6 I've reviewed the Metadata and their a 66 rows with Egyptian Health Department as the Ordering Provider ID.  All rows came from Sender ID: simple_report.default.  I can't see the actual data sent, but from reviewing the Schema Name: pdi-covid-19, I'm almost 100% sure that we are receiving Egyptian Health Department in the Ordering Provider ID field; so

[2021-11-16 20:52] anshulkumar-usds commented on #2635
Another one reported on 11/16:

File: CDCPRIME_20211116001547_b733591bed0747dc86d5be5c5a9f258f
Message Control ID: c138841d-66b8-49a4-919f-b5578d561660
Specimen ID: c138841d-66b8-49a4-919f-b5578d561660

[2021-11-16 20:56] loripusey commented on #3056
I'll add 2 new tickets for the short & long-term fixes; thanks @ahay-agile6

[2021-11-16 20:56] anshulkumar-usds commented on #2833
@LGFranklin can you please take a look on your side? I'll forward you the email we received from IL.

[2021-11-16 21:05] loripusey opened #3081 "Update Date Validation to Handle Additional Scenarios"
## Problem Statement
We created a custom mapper to handle dates that come from a Sender submission as a string:
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2246
However, what we didn't know was that the CSV Serializer was doing date validation based on the field being typed as a date (often from the base COVID schema) before the custom map

[2021-11-16 21:09] loripusey opened #3082 "SPIKE -- Research the Use of Date Validation in the HL7Serializer"
## Problem Statement
We created a custom mapper to handle dates that come from a Sender submission as a string:
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2246
However, what we didn't know was that the CSV Serializer was doing date validation based on the field being typed as a date (often from the base COVID schema) before the custom map

[2021-11-16 21:10] loripusey opened #3083 "Update Date Validation in the HL7Serializer"
## Problem Statement
We created a custom mapper to handle dates that come from a Sender submission as a string:
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2246
However, what we didn't know was that the CSV Serializer was doing date validation based on the field being typed as a date (often from the base COVID schema) before the custom map

[2021-11-17 02:05] MikeC-A6 commented on #2833
@anshulkumar-usds - I'm thinking we need a fix for MA on our end as any changes on the sender side could take a bit.  Their specific request is to only populate ORC 12.1 and OBX 16.1.1 with a value if there is a properly formatted NPI.  Flagging this for a 16th minute topic for tomorrow to discuss potential solutions - not sure if we can do this in the HL7 serializer, as @mlighdc mentioned that so

[2021-11-17 04:19] LGFranklin commented on #2833
@anshulkumar-usds Egyptian Health Department has not done anything with their SR account aside from identity verification. No facility has been input and no tests have been submitted.

[2021-11-17 04:36] mlighdc commented on #2833
@rhood23699 did you say there are 66 rows with Egyptian Health Department as the Ordering Provider ID? How can that be since they have not created any facilities or submitted any tests via SimpleReport. Are they submitting their test results via Cue Health or another OTC device?

They should have an NPI number since they are a health care facility.

[2021-11-17 06:31] #2979 closed

[2021-11-17 06:32] jorg3lopez commented on #2979
No need for these changes anymore as the time was changed to GMT.

[2021-11-17 06:47] LGFranklin commented on #2833
Sorry Ming! My original sleuthing was incorrect. There is an Egyptian Health org with Ms. Byrd as the only user. They haven’t done any setup. This above is for a facility in a separate org that listed Ms. Byrd as the OP and Egyptian PH as the NPI. Should have written “scratch that” in my GH comment as opposed to the edit.

I will follow up with this user here to have them update and our team at SR

[2021-11-17 12:27] MikeC-A6 commented on #2833
@LGFranklin - The specific issue that is causing messages to fail in ILs integration engine is when the character length of the Provider ID field is >15..  There are 14 SimpleReport users who have sent data in the last month that have >15 characters.  Some info regarding potential validation options in SimpleReport:
- NPI is always a 10 digit numeric value
- Might be useful to have this as an opti

[2021-11-17 13:18] MikeC-A6 opened #3093 "Provider ID Data Quality Issue"
This ticket outlines a Reportstream and SimpleReport data quality issue related to the Provider ID field that is impacting multiple STLTs, originally surfaced by Illinois.

Illinois indicated that they are having "quite a few messages fail" due to values being sent in the (OrderingProvider->ID) that are greater than 15 characters, which is the character length limit in their integration engine for

[2021-11-17 13:25] rhood23699 opened #3094 "Compass Urgent Care (CUC) - Add New COVID Test"
## Problem statement
Compass Urgent Care is adding a new COVID test.  It is the "BD Veritor Rapid SARS-Cov-2, Flu A & B".  The test must be added to the CUC Schema and the VBScript with the additional logic only send the COVID results (ie. exclude the Flu A & Flu B results).

## Acceptance criteria
- [x] OBX.3.1 - SARS Antigen must be LOINC Code:  97097-0
- [x] OBX.17.1 must be "BD Veritor System

[2021-11-17 14:31] rhood23699 commented on #3093
Note, most states will accept the data shown below in the ORC.12.1; ORC.12.9; ORC.12.13 and the OBR.16.1; OBR.16.9; OBR.16.13, but they would prefer to have the ORC.12.9; ORC.12.13; OBR.16.9 and OBR.16.13 indicate local coding instead of NPI.

![image.png](https://images.zenhubusercontent.com/60d60ccc22b13400ec870367/d7a49c05-a1c5-43fd-a2a7-4a005d5cf8a1)
![image.png](https://images.zenhubuserconte

[2021-11-17 15:09] loripusey opened #3095 "Install Azure App Insights for the Web Application"
## Problem Statement
As the Experience Team, we would like to capture analytics to measure the success and usage of the product over time so that we can know that we are heading in the right direction.

## Notes
Refer to the analytics as outlined in the Product Brief [https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Experience%20Team/Artifac

[2021-11-17 15:12] loripusey opened #3096 "Configure Azure Application Insights"
## Problem Statement
As ReportStream, we would like to capture analytics to measure the success and usage of the product over time so that we can know that we are heading in the right direction.

## Acceptance Criteria
- Configure an Azure Application Insights resource in our Azure production environment​ to enable the capturing of usage analytics
- Question: how does our content security need to

[2021-11-17 15:14] loripusey opened #3097 "[Insights] Configure Azure Application Insights React Integration"
## Problem Statement

As ReportStream, we would like to capture analytics to measure the success and usage of the product over time so that we can know that we are heading in the right direction. We've chosen to use **Azure Application Insights** to capture our telemetry. There's a [convenient npm package](https://docs.microsoft.com/en-us/azure/azure-monitor/app/javascript-react-plugin) that integ

[2021-11-17 15:22] loripusey opened #3099 "[Insights] Create basic insights dashboard with from-the-box data"
## Problem Statement

As ReportStream, we would like to see basic metrics in a dashboard, created from the available App Insights data out of the box (no custom insights).

## Notes

Refer to the analytics as outlined in the Product Brief [https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Experience%20Team/Artifacts/ReportStream%20Experience%

[2021-11-17 16:07] LGFranklin commented on #2833
Great ideas; thanks, Mike! I'll log this and our team will amend shortly.

TY!

On Wed, Nov 17, 2021 at 7:27 AM MikeC-A6 ***@***.***> wrote:

[2021-11-17 16:34] jimduff-usds opened #3101 "Generate internal format only once on async pipeline"
As reportStream I want to generate the internally formatted file only once in the async pipeline and be sure that lineage is preserved.

Description:
Right now the async pipeline receives a message, saves the received file, converts to internal format for validation and puts a message on the process queue if validation succeeds. The process function pulls the queue message, pulls the received file

[2021-11-17 16:41] jimduff-usds opened #3102 "As a sender, I want readable qualityFilter info. (qualityFilter follow-on work)"
- separate out the default filter into each field
- etc as determined by @whytheplatypus .
- fix line numbering as needed.

This is following on #2225.

[2021-11-17 16:49] #1973 closed

[2021-11-17 16:53] oifekoya commented on #2071
Closing this epic out because 2674 is now more up to date.

[2021-11-17 16:53] #2071 closed, assigned to nobody

[2021-11-17 17:06] #3056 closed

[2021-11-17 17:07] MikeC-A6 commented on #3052
@anshulkumar-usds - In the original email, IL said "We had some messages come over that did not have a LOINC code in OBX 3.1. Could you please make sure that all tests have the proper LOINC attached to them? **You do not need to worry about resending these specific messages.**   #1 in the to-do list says "Repopulate LOINCs in the missing messages and resubmit to IL"  Should we still be resubmittin

[2021-11-17 17:28] drew-usds commented on #952
@loripusey Matt was working on this, just updated the issue description with what is probably the updated proposal path.

[2021-11-17 17:52] whytheplatypus opened #3104 "--needs grooming-- Consolidate docker-compose files"
## Problem statement

Currently there are several docker-compose files in the prime-router folder. These could be consolidated

## What you need to know

 [Links to documents, workflows, or list of key people and contact info]

- [Document 1](https://...)
- [Document 2](https://...)
- ...

## Acceptance criteria

- [ ] local compose based development can still be done with persistent data (volumes

[2021-11-17 18:03] jorg3lopez commented on #2933
All files above were resent on 11/17/2021. Three files under their Prod/ToVDH folder.
- covid-19-04b239d6-4433-4783-902b-f0a2d14facb3-20211117060200
- covid-19-59a94ee6-dad9-4bf6-8cbe-01d6ce4a592c-20211117053305
- covid-19-2904374a-7c6b-4abf-8ad6-a061ae040ce1-20211117060000

[2021-11-17 18:20] ahay-agile6 commented on #3081
reference back to this ticket for context
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/3056

there are also attachments that will help debug/test the issue

[2021-11-17 18:43] mlighdc commented on #2933
Thanks for the update @jorg3lopez in regards to the fixes. I will let VT know today and they should see the fixes sometime on Thursday after the production deploy.

[2021-11-17 18:56] mlighdc commented on #2933
@jorg3lopez can you please look at this one from VT. It just came in

We have encountered messages beginning to fail due to the namespace no longer being truncated. This has so far affected three records from the following facilities:

Accession # a214f4aa-7395-4772-8502-c96261290245
Accession # c728bbe8-2790-44aa-bdc3-c3c9c5d33606
Accession # 0111d7b2-abba-46db-9e8d-7ac97f8876be

Please re-instit

[2021-11-17 18:58] mlighdc commented on #2933
@jorg3lopez can you send the fix for the trailing space to VT's secondary feed.

[2021-11-17 19:02] loripusey opened #3106 "Execute CSV Uploader Pilot Plan for Cohort 1 and Synthesize Results"
## Problem statement
As the ReportStream teams, we would like to pilot our CSV Uploader feature for our Cohort 1 group so that we can gather feedback and metrics for ReportStream.

## What you need to know
- Lots to look into as we have thus far not tested any of the uploader with users.
- We should gather feedback and metrics from not only the Sender's interaction with the CSV Uploader but also t

[2021-11-17 19:34] loripusey commented on #2907
@drew-usds to build out stories for this Epic

[2021-11-17 20:20] rhood23699 commented on #2243
@loripusey This line in the acceptance criteria, "The System, prior to submitting the file to ReportStream for processing, checks the value for the NPI Number and, if blank, populates it with the Facility's default NPI number" needs to be changed to
"The System, prior to submitting the file to ReportStream for processing, checks the value for the NPI Number and, if blank, populates it with the Fac

[2021-11-17 20:30] loripusey commented on #3083
Hold off point until un-blocked

[2021-11-17 20:44] loripusey opened #3107 "Research Tools to Help Senders Self-Onboard"
## Problem Statement
As the Experience team, we need to understand what tools may be helpful to help Senders  onboard so that we can decide what we can automate.

## Acceptance Criteria
- Look at and document our current onboarding processes, including steps performed by the O&O team
  -  Look into time it takes to complete each step (may be all over the place, but if we knew generally per sender

[2021-11-17 20:44] loripusey opened #3108 "Research Tools to Help Receivers Self-Onboard"
## Problem Statement
As the Experience team, we need to understand what tools may be helpful to help Receivers onboard so that we can decide what we can automate.

## Acceptance Criteria
- Look at and document/map our current onboarding processes, including steps performed by the O&O team
  - Look into time it takes to complete each step (may be all over the place, but if we knew generally per rec

[2021-11-17 20:49] RickHawesUSDS opened #3109 "Response JSON does not collapse destinations for immediate destinations"
**Describe the bug**
The `reports` end-point has a response JSON payload that lists all the destinations (aka. receivers) that are receiving reports from the sender's report. Yesterday, the report would have one line for each destination. Today, you can have multiple lines for a single destination in some circumstances. This is a recent regression.

**Impact**
Unknown impact, but Senders may be ch

[2021-11-17 21:15] clediggins-usds commented on #2750
This needs more evaluation - it may not need to be done at all and not gain us anything.

[2021-11-17 21:20] clediggins-usds opened #3111 "History API"
The history API will be used by senders to gain access to information about submitted reports.

[2021-11-17 21:21] #3111 closed

[2021-11-17 21:39] mlighdc opened #3112 "WA - Missing Specimen Collection Date"
WA submit an issue today (11/17/21) regarding missing specimen collection dates.

Here are some message IDs to start the investigation of the issue. I have a spreadsheet of these IDs and they will need to be resend once we have resolution. When this ticket gets assigned, please let me know and I will send the spreadsheet.
![image.png](https://images.zenhubusercontent.com/5eaf8fc6e9ce8c652d0f1cb4/e

[2021-11-17 21:41] loripusey commented on #2243
@rhood23699 I've update the AC

[2021-11-17 21:42] loripusey commented on #952
Thanks @drew-usds

[2021-11-18 01:55] #2822 closed

[2021-11-18 01:57] sean-usds commented on #3053
Yeah I like this! Seems easy enough to implement. I'll add it to the backlog

[2021-11-18 12:15] MikeC-A6 commented on #3093
@rhood23699 - I'm just making sure I'm interpreting your comment correctly.  So in ORC-12.1, you used "LocalCodeForProviderID," and Reportstream still populated ORC-12.13 (Identifier Type Code) as NPI?  Is Reportstream populating ORC-12.13 if a value is supplied in the provider ID field, whether the value is an NPI or not?  The implication of that would be that we may be often supplying STLTs with

[2021-11-18 12:38] jimduff-usds opened #3116 "Prod exception: Azure.RequestFailedException: at Azure.Storage.Blobs.BlobRestClient+<RenewLeaseAsync>d__42.MoveNext"
This exception occurred at 1:45am ET on Thurs Nov 18:
Azure.RequestFailedException:
   at Azure.Storage.Blobs.BlobRestClient+<RenewLeaseAsync>d__42.MoveNext

It does not appear to have occurred in our code stack.  I see no tasks nor actions occurring around that time, in the database, nor any data failures.

Immediately prior to the exception, this trace message appears in the logs:

`Singleton lo

[2021-11-18 12:55] rhood23699 commented on #3093
If you pass in an Ordering Provider ID alone, RS defaults the ORC.12.13 to NPI.  I believe this can be overridden by passing in a value to Ordering Provider ID Authority Type.

[2021-11-18 13:14] rhood23699 commented on #3093
Correction.  RS put "NPI" in ORC.12.13 even if you try to override it by putting another value into Ordering Provider ID Authority Type.

[2021-11-18 15:06] anshulkumar-usds commented on #3052
@MikeC-A6 We should still resubmit to ensure we get confirmation from the state on our fix.

[2021-11-18 15:10] carlosfelix2 commented on #2976
Duuplicate of #2977

[2021-11-18 15:10] #2976 closed

[2021-11-18 15:10] #2977 closed

[2021-11-18 15:11] #3009 closed

[2021-11-18 15:18] carlosfelix2 opened #3120 "Data Quality Issues"
This epic is for data quality issues with missing data points or data not making it to expected receivers.

[2021-11-18 15:20] BerniXiongA6 commented on #2781
11.15.2021 Sent @drew-usds @inkandsound suggested content revisions for RS web copy [via Sharepoint docs here](https://cdc.sharepoint.com/teams/USDSatCDC/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FUSDSatCDC%2FShared%20Documents%2FPRIME%20ReportStream%2FTeam%20Documents%2FExperience%20Team%2FContent&viewid=17db3ff6%2D95c5%2D4562%2Da1f3%2D12b5097b5947#:~:text=%EE%9D%AC-,Content,-%EE%A8%BA)

[2021-11-18 15:20] carlosfelix2 opened #3121 "Test Performed LOINC code gets overwritten if the Model ID / TestKitNameID is invalid"
Test Performed LOINC code gets removed if the Model ID / TestKitNameID is invalid.  This has been observed in output reports (reports sent to receivers).  Some sample report IDs with this issue (note these reports may be purged at some point):
This list was made 11/17/2021
[code]

Related to issue #2635

Design considerations:
The code is supposed to not replace a provided value even when a mapper

[2021-11-18 15:36] carlosfelix2 commented on #3120
Duplicate

[2021-11-18 15:36] #3120 closed

[2021-11-18 16:31] carlosfelix2 commented on #2800
Sample input data in CSV
[https://app.zenhub.com/files/304423150/6867cb19-1afa-4b66-9cdf-1e281c608417/download](https://app.zenhub.com/files/304423150/6867cb19-1afa-4b66-9cdf-1e281c608417/download)

[2021-11-18 18:08] mlighdc commented on #3112
WA emailed today (11/18/21) with an updated file with more examples of the issue.

[2021-11-18 18:30] drew-usds commented on #2811
Design sync updates:

### Interview process wants:

- Keep group small
- Have first meeting intro'd by Mike or Rick, they'll join our 1st meeting (will bring on other eng or product on follow-ups)
- Victoria or I will run the meeting, run through of the app/process to be driven by the user.
- 2nd designer and eng will take notes on shared doc

[2021-11-18 18:34] victorialb-usds commented on #2811
As of 11/17/21:
Rick sent email to Simmi to ask for a few days that she would be able to do talk through. @drew-usds @BerniXiongA6  @inkandsound

[2021-11-18 19:40] anshulkumar-usds commented on #3052
Hey @MikeC-A6 IL is looking for an update. In the short term, can we have the sender address any data on their side?

[2021-11-18 19:40] anshulkumar-usds commented on #3015
@jorg3lopez can you please share an update?

[2021-11-18 19:55] anshulkumar-usds commented on #2833
@LGFranklin @MikeC-A6 IL is looking for updates on this issue. Here's my proposed response:
1. Users in SR are entering the PHD name in the NPI field causing the issue at hand. SR will contact the user and advise they use the correct numeric value
2. SR will also work on a longer term solution to add data validation to the NPI fields, so we prevent future issue
3. At ReportStream, we can still ena

[2021-11-18 20:00] clediggins-usds commented on #2746
Tested with 20 threads, batches of 1000

![image.png](https://images.zenhubusercontent.com/6138d507d762bdc46fa56814/298f6109-2326-44a1-9787-093b272cf15b)

[2021-11-18 20:03] victorialb-usds commented on #2862
@drew-usds saw your question about Touchpoints - is this something we might consider here
@victorialb-usds created a draft research plan on user satisfaction need to focus purpose of research  can share in (potential) meeting on Friday 11/19
@rachelhanster do we have clarity on if it is just receivers or also senders VLB under assumption was receivers but think it might include both

[2021-11-18 20:29] cwinters-usds commented on #1338
React site is deployed and functioning. We'll work separately on automated integration testing.

[2021-11-18 20:29] #1338 closed

[2021-11-18 20:30] clediggins-usds commented on #2723
@jimduff-usds Can we discuss this?  I think adding tests to ensure the simulator data is flowing end to end would invalidate the load test aspect of it if we were checking real time.
Are you thinking for each record?  Verify there is data in the database after it all runs?
Wait the batch duration and make sure batch step is present?

[2021-11-18 21:22] cwinters-usds commented on #2648
We may make updates to this later, but the basics are working now in the Front Door.

[2021-11-18 21:22] #2648 closed

[2021-11-18 21:40] cwinters-usds commented on #878
Just a note that @JosiahSiegel brought up a cleaner way to do this in a backlog review meeting.

[2021-11-18 21:45] TomNUSDS commented on #3038
Related to #2648

[2021-11-18 22:11] clediggins-usds commented on #2745
Checked all queries - two outstanding questions @jimduff-usds:

- On 'waiting to batch or send' query - do we need to include 'process' records in this?  Process is set to go immediately which will typically result in expected 'batch' records so I would say no, but want to confirm
- 'Actions taken by reportStream in last day' will currently include 'process' records. I'm guessing it should, want t

[2021-11-18 23:15] clediggins-usds commented on #2723
Determine a way to check results after the run - either check off items individually or run a more simple count to verify the data got through.

[2021-11-19 00:59] oslynn commented on #1733
Upon investigation, the finding is below:
$ ./prime data --input-fake 100 --input-schema ipatientCare/reddyfmc-la-covid-19 --output ./fake-reddy.csv
            . Still throw exception: Exception in thread "main" java.lang.IllegalStateException: Element type is null for message_id
    **Solution is to either add the message_id element to the IPatientCare-covid-19.schema to make it get the element

[2021-11-19 05:12] mlighdc commented on #2933
@jorg3lopez any update on this issue? I know you were also trying to get back the 20 char truncation, as well as remove the trailing space.

[2021-11-19 13:52] cwinters-usds commented on #3038
@TomNUSDS I'm totally up for trying that; let's sync up on a time where I can modify it in staging and the team can observe the results.

[2021-11-19 13:53] MikeC-A6 commented on #3052
@anshulkumar-usds 5 out out of the 6 are "CStartAntigenSARSCOV" from ImageMover - I believe you already reached out to them right?  The 6th one is from SimpleReport - Sienna-Clarity COVID-19 Antigen Rapid Test Cassette*.  This test appears to be in the RS LIVD table  not sure why the LOINC wouldn't have populated.  Needs more investigation.

As far as an update to IL - perhaps for now:  We have co

[2021-11-19 14:01] kevinhaube commented on #1976
Per discussion with Rick Hood, the requirements of this ticket may be changing, so I'm moving this ticket to our Product Backlog for now.

[2021-11-19 14:33] jimduff-usds commented on #2722
Example of a minimal response:

[code]

[2021-11-19 14:59] hermanAlexCordero commented on #3052
Reviewed some of the failures.  Equipment model does not exist in the latest livd table.

3cd6961b-dda3-4b5e-a293-9c5317e4cfad - CStartAntigenSARSCOV
7f0b026d-9480-41f0-8361-edb654611bf5 - CStartAntigenSARSCOV
1f8c66e2-5f99-4ad6-8da3-f33ddf3cc0e1 - CStartAntigenSARSCOV
054a9887-8477-4731-97b6-b278a3dcac54 - CStartAntigenSARSCOV

[2021-11-19 15:03] carlosfelix2 opened #3125 "Migrate FIPS county table to use database lookup table"
As an administrator, I want the FIPS county table to reside in the database, so it is easier to manage.

Acceptance criteria:
1. FIPS county table is now sourced from the database.
2. FIPS county lookup table is stored in the staging database.
3. FIPS county lookup table is stored in the production database.
4. When running in our local environment, FIPS county test data is loaded from test files

[2021-11-19 15:10] #887 closed

[2021-11-19 15:17] MauriceReeves-usds commented on #1747
Last communication from NY indicates that they don't have the SFTP site set up, and we need to have another conversation with them about that. @anshulkumar-usds @Adrian-Brewster

[2021-11-19 15:18] hermanAlexCordero commented on #2950
Reviewed the issue with special characters showing in the API response when the transaction errors.

Tested the sample files against my local instance.  The special characters transfer to the back end correctly even though the response file
Source String:
54-testíd-hásh
Response:
54-testï¿½d-hï¿½sh
Back End File:
54-testíd-hásh

[2021-11-19 15:19] hermanAlexCordero commented on #2950
Reviewed the issue with special characters showing in the API response when the transaction errors.

Tested the sample files against my local instance.  The special characters transfer to the back end correctly even though the response file alters the characters.
Source String:
54-testíd-hásh
Response:
54-testï¿½d-hï¿½sh
Back End File:
54-testíd-hásh

[2021-11-19 15:33] anshulkumar-usds commented on #3015
Still working on this. Waiting for deployment on 11/23

[2021-11-19 15:39] carlosfelix2 opened #3127 "Migrate zip-code tables to the database"
As an administrator, I want the zip-code-data lookup table to reside in the database instead of files, so they are easy to manage.

Acceptance criteria:
1. The zip-code-data lookup table data is stored in the database
2. When running in our local environment, zip-code-datatest data is loaded from test files (see src/test/resources/metadata/tables)
3. The zip-code-data lookup table is stored in the

[2021-11-19 15:48] anshulkumar-usds commented on #2623
Anshul to get back to VT, need to reset timelines - work with 12/3 for first sample file

[2021-11-19 15:50] anshulkumar-usds commented on #2919
@brick-green-agile6 will generate a sample for OTC for CO, and submit to CO by 12/3

[2021-11-19 15:50] carlosfelix2 opened #3129 "Migrate nces_id lookup table to the database"
As an administrator, I want the nces_id table to reside in the database, so it is easier to manager.

Note that the nces_id table is handled differently in the code than the other tables.  You must verify that the table is loaded and used correctly.  See HL7Serializer.kt ~line 1494.  Notes on how this nces_id file is created is in the docs folder.

Testing notes:
You must submit data related to a

[2021-11-19 15:53] rhood23699 opened #3130 "All-In-One-Health - Move to PROD w/ mode set to T"
## Problem statement
We are going test the CSV Uploader in PROD.  We do not want result going to CA.

## Acceptance criteria
- [x] processing_mode flag must be "T"

## To do

- [x] Change the processing mode to "T"
- [x] Note, the yamlito is already in ./setting/prod.  File name is "0046-all-in-one-health-ca.yml"

[2021-11-19 16:18] LGFranklin commented on #2833
@anshulkumar-usds Yes, we have contacted the user to request and update, and we created a ticket to address this: https://app.zenhub.com/workspaces/simplereport-better-data-team-605b43d51ea9f700119a48ee/issues/cdcgov/prime-simplereport/3005

Once this is complete, the validation will allow only numerical characters, and not allow input longer than 10 digits.

[2021-11-19 16:43] mlighdc opened #3131 "WY - Failed ELRs on 11/10/21"
WY's NBS system began receiving a large number of failed ELRs from Prime on November 10th.

We reviewed the records and found the following issues which need correction or the records will continue to fail:
•	MSH-4: This required SendingFacility value was missing.
o	Must be formatted as |SendingFacilityName^FacilityCLIA^CLIA|
o	We rather receive CLIAs than OIDs, etc. for MSH-4 for all NBS clients

[2021-11-19 16:43] mlighdc opened #3132 "WY - Failed ELRs on 11/10/21"
WY's NBS system began receiving a large number of failed ELRs from Prime on November 10th.

We reviewed the records and found the following issues which need correction or the records will continue to fail:
•	MSH-4: The required SendingFacility value was missing.
o	Must be formatted as |SendingFacilityName^FacilityCLIA^CLIA|
o	We rather receive CLIAs than OIDs, etc. for MSH-4 for all NBS clients d

[2021-11-19 18:36] mlighdc commented on #3131
There was a duplicate issue created due to a githup hiccup. Closing and please reference #3132

[2021-11-19 18:36] #3131 closed

[2021-11-19 18:40] mlighdc opened #3134 "MA - OBX.24 of type OBX.24.XAD Missing"
An issue came in (11/19/21) from MA about missing OBX.24 of type OBX.24.XAD

Please review, edit, and resubmit as necessary

[2021-11-19 19:22] carlosfelix2 opened #3135 "Proposal for moving schemas from file to database"
Write and present a proposal on how to move the schemas from being stored as files to the database.

Acceptance criteria:
1. Write and present a proposal on how to move the schemas from being stored as files to the database.
2. Proposal needs to include how the schemas are to be managed (e.g. API and/or CLI)
3. Proposal needs to include how are we migrating to the database based approach.

[2021-11-19 19:22] carlosfelix2 commented on #3135
CC @MauriceReeves-usds

[2021-11-19 20:31] anshulkumar-usds commented on #2623
Informed VT about our revised timeline. Moving to product backlog.

[2021-11-19 20:47] anshulkumar-usds opened #3137 "ORC-12.1 and ORC-16.1 NPI Validation"
This ticket is intended to track ReportStream wide enhancements to ORC-12.1 and ORC-16.1 that contain Provider Information (NPI).

The specific issue was raised by IL (ticket referenced below) where users had been entering the provider name in the NPI field. While SR will work on enabling data validation logic to NPI, and limit the field length to 15 chars, we need to consider the option to leave

[2021-11-19 20:48] anshulkumar-usds commented on #2833
Thanks @LGFranklin I will close this out on RS board.

RS will track a platform wide enhancement to blank these fields if the char limit is violated here: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/3137

[2021-11-19 20:48] #2833 closed

[2021-11-19 21:01] BerniXiongA6 commented on #1569
11.19.2021 @victorialb-usds and I discussed some of the questions we'd like to know to better help users (prospective users vs. first time/new users vs. returning users) get what they need from the RS home page:
- What are users trying to accomplish/what do they need help with once they've landed on the RS home page (prospective users and registered users may not need to same things)?
- How can we

[2021-11-19 21:12] anshulkumar-usds commented on #3052
Let IL know the issue is resolved from sender. Awaiting confirmation from IL if records need to be resent.

[2021-11-19 21:27] anshulkumar-usds commented on #2635
Escalated to Imagemover, and checking with OH which/if they need all/some message to be resent after the fix from sender.

[2021-11-19 21:55] mlighdc commented on #2933
@jorg3lopez here some test names:

1. less than 20 - High Meadow
2. longer than 20 char - The Vermont Farm and Forest School
3. truncated trailing space (this is 17 char with trailing spaces) - Oxbow High School
4. truncated trailing space (with 19) - brownington central
5. 19 user entering with a trail - "Woodbury Elementary "
6. leading spaces (you will need to create the leading space) - " The

[2021-11-20 00:15] sean-usds commented on #2921
We not run prettier in the pre-commit hook so this is all set

[2021-11-20 00:15] #2921 closed

[2021-11-20 00:29] mlighdc opened #3140 "Allow State PHD to View a List of Test Events / Messages Marked as Error"
As a state public health department, I would like tosee all the messages that were marked as error by a SimpleReport user so I can handle them appropriately in my surveillance system.

[2021-11-22 02:45] anshulkumar-usds commented on #2702
@jorg3lopez  I checked with NJ on 11/21 if failed messages need to be resubmitted, and if so, which message IDs. You're cc'ed, so please follow up with NJ to finalize the ticket.

[2021-11-22 02:47] anshulkumar-usds commented on #2636
Issue is duplicate of 2575. Closing this and adding specifics of this ticket to 2575.

[2021-11-22 02:48] #2636 closed

[2021-11-22 03:24] anshulkumar-usds commented on #3121
@MikeC-A6  you did some analysis in this space and found that based on how RS is setup, we use the sender-provided LOINC to lookup our mapper API. If the test kit name contained in our mapper is does not match EXACTLY as the sender-provided test kit name, then RS blanks out the LOINC when sending results to the states. However, Carlos claims that he ran a test and found that LOINC is not being rem

[2021-11-22 03:27] anshulkumar-usds commented on #3121
@carlosfelix2 Let's say the sender provide test-kit name does not match the LIVD table EXACTLY. (Let's put aside the issue of whether we should look for an exact match, or best match). Can we make the sender submission fail when their test kit name does not match the LIVD table? It will then be upon the sender to correct the issue and resubmit, instead of RS forwarding missing/incorrect data to st

[2021-11-22 03:34] anshulkumar-usds commented on #3112
[https://app.zenhub.com/files/304423150/393893bc-a6bd-43f2-89fc-23d38289fee7/download](https://app.zenhub.com/files/304423150/393893bc-a6bd-43f2-89fc-23d38289fee7/download)

this file contains all the message IDs as of 11/16 where the report issue was found. We need to resubmit these once the issues is resolved, and check again with WA to see if any new submissions since 11/16 also need to be resu

[2021-11-22 03:39] anshulkumar-usds commented on #1747
Checked with NY on 11/21 on next steps with creating SFTP path. No next steps for RS until further news from NY

[2021-11-22 03:41] anshulkumar-usds commented on #3137
SimpleReport issue for IL: https://app.zenhub.com/workspaces/simplereport-better-data-team-605b43d51ea9f700119a48ee/issues/cdcgov/prime-simplereport/3005

[2021-11-22 03:43] anshulkumar-usds commented on #3093
SimpleReport fix for NPI: https://app.zenhub.com/workspaces/simplereport-better-data-team-605b43d51ea9f700119a48ee/issues/cdcgov/prime-simplereport/3005

[2021-11-22 03:43] anshulkumar-usds commented on #3137
Closing this ticket.

Next steps and background captured here:
https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/3093

[2021-11-22 03:44] #3137 closed

[2021-11-22 03:54] anshulkumar-usds commented on #3134
MA delivered sample messages that contains PII in secure mail. Check with Anshul for this info.

[2021-11-22 04:14] anshulkumar-usds commented on #2635
OH confirmed they need all effected messages to be resent. Once I hear back from IM on a fix, a consolidate list of message IDs will be shared with IM for resubmission.

[2021-11-22 12:49] jimduff-usds commented on #3116
Occurred at 10:39:21 on 11/20 with this error immediately prior:
`Singleton lock renewal failed for blob 'pdhprod-functionapp-candidate/Host.Functions.emailScheduleEngine.Listener' with error code 403: AuthorizationFailure. The last successful renewal completed at 2021-11-20T15:38:51.507Z (30251 milliseconds ago) with a duration of 6 milliseconds. The lease period was 60000 milliseconds.`

And on

[2021-11-22 13:49] JosiahSiegel opened #3141 "Change devenv-infrastructure.sh interpreter from sh to bash"
**Describe the bug**
Interpreter line of devenv-infrastructure.sh is incorrectly set to `sh` instead of `bash`

**Impact**
Failure of development attempting to use startup script devenv-infrastructure.sh

**To Reproduce**
Steps to reproduce the behavior:
1. Run `./devenv-infrastructure.sh`
   * You will receive error `./devenv-infrastructure.sh: 18: Syntax error: "(" unexpected`
3. Change shebang

[2021-11-22 14:09] anshulkumar-usds commented on #2702
@jorg3lopez NJ confirmed no resubmissions are needed as they're fixing the issue manually on their side. So once the fix is in place, please reach out to NJ and ask them for confirmation that it's working on their side.

[2021-11-22 14:27] #2677 closed

[2021-11-22 14:27] loripusey opened #3145 "On CSV Upload, Display Messages for Rows that Failed PHD Quality Filter(s)"
Need to explore how we can validate against quality filters without submitting the file through ReportStream.............................

## Notes from Jim
- Do we have access to display the quality filter messages when Sender uploads their CSV? YES
![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/128e512f-4a44-40e7-940f-ce309feaf85f)
- Can we stop the submission if ther

[2021-11-22 14:27] #2721 closed

[2021-11-22 14:27] #2675 closed

[2021-11-22 14:27] #2716 closed

[2021-11-22 14:27] #2717 closed

[2021-11-22 14:32] loripusey opened #3146 "CSV Uploader Enhancements"
We will run into enhancements or changes we need to make to the CSV Uploader because of:
- Feedback from the Pilot
- Updates to the ReportStream core

[2021-11-22 14:37] jimduff-usds commented on #2745
I added #3101 as a blocker, as this task needs to be done after #3101 is in Staging.

[2021-11-22 15:14] #2160 closed

[2021-11-22 15:24] loripusey opened #3153 "Verbiage "Web Receiver" Got Injected into the Page where it did not Exist Previously"
**Describe the bug**
Terminology on the following page got changed and now says "web receiver", perhaps because of a merge conflict:
https://reportstream.cdc.gov/how-it-works/data-download-guide

https://usds.slack.com/archives/C02HJ43AE8Z/p1637286956456000

**Impact**
Verbiage is incorrect and may be confusing to users

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://reportstre

[2021-11-22 15:35] loripusey commented on #3153
@drew-usds Can you add detail for this ticket? I couldn't see where the bug is happening, thanks!

[2021-11-22 15:40] jimduff-usds opened #3154 "Redesign our error/warning system so we can give different messages to different users; also from every pipeline step"
As [anyone seeing errors/warnings in ReportStream], I want to hear errors/warnings in my own language ("contextual messaging")
I also want to see errors/warnings from every pipeline step, not just the 'receive' step.

## Acceptance Criteria

* A Design is prepared, in this ticket, so we can move forward with coding.   The design should meet these requirements:
- Any step of the pipeline can genera

[2021-11-22 15:50] loripusey opened #3155 "Data Quality Improvements"
## Problem Statement

[2021-11-22 15:56] loripusey commented on #3079
@inkandsound @drew-usds Can you take a look at this and make some recommendations? Thanks!

[2021-11-22 15:56] #3146 closed

[2021-11-22 16:02] loripusey commented on #2866
@drew-usds can you make some recommendations for this? Thanks.

[2021-11-22 16:07] loripusey commented on #952
Lori/Rachel evaluated and want it to remain in the Icebox for now; we would need a valid use case before moving forward any technological implementation like this

[2021-11-22 16:18] carlosfelix2 opened #3157 "SPIKE: Investigate LIVD Lookup data quality issues to determine a next step"
There are a few LIVD lookup data issues that seem to be related in one way or another that can affect how those issues are tackled.  This issue is to look at the different issues to generate an attach plan for them.

The issues are:
#2056
#2054
#2800
#3121

Acceptance criteria:
1. Identify the problem and clean up the acceptance criteria of the related issues.
2. Determine how the related issues s

[2021-11-22 16:44] loripusey commented on #1976
@rhood23699 Can you please set a meeting to discuss the AC for this?

[2021-11-22 17:47] anshulkumar-usds commented on #3157
Adding myself to assignee for tracking

[2021-11-22 18:01] anshulkumar-usds opened #3160 "Workflow for managing ACKs and NACKs from STLTs"
We currently do not have a standardized and scalable approach to handle receipts when data is delivered from ReportStream to STLTs. If a test message is received by a STLT without any errors/failures, the submission may be accompanied by acknowledgement (ACK). Whereas, if the data contains errors, and causes failures with the STLT's integration process, that message may be marked as not-acknowledg

[2021-11-22 18:29] anshulkumar-usds commented on #2635
Imagemover confirmed they have corrected the issue on their side. Re-shared message IDs with sender so that resubmission can happen.

[2021-11-22 19:06] loripusey commented on #3153
@BerniXiongA6 @drew-usds what is the term that is supposed to be used here?

[2021-11-22 19:06] loripusey commented on #3153
@BerniXiongA6 @drew-usds What is the term that is supposed to be used on this page?

[2021-11-22 19:26] BerniXiongA6 commented on #3153
@loripusey According to the RS content style guide, a "web receiver" or "receiver" should be referred to as "public health department" on any public-facing page/documentation. As far as "Web receiver experience" being used in the web page copy, I think this decision was established before I took over the content role. @drew-usds Could you provide some insight on this?

[2021-11-22 19:29] loripusey opened #3161 "Register to use DAP with the GSA"
## Problem Statement
As the Experience Team, we need to be able to capture metrics for how senders and receivers are interacting with the ReportStream UI so that we can gain insights into the ReportStream user experience and make recommendations for improving it.

As the Experience Team, we need to register with the GSA to use DAP so that we can start using it to capture metrics for our public-fac

[2021-11-22 19:30] loripusey opened #3162 "Work with the GSA to implement the common page tag code​"
## Problem Statement
As the Experience Team, we need to be able to capture metrics for how senders and receivers are interacting with the ReportStream UI so that we can gain insights into the ReportStream user experience and make recommendations for improving it.

As the Experience Team, we need to work with the GSA to implement the common page tag code so that we can start using DAP to capture me

[2021-11-22 19:30] loripusey opened #3163 "Apply the DAP script to public-facing pages"
## Problem Statement
As the Experience Team, we need to be able to capture metrics for how senders and receivers are interacting with the ReportStream UI so that we can gain insights into the ReportStream user experience and make recommendations for improving it.

As the Experience Team, we need to add the DAP script to our public-facing pages so that we can indicate to analytics.gov that it shoul

[2021-11-22 19:31] loripusey opened #3164 "Create DAP Dashboard in analytics.usa.gov"
## Problem Statement
As the Experience Team, we need to be able to capture metrics for how senders and receivers are interacting with the ReportStream UI so that we can gain insights into the ReportStream user experience and make recommendations for improving it.

As the Experience Team, we would like to be able to visualize the metrics that analytics.gov captures for ReportStream's public pages s

[2021-11-22 20:26] MikeC-A6 opened #3166 "A1H CSV Uploader Pilot"
Epic for tracking the onboarding of A1H to the CSV uploader pilot.

**Sender Info:**
- Type of Sender: Clinic
- Location/s: 1 - Costa Mesa, CA - CLIA: 05D2212852

**_Standard Tasks / Onboarding Steps:_**

**Kickoff Meetings/Follow Up:**
**Solution Planning:**
         - Setup OKTA accounts
          - Mapping
          - Brainstorming/Grooming
**Solution Development:**
          - RS Schema

[2021-11-22 20:27] MikeC-A6 commented on #3166
Epic for tracking the onboarding of A1H to the CSV uploader pilot

[2021-11-22 20:54] loripusey opened #3168 "Register for an analytics.gov API Key"

[2021-11-22 20:59] loripusey commented on #2865
@rachelhanster @victorialb-usds @drew-usds Ready for review
https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Experience%20Team/Artifacts/Experiments/Experiment-Measure%20front-end%20interactions.pptx?d=w4fe5770a89ac40359392bcb3dcb93547&csf=1&web=1&e=iOeh6c

[2021-11-22 21:29] anshulkumar-usds commented on #2518
Per MD on 11/22:
"I wanted the following removed due to CLIA issues, but also because there are no filler order numbers.
Family & Nursing Care Select LLC
Friendship Public Schools"

[2021-11-22 21:53] anshulkumar-usds commented on #2518
MD needs us to filter out Family & Nursing Care Select LLC and Friendship Public Schools because they have no accession numbers.

[2021-11-22 23:23] rachelhanster commented on #2862
This is for all reportstream users. Let's hold off considering touchpoints as an option for gathering this initial data.

[2021-11-22 23:36] HeatherRienks commented on #3140
@mlighdc - thanks for submitting this! I moved this to our "Icebox" for now and unassigned myself. We will review and keep you posted.

cc: @loripusey & @rachelhanster

[2021-11-23 00:05] mlighdc commented on #3140
I was not sure who to flag in the issue. Maybe I should have mentioned you @HeatherRienks vs. assign. Just following the suggested process. :-)

[2021-11-23 04:02] mlighdc commented on #2518
Thanks @anshulkumar-usds. As you probably know both the facilities mentioned by MD are not SR users. I double checked this evening.

[2021-11-23 13:06] MikeC-A6 commented on #3093
![image](https://user-images.githubusercontent.com/77452595/143029291-d34fc62c-69c5-41ee-9bd0-c9222d8f2b07.png)

Brainstorming meeting notes 11/22

[2021-11-23 13:08] MikeC-A6 commented on #3093
NPI requirements: https://www.cms.gov/Regulations-and-Guidance/Administrative-Simplification/NationalProvIdentStand/Downloads/NPIcheckdigit.pdf

[2021-11-23 13:28] loripusey commented on #2864
@drew-usds @victorialb-usds Can you two please review the above write-up if you have time? Thanks.

[2021-11-23 13:28] MikeC-A6 opened #3169 "Truncate Provider ID Field"
As a receiver, I want `ordering_provider_id` values with more than 15 characters to be truncated to 15 characters so that messages do not fail in my integration engine for failing the HL7 specification.

Acceptance Criteria:
1. Given that sender sends in a COVID-19 test that has a value with > 15 characters in the ordering_provider_id field, and the data goes to an HL7 output, then `ORC-12` and  `

[2021-11-23 13:34] loripusey commented on #1103
@drew-usds is it ok if I close this epic and move it's 1 ticket to this Epic?
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2809

[2021-11-23 13:38] MikeC-A6 commented on #3169
@RickHawesUSDS - let me know if you are able to pull this Provider ID truncation story - it is high priority for IL to prevent messages from failing

[2021-11-23 13:46] loripusey commented on #3153
@BerniXiongA6 @drew-usds Can you two look at this page and indicate the verbiage to replace "Web Receiver" with in each case?  I don't think that replacing with "public health department" is going to work as the content is referring to the feature and not a PHD. cc: @rachelhanster

[2021-11-23 13:50] MikeC-A6 opened #3170 "Provider_ID ordering_authority and ordering_authority_type bug"
**Background:**
Something other than a Provider [NPI](https://www.cms.gov/Regulations-and-Guidance/Administrative-Simplification/NationalProvIdentStand/Downloads/NPIcheckdigit.pdf) is sometimes sent in the `Ordering_Provider_ID` field, yet Reportstream applies a default to tag any value as an NPI.  Specifically, in the `ordering_provider_id_authority` field, the base COVID-19 schema uses the ifPre

[2021-11-23 13:51] loripusey opened #3171 "Replace Quality Filter Messages with User-Friendly Versions"
## Problem Statement
As a Sender, when I upload a CSV file, I would like to know which of my results failed the PHDs' quality standards/filters so that I will understand what I should fix for future result submissions.

## Background
The Pipeline team is now returning basic messages for those data rows that fail the PHD quality filters.
- Refer to the release notes: https://github.com/CDCgov/prime

[2021-11-23 14:11] MikeC-A6 commented on #3170
@brick-green-agile6 - please comment on your recommendation for an alternate default value for the 2 fields listed, in cases where the value provided is not a NPUI

[2021-11-23 14:15] #3141 closed

[2021-11-23 14:15] MikeC-A6 opened #3172 "Send only properly formatted NPIs to certain STLTs"
**Background**
At least 1 STLT (IL) has requested to receive a value in the `ordering_provider_id` field only when the value provided is a properly formatted NPI.

**Story**
As a STLT, I want to be able to decide whether I receive a value in the `ordering_provider_ID` field and associated fields* if the ordering_provider_ID provided is not a properly formatted NPI so that I am only receiving value

[2021-11-23 14:30] anshulkumar-usds commented on #3112
Mo identified the root cause. Plan to deploy fix this week. Will need to follow up with WA on consolidate list of messages that need to be resent. WA was notified of this on 11/23.

[2021-11-23 14:38] carlosfelix2 commented on #3121
From @anshulkumar-usds: The issue is common across all states so far. In a nutshell, effected states, (OH, IL, MA) are receiving blanked LOINCs from RS, and that is causing failures on their end.
My understanding of RS internal mapping:
Inbound files from sender usually contains test-kit name and LOINC
RS disregards the sender-provided test-kit name, takes the sender-provided LOINC, and looks up t

[2021-11-23 14:45] MikeC-A6 commented on #3121
@carlosfelix2 - I like this idea, but I think we should also fix the issue that the sender-provided LOINC gets blanked out if there isn't a proper test_kit_name_ID.  That way, if we do implement best match functionality for the test_kit_name_id, the sender provided LOINC is still populated whether there is or is not a best match found

[2021-11-23 14:58] BerniXiongA6 commented on #3153
@loripusey cc: @rachelhanster Will follow up with @drew-usds during Design Sync today to resolve this.

[2021-11-23 15:01] carlosfelix2 opened #3173 "LIVD Lookup Enhancements"
LIVD Lookup Enhancements

[2021-11-23 15:05] anshulkumar-usds commented on #3132
These tests are all OTC, and the missing fields are expected. Informed state and offered to create a secondary feed. Awaiting feedback from state on next steps.

[2021-11-23 15:09] carlosfelix2 opened #3174 "Ignore the use of asterisk in the LIVD model name"
Ignore the use of asterisk in the LIVD model name.  The asterisk notes when CDC has not fully validated the LOINC mapping with the manufacturer.  As such, for our lookups, the * does not mean anything and should be removed when matching models.

Acceptance criteria:
1. When loading the LIVD table, remove the * from the model name, so the * is not part of the name..
2. When looking up a model ID, r

[2021-11-23 15:16] carlosfelix2 opened #3175 "Handle non-unique matches in LIVD lookups"
The LIVD lookup is currently matching the first hit regardless if there are other possible hits in the table.  For example, looking up the model `1copy COVID-19 qPCR Multi Kit` really matches 5 different records, but the way the LIVD lookup is done it actually returns the last entry.

Design notes:
Why does it return the last entry?  A map is being used and as the table is read then subsequent ide

[2021-11-23 15:25] anshulkumar-usds commented on #2518
Hey @MikeC-A6 requesting your help here. MD is requesting we filter out two facilities from their data feed because these facilities are missing access numbers. Here is their request:

"Is it possible to filter out Friendship Public Schools and Family & Nursing Care Select? We cannot process these as they have no accession number and continue to fail in our system."

I don't see any obvious items

[2021-11-23 15:53] #2591 closed

[2021-11-23 16:04] jorg3lopez commented on #2933
Uploaded test file to VTs test feed.

[2021-11-23 16:54] drew-usds commented on #3153
@loripusey easy fix! Just created a PR for it.

[2021-11-23 17:12] rhood23699 commented on #1976
@kevinhaube @ahay-agile6 @sean-usds @sethdarragile6 @carlosfelix2

In an attempt to keep us moving, I've put together my brain-dump on the Table and Mapper functionality needed for the Ticket.  The link is https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Sender%20Automation%20Team/Sender%20Tools/TestPerformedMapper.docx?d=w6612ee4dd57840b68e

[2021-11-23 18:03] RickHawesUSDS commented on #2191
I'll take this.

[2021-11-23 18:16] anshulkumar-usds commented on #2518
MD confirmed issue is resolved.

[2021-11-23 18:16] #2518 closed

[2021-11-23 19:06] Adrian-Brewster commented on #2634
Waiting on message confirmation from state jurisdiction

[2021-11-23 19:06] Adrian-Brewster commented on #2631
@jorg3lopez Can you provide an update on this?

[2021-11-23 19:07] Adrian-Brewster commented on #2881
@jorg3lopez Any update on this ticket?

[2021-11-23 19:09] Adrian-Brewster commented on #2709
CDPH is going to test this when they test the centralized CLIA, which has merged and should deploy tomorrow.

[2021-11-23 19:10] Adrian-Brewster commented on #3045
@jorg3lopez Any update on this?

[2021-11-23 19:12] Adrian-Brewster commented on #2373
Files have been sent. Waiting on feedback from state.

[2021-11-23 19:13] #2914 closed

[2021-11-23 19:14] Adrian-Brewster commented on #2575
@jorg3lopez Has this been completed? Do we need to let the jurisdiction know the issue is resolved?

[2021-11-23 19:15] Adrian-Brewster commented on #2550
@anshulkumar-usds to confirm with jurisdiction they have access.

[2021-11-23 19:15] #2550 closed

[2021-11-23 19:16] #2599 closed

[2021-11-23 19:16] Adrian-Brewster commented on #2761
@jorg3lopez Can this be closed out?

[2021-11-23 19:17] Adrian-Brewster commented on #2641
@jorg3lopez have these messages been resent?

[2021-11-23 19:18] Adrian-Brewster commented on #2348
@jorg3lopez Can you confirm if this can be closed out? Have the necessary messages been resent?

[2021-11-23 19:19] Adrian-Brewster commented on #2666
@jorg3lopez Can this be closed, also?

[2021-11-23 19:20] Adrian-Brewster commented on #2702
@jorg3lopez Has this fixed been deployed? No resends are necessary.

[2021-11-23 19:21] Adrian-Brewster commented on #2578
@jorg3lopez Can this be closed out?

[2021-11-23 19:25] #2654 closed

[2021-11-23 19:28] Adrian-Brewster commented on #2930
Resent but CDPH replied with additional NACKS.

[2021-11-23 19:30] #2578 closed

[2021-11-23 19:30] #2820 closed

[2021-11-23 19:31] #2605 closed

[2021-11-23 19:33] Adrian-Brewster commented on #3094
Got access to their system yesterday. Will start looking at files today.

[2021-11-23 19:34] Adrian-Brewster commented on #2565
@mlighdc Was this addressed when you recreated the dashboard? Can this be closed out now?

[2021-11-23 19:38] anshulkumar-usds commented on #3132
From STLT:

"Thank you for your email. We are working to include exceptions for these issues into Rhapsody to ensure they process successfully. We will continue to follow up with Cody from WY DOH and let her know once complete."

[2021-11-23 19:38] #3132 closed

[2021-11-23 19:39] Adrian-Brewster commented on #2526
@jorg3lopez Jorge is this complete?

[2021-11-23 19:39] #2157 closed

[2021-11-23 19:40] anshulkumar-usds commented on #2525
duplicate of 2526. Closed.

[2021-11-23 19:40] #2525 closed

[2021-11-23 19:42] anshulkumar-usds commented on #1747
NY needs us to deliver additional test messages to the same sftp location

[2021-11-23 19:49] Adrian-Brewster commented on #2777
Sender likely accidentally hit the wrong state on a drop down. Do they need to be resent? @anshulkumar-usds will follow up.

[2021-11-23 19:56] #969 closed

[2021-11-23 20:06] anshulkumar-usds commented on #2635
Anshul checking with OH to see if they have any specific instructions for resubmission: can we use the same specimen IDs to resubmit.

[2021-11-23 20:08] drew-usds commented on #2811
Doc in our Drive for now (only shared docs Victoria has access to): https://docs.google.com/document/d/18KHaYwSJQeRjVc4rj9uA1i8YEph1zFtz/edit?usp=sharing&ouid=115819704652469288687&rtpof=true&sd=true

Will move to Sharepoint when Victoria has access.

[2021-11-23 20:10] drew-usds commented on #2740
Moving to backlog, let's keep updated with O&O and look at this again when new states are added.

[2021-11-23 20:11] drew-usds commented on #2600
Will be working on finishing this tonight/tomorrow AM.

[2021-11-23 20:13] HeatherRienks commented on #3140
@mlighdc - we appreciate it! Thanks!

[2021-11-23 20:14] #2297 closed

[2021-11-23 20:16] #2284 closed

[2021-11-23 20:16] #2296 closed

[2021-11-23 20:16] #2295 closed

[2021-11-23 20:16] #2554 closed

[2021-11-23 20:16] #852 closed

[2021-11-23 20:16] #2289 closed

[2021-11-23 20:16] #2952 closed

[2021-11-23 20:16] #2589 closed

[2021-11-23 20:17] #1480 closed

[2021-11-23 20:17] #2773 closed

[2021-11-23 20:21] #2138 closed

[2021-11-23 20:30] anshulkumar-usds commented on #2777
Checking with OR if they need us to resubmit corrected results

[2021-11-23 20:34] TomNUSDS commented on #2133
This is more complicated than first expected. There is NO SERVER to host the env, so the react has to load it... but the `name=value` format of env isn't directly loadable and there's an order precedence.

There is a `dotenv` component; however, it depends on direct file reading (which is a node thing).

Possible solutions:
 1. As part of _build_, run dotenv for the proper environment ('prod' vs '

[2021-11-23 20:34] anshulkumar-usds commented on #2740
Hey @drew-usds , how would you like O&O to share updates on the onboarding work. We have a tracker on sharepoint that shows status of each STLT, and we update that on a daily basis: https://cdc.sharepoint.com/:x:/t/USDSatCDC/EetP9vPm-npFpt009d1ziB8BYeQNtvq0kr786dPlrcsFAQ?e=WMOK79

We should get OR and TN listed as LIVE on the website.

[2021-11-23 20:35] drew-usds commented on #3161
@loripusey I got my CDC address added to DAP this past week using this: https://github.com/usds/prime-simplereport-docs/wiki/DAP-access

The most confusing part is that you have to make a non-email Google account with your CDC email.

[2021-11-23 20:38] anshulkumar-usds commented on #2777
OR confirmed no resubmissions are needed. Closed.

[2021-11-23 20:38] #2777 closed

[2021-11-23 20:39] loripusey commented on #2989
@sean-usds this has been downgraded to a SPIKE in Planning meeting; @kevinhaube knows about this

[2021-11-23 20:39] clediggins-usds opened #3180 "Schema markdown documentation cleanup"
Work on #343 first, then create a new ticket for each issue and link it to this epic.

As a "Good first issue", Pick ONE of these and break it out into a separate Ticket.

The schema .md docs are found in `prime-router/docs/schema_documentation/` and generated with:
`./prime generate-docs`

The documents would be more informative to both us and the Sender community if we did the following:
Ticket

[2021-11-23 20:39] #1603 closed

[2021-11-23 20:40] anshulkumar-usds commented on #2635
OH's wants all messages delivered with a new message ID and a valid LOINC code. Imagemover has been made aware and will provide Anshul with a list of message IDs for follow up.

[2021-11-23 20:41] drew-usds opened #3181 "Add meta tags/standard schema/etc for SEO"
## Problem statement

We need to add meta tags and schema standards to help with SEO.

## What you need to know
Adding meta/schema tags will help with what shows up in search results and if links are shared via social media/etc.
From Ming: "can you help me understand why the RS page does not show up when you google it? The RS github page does and is the 2nd highest result behind SimpleReport." htt

[2021-11-23 20:41] anshulkumar-usds commented on #970
TN confirmed everything looks good on their end, no issues surfaced to RS on 11/23. Closing the onboarding workstream. Future issues will be added to support queue. fyi @brick-green-agile6

[2021-11-23 20:41] #970 closed

[2021-11-23 21:01] anshulkumar-usds opened #3182 "Data Quality Issues"
This epic will track data quality issues across the ReportStream onboarding and operations work.

[2021-11-23 21:01] jbiskie opened #3183 "Alpha value in phone extension field should not error the message"
## An alpha (i.e. non-numeric) value in PID-13.8 (patient home phone extension) currently returns an error to an HL7 sender.

PID-13 example from HCA test messages: `^PRN^PH^^1^561^5412280^CELL`

ReportStream should, at most, return a warning message when the Extension field contains text such as "CELL".

We may want to try this with other phone number fields (e.g. PID-14, ORC-14, ORC-23, OBR-17).

[2021-11-23 21:02] jimduff-usds opened #3184 "destinationCount includes receivers we did NOT send too."
Bug:  The destinationCount here should be 2, not 3:

[code]

[2021-11-23 21:08] MikeC-A6 commented on #2777
@anshulkumar-usds - Wouldn't PA be the one who might want the results sent?  The results shouldn't have gone to OR in the first place, but they should have gone to PA

[2021-11-23 21:31] anshulkumar-usds commented on #3134
MA reported similar issue on 11/23 via secure email:

In today’s file there was an error due to a missing OBX.24 section.  Can you please review, edit, and resubmit as necessary.

MSH|^~\&|CDC PRIME - Atlanta, Georgia (Dekalb)^2.16.840.1.114222.4.1.237821^ISO|None^39D0701535^CLIA|MA-MDPH^2.16.840.1.113883.19.3.2^ISO|MA-MDPH^2.16.840.1.113883.19.3.2^ISO|20211123141539.3802+0000||ORU^R01^ORU_R01|758

[2021-11-23 21:32] anshulkumar-usds commented on #3134
@hermanAlexCordero can you try taking a look at this one. Haven't seen this before from MA or another state recently.

[2021-11-23 21:38] anshulkumar-usds commented on #2975
Bridget from Optum share 12 NACKs for the secondary feed that need to be reviewed. Message was delivered in secure email

[2021-11-23 21:41] loripusey commented on #3161
@drew-usds I got a non-email Google account but can't access your USDS simple report link; is there another way to get my CDC email address on this list?

[2021-11-23 21:45] anshulkumar-usds commented on #2975
Summary of issues that stand out to me:
1. Missing OBR-22 timestamp
2. ORC 21 to ORC 23 Ordering provider/facility information is missing

I suspect many of these are expected given it's OTC.

[2021-11-23 21:54] clediggins-usds commented on #2746
Talked to Chris / devOps.  We can set up autoscaling to trigger on queue volume as needed. We can turn on/off functions to test this as needed.

[2021-11-23 22:11] brick-green-agile6 commented on #3039
Talked to @MauriceReeves-usds about this. If files are re-ran for Hillsborough they will also be sent to Florida. @anshulkumar-usds we will need to get sign off from Florida that duplicate records will not cause a problem in their system. Can you coordinate that with them?

[2021-11-23 22:11] jbiskie opened #3186 "HCA patient race to use CDC codes"

[2021-11-23 22:12] anshulkumar-usds commented on #3112
@MauriceReeves-usds WA is reporting that SPM-17 and OBR-22 are also effected by the changes to the time-stamp format. Details are in the email from WA on 11/23 at 1:50 PM ET.

[2021-11-23 22:21] jbiskie opened #3187 "HCA patient ethnicity to use CDC codes"

[2021-11-23 22:22] anshulkumar-usds commented on #3039
Emailed FL and copied both FL-state and Hillsborough POCs. @brick-green-agile6 you're copied too, so please follow up in my absence this week.

[2021-11-23 22:43] mlighdc commented on #2933
@anshulkumar-usds @jorg3lopez I have not heard any feedback from VT. Please do not push changes to production for VT until they had a chance to review the test files and given us their feedback. Thanks.

[2021-11-23 22:43] jbiskie opened #3188 "Support any possible value for specimen type in full ELR"

[2021-11-23 22:51] jbiskie opened #3189 "Failure to parse specimen collection date/time"

[2021-11-23 23:00] jbiskie opened #3190 "Support all possible values for specimen source in full ELR"

[2021-11-23 23:13] jbiskie opened #3191 "Support all possible values for test result in full ELR"

[2021-11-23 23:21] jbiskie opened #3192 "HCA ordered test date needs UTC offset"

[2021-11-23 23:26] jbiskie opened #3193 "Remove equipment_model_name requirement for full ELR"

[2021-11-23 23:55] jorg3lopez commented on #2702
@anshulkumar-usds @mlighdc below are the specimen IDs that seem to have caused the issue because they were over 50 chars:

Specimen ID
---
e84dfc89-b330-4c9e-91b3-06b8544a3bf9
7b673517-fae6-4a78-9f2e-ce163b3836a5
7b17e800-bab7-4fe6-99b4-7213d1f79d2c
a35888e6-89d0-4d16-bc7a-e7f1f30e937d
a09380db-ba4d-4cc7-8c77-11091ba53304
c6dd3e33-ebc3-42eb-8a1e-cccdb52d099c
689b47b3-4a51-408e-a673-90055826a2e2
10

[2021-11-24 00:13] jorg3lopez commented on #2641
I will work on this tomorrow, Wednesday (11/24/2021).

[2021-11-24 00:16] jorg3lopez commented on #3015
PR waiting review and approval. It will probably go into production by Tuesday, next week (11/30/2201); unless there is a deployment on Thanksgiving Day.

[2021-11-24 00:17] jorg3lopez commented on #2933
PR waiting review and approval. It will probably go into production by Tuesday, next week (11/30/2201); unless there is a deployment on Thanksgiving Day.

[2021-11-24 00:19] jorg3lopez commented on #3045
@Adrian-Brewster Waiting to hear back from AZ if they have had any issue with test results missing the specimen id.

[2021-11-24 00:21] jorg3lopez commented on #3054
PR waiting for review and approval.

[2021-11-24 03:27] mlighdc commented on #2933
@jorg3lopez as mentioned in the Slack message, please do not deploy on Thanksgiving or this week until we hear back from VT. cc- @MauriceReeves-usds

Sent a message to VT on 11/23 to let them know we delivered two test files for them to review. Also communicate that we are targeting all updates to be in production by 11/30. Would be this ticket and [2881](https://github.com/CDCgov/prime-reportstre

[2021-11-24 03:27] mlighdc commented on #2881
Sent a message to VT on 11/23 to let them know we delivered two test files for them to review. Also communicate that we are targeting all updates to be in production by 11/30. Would be this ticket and [2933](https://github.com/CDCgov/prime-reportstream/issues/2933).

[2021-11-24 14:21] JosiahSiegel commented on #1048
A side-effect of building the GitHub release process is that release notes will be generated from commits.

[2021-11-24 15:12] loripusey opened #3196 "SPIKE -- Identify Pilot Participants for Cohort 2"
## Problem statement
As the ReportStream teams, we would like to pilot our CSV Uploader feature for our Cohort 2 group so that we can gather feedback and metrics for ReportStream.

## Acceptance criteria
- [ ] Identify Cohort 2 pilot participants
- Decision Makers
    - Rachel
    - Lori
    - Rick Hood
- Keep informed
   - Anshul
   - Mike C.
   - Kevin T.
   - Ming
   - Rick H.

[2021-11-24 15:13] loripusey opened #3197 "CSV pilot - Post Research - Synthesize Results from CSV Uploader Pilot"
## Problem statement
As the Experience Team, we need to synthesize the results collected from the piloting of the CSV Uploader feature for Cohort 2, so that we can guide direction of the ReportStream product.

## What you need to know
- This is a companion to customer journey maps

## Ideas to start with:
- metrics outlined in [csv deck ](https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/_layouts/1

[2021-11-24 16:34] loripusey commented on #1103
Am closing this epic and moving it's 1 [ticket ](https://app.zenhub.com/workspace/o/cdcgov/prime-reportstream/issues/566 )to this [Epic ](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2905)to consolidate?

[2021-11-24 16:34] #1103 closed

[2021-11-24 17:29] #2272 closed

[2021-11-24 17:40] jimduff-usds commented on #2242
I'd urge you to use @carlosfelix2's new database table feature to implement this, along with a new mapper.

For example, for hl70136 AOE questions, you can create a lookup table in the database with all the zillion possible ways to say "no" and "yes", then write a new mapper that does a "like" or "contains" match on all that data in the lookup table.   If it finds ambiguity, have it return UNK.

U

[2021-11-24 17:47] jimduff-usds commented on #2243
This should hopefully be an application of the new database-based table lookups.    Its not clear to me whether you need to implement this as a new mapper, to cover the subtlety that it should only run if the NPI is blank.  @carlosfelix2 is the expert.

Seems like we should be able to handle this with a single Lookup table that contains the mapping from Facility -> Provider NPI, Provider Name (may

[2021-11-24 18:26] victorialb-usds opened #3200 "Develop Plan - Understand Ways PHDs Want to Get Data"
## So far the research plan on CSV upload pilot has focused on senders. I would like to include/pair this with receiver research.

Develop a research plan for receivers CSV upload pilot

## What you need to know
What is the experience of receivers for the CSV pilot? What errors or pain points are they experiencing in setting up this connection?
What is the current process for collecting data with

[2021-11-24 20:30] mlighdc commented on #2933
@jorg3lopez the changes that were made caused the leading 0 in the zip code to be dropped. Please investigate what happened and correct. VT does not want the updates to go into production until the zip code issue is resolved. The zip code issue will cause a big issue for them as it will caused all messages to fail.

[2021-11-26 16:16] brick-green-agile6 commented on #2975
The NACKs came from CUE Health OTC results. The data is not available from CUE so we cannot send yet. This would be fixed with the OTC default values. In the meantime CA is going to re-evaluate the usage of quality filters to either ignore these tests or divert to a separate feed.

[2021-11-26 16:18] brick-green-agile6 commented on #2975
blocked - waiting for CA response on quality filter

[2021-11-26 17:18] hermanAlexCordero commented on #3134
Missing testing lab schema entries
Added schema entries and tested
Will create a pull request to update schema entries.

[2021-11-26 18:18] jorg3lopez opened #3202 "Add Leading Zero to 4 Digit Zip Codes And Two Leading Zeros to 3 Digit Zip Codes"
### Issue:
Some states have 4 digit zip codes, this creates an error in their system as they are expecting a 5 digit zip code; the same is true for states that have a 3 digit zip code.

### The fix:
- Add a leading zero if the zip code is only 4 digits long
- Add two leading zeros if the zip code is only 3 digits long

[2021-11-26 18:20] jorg3lopez commented on #2561
I'm working on adding a leading zero to all zip codes that have a length of 4 digits.
Ticket: #3202

[2021-11-26 18:41] brick-green-agile6 commented on #3039
Kristin from FL said she would follow up on 11/29 to let us know if duplicate results are acceptable

[2021-11-26 18:44] brick-green-agile6 commented on #2930
New NACKS included OBR-2.1 and OBR-3.1 which have already been addressed by a fix from Jorge. The other errors are:

-  OBX-17.1 exceeded max length. The HL7 spec has the limit at 20 chars. I asked CA if that is the limit they are requiring.
- OBX-18.4 is a required field. I asked CA what that value should be.

[2021-11-26 19:52] oslynn commented on #343
The reason why the ValueSets Do Not Serialize Cleanly Into a Markdown Table as stated above.  It is because of the common.valuesets hl70078 code: **">"** character represent **blockquote** control character of Markdown file format.  The solution is to use code: **"&#62"** instead.

[2021-11-26 22:21] RickHawesUSDS commented on #2996
Verified fixed

[2021-11-26 22:21] #2996 closed

[2021-11-27 00:39] jorg3lopez commented on #3202
@anshulkumar-usds @mlighdc This is the ticket to address adding leading zero(s) when zip code has a length of 4 or 3 digits. PR is up, awaiting review.

[2021-11-28 02:25] #2225 closed

[2021-11-28 02:45] jimduff-usds commented on #2266
Proposing to implement support for this in #1244

[2021-11-28 20:28] anshulkumar-usds commented on #2158
Blocked: No response from NC

[2021-11-28 20:29] anshulkumar-usds commented on #2973
Blocked: Need next steps from CA

[2021-11-28 20:37] anshulkumar-usds commented on #2702
@jorg3lopez I will commit to ensuring we have message IDs included in all tickets to reduce the investigative burden on your you and other engineers. On this specific issue, what are next steps?

[2021-11-29 14:24] loripusey opened #3206 "Synthesize Analysis Results and Identify Strategies"
## Problem Statement
We need to, regularly, evaluate the analysis metric results and identify strategies based on the results.

[2021-11-29 14:24] loripusey opened #3207 "Synthesize Front-End Analysis Results​"
## Problem Statement
As the Experience Team, we need to synthesize and understand the front-end analysis results so that we can identify strategies for evolving our product and add additional metrics, if more data points are needed.

## Acceptance Criteria
- Synthesize front-end analysis results
- Document the synthesis
- Present to the team
- Recommend additional metrics

[2021-11-29 14:29] loripusey opened #3208 "Identify Strategies to Address Front-End Analysis Results"
## Problem Statement
As the Experience Team, based on the synthesis of our front-end metrics, we need to identify strategies for improving ReportStream so that we can increase the end user's satisfaction.

## Acceptance Criteria
- Identify strategies for ReportStream to address results that indicate improvements are needed
- Identify additional metrics to capture, if more data points are needed to

[2021-11-29 14:32] anshulkumar-usds commented on #2974
Plan to demo CA workflow to Pipeline team to 11/29 as one use case from a state.

[2021-11-29 14:42] anshulkumar-usds commented on #2835
Anshul will investigate and fu with MD

[2021-11-29 14:51] loripusey opened #3209 "Create Metabase Queries to Measure ReportStream Usage​"
## Problem Statement
As the Experience Team, we need to capture metrics for how senders and receivers are using ReportStream so that we can gain insights into usage and user retention and make recommendations for improving ReportStream.

## Queries we would like
- Senders & Receivers
    - List of active receivers **(done, needs QA)**
    - % receivers that are active
    - List of active senders

[2021-11-29 14:52] loripusey opened #3210 "Create Metabase Dashboard to View ReportStream Usage​"
## Problem Statement
As the Experience Team, we need to be able to visualize the metrics for how senders and receivers are using ReportStream so that we can gain insights into usage and user retention and make recommendations for improving ReportStream.

## Acceptance Criteria
Create a Metabase dashboard that allows us to visualize the following metabase queries:
- Number Active Entities
- Number

[2021-11-29 14:57] #3043 closed

[2021-11-29 14:57] anshulkumar-usds commented on #3202
This ticket also addresses specific issue for VT: https://app.zenhub.com/workspaces/onboarding--operations-6166edbd409257001e09f1b2/issues/cdcgov/prime-reportstream/2933

[2021-11-29 15:09] loripusey opened #3214 "Synthesize analytics.gov Analysis Results"
## Problem Statement
As the Experience Team, we need to synthesize and understand the front-end analysis results from analytics.gov so that we can identify strategies for evolving our product.

## Acceptance Criteria
- Synthesize front-end analysis results from analytics.gov
- Document the synthesis
- Present to the team

[2021-11-29 15:09] loripusey opened #3215 "Identify Strategies to Address analytics.gov Results"
## Problem Statement
As the Experience Team, based on the synthesis of our front-end metrics from analytics.gov, we need to identify strategies for improving ReportStream so that we can increase end users' satisfaction.

## Acceptance Criteria
- Identify strategies for ReportStream to address results that indicate improvements are needed

[2021-11-29 15:43] loripusey commented on #3200
@victorialb-usds
- Can we take another look at this ticket and see if what we really need is something similar to this ticket but for how Receivers want/need to receive data and their pain points with data quality (isn't necessarily tied to the CSV Uploader pilot).
https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/2843
- Can Victoria get invited

[2021-11-29 16:06] loripusey opened #3221 "Setup SEO Tags for Existing ReportStream Web Pages"
## Problem Statement
As an entity who may be interested in using ReportStream, I would like to be able to perform a search using any search engine and find links to any of ReportStream's public-facing pages.

## Info (added by Chris on 12/23/22)
Currently, the RS website content does not appear in Google search results. This makes it difficult for individuals to search Google looking for answers a

[2021-11-29 16:17] #2328 closed

[2021-11-29 16:18] #2335 closed

[2021-11-29 16:20] loripusey commented on #2390
@kevinhaube Can we get an update on where we are with this at the next standup?

[2021-11-29 16:51] rhood23699 commented on #3130
This is in PROD.

[2021-11-29 16:51] #3130 closed

[2021-11-29 16:52] rhood23699 commented on #2380
Done.

[2021-11-29 16:52] #2380 closed

[2021-11-29 16:53] rhood23699 commented on #2652
PMG is moving from CSV Pilot to RestAPI onboarding.  Anshul, we take over this project and create the necessary tickets.

[2021-11-29 16:53] #2652 closed

[2021-11-29 16:59] rhood23699 commented on #3094
Schema and VBScript changes are complete, but I'm having issues with the qualityFilter.  I've posted in Engineering channel of Slack for assistance in resolving the problem.

[2021-11-29 17:01] loripusey commented on #2390
Is currently in staging (and maybe prod) behind an admin auth wall
- need rate limiter

[2021-11-29 17:18] kevinhaube commented on #2989
@sean-usds
#### Diagnosis
1. `HistoryFunctions -> getReports() -> checkAuthenticated()`
A quick note about this method:  we seem to be passing in our `Organization` header in a way that is not in-line with how this method parses that header, **however**, this header doesn't need to be passed into this method. While stepping through the debugger, you can see that `claimsOrgName` is pulled from the

[2021-11-29 17:33] kevinhaube opened #3223 "Remove token authentication from TOS Agreement"
## Problem statement

Currently, the UI is using token-based authentication for the Terms of Service Agreement form, but this page needs to be an unauthenticated route.

## What you need to know

![Screenshot from 2021-11-29 12-28-08.png](https://images.zenhubusercontent.com/611a907ec3e013d0e33e58a7/a8239510-79f7-41be-a90c-1842b526cf0c)

## Acceptance criteria

- [ ] A user can only access the for

[2021-11-29 17:38] rhood23699 opened #3224 "All-In-One - Changes based on Testing"
## Problem statement
- Receiving warning on column "Ok to Contact Patient"
- We are using Zip Code to lookup the Patient FIPS-County Code.  It is more accurate to use the column "Patient County", and lookup the Patient FIPS-County Code by County Name since AI1 will have more accurate data when receiving a Zip Code that crosses county lines.

## Acceptance criteria
- [x] There should not be a warni

[2021-11-29 17:58] mlighdc commented on #2565
Resolution: I recreated the report and dashboard to automate the sending of daily facilities update to VT. The report includes the MSH-4 field and conversion to SQL helped to stabilize the report and remove special characters. The attached file sent daily is in csv and some of the zip codes are missing the 0 as the first digit of the zip code. This is not a SR issue, this is a csv file format issu

[2021-11-29 17:58] #2565 closed

[2021-11-29 18:48] anshulkumar-usds commented on #2835
RS Metabase shows several SR facilities using same CLIA. Following up with @LGFranklin on next steps for resolution.

[2021-11-29 18:52] loripusey commented on #2989
@sean-usds do you want to create the bug for this work based on your research?

[2021-11-29 19:37] loripusey commented on #2390
@Adrian-Brewster Here is the ticket for the TOS agreement form; can the O&O team test this form in staging?

[2021-11-29 20:06] jorg3lopez commented on #3202
Submitted test file to VT test feed on 11/29/2021. This is the file name:
test-covid-19-eb10b765-afed-4fe0-addb-c70f44b1c0f7-20211129194404

[2021-11-29 20:13] kevinhaube commented on #2390
@loripusey @Adrian-Brewster You'll have troubles testing this until the rate limiter and IP ranges are put in place.  Sean and Chris are going to adding those, and then I have a branch ready to merge that'll open it up for testing. I went ahead and threw this into ticket #3223

cc: @sean-usds @cwinters-usds

[2021-11-29 20:14] mlighdc commented on #3202
Sent email to VT to let them know that a test file is ready for their review. Hoping they can provide feedback today, if possible but know it is late in the day for them.

[2021-11-29 20:15] sean-usds opened #3228 "TOS Feature Testing"
The Terms of Service form is currently up on staging. The next step is to have someone from O&O test the feature end to end to make sure it does what we need it to.

## Test Steps
1. Log in to staging.reportstream.cdc.gov
2. Fill our form in https://staging.reportstream.cdc.gov/sign-tos
3. Verify the correct information is sent to the reportstream@cdc.gov email inbox
4. Verify the correct informat

[2021-11-29 20:16] sean-usds commented on #3228
cc @kevinhaube

[2021-11-29 20:17] kevinhaube commented on #3228
@Adrian-Brewster You'll have troubles testing this until the rate limiter and IP ranges are put in place. Sean and Chris are going to adding those, and then I have a branch ready to merge that'll open it up for testing. I went ahead and threw this into ticket #3223

[2021-11-29 20:26] RickHawesUSDS opened #3229 "Tribal Citizenship is not reported correctly in the HL7 ReportStream produces"
**Describe the bug**
The tribal citizenship is not coded correctly in the HL7 ReportStream produces. Specifically, the PID-39 field is missing PID-39.2 and PID-39.3.

**Impact**
WA has complained that their system is not able to digest the PID-39 from ReportStream.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected

[2021-11-29 20:43] anshulkumar-usds commented on #911
Two items flagged by DE for next steps in validation:
1. Pass value "unknown" as Ordering Provider (OP) where OP is not provided
2. MSH-4 header is still coming in with a value of "NONE". The requested fix from DE is to include the clinic name and CLIA in this field.

[2021-11-29 21:14] sean-usds commented on #2133
1. sounds like the the best plan to me so long as we document in the Readme to help avoid any future issues.

do we need all the env files we presently have? just checked at we have the following:

.env
.env.local
.env.development
.env.test
.env.staging
.env.production

[2021-11-29 21:22] oslynn opened #3231 "Schema markdown documentation cleanup Type: CODE"
The schema .md docs are found in prime-router/docs/schema_documentation/ and generated with:
./prime generate-docs

The documents would be more informative to both us and the Sender community if we did the following:
•	  If type CODE, instead of Format: $display, show, Format: use value found in the Display column
•	  If type CODE, if there is no "format" specified, then show, Format: use value fo

[2021-11-29 21:24] loripusey commented on #3096
@cwinters-usds I added this ticket for DevOps to pull in for the next sprint to get our AAI resource configured, thanks!

cc: @rachelhanster @drew-usds

[2021-11-29 21:28] anshulkumar-usds commented on #2974
@rhood23699 and @hermanAlexCordero requesting your assistance on managing the ack and nack workflow for CA. I can provide more details in our standup. For now, we need to parse the messages from CA, and categorize them into themes for resolution among RS, state or sender.

[2021-11-29 21:31] TomNUSDS commented on #2133
`test` and `staging` ar the same for us. `.env.local` should never be in github and ONLY on local dev machines.

The order of operation is for us is:
 a. prod:  `.env` -> `.env.production`
 b. dev:  `.env` -> `.env.development` -> `.env.local`
 c. staging: `.env` -> `.env.development`

 For some setups (where there's a server) `.env.local` could be generated for prod and staging.

 We can/should s

[2021-11-29 21:41] rachelhanster commented on #3200
@victorialb-usds I requested @rhood23699 's help to forward you the call series with California.

[2021-11-29 21:54] anshulkumar-usds opened #3232 "HCA - Connect with FL and CO to propose pilot process"
During the kickoff session with HCA in August, 2021, FL and CO were proposed as good first states to begin our pilot for routing HCA specific COVID-19 feed from RS.

Next steps
1. Contact FL and CO and proposed next steps
2. Gather list of requirements

A/C
1. FL and CO are ready to ingest test feed of HCA COVID-19 data from ReportStream

[2021-11-29 21:59] mlighdc opened #3233 "NM - Incorporate NCES ID"
NM is expanding the use of SimpleReport to more schools and would like to leverage the ReportStream work done to date with the NCES ID.

NM would like test files sent prior to moving this into production for them.

For a test message, rather than “prod” in the file name, use “test” similar to during onboarding. Please let NM know when the test files / messages have been sent.

To Do:

- [x] Test f

[2021-11-29 22:20] hermanAlexCordero opened #3234 "STRAC - Add properties to sender schema"
## Problem statement

STRAC results are failing for MA (Issue 3134).  This is caused by missing testing_lab_ entries in the schema.  The entries need to be added to the strac-covid-19.schema.

## Acceptance criteria

- [ ] OBX-24 XAD must contain Performing Organization Address

## Testing

- [ ] Tested Locally?
- [ ] Ran deidentified file against local instance of Report Stream and verify OBX-24

[2021-11-29 22:41] mlighdc commented on #3233
NM would like test files sent prior to moving this into production for them.

For a test message, rather than “prod” in the file name, use “test” similar to during onboarding. Please let NM know when the test files / messages have been sent.

[2021-11-29 23:14] sean-usds opened #3236 "SPIKE -- Bug: PrimeAdmins is missing from the Settings db"
Context: https://github.com/CDCgov/prime-reportstream/issues/2989

Right now, we do not have PrimeAdmins in the Settings db. When we call workflowEngine.settings.findOrganization(orgName.replace('_', '-')) we are asking for the db to return that organization from the proper table, so when this returns null we see the error message written above. To fix this, the PrimeAdmins organization would firs

[2021-11-29 23:20] sean-usds opened #3237 "Bug: Add header/auth comparison to fix PrimeAdmins report access"
Context: https://github.com/CDCgov/prime-reportstream/issues/2989

Have a header/auth comparison to ensure that the user is requesting reports they're privileged to access w/ a PrimeAdmins case granting access despite the header (i.e. we pass dc-phd and aren't in that Okta group _but_we are in PrimeAdmins so we pass the check

## Acceptance Criteria
- Users added to PrimeAdmins Okta group can acce

[2021-11-29 23:21] sean-usds commented on #2989
This looks great @kevinhaube! Thanks for digging into this. I added these two tickets to our backlog so that we can size them and add to the next sprint. Feel free to edit any of the details

https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/3236

https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstr

[2021-11-30 01:03] MauriceReeves-usds opened #3238 "SOAP Transport Improvements"
A collection of issues centered on making improvements to the SOAP transport.

[2021-11-30 01:04] MauriceReeves-usds opened #3239 "Convert SOAP transport to use Fuel instead of ktor."

[2021-11-30 01:06] MauriceReeves-usds opened #3240 "Remove SOAP response body from logging"

[2021-11-30 01:08] MauriceReeves-usds opened #3241 "Add processing for SOAP Fault messages"
Document and log error in the database table to ensure it goes to PagerDuty

[2021-11-30 01:13] MauriceReeves-usds opened #3242 "Add tests to IGNORE for SOAP"

[2021-11-30 01:58] #1403 closed

[2021-11-30 01:58] #2588 closed

[2021-11-30 02:50] RickHawesUSDS commented on #3234
Is the proposal that STRAC add these fields (which will not happen) or RS fill them in?

[2021-11-30 03:03] RickHawesUSDS opened #3243 "ReportStream has a false assumption of UTC for timestamps without time zones"
**Describe the bug**
ReportStream is making a false assumption that all input timestamps without a time-zone are in the UTC timezone.

**Impact**
Impacts all SimpleReport, LA and AL test results have an incorrect specimen collect date-time.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a CSV from SimpleReport or guc-la or probably most reports from the CSV uploader.
=> Notice that spec

[2021-11-30 04:57] RickHawesUSDS commented on #2191
After talking with Cle, it look's like the best way to tackle this just add watch dog like function to trigger the empty batch.

[2021-11-30 04:58] RickHawesUSDS commented on #2974
@anshulkumar-usds can you provide example CA ACK and NACK messages?

[2021-11-30 12:05] rhood23699 opened #3244 "Solution Testing - Prod/Test Internal"
**Description:**
Complete testing with A1H in PROD environment while blocking results to Public Health.

**Main Objectives & Tasks:**
- [x]  Move all RS development to Staging & PROD.
- [ ] Validate Production data and make all necessary RS changes. - **In-Progress**

[2021-11-30 12:09] rhood23699 commented on #3244
11/29/21 - Reviewed A1H production test file.  Email'd A1H questions.  They are 1) There is a column named "Patient County".  Will this always be populated? Is this entered manually, or does your system populate it automatically?  2) The Provider ID/ NPI column is blank.  Is there a way to insure this is populated?  We don't fail the message on a blank value because some states will accept a blank

[2021-11-30 12:20] rhood23699 commented on #3244
Below the changes to the schema.  The plan is to have these PUSH'd to PROD on Thursday, 12/2/21.

- Changing FIPS lookup from Zip to County/FIPS to State+County to FIPS.
- Add code to ignore the column "Ok to Contact Patient"

[2021-11-30 12:22] rhood23699 opened #3245 "A1H Solution Testing - Prod/Test External"
**Description:**
Complete full Integrated Test with the State Public Health Department.

**Main Objectives & Tasks:**

- [x] Contact the State Public Health Department to setup testing with Production data in the Production environment.
- [x] Work directly with the State Public Health Department to complete Integrated Testing and gain approval to move into Production.

[2021-11-30 12:25] rhood23699 commented on #3245
Current plans are to address steps required to begin A1H testing on the Thursday, 12/2/21 weekly sync call with CA.

[2021-11-30 12:29] rhood23699 opened #3246 "A1H Solution Imp. - Plan & Schedule Go Live"
**Main Objectives & Tasks:**

- [x] Change schema field processing_mode to "P" from "T".

- [x] Contact RS Pipeline Team to turn on HHSProtect reporting.

- [ ] Determine if there is a backlog of results.  If so, contact the SPHD to determine what results are needed.  Example, in AL, if a Sender has only reported positives only through the ADPH Report Card, then ADPH wants all COVID (positive & ne

[2021-11-30 12:32] rhood23699 opened #3247 "A1H - Solution Imp. - GO LIVE & Post LIVE Review"
**Main Objectives & Tasks:**

- [x]  Monitor daily uploads for errors and contact A1H if results need to be corrected and resent.  Monitoring will continue until the permanent fix for an invalid equipment model name has been implemented.

[2021-11-30 13:24] #2682 closed

[2021-11-30 13:24] whytheplatypus commented on #2682
Closing in favor of #2112

[2021-11-30 13:54] rhood23699 commented on #1976
Based on our meeting yesterday with Carlos, Aurora and Kevin, I've updated the Examples and Accept Criteria.

[2021-11-30 14:01] rhood23699 opened #3248 "Basic Row Filtering"
## Problem Statement
As an **EMR platform user**, my data may contain Rows that represent an order not a result, and Rows for test results that are not accepted by ReportSteam.

## Examples
As an example, when a user orders a test, their system sends at least two rows of data.  One for the order and one or more rows with results. If the CSV field named "RecordType" has "O", then the Row should be

[2021-11-30 14:01] MauriceReeves-usds opened #3249 "Add Remote Test Type for SOAP"

[2021-11-30 14:02] MauriceReeves-usds commented on #3238
FYSA: @anshulkumar-usds @Adrian-Brewster I have added the following epic to include changes and improvements for the SOAP transport type based on code reviews.

[2021-11-30 14:47] loripusey commented on #1976
Thanks @rhood23699, we will re-refine this at our next refinement based on the new AC.
cc: @sean-usds @ahay-agile6

[2021-11-30 14:55] loripusey commented on #3248
@rhood23699 Can you elaborate on your statement above "Details of the AC will be determined by whether or this process is done within ReportStream or not"; how will the implementation change the AC?
cc: @rachelhanster

[2021-11-30 14:55] rhood23699 commented on #1976
Note, @kevinhaube and I are moving forward based on our meeting yesterday.
cc: @sean-usds @ahay-agile6

[2021-11-30 15:07] rhood23699 commented on #3248
ReportSteam as-is cannot exclude rows from processing.  If the Engineers believe that RS can be modified to exclude rows, then we'll have to wait and see how they plan to accomplish it.  Basically, will we use the existing lookup table and mapper functionality or not.  If RS cannot be modified, then Engineer will have to determine how this will be accomplished in the front-end CSV Uploader.

[2021-11-30 15:56] anshulkumar-usds commented on #3233
@RickHawesUSDS are there any configurations updates you need to do on your side to enable this function for NM? Same learnings can be applied to CA as well when they get back to us.

[2021-11-30 16:06] anshulkumar-usds commented on #2835
Blocked: SimpleReport team investigating. Unclear next steps for RS at this time.

[2021-11-30 16:30] anshulkumar-usds commented on #2835
Closing ticket: SimpleReport team will follow up with MD on next steps for remediation.

[2021-11-30 16:30] #2835 closed

[2021-11-30 16:59] HeatherRienks commented on #2740
@drew-usds & team, let's discuss what would work best.

cc; @loripusey @rachelhanster

[2021-11-30 17:03] kevinhaube commented on #2989
@sean-usds Awesome! Thank you!

[2021-11-30 17:03] loripusey opened #3251 "Update Live States on SVG Map"
## Problem Statement
As ReportStream Product, we need to keep our map of live states up-to-date so that we communicate the state of our application to our current and prospective users and other stakeholders.

![image.png](https://images.zenhubusercontent.com/60db6a817900f619905e68b1/b2c1d406-eb24-44b4-b53b-194e3911f53c)

[2021-11-30 17:06] hermanAlexCordero commented on #3234
RS will fill them from the testing_lab fields.  Just need to update the schema.  I already tested locally.  Getting ready to do the pull request.

[2021-11-30 17:08] loripusey opened #3252 "Sprint 31 - Update Live States on SVG Map"
## Problem Statement
As ReportStream Product, we need to keep our map of live states up-to-date so that we communicate the state of our application to our current and prospective users and other stakeholders.

## Acceptance Criteria
- Update the SVG map so that all states that have a status of "Live" in the [spreadsheet](https://cdc.sharepoint.com/:x:/t/USDSatCDC/EetP9vPm-npFpt009d1ziB8BYeQNtvq0kr

[2021-11-30 17:13] jimduff-usds opened #3253 "HCA - New ReportStream topic: 'full-elr'"
This needs grooming.

- Create a new schema 'full-elr.schema', in the folder metadata/schemas/, top level.
- It'll have a new "topic" 'full-elr', NOT 'covid-19'
- create a child schema for HCA, setting the sender-id default etc.
- Run our same sample set through it.
- We'll work through the other issues here in the context of this new topic.
- At a minimum, it'll have test_performed LOINC but not

[2021-11-30 17:20] loripusey opened #3254 "Sprint 35 - Update Live States on SVG Map"
## Problem Statement
As ReportStream Product, we need to keep our map of live states up-to-date so that we communicate the state of our application to our current and prospective users and other stakeholders.

## Acceptance Criteria
- Update the SVG map so that all states that have a status of "Live" in the [spreadsheet](https://cdc.sharepoint.com/:x:/t/USDSatCDC/EetP9vPm-npFpt009d1ziB8BYeQNtvq0kr

[2021-11-30 17:20] loripusey opened #3255 "Sprint 33 - Update Live States on SVG Map"
## Problem Statement
As ReportStream Product, we need to keep our map of live states up-to-date so that we communicate the state of our application to our current and prospective users and other stakeholders.

## Acceptance Criteria
- Update the SVG map so that all states that have a status of "Live" in the [spreadsheet](https://cdc.sharepoint.com/:x:/t/USDSatCDC/EetP9vPm-npFpt009d1ziB8BYeQNtvq0kr

[2021-11-30 17:21] loripusey opened #3256 "Sprint 34 - Update Live States on SVG Map"
## Problem Statement
As ReportStream Product, we need to keep our map of live states up-to-date so that we communicate the state of our application to our current and prospective users and other stakeholders.

## Acceptance Criteria
- Update the SVG map so that Iowa shows as Live on these pages
    - https://reportstream.cdc.gov/
    - https://reportstream.cdc.gov/how-it-works/where-were-live
- Up

[2021-11-30 17:25] loripusey commented on #3251
@anshulkumar-usds @drew-usds @sean-usds I created this Epic with a story for each sprint for us to update the "Live" map in RS. We can evaluate at Sprint Planning if there are new states to add, based on the tracking spreadsheet, and pull in the story if there are new ones to add. If not, we can close the ticket for that sprint.
cc: @rachelhanster

[2021-11-30 18:11] hermanAlexCordero commented on #3234
Double ticket.  Ticket 3134 covers this issue.  We'll be closing this ticket.

[2021-11-30 18:12] #3234 closed

[2021-11-30 21:12] anshulkumar-usds commented on #3039
FL-state is hesitant to ingest duplicate records. Hence, we shared accession IDs of missing records for the county. The county will reference these to work with the state. No action needed from RS at this time until we hear from county.

[2021-11-30 21:55] rhood23699 commented on #2243
@loripusey @TomNUSDS KevinH and I have started work on the Lookup Table for Tests Performed, so I'm ready to discuss the table definition and mapper functionality whenever you are.  We can pull @kevinhaube or @ahay-agile6 in if needed to make sure that I don't get anything wrong. :)