[2022-09-13 22:26] BerniXiongA6 commented on #5420
@jbiskie @BerniXiongA6 will look into these files in "Staging" tomorrow to determine whether ready to move them to Prod.

[2022-09-13 22:27] #6379 closed

[2022-09-13 23:32] sliu1000 commented on #6599
User requesting update:

I wanted to check in with you on the test HL7 messages we sent over last week. Have you had a chance to review them and, if so, do you have any feedback for our team?

Thank you,
Christina

[2022-09-14 12:20] jeremy-page opened #6722 "Add filter to prime router"
As someone with a brain I want build_hub.yml only to trigger when there are changes to the /prime-router directory

[2022-09-14 12:22] #6722 closed

[2022-09-14 13:59] oslynn commented on #6457
Prod and Staging database setting are updated.

[2022-09-14 14:20] sliu1000 commented on #6550
Update from Sender:

I wanted to check in with you on the test HL7 messages we sent over last week. Have you had a chance to review them and, if so, do you have any feedback for our team?

[2022-09-14 16:47] RakshindaAslam opened #6723 "Review Error and Warning Msg recommendations for approval"
## Problem statement
As an Admin user, when sending incorrect/invalid data through ReportStream, I want to see actionable and easy to understand error and warning messages, clearly identifying the problem and giving some guidance on how to send data correctly.

O&O team - please review
[ ]  The linked excel sheet with current msgs in columns B and recommended msgs in column I and give your approva

[2022-09-14 16:49] RakshindaAslam commented on #6723
cc @HeatherRienks @BerniXiongA6 @a-chappelear @sarahnw
@BerniXiongA6 - Ticket to implement this has been picked up for our current sprint so expediting this for O&O will be much appreciated. Thank you!

[2022-09-14 16:57] BerniXiongA6 commented on #6723
@BerniXiongA6 can bring up to O&O team at next Stand-Up/16th Minute to assign ticket to all engineers.

[2022-09-14 17:04] BerniXiongA6 commented on #5420
Call with CLX team is being scheduled for Friday w/ @BerniXiongA6 @jbiskie -- hopefully we can clear the confusion as to why they think they're in Prod and we think we have yet to complete onboarding? cc: @sliu1000

[2022-09-14 17:11] #5840 closed

[2022-09-14 17:11] #5747 closed

[2022-09-14 17:15] sliu1000 commented on #6471
Update requested from TN - CEDS Informatics:

Hello,

We wanted to check if all these messages have been resent to TN?

Thanks,

CEDS Informatics

[2022-09-14 17:28] brick-green commented on #6471
Not yet. They sent a sample backlog on monday but there were still issues with the messages. So I sent feedback yesterday. Not sure about a timeline but I relayed the importance of reporting results in a timely manner.

[2022-09-14 17:40] brick-green opened #6724 "CA - MSH-4 confusion - Resubmission"
CA expected CSV uploaders to have CDPH000085 in MSH-4, they were initially being reported with CDPH000087, then during the portover we confirmed that the MSH would change from that 87 to 85 identifier.

The issue has been fixed. Now we need to look to resubmission. The full list is >3000. Spliting that list into multiple tickets of 500 each.

[2022-09-14 17:41] brick-green commented on #6577
Closing as issue has been fixed. Other tickets for resubmissions

[2022-09-14 17:41] #6577 closed

[2022-09-14 17:42] sliu1000 commented on #6471
@brick-green I'll let them know that we are still waiting on the Sender to update/finalize the messages prior to sending back out.

[2022-09-14 17:45] GilmoreA6 opened #6725 "Programmer's guide -embedded HL7 message lost when converted to pdf"
Hi Experiences!

The embedded HL7 example message on the programmer's guide is getting converted to an image when the programmer's guide is exported to a PDF. Is there a way to have the PDF retained the embedded file on the document so that users can download the file as the example text loses critical formatting when turned into a PDF. Alternatively, could we have it added to the front-end as a l

[2022-09-14 19:25] brick-green opened #6726 "CA - MSH-4 Resubmission 1"
Messages need to be resubmitted due to error with settings. See document for specimen id list.

[2022-09-14 19:26] brick-green commented on #6726
[CA Resubmission 1.csv](https://github.com/CDCgov/prime-reportstream/files/9569318/CA.Resubmission.1.csv)

[2022-09-14 19:27] brick-green opened #6727 "CA - MSH-4 Resubmission 2"
Messages need to be resubmitted due to error with settings. See document for specimen id list.

[CA Resubmission 2.csv](https://github.com/CDCgov/prime-reportstream/files/9569322/CA.Resubmission.2.csv)

[2022-09-14 19:29] brick-green opened #6728 "CA - MSH-4 Resubmission 3"
Messages need to be resubmitted due to error with settings. See document for specimen id list.

[CA Resubmission 3.csv](https://github.com/CDCgov/prime-reportstream/files/9569332/CA.Resubmission.3.csv)

[2022-09-14 19:30] brick-green opened #6729 "CA - MSH-4 Resubmission 4"
Messages need to be resubmitted due to error with settings. See document for specimen id list.
[CA Resubmission 4.csv](https://github.com/CDCgov/prime-reportstream/files/9569349/CA.Resubmission.4.csv)

[2022-09-14 19:31] brick-green opened #6730 "CA - MSH-4 Resubmission 5"
Messages need to be resubmitted due to error with settings. See document for specimen id list.

[CA Resubmission 5.csv](https://github.com/CDCgov/prime-reportstream/files/9569358/CA.Resubmission.5.csv)

[2022-09-14 19:32] brick-green opened #6731 "CA - MSH-4 Resubmission 6"
Messages need to be resubmitted due to error with settings. See document for specimen id list.

[CA Resubmission 6.csv](https://github.com/CDCgov/prime-reportstream/files/9569365/CA.Resubmission.6.csv)

[2022-09-14 19:41] sliu1000 opened #6732 "Monkeypox - DOB/Age Fields for Mayo"
## Problem statement

We are having some issues with Mayo clinics MonkeyPox data submissions.  The monkeypox patient age data needs to match the COVID-19 schema for patient age.

## What you need to know

I think the fix for the DOB/Age fields for Mayo should be pretty straightforward. Currently the patient_age field is calculated via a mapper. If we change that field to be patient_age_calculated

[2022-09-14 21:20] jbiskie opened #6733 "Handle result in any OBX Set ID"
## Problem statement

Currently ReportStream requires that the COVID-19 result appears in the first OBX instance (typically Set ID = 1). Providence results may appear in any Set ID. While atypical for our senders, this is valid and allowed by the HL7 spec. So we need to be able to accommodate this.

This is a blocker for full onboarding of Providence.

## What you need to know

Examples are in key

[2022-09-14 21:29] kevinhaube opened #6734 "Error template compatible with RSNetworkError"
## Problem statement

Work is being done on #6522 to create an error handling system for network calls. To better communicate network errors to our users, we should consider the interfaces presented by the RSErrorBoundary.

Currently it can catch two types of errors:

- `RSNetworkError` (with `name` indicating what kind of error it was)
- Every other throw (generic `Error`)

For the former, it sho

[2022-09-14 21:35] kevinhaube opened #6735 "Make Table handle suspense and error"
## Problem statement

Right now, our custom `Table` component loads all data before any table structure is shown; the result is a spinner on a blank page. What's more preferable is the user already accessing the table UI, and the loading spinner only populating the part of the page where the data has not loaded.

In laymen's terms: **we should see the table headers even if data is still loading!**

[2022-09-15 01:27] #6694 closed

[2022-09-15 05:14] HeatherRienks commented on #6588
@a-chappelear - let's plan to review on 9/15 once it hits staging (since deployment did not happen on 9/13 due to merge conflicts).
cc: @drew-usds

[2022-09-15 16:01] BerniXiongA6 commented on #6718
@jorg3lopez you rock, thank YOU for cleaning up the ticket AC!

[2022-09-15 16:09] BerniXiongA6 opened #6740 "OK - Create organization and receiver settings"
### Problem Statement
Oklahoma will be a new jurisdiction connecting with ReportStream. They will need an organization and receivers added to the settings. There should be a receiver for testing and production.

### Acceptance Criteria
 - Organization created with jurisdictional filter for OK
 - Receiver for test environment created
 - Receiver for production env created

### To Do
- [ ]  Add orga

[2022-09-15 16:11] BerniXiongA6 opened #6741 "OK - validate HL7 over REST"

[2022-09-15 16:16] BerniXiongA6 commented on #6740
@greene858 @brick-green I just created this ind. ticket for OK onboarding epic. If this has already been completed, go ahead and close it out. But at least we have it on record. If it still needs work, let's get this assigned asap. Thanks!

[2022-09-15 16:21] BerniXiongA6 commented on #6741
Hey @brick-green @greene858 I created this ticket thinking that it might apply for OK what we did for NY? If I'm wrong, please feel free to re-write and refine this ticket. Also, if there are more tickets that individually need to be written for this OK Onboarding epic, could I lean on you two to help me out? Thanks!

[2022-09-15 16:33] BerniXiongA6 commented on #6224
@BerniXiongA6 reached out to Eric and Malay again today to get a status update. Awaiting reply.

[2022-09-15 16:44] #6156 closed

[2022-09-15 16:44] #6200 closed

[2022-09-15 16:45] #6239 closed

[2022-09-15 16:45] #6060 closed

[2022-09-15 16:46] BerniXiongA6 commented on #6637
@sliu1000 FYI, we've converted this ticket from a support ticket to an Epic for "API Onboarding" since that's what the user was asking assistance on.

[2022-09-15 16:46] BerniXiongA6 opened #6744 "COVID Check Today - Complete Intro/Kickoff Meeting"

[2022-09-15 16:48] BerniXiongA6 commented on #6744
Scheduled intro/kickoff meeting for Friday 9/16 at 2pm ET.

[2022-09-15 18:12] HeatherRienks commented on #6503
@victorialb-usds @drew-usds - Hoping that @fmccaf1 could help you with this ticket!

[2022-09-15 18:22] BerniXiongA6 opened #6745 "Aspira Health - API Sender Onboarding"
### What You Need to Know

**Per Customer Support:**

Some background information:

ReportStream API – format HL7

Q: What is your expected message volume?

A: We currently report anywhere between 60-200 daily results

Q: Are you currently reporting to any other states outside of your state?

A: No just DE

Q: What is your current process for reporting COVID-19 data?

A: Manual entry through Redca

[2022-09-15 18:24] BerniXiongA6 commented on #6745
Completed intro/kickoff meeting on Wed 9/14/2022 with William Albanese

[2022-09-15 18:25] carlosfelix2 commented on #6573
Sample HL7 files from HCA (NO PII): [https://app.zenhub.com/files/304423150/15597d11-9a93-4aa3-860e-80160bb7a7f1/download](https://app.zenhub.com/files/304423150/15597d11-9a93-4aa3-860e-80160bb7a7f1/download)

Findings:
sample 20: None
sample 19: None
sample 18: PID-6 missing, PID-22 ethni
sample 17: PID-6 missing
sample 16: OBX-2 incorrect
sample 15: None
sample 14: ORC-14 has repeating numbers
s

[2022-09-15 18:43] oslynn commented on #6457
2022-09-15. Jason (RI) responded that both sample and production messages are good.  He then as for couple more production data to run more test.

"--- email --
Good Morning Ott,

I did see those come through and they both looked fine from my review so far. Could you send a couple more both positive and negative results through to our test region that are production specific messages so we can rev

[2022-09-15 19:37] #6047 closed

[2022-09-15 20:13] rnz6 opened #6747 "CA - Incorrect result submission during Ascensions"
From: vanessa.burkhart@cdph.ca.gov

Thanks for this update! I was spot checking accessions from the file I sent over & found we have not received the corrected results.

Example accession: MCL74708  received 8/25, MSH-4 not containing CDPH000085 led to error in our CalREDIE system:
![ascensions.png](https://images.zenhubusercontent.com/62828b77597e3bdcbc3834fd/6584e5b2-ac10-46b7-a776-7e0c2be6cbb0)

[2022-09-15 21:31] oslynn commented on #6231
2022-09-15.  Got with Emma Stephenson (SR).
"=== here message ===
Emma Stephenson (PST, she/her)
  4 minutes ago
Thanks!
I’m going to rely on
@Zedd Shmais (DFW, he/him)
 to double-check me here, but I believe that we can ask the facility to update their ordering provider phone # and facility phone #. After that, we should be able to use these message ids to resend the affected tests. The one that’

[2022-09-15 21:45] jbiskie commented on #6219
Emailed follow-up to cdphe_elr@state.co.us. These are Cue messages that went to the secondary feed.

First 2 appear to be bad DOBs.

Remainder from 8/1 appear to be ok. Asked for assistance with tracking down what the issue might be.

[2022-09-15 21:50] HeatherRienks commented on #3322
@TomNUSDS - I "think" this has now been updated!

[2022-09-15 21:57] brick-green commented on #6705
echo function was deprecated by dependabot. But the command files are not tested so it was not caught.

[2022-09-15 22:50] GilmoreA6 commented on #6723
See column J for comments

[2022-09-15 23:06] GilmoreA6 commented on #6723
@RakshindaAslam question about the Figma file "error/warning labels". Is that just a mock-up of what it will look like or is that an actual screenshot? Because the errors don't line up with the listed HL7 segments if so. If it's just a mock-up to show future format, it looks good.

[2022-09-16 14:25] oslynn commented on #6231
2022-09-16.  According to Messaged from Emma Stephen.  SimpleReport will get with senders to fill in those missing fields as in the attached file and will resubmit those messages accordingly.  Also, Zedd Shmais, will resubmit those messages with too long string to ReportStream (currently, RS is ready to truncate the OBX-17-1 as those messages contain).  I will move this ticket to ready to close co

[2022-09-16 14:58] BerniXiongA6 commented on #5420
Updates 9/16/2022: @jbiskie is working with CLX to test messages in Prod. After testing is validated, we could potentially go live with CLX early next week! cc: @sliu1000 @sarahnw

[2022-09-16 14:59] BerniXiongA6 commented on #5420
Updates 9/16/2022: Also @BerniXiongA6 will email an updated list of "Where We're Live" info to CLX contacts per their request.

[2022-09-16 15:07] carlosfelix2 opened #6751 "Identify any loss of data when processing staging's HCA samples through FHIR Engine"
### User Story:
As a developer, I want to know if there are any other data samples received by staging that result in data loss from using our current schemas, so I can document the missing data and create new issues to resolve them.

### Description/Use Case
We have been using one of the more complex HCA samples we received.  We need to use the rest of the pre-processed CO samples provided in the

[2022-09-16 15:09] brick-green commented on #6723
I think presenting the stack trace could be useful when there isn't information in the message as is the case with the first two. But can it be collapsed in dedicated section so it doesn't overwhelm the user on every error?

I agree with @GilmoreA6's comments in the the sheet.

[2022-09-16 15:12] sliu1000 commented on #6425
Update from Genabio:

They would like to start testing and need their Authorization and to be setup in the system.

To Do:  Please assign to an engineer

[2022-09-16 15:37] jbiskie commented on #6219
From CO DPH:

Thank you for checking on these error messages.  The first two were generated from our Onboarding system, which is used for testing.  Given that those were test transactions, I do not think that we need to worry about them.  We could work with how these errors are sent.  We currently have the error messages sent to [Reportstream@cdc.gov](mailto:Reportstream@cdc.gov).  We can add addi

[2022-09-16 15:53] jbiskie commented on #6219
Further conversation with Nancy Kesco:

`Received by: CDPHE ELR Onboarding`

Followed up with Sharon so we know what to look for on these now. Per Nancy we don't need to resubmit. Closing ticket.

[2022-09-16 15:53] #6219 closed

[2022-09-16 16:11] carlosfelix2 commented on #6573
[https://app.zenhub.com/files/304423150/e5a71c08-74f7-45d9-a530-817d9ed891aa/download](https://app.zenhub.com/files/304423150/e5a71c08-74f7-45d9-a530-817d9ed891aa/download)

[2022-09-16 16:22] TomNUSDS opened #6754 "404 pages broken with new router"
1. Go to non-existent URL: e.g. `http://localhost:3000/admin/foobar`
Observe: blank content body is returned instead of 404 content

<img width="450" alt="image" src="https://user-images.githubusercontent.com/74203452/190685220-1bc0a1a9-4170-4460-b0f2-f3939d7469ec.png">

[2022-09-16 16:29] kevinhaube commented on #6754
Closed by: https://github.com/CDCgov/prime-reportstream/pull/6753 :) thanks Tom!

[2022-09-16 16:29] #6754 closed

[2022-09-16 17:32] #6718 closed

[2022-09-16 18:04] oslynn commented on #6740
@BerniXiongA6 , after looking at the setting and database.  It looks like it is done.  I am confirming with @greene858 to see if this ticket can be closed or not.  If it is, I will close it.

[2022-09-16 18:26] oslynn commented on #5944
2022-09-16.  Follow up with Anthony for production data message for NJ to test.

Good after noon, Anthony,

Hope everything is going well for you.  Would you please provide me the status of production data message for NJ that will secure email to me?  I will process it through ReportStream and submit to NJ.

Very respectfully,
-Ott Sathngam
CDC SWE

[2022-09-16 18:41] BerniXiongA6 commented on #6744
Updates 9/16/2022: Completed quasi-kick-off call today with Ryan. He'd already started working with Rick Hood many months ago when priorities were different. Since June, they are now doing in-house testing and need to start reporting. @jbiskie will help them get onboarded. In the meantime, Ryan will work on grabbing us a list of their states and data in the backlog that need to be reported. I've s

[2022-09-16 18:41] #6744 closed

[2022-09-16 18:42] BerniXiongA6 opened #6755 "COVID Check Today - Validate test files"

[2022-09-16 18:51] oslynn commented on #5944
2022-09-16: Anthony, said next week they should have production data ready for NJ to test.

[2022-09-16 18:56] RakshindaAslam commented on #6723
@GilmoreA6 - The figma file is mock-up. Will schedule review of the integrated UI with O&O team when ready.
@brick-green - we have put the first 2 on hold for this ticket. Will look to have a version that will show stack trace in a different iteration.
Thank you both for a quick response on this!

[2022-09-16 19:08] sliu1000 commented on #6550
Update from Color:

The team working on the ReportStream project had a few general questions about the program and the API integration that they were not able to answer with the programmer's guide. Would there be a time the teams could meet next week or could we send you a short list of questions via email if a meeting wouldn't be possible?

Has an engineer been assigned to this?

[2022-09-16 19:15] BerniXiongA6 commented on #6599
Leaving this note here for @MauriceReeves-usds -- I'll let the Color team know you have been working on this ticket and that we can reply to any questions they have through email. If it ends up being that their tech team needs to chat with us further, I'd be happy to schedule a call next week if need be. cc: @sliu1000 @sarahnw

[2022-09-16 19:43] a-chappelear commented on #6588
This has been updated to only use a direct link vs the iframe. I also rearranged the cards slightly on the landing page (so the FAQs are the first per feedback received from O&O) I committed the changes to the same branch.

@drew-usds @RakshindaAslam @bgantick

![Screen Shot 2022-09-16 at 12.04.45 PM.png](https://images.zenhubusercontent.com/5d08f49d32d94d3393126018/26ae1a20-06bd-418d-a6c3-d1ef135

[2022-09-16 20:05] sliu1000 commented on #6569
9/16/2022 - Update from User from WA State - Jenni:

I am still unable to locate these records.  Would it be possible to get them secure emailed?

Jenni

9/15/2022 - 3:40 PM - Biskie, Joel (CDC/DDPHSS/OD/HITSSU) (CTR)

Jenni,

I've resubmitted the 3 transmissions.

Thank you,
Joel

[2022-09-16 20:39] oslynn commented on #6575
2022-09-16:  To setup download, we need the following info:

First name: ___
Last name: ___
Username: ___
Primary email: ___
Secondary email (optional): ___
Groups (Optional): ___

@sarahnw who is contact point for American Samoa that I can to get the above information?

[2022-09-16 20:41] #6592 closed

[2022-09-16 20:53] #5708 closed

[2022-09-16 20:53] #5912 closed

[2022-09-16 21:37] GilmoreA6 commented on #6593
Email sent to chris.magalei@doh.as with test CSV data

[2022-09-16 21:38] sliu1000 commented on #6755
Ryan Nelson from COVIDCheckToday provided some Dummy Records for review.

[2022-09-16 22:12] GilmoreA6 commented on #6678
Added users and sent activation emails. Matthew Christenberry already had an accounts but it was suspended for inactivity. An activation email was re-sent.

[2022-09-17 11:52] oslynn commented on #6575
2022-09-16: Slack Sarah and she will get the contact information for me.

[2022-09-19 12:54] carlosfelix2 opened #6757 "Identify any loss of data when processing COVID samples through FHIR Engine"
### User Story:
As a developer, I want to know if COVID data samples used in the COVID pipeline result in data loss from using our current base schema in the FHIR engine, so I can document the missing data and create new issues to resolve them.

### Description/Use Case
We need to use COVID data samples to find out if our configuration is missing anything.  Chances are we will see some data we are

[2022-09-19 12:55] carlosfelix2 opened #6758 "Identify any loss of data when processing Monkeypox samples through FHIR Engine"
### User Story:
As a developer, I want to know if Monkeypox data samples used in the COVID pipeline result in data loss from using our current base schema in the FHIR engine, so I can document the missing data and create new issues to resolve them.

### Description/Use Case
We need to use Monkeypox data samples to find out if our configuration is missing anything.  Chances are we will see some dat

[2022-09-19 13:08] carlosfelix2 opened #6759 "Support FHIR to HL7 integration tests for the FHIR Engine"
### User Story:
As a developer, I want to have integration tests that test the conversion from FHIR to HL7, so I know any future code/configuration changes do not break existing features.

### Description/Use Case
We have a translation test in the integration test suite that takes in an input, generates an output, then compares that output to an expected data file.  This works today for COVID CSV

[2022-09-19 13:16] carlosfelix2 commented on #5838
replaced by #6759

[2022-09-19 13:16] #5838 closed

[2022-09-19 13:26] carlosfelix2 opened #6760 "Design routing for FHIR Engine"
### User Story:
As a receiver, I want to be able to to configure my jurisdictional and quality filters, so I can define what data I want to receive.

### Description/Use Case
Similar to the COVID Pipeline, we need to design how the routing will work for the FHIR Engine.

### Risks/Impacts/Considerations
* How do we make this configuration flexible?
* How do we make it that is easy to read and less

[2022-09-19 13:32] carlosfelix2 opened #6761 "Design FHIR Engine's HL7 sender transform"
### User Story:
As a ReportStream, I want to be able to configure sender specific transforms, so I can fix data issues coming from senders.

### Description/Use Case
Similar to the COVID Pipeline, we need a way to modify the incoming data from a sender, so we can fix and/or manipulate the data for our purposes. This will not include de-identifying at this time.

### Risks/Impacts/Considerations
*

[2022-09-19 13:50] BerniXiongA6 commented on #6641
Updates 9/19/2022: Vault has responded to the kickoff email along with a sample message. This ticket is now available to work on.

[2022-09-19 13:54] BerniXiongA6 opened #6762 "CO Sender - Validate test files from Vault"
### What you need to know

- Vault has 2 states they report to that are requesting a switch over to ReportStream: Colorado and Delaware. Vault is already set up for Delaware, but now they need to be connected to Colorado.
-  Kickoff via email has already been completed.

### Acceptance Criteria
...

### To Do
- [x] Once engineer is assigned, have @BerniXiongA6 forward all email chain along with sa

[2022-09-19 15:11] TurkeyFried commented on #6138
Tested for circular references based on legit schema issues. The library handles cases such as "Encounter.partOf itself" or "Encounter.part of an Encounter that's part of the first one" fine with no looping.

Will test with badly entered configs yet, with schemas referring to themselves.

[2022-09-19 15:24] GilmoreA6 commented on #6575
Email sent to Chris Magalei (chris.magalei@doh.as). Email sent with example file as part of #6724. Also asked for list of users needed.

[2022-09-19 16:11] lucasdze opened #6767 "Fix Java code build issue during Codeql scan"
Error: 9-19 16:10:53] [ERROR] Spawned process exited abnormally (code 1; tried to run: [./gradlew, --no-daemon, -S, -Dorg.gradle.dependency.verification=off, --init-script, /tmp/semmleTempDir/init.gradle, clean])
  Error: We were unable to automatically build your code. Please replace the call to the autobuild action with your custom build steps.  Failure invoking /opt/hostedtoolcache/CodeQL/0.0.0

[2022-09-19 18:24] BerniXiongA6 commented on #6427
Updates 9/19/2022: Stacy from Osang followed up today on status. Will let her know @MauriceReeves-usds  is working on it. cc: @sliu1000

[2022-09-19 19:08] sliu1000 commented on #6762
Tara Brook from redoxengine provided a sample message file for review.

[2022-09-19 19:36] sliu1000 opened #6771 "NY - Resubmission due to file corruption"
## Problem statement

Please resubmit the below listed files, The files we got they are corrupted in transport and ECLRS can’t able to process those corrupted files.

## What you need to know

09/18     2 files
fbf9aaba-`9dc6-446c-914e-15677f89e488`.hl7
3d7f20a5-`c815-4be5-bb0c-7dfce368d910`.hl7

09/17     7 files
bfe9a832-`dcb6-4d8c-b1b9-d7f07e2f69f1`.hl7
a789011f-`957c-4e87-b1ea-9d2d8d98346c`.hl

[2022-09-19 19:37] #6705 closed

[2022-09-19 19:46] sliu1000 commented on #6355
Update from Amy Manjon:

Hello,

Just wanted to drop you a quick update on this. We are getting close to setting a new go-live date but do not yet have it finalized. I’ll get back to you once we have more information on timelines.

Thanks,

[2022-09-19 19:51] sliu1000 opened #6773 "MA - ELR Connection Issue on 9/18"
## Problem statement

The State of Massachusetts emailed us that they did not make an ELR connection on 9/18.
Please confirm whether or not we need to resend any messages.

## What you need to know

Nikki Gilani from elr.cdsupport2@state.ma.us sent this inquiry on 9/19/2022 at 12:17 PM

## Acceptance criteria

- Confirm if MA needs to resend any messages for 9/18.

## To do

- [ ] ...

[2022-09-19 19:57] #6588 closed

[2022-09-19 20:07] oslynn commented on #6457
2022-09-19: Got response from Jason requested for more prod messages that contain "detected" and "not detected" results.  I got 6 messages that contains detected and not-detected result back to him.
"==== email ====
Good after noon, Jason,

I just submitted to your SFTP/Stagging a production data file (covid-19-production-data-with-dectected-and-notDetected-20220919144141.hl7).  It contains 6 mess

[2022-09-19 20:35] sliu1000 opened #6774 "ND - Nicole Weigel f/k/a Nicole Brunelle"
## Problem statement

Nicole has changed her name from Brunelle to Weigel.  She would like her account name and email to be changed to nmweigel@nd.gov .

## What you need to know

-I requested Nicole to please provide proof of name change. **(confirmed identity change)**
-Her account is suspended and needs to be reactivated.

## Acceptance criteria

- Name and email changed.
- Account Reactivated

[2022-09-19 21:15] Jcavallo7 opened #6775 "IL - Missing City Data"
From User:

Report Stream Team,

We had a complaint about several records coming in with no city and I am wondering if that is an issue that can be corrected.  I am not sure if this is an issue with your system or the submitting facility but all the ones in this file from different labs are all missing the city for the patient address.  This file was sent on 9/2 but the issues was just reported to

[2022-09-19 21:22] oslynn commented on #6740
Tom Green is working on it.

[2022-09-19 21:29] brick-green commented on #6505
Looks like the same file was sent twice. I think it was resent after CO had some transport failures

[2022-09-19 21:29] #6505 closed

[2022-09-19 21:30] brick-green commented on #6619
Duplicate send - occured during testing

[2022-09-19 21:30] #6619 closed

[2022-09-19 21:30] brick-green commented on #6585
passwords were reset by @MauriceReeves-usds

[2022-09-19 21:30] #6585 closed

[2022-09-19 23:29] sethdarragile6 commented on #6327
some related incidents:

https://prime-cdc.pagerduty.com/incidents/Q1MONG32Z6349T
https://prime-cdc.pagerduty.com/incidents/Q2YS38S4A203BF

[2022-09-20 13:21] oslynn commented on #6575
@GilmoreA6 and I will pair programming regarding American Samoa.

[2022-09-20 14:01] brick-green commented on #6580
closing as duplicate ticket

[2022-09-20 15:06] sarahnw opened #6780 "Intrivo post-product issue: Error : Blank value for element ORC-22-4 (ordering_facility_state)"
Intrivo is having some messages fail to send through based on what they expect is a blank state, zip code provided.
They're receiving this error "Error : Blank value for element ORC-22-4 (ordering_facility_state)"

I think this is because we handled this via patient state and not ordering facility state in ticket 5700.

A/C
- confirm that the RADX MARS spec either requires or does not require ORC-

[2022-09-20 15:59] sliu1000 commented on #6773
During morning standup James mentioned that this was taken care of.  I have alerted MA State and waiting for their confirmation that all is good.

[2022-09-20 17:31] sliu1000 commented on #6599
Received Follow-up Questions from Color:

- Can you give us an idea of how many messages are being processed each day? And how many folks have adopted ReportStream?

- Can we generate a public / private key pair for JWT-based auth (and you'll store the public key on your end) ? Otherwise, if we need to use the shared API key method, can you generate this and share it with us in Keybase?

- When ar

[2022-09-20 17:35] sliu1000 commented on #6773
MA confirmed the file and are all set.

[2022-09-20 17:35] #6773 closed

[2022-09-20 19:09] sliu1000 commented on #6780
Update from Karim from Intrivo:

Please note that since OnGo tests are not prescription and are considered OTC, we are using Patient (PID) address field values for Ordering Facility (ORC) based on the direction from the implementation guide.

[2022-09-20 19:13] sliu1000 commented on #6425
Update from Maurice to Genabio:

Sorry for the delay on the response. I have reviewed the file that you provided and just noticed that for both the patient_state and the ordering_facility_state fields you are providing the full state name. Are you able to change that to be the postal abbreviation instead?

Aside from that issue, I think we are good to move to connecting you to the staging environm

[2022-09-20 20:38] lucasdze commented on #6614
Created PR https://github.com/CDCgov/prime-reportstream/pull/6781 to resolve this issue

[2022-09-20 20:44] lucasdze opened #6783 "Disable/Remove LGTM.Com Code Analysis from Github"
COdeQL has been set up to run code Analysis on any PR merging to Master. LGTM is approaching End of Life. New commits will no longer be analyzed by the end of Nov 2022.

[2022-09-20 20:45] #6767 closed

[2022-09-20 23:49] oslynn commented on #6459
2022-09-20.  Analyzed the message and verified that sender (SafeHealth) didn't fill the LOINC code (OBX-3).  I requested them to resubmit the message.
" === email ===
Dear: Dave Cassell, or Santosh Jami,

My Name is OTT SATHNGAM.  I am an Engineer who assigned to work on your message with message ID = SH00116_fffb180bf847466496d1cc3baa2ae5e7 that sent to WA.
It was sent around 2022-08-22.  The mes

[2022-09-21 12:27] oslynn opened #6784 "Investigate SFTP error for MS-DOH-ELR."
Error prompt 2022-09-21.  Perhaps, it's credential expired.

[1;31m20:20:30.796 [pool-2-thread-92][3938] FATAL-ALERT gov.cdc.prime.router.azure.SendFunction - FAILED Sftp upload of inputReportId ea60e9b2-18b0-4969-a3b9-4ba27a92b8ce to SFTPTransportType(host=172.17.6.20, port=22, filePath=./upload, credentialName=null) (orgService = ms-doh.elr), Exception: Status code 404, '{'error':{'code':'Secret

[2022-09-21 12:28] shy2cdc commented on #6747
From Vanessa:

Hi all,

Hope the week is well.

Looks like there was an attempt for these to be resent, but they are still facing the same issue: MSH-4 does not have CDPH000085 as expected so these results received today are still not processing, example from Pacific Clinical Lab seen today:

`MSH|^~\\&|CDC PRIME - Atlanta,^2.16.840.1.114222.4.1.237821^ISO|PACIFIC CLINICAL LAB^05D2062640^CLIA|CDPH

[2022-09-21 12:29] shy2cdc commented on #6590
Email from Santosh:

Hi Brick,

Here are the reprocessed messages with Zip fix, submitted to Staging.
Please review.

PatientZip and OrderingProviderZip are already in there.

Thanks
Santosh

[2022-09-21 13:45] BerniXiongA6 opened #6786 "DE - Create workaround for ORC-12-2 and ORC-12-3 fields that are blank"
## Problem statement

Ongoing blank ORC-12-2 and ORC-12-3 fields in ImageMover's schema will continue to cause system failures for Delaware. ReportStream can create a workaround for Delaware so that we can prevent the fields from blanking.

## What you need to know

This is the email @BerniXiongA6 sent to Delaware:

## Acceptance criteria

- [ ] The default Ordering Practitioner is set as "Dr. Gre

[2022-09-21 14:16] RakshindaAslam opened #6787 "Usability Test for ValueSet feature"
## Problem statement

Perform usability test for the ValueSets MVP built for O&O admin team to identify:
- Satisfaction level with the MVP as delivered
- Issues/challenges with the UI/functionality of the feature
- Enhancement requests/if any

## What you need to know

## Acceptance criteria

Performed usability test for the ValueSets MVP built for O&O admin team to identify:
- Satisfaction level

[2022-09-21 14:17] RakshindaAslam commented on #6787
@a-chappelear - new ticket for usability test for Valuesets - needs to be pre-refined

[2022-09-21 14:27] RakshindaAslam opened #6789 "Usability testing for Validation Service"
## Problem statement
Perform usability testing for Validation Service with O&O team to understand if the MVP delivers functionality as expected to allow internal admin to validate HL7 messages easily and get error/warning/quality filter messages for faster validation. The purpose of this effort is to identify what updates/new enhancements need to be made to make the tool useful for the  O&O team f

[2022-09-21 14:28] #6465 closed

[2022-09-21 14:28] RakshindaAslam commented on #6789
@a-chappelear - new ticket for pre-refinement.
cc @HeatherRienks

[2022-09-21 14:34] a-chappelear commented on #6787
Added a few to-do's!

[2022-09-21 15:17] GilmoreA6 commented on #6639
9/16 - Followed up with BZD

"Hi Qais and Desiree,

I have sent you the keys and example curl command via keybase message. Please let me know if you have any difficulty retrieving them. Please attempt to send a file to staging that contains only fake patient data. If you encounter errors, let us know so we can troubleshoot.

Thanks,

James Gilmore"

[2022-09-21 15:19] GilmoreA6 commented on #6589
9/16 - asked for update
"Hi Qais and Desiree,

I wanted to check in and see if you have been able to retrieve the keys and example curl command from the Keybase message I sent. Please let me know if you have any questions/

Thanks,

James"

[2022-09-21 16:27] #6732 closed

[2022-09-21 16:38] doug-s-nava commented on #6717
a couple notes:
• since message ids are unique per org, but not unique globally, we can require a selected org and filter message ids returned by selected org in order to target responses
• in order to limit complexity and get most important information out, return latest message data as first iteration, displaying a full history for a message id is a good second iteration

[2022-09-21 16:40] ahay-agile6 commented on #6717
another consideration: should we connect to the readonly database?

[2022-09-21 17:04] #5525 closed

[2022-09-21 17:05] #6310 closed

[2022-09-21 17:08] #6469 closed

[2022-09-21 17:09] #5750 closed

[2022-09-21 17:09] #5755 closed

[2022-09-21 17:18] #6299 closed

[2022-09-21 17:20] #6579 closed

[2022-09-21 18:12] jeremy-page opened #6793 "Create dummy action for Frontend"
Looks like we need to create a dummy build for the Frontend GHA since it's required but we have a filter now that skips it if there is no change to the `/frontend-react`

`Frontend / Build Frontend React (pull_request) Skipped`

[2022-09-21 19:28] a-chappelear commented on #6723
@RakshindaAslam @bgantick: I edited the col & highlighted it as just final "error msgs" - it folds in the feedback above!

[2022-09-21 19:44] doug-s-nava opened #6794 "Get Frontend Server Running in Docker Container"
## Problem statement
As a ReportStream developer I want to be able to run our frontend service in a container,  to allow for fully containerized usage of ReportStream, most immediately in order to allow for end to end Cypress testing in deployed environments.

## What you need to know

* Cypress implementation card with links to SimpleReport Cypress resources https://app.zenhub.com/workspaces/expe

[2022-09-21 20:10] RakshindaAslam commented on #6723
Thank you @a-chappelear! cc @doug-s-nava for #5643

[2022-09-21 20:40] oslynn commented on #6784
2022-09-21: Check Azure Vault and ran curl to check SFTP for MS-DOH.ELR.  They all works just fine.  Perhaps, the issue was on their side and got fixed.

[2022-09-21 21:09] jimduff-usds opened #6797 "Add a loooong-wait retry delay when Send fails."
We agreed at the Monday 9/19/2022 Dev Sync that we'd explore adding one or two more retries, with long delays, to our "exponential" backoff mechanism.  Note that the backoff mechanism is already in place.  This is just a case of adding to it.

See `SendFunction.kt`.  As of this writing, these are the retries:

[code]
(Note:  that comment looks mildly wrong: there's no real pattern to how often we

[2022-09-21 21:12] lucasdze commented on #6793
I created PR https://github.com/CDCgov/prime-reportstream/pull/6798 to resolve this issue

[2022-09-21 21:26] jbiskie commented on #6730
Results in this ticket are past the 60 day window. We're unable to resubmit.

[2022-09-21 21:26] jbiskie commented on #6731
Results in this ticket are past the 60 day window. We're unable to resubmit.

[2022-09-21 21:53] sarahnw commented on #5219
@victorialb-usds is this something we need anymore?

[2022-09-21 21:54] sarahnw commented on #5218
@victorialb-usds is this something we need anymore? is this a dupe? I'm removing O&O's label.

[2022-09-21 22:13] sarahnw commented on #6202
@BerniXiongA6 this may be one timing out - but notes say it may be a transient issue. could we have someone check tomorrow that the files were resent if needed and then we can close this out?

[2022-09-21 22:19] sarahnw commented on #1877
no more open tickets.... closing this

[2022-09-21 22:19] #1877 closed

[2022-09-21 22:36] sarahnw commented on #6044
Hmm I think I already responded to NH about this one.

[2022-09-21 22:36] #6044 closed

[2022-09-21 22:37] sarahnw commented on #6606
closing this - we already have an epic to capture the work see #6438

[2022-09-21 22:37] #6606 closed

[2022-09-21 23:08] oslynn commented on #6457
2022-09-21: RI, Jason, requested one of the last message to fix PID-11-3.  He also requested another set of production data for further testing.
"=== Email to Jason ===

Good after noon, Jason,

I just submitted to your SFTP/Staging another production data file (covid-19-production-data-with-detected-and-notDetected-2022-09-21-175453.hl7).
It contains 6 messages with not-detected and detected resu

[2022-09-21 23:09] oslynn commented on #6731
2022-09-21: @jbiskie told me to not resent these messages since they are too old.  Therefore, I moved to

[2022-09-22 13:14] #5668 closed

[2022-09-22 13:20] bgantick commented on #3281
This work has been completed

[2022-09-22 13:20] #3281 closed

[2022-09-22 13:28] BerniXiongA6 commented on #5218
@victorialb-usds @drew-usds @sarahnw I remember this one -- when I was still on Exp. Team, I created the instructional guide on how to use the Submission History. I think the short term goal was to have Adrian email it to users. However, the ultimate goal was to have O&O review/approve the guide so that it could eventually become a resource (PDF or web copy) on the RS website. Let me bring this up

[2022-09-22 13:43] BerniXiongA6 commented on #5218
OK to close per @RakshindaAslam

[2022-09-22 13:43] #5218 closed

[2022-09-22 14:04] carlosfelix2 opened #6801 "HL7 to FHIR conversion needs to handle repetitions in ORC-14"
### User Story:
As receiver, I want to receive all the original data that was received by ReportStream, so I can act on the data.

### Description/Use Case
The ORC-14 field in the sample 14 in the `PreTranslation_to_State_CO.hl7` file has repetitions that the current HL7 to FHIR config cannot handle. Need a way to not lose this data.  The sample message ID (MSH-10) is `MT_COCZS_ORU_ZSPHELR.1.63844

[2022-09-22 14:06] #5112 closed

[2022-09-22 14:06] carlosfelix2 commented on #5112
OBE not working on profiles right now

[2022-09-22 14:23] carlosfelix2 opened #6802 "FHIR Engine HL7 Enrichment of sender data"

[2022-09-22 14:28] carlosfelix2 opened #6803 "FHIR Engine validates sender HL7 data"

[2022-09-22 14:45] oslynn commented on #6784
2022-09-22: It still has the same issue.  I will have to look into this further.

[2022-09-22 16:58] TomNUSDS opened #6804 "Text Differ for side-by-side compare doesn't function well for json"
The component that shows differences between to text areas is great for text, but doesn't work so well for json.

example
<img width="907" alt="image" src="https://user-images.githubusercontent.com/74203452/191298950-f50f9540-aaa6-40b2-9be5-61d40750e450.png">

The single character `n` in the middle of the diff block matches on both sides and creates a confusing compare for json (it matches the `n`

[2022-09-22 17:05] brick-green commented on #6729
I resent the messages I was able to. I highlighted the ones I resent as green and the rest as red in this file:

[CA.Resubmission.4.csv](https://github.com/CDCgov/prime-reportstream/files/9627940/CA.Resubmission.4.csv)

[2022-09-22 17:07] brick-green commented on #6747
@jorg3lopez  is resubmitting these under ticket #6726

[2022-09-22 17:13] #6747 closed

[2022-09-22 17:15] sethdarragile6 opened #6805 "Valueset Editor: Post-refactor Cleanup"
## Problem statement

Recently, we refactored the Valuesets backend by splitting up the table `sender_automation_value_set_row` into a table per valueset: ethnicity, gender, patient_preferred_language, pregnant, race, residence_type, specimen_source_site_code, specimen_type, state, test_result, and yesno. The UI was then updated to point to the split-out tables.

Now that all of that is deployed a

[2022-09-22 17:22] sethdarragile6 commented on #6805
@HeatherRienks @bgantick @RakshindaAslam depending on how far along @penny-lischer is in getting set up, this might be a good ticket to pair on with her. It's fairly low risk, touches the back and front ends, and would be a good exercise in making sure all her git stuff is in order (signed commits, the PR process, etc)

[2022-09-22 17:37] carlosfelix2 commented on #6801
Sample data with the issue:
[code]

[2022-09-22 18:22] #6729 closed

[2022-09-22 20:12] jbiskie opened #6806 "COVID Check Today - sender setup"

[2022-09-22 21:57] oslynn commented on #5944
2022-09-22.  Got production data from Anthony.  Validated them and sent to NJ.

"--- Email ---- in Outlook: Sent Items

Good Afternoon, Mike,

I just uploaded production data files below from ProPhase/HealthcareIntegration to your SFTP//Home/DOH/cdrss/ELR/CDC_PRIME/TEST.  They are processed by ReportStream already.
    
    covid-19-production-data-for-test-20220922161427.hl7

    covid-19-product

[2022-09-22 22:05] GilmoreA6 commented on #6364
file manually re-sent via web upload

[2022-09-22 22:06] GilmoreA6 commented on #6364
file manually re-sent via web upload

[2022-09-22 22:06] #6364 closed

[2022-09-22 22:10] GilmoreA6 commented on #6727
Re-sent 19 files to CA with 500 total messages. New file names:
covid-19-eb791b61-4c7f-4aa2-ae4a-4e3edafcd2a2-20220922145849
covid-19-ce901c18-f8f7-436b-ad48-01df80f6e837-20220922143735
covid-19-44c07693-bc15-4236-9f22-3b7a4255b2df-20220922143638
covid-19-d250e695-426a-4694-8329-a1ebf23c5b95-20220922143558
covid-19-32ca0916-cadc-473a-a3f2-46b5843b8127-20220922130422
covid-19-0e44784f-494a-40ae-a59

[2022-09-23 12:14] shy2cdc commented on #6599
Email below from Ruey:

Thank you for the quick response!

We have generated public & private keys today and you can find the public key attached. Hope we are able to begin sending dummy requests to ReportStream soon.

Follow-up Questions:

We’ve attached a PEM file containing our public key for the staging environment. Is this format okay for you?

We’re assuming we should generate a separate key

[2022-09-23 13:39] shy2cdc commented on #6786
Email from Christopher DE DOH:

Good Morning,

I am sorry, what is this regarding? Do you have the original ticket?

I submitted a ticket for the facility Milwaukee Brewers back in July that I still have yet to hear back from, but do not recall sending in anything for Image Mover.

Thank you for any other information.

[2022-09-23 13:51] BerniXiongA6 commented on #6786
@jorg3lopez Imagemover is a data aggregator for milwaukee brewers, correct?

[2022-09-23 14:06] kevinhaube opened #6808 "[BUG] Delivery Endpoint: reportItemCount returning null"
**Describe the bug**
The response from the Delivery Details endpoint is not returning an item count, and with the current component tree ordering, we cannot infer the total from the Facilities data.

**Impact**
Receivers only
Cumbersome...manual math is no fun.

**To Reproduce**
Steps to reproduce the behavior:
1. Submit data to your local environment
2. Navigate to the receiver Daily Data page fo

[2022-09-23 14:16] kevinhaube opened #6809 "[BUG] Delivery Endpoint: topic field returns null"
**Describe the bug**
The response from the Delivery Details endpoint is not returning a report topic.

**Impact**
TBD

**To Reproduce**
Steps to reproduce the behavior:
1. Submit data to your local environment
2. Use an API tool to call the delivery endpoint and retrieve the details
3. Topic will return null

**Expected behavior**
Topic should return the topic of the reports (i.e. covid-19 or monk

[2022-09-23 14:17] kevinhaube commented on #6522
Set to deploy Tuesday Sept. 27

[2022-09-23 15:20] GilmoreA6 opened #6810 "Validate LIMSabc messages for Indiana"
LIMSabc is requesting that we validate messages for Indiana. they have sent test messages to staging.

[2022-09-23 15:27] snesm opened #6812 "Upgrade to Terraform 3.x"
## Problem statement

Terraform 2.99 will go EOL two years after release.  In the mean time, new Azure features and configuration capabilities will not be added to the 2.x code base.

HashiCorp recommends that customers "stay current within two (2) releases from the latest major release in order to receive optimal support".

## What you need to know

- [Terraform 2.99 release notes](https://github

[2022-09-23 16:07] shy2cdc commented on #5944
Email from Anthony:

Good Morning Ott,

Hope everything is going as planned. I was just wondering if there are any updates. I have attached a sample Combo message once NJ passes verification the only thing that will change on NY and NJ will be the OBR and the OBX's everything else will be the same. This sample message shows the test sample changes.

[2022-09-23 16:56] victorialb-usds commented on #6503
@drew-usds @fmccaf1 the journey maps are done (MVP) and I can work on the blueprint on Monday and perhaps we can discuss this at our sync which I think needs to move a bit b/c of meeting conflict. @fmccaf1 if you want to co-work on the blueprint Monday LMK.

[2022-09-23 17:11] GilmoreA6 commented on #6762
note: The organization's name in ReportStream is reopenlab.

[2022-09-23 17:20] jbiskie opened #6813 "Add fields to DCIPHER monkeypox schema"
## Problem statement

Need to add the following fields to the DCIPHER monkeypox schema. (Pending final verification from Sahil.)

**outbound_field_name (HL7 source field)**
ordering_facility_city (ORC-22.3)
ordering_facility_state (ORC-22.4)
ordering_facility_zip (ORC-22.5)
specimen_collection_method_code (SPM-7.1)
specimen_id (SPM-2.1.1)
date_result_released (OBR-22)
message_date (MSH-7)
order_te

[2022-09-23 17:33] shy2cdc commented on #6231
Email from Mark:

We’ve reviewed your test files, and your updated issues spreadsheet is attached.

Please include ProPhase’s name in the file name so these are easier to identify.

[2022-09-23 18:01] jorg3lopez commented on #6728
#### Update:
All files have been resubmitted. 09/23/2022

[2022-09-23 18:29] #6780 closed

[2022-09-23 18:41] shy2cdc commented on #6457
Email from Jason:

Good Afternoon Ott,

A couple of questions in regards to this.

1. Is this the schema that would be being used then from me looking at Appendix C?
https://github.com/CDCgov/prime-reportstream/blob/master/prime-router/docs/schema_documentation/primedatainput-pdi-covid-19.md

prime-reportstream/primedatainput-pdi-covid-19.md at master · CDCgov/prime-reportstream
Contribute to CDCg

[2022-09-23 18:47] shy2cdc commented on #6599
Email from Ruey:
@sarahnw

Hi Sarah,

Happy Friday! We wanted to quickly check-in on if there's anything on our end that could help this along or if you have a sense of how long it takes to generate a client for us? We are waiting to begin development after we receive the client.

Please let us know if it would be possible for us to meet next week! We're very excited to be adopting ReportStream (i

[2022-09-23 20:23] sliu1000 opened #6817 "ReportStream to HHS Protect - COVID Data - Mapping Question"
## Problem statement

Could you confirm that the original Reportstream message relating to OBX 23.1 is mapped to the column reportingFacility_1 in the dataset Reportstream_v3_cleaned?

## What you need to know

Original Email:

Hi Sharon,

Originally, the ~1 million tests from Abbott with the expected OBX23.1 format: SA.xyz was noted in the column reportingFacility_1, however, that column was stri

[2022-09-24 14:07] oslynn commented on #5944
2022-09-24:
1.) Email to Anthony the status update:

Good Morning, Anthony,

1.) Following is result of NJ validation:
   " -------------------------------------
    MSH-5           Wrong values                                            MSH-5.1 is wrong; MSH-5.2/5.3 is missing - See Implementation Guide
    MSH-6           Wrong values                                            RMSH-6.1 is wrong;

[2022-09-24 14:10] oslynn commented on #5944
2022-09-24:
Resubmitted the corrected messages to NJ:

Email:

Good Morning, Mike,

Thank you very much the result of ProPhase validation and need for correction.
I resubmitted the corrected messages as following 3 files to your /Home/DOH/cdrss/ELR/CDC_PRIME/TEST site.

      covid-19-production-data-for-test-20220924072219-C-v1.hl7
      covid-19-production-data-for-test-20220924073002-B-v1.hl7
 

[2022-09-26 11:56] a-chappelear commented on #6657
[Figma file with updated partial results & adjustments](https://www.figma.com/file/fKl2M96ylkxYezwjVVUSIX/Internal-Admin-%26-Tools?node-id=411%3A1069) to table headers/results.

[2022-09-26 12:42] jeremy-page opened #6819 "Update Terraform Azure provider"
Need to update to >= V3.0, this is a breaking change!

[2022-09-26 12:49] jeremy-page opened #6820 "Rebuild TEST VPN"
Rebuild using new CA key so we can track existing users

[2022-09-26 12:50] jeremy-page opened #6821 "Rebuild Staging VPN"
Re-issues ovpn files based on a new CA, saving the public keys so we can get the fingerprints

[2022-09-26 12:51] jeremy-page opened #6822 "Rebuild VPN in prod"
Re-issues ovpn files based on a new CA, saving the public keys so we can get the fingerprints

[2022-09-26 12:53] shy2cdc commented on #6427
From StoneLabs inc in cooperation with Osang:

Dear Maurice,

This is Eric Song from StoneLab Inc. in cooperation with OSANG LLC for the development of myHomeTest mobile app using ReportStream.
I apologize for the late reply to your request.

Below I attach the sample output data from myHomeTest in CSV format.

Consequently, we would like to request your review and the technical guideline for the

[2022-09-26 12:54] shy2cdc commented on #6471
Email from CEDS:

Hello,

We wanted to check if messages have been resent?

Thanks,

CEDS Informatics

[2022-09-26 13:39] sliu1000 commented on #6550
Followup Question from Color:

Hi @sarahnw ,

Happy Friday! We wanted to quickly check-in on if there's anything on our end that could help this along or if you have a sense of how long it takes to generate a client for us? We are waiting to begin development after we receive the client.

Please let us know if it would be possible for us to meet next week! We're very excited to be adopting ReportS

[2022-09-26 15:02] GilmoreA6 commented on #6810
Messages Validated. No Issues. Indiana does not require us to validate new senders with them.

[2022-09-26 15:02] #6810 closed

[2022-09-26 15:05] JosiahSiegel opened #6823 "Fix test environment deployment"
## Problem statement

Deployment to `test` environment is failing with function app errors

[2022-09-26 15:21] #6728 closed

[2022-09-26 15:21] #6726 closed

[2022-09-26 16:05] BerniXiongA6 commented on #6786
Updates: @BerniXiongA6 has been emailing with Christopher from DE DOH:

Sent Mon 9/26/2022:

cc: @jorg3lopez @sarahnw @sliu1000

[2022-09-26 16:20] BerniXiongA6 commented on #6723
@RakshindaAslam can O&O close this on our end?

[2022-09-26 16:21] brick-green commented on #5240
merged code change to allow for custom LIVD tables updates via command line

[2022-09-26 16:25] #5240 closed

[2022-09-26 18:01] JosiahSiegel opened #6827 "Alert did not trigger"
Jim Duff
 Today at 1:56 PM
, this should have caused a FATAL-ALERT:

![image.png](https://images.zenhubusercontent.com/61799c9da75d950c9ede036b/24937c2d-e971-4628-b2e9-8b7b0d626584)

[2022-09-26 18:12] BerniXiongA6 commented on #6786
Updates 9/26/2022: @BerniXiongA6 has been in contact with Delaware. Christopher Decker has confirmed they would like to go with option 2 and have asked that RS set the default Ordering Practitioner as "Dr. Gregory Warner when the field values are blank. This ticket is assigned to @jorg3lopez . cc: @sliu1000

[2022-09-26 18:43] BerniXiongA6 commented on #6569
OK to close per Jenni Risler via WA sync today 9/26/2022

[2022-09-26 19:32] #6309 closed

[2022-09-26 19:37] shy2cdc commented on #6457
Email from Jason:

Good Afternoon Ott,

I just wanted to get some clarification in regards to what you have stated in regards to this to start with as we are working with the state on getting some clarification on some of this prior to approving a go-live.

1. When you conduct onboarding with a sender you advise them to include all required fields as given in your schema.
2. I understand there is

[2022-09-26 20:00] oslynn commented on #6457
2022-09-26: RI is ready for production.  I will start working on moving them to production.

Email from Jason Suchon,

Thank you for the clarification, @Sathngam, Ott (CDC/DDPHSS/OD/HITSSU).
@Jason Suchon – RI is good to go for moving to production with this onboarding.  Please coordinate with Ott and the Report Stream team to move forward.

Best
Jay

Best,

Jay

[2022-09-26 20:13] brick-green opened #6833 "TX - Convert to key based authentication"
## Problem statement

RS currently connects to Texas via SFTP using username and password authentication. The passwords expire every three months. At that time a member of the technical staff must reset the password via the Texas website. A technical staff member in Texas told us they can also authenticate via key based auth. That method will not expire and thus require much less maintenance.

##

[2022-09-26 20:16] HeatherRienks commented on #6588
Follow Up from today's earlier meeting re: sharing SmartSheet link with our customers...
**Next Steps:**
**By EOD Wednesday, 9/28**
@BerniXiongA6 and @sliu1000 to finalize:
-Auto-reply message for RS shared inbox
-Email to all current users, explaining new process of submitting "Service Requests/Support Tickets" via SmartSheet link
-Email to MonkeyPox lab contacts (Mayo, Aegis, etc.) informing the

[2022-09-26 20:42] sliu1000 commented on #6678
Emailed users to confirm they were able to log on.

[2022-09-26 21:36] brick-green commented on #6724
There are 1198 records that have been purged from RS. Of those 113 are positive

**equipment_model	count**

BioFire COVID-19 Test | **count = 19**
BioFire Respiratory Panel 2.1 (RP2.1)*@ | **count = 2**
LDT: PacificDx Covid-19 | **count =  74**
Xpert Xpress SARS-CoV-2 | **count = 18**

[2022-09-27 05:15] HeatherRienks commented on #6723
@BerniXiongA6 - I will confirm in our standup on 9/27 and let you know so it can be closed out before the sprint ends. :)

[2022-09-27 13:02] oslynn commented on #5414
@emmastephenson @sarahnw @BerniXiongA6.  The API is fixed, now.

[2022-09-27 13:08] jeremy-page opened #6842 "Update precommit hook script to bypass klint if nothing has changed under /prime-router"
Right now the pre-commit script (/prime-reportstream/.git/hooks/pre-commit /pre-commit.hook.sh) will run Klint every time we make a change. This should be selective and only run when something in /prime-reportstream/prime-router has changed.

[2022-09-27 14:13] kevinhaube opened #6843 "[Submission History] Enable use with Receiver `reportId`"
## Problem statement

As a Receiver, I need to query the History API and see any error/warnings and QF responses when fetching report details.

## What you need to know

STLT Feature Ideas (Mural): https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u67aa35711489d1496d0a7320

Stock of API functionality (Word): https://cdc.sha

[2022-09-27 14:14] kevinhaube opened #6844 "[Daily Data] Flag reports with error/warning messages & QF responses"
## Problem statement

As a Receiver, I need to see an indicator on the Daily Data list that a report has error/warnings and/or QF responses.

## What you need to know

STLT Feature Ideas (Mural): https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u67aa35711489d1496d0a7320

Stock of API functionality (Word): https://cdc.share

[2022-09-27 14:16] kevinhaube opened #6845 "Delivery API: call to get all unique facilities who sent to Receiver"
## Problem statement

As a Receiver, I need to access a list of all facilities that have sent to me via ReportStream's pipeline.

## What you need to know

STLT Feature Ideas (Mural): https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u67aa35711489d1496d0a7320

Stock of API functionality (Word): https://cdc.sharepoint.com/:w

[2022-09-27 14:17] kevinhaube opened #6846 "Delivery API: add contact information to Facility object response"
## Problem statement

As a Receiver, when looking for Facility details, I should have access to contact information.

## What you need to know

STLT Feature Ideas (Mural): https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u67aa35711489d1496d0a7320

Stock of API functionality (Word): https://cdc.sharepoint.com/:w:/t/USDSatCD

[2022-09-27 14:21] kevinhaube opened #6847 "Delivery API: call to get all unique reports a Facility contributed to for a Receiver"
## Problem statement

As a Receiver, I need to be able to call the API and receive all unique facilities that have reported to me.

## What you need to know

STLT Feature Ideas (Mural): https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u67aa35711489d1496d0a7320

Stock of API functionality (Word): https://cdc.sharepoint.com/

[2022-09-27 14:22] kevinhaube commented on #6809
Closing, Jim has fixed on PR #6632

[2022-09-27 14:22] kevinhaube commented on #6808
Closing, Jim has fixed on PR #6632

[2022-09-27 14:22] #6808 closed

[2022-09-27 14:26] kevinhaube commented on #6587
Notes from the process: https://cdc.sharepoint.com/:w:/t/USDSatCDC/EXXo_HDcvhNBre9FnV_37pkBjNFwK7ZryxjpTROmxllQrg?e=tSVh6A

[2022-09-27 15:08] clediggins-usds opened #6848 "SPIKE: Document all existing routing operations required by the COVID pipeline"
To effectively ensure the universal pipeline is able to do routing, we need to document the existing routing capability in the COVID pipeline. Look at the types of routing options (e.g. jurisFilter, qualityFilter, etc.). - we need to specifically know each of the filters used within those categories and what they do (greaterThan, isWithin, etc...)

Dev Hints:
* Look in ReportStreamFilterDefinition

[2022-09-27 16:44] GilmoreA6 commented on #6762
9/27 - Provided feedback on initial test file. Also, tried to get clarification on sending to Delaware.

[2022-09-27 16:45] GilmoreA6 commented on #6589
9/27 - Sent additional email requesting update or if there were any questions.

[2022-09-27 16:46] GilmoreA6 commented on #6639
9/22 - Sender replied that members of their team had been out of office and they were turning their attention to this now.

[2022-09-27 17:06] #6823 closed, assigned to JosiahSiegel

[2022-09-27 17:27] HeatherRienks commented on #6503
Moving this to Product Backlog, as it is not tracking as part of current sprint work.

[2022-09-27 18:34] sarahnw commented on #6408
Putting Kansas on hold

[2022-09-27 18:36] sarahnw commented on #6406
**Do you have an implementation guide we should follow?**​ Nothing specific to Maine; we follow the PHIN HL7 spec for ELR

**Do you accept HL7 v2.5.1?​** Yes, we prefer it
**What sending protocol do you use to accept files?​
SFTP (preferred)​ This is our preferred as well**
REST API​
AS2​
**Do you accept HL7 batch messages?​** Yes
**Would you like to receive the AoE questions?​** Yes
**1.  Frequen

[2022-09-27 18:55] brick-green opened #6849 "ME - Test HL7 message structure and content"
## Problem statement

The HL7 structure needs to be tested with ME. They will need messages sent through the test feed first as fake data. When that passes validation, then LIVE messages should be sent

## Acceptance criteria

- [x] Fake messages sent to ME
- [ ] ME accepts HL7 structure of fake messages
- [ ] Live messages sent to ME
- [ ] ME accepts HL7 structure of live messages

## To do

- [x

[2022-09-27 18:58] brick-green opened #6850 "ME - Setup SFTP connection"
Maine prefers the use of SFTP.

Snow, Scott <Scott.Snow@maine.gov> will help coordinate.

Acceptance Criteria
- [x] Transport information added to receiver settings in prod
- [x] Transport information added to receiver settings in staging
- [x] Secret added to azure production
- [x] Secret added to azure staging
- [ ] Test message sent and confirmed by Maine

[2022-09-27 19:00] brick-green opened #6851 "ME - Create organization and receiver settings"
## Problem statement

Maine will be a new jurisdiction connecting with report stream. They will need an organization and receivers added to the settings. There should be a receiver for testing and production.

## Acceptance criteria

- [ ] Organization created with jurisdictional filter for RI
- [ ] Receiver for test environment created
- [ ] Receiver for production env created

## To do

- [ ] Ad

[2022-09-27 19:02] #6522 closed

[2022-09-27 19:13] #6755 closed

[2022-09-27 19:14] #6727 closed

[2022-09-27 19:14] #6569 closed

[2022-09-27 19:15] #6590 closed

[2022-09-27 19:15] #6691 closed, assigned to brick-green

[2022-09-27 19:18] BerniXiongA6 commented on #5732
ok to close

[2022-09-27 19:18] #5732 closed

[2022-09-27 19:19] BerniXiongA6 commented on #6363
OK to close per @sarahnw

[2022-09-27 19:19] #6363 closed

[2022-09-27 19:22] BerniXiongA6 commented on #6589
@sarahnw @BerniXiongA6 let's follow up with them

[2022-09-27 19:23] #6731 closed

[2022-09-27 19:24] BerniXiongA6 commented on #5414
@brick-green will review and close out when approved

[2022-09-27 19:24] #5420 closed

[2022-09-27 19:28] BerniXiongA6 commented on #6575
Follow up by Oct. 4, 2022 @sarahnw @BerniXiongA6

[2022-09-27 19:30] jbiskie commented on #6806
Sender is configured in staging and production. Waiting for sender to supply their keybase.io username.

[2022-09-27 19:33] jorg3lopez commented on #5296
#### Update:

Signetic has reached back, they have send data (PHI) to our api. They mentioned that they had some warnings and errors display. I will look into this and provide feedback to them.

[2022-09-27 19:41] oslynn commented on #6775
2022-09-27: Sent email to ask for message ids instead of screenshot.

Dear: IL

I am looking to fix the issue of your messages that missing city.  Would you please provide with list of message ids of those messages?
Therefore, I can search for them easily.

Greatly appreciated,
-Ott Sathngam
CDC SW ENG.

[2022-09-27 19:50] BerniXiongA6 commented on #6745
Ok to move to O&O backlog until they're ready to re-engage @BerniXiongA6 can follow up on email chain down the road.

[2022-09-27 19:52] #6784 closed

[2022-09-27 21:19] victorialb-usds commented on #6503
@a-chappelear @drew-usds @fmccaf1 think we can wrap this up. I am sure there are things that need to be added/moved. Your experience with blueprint and service design needed. There is a key that indicates the colors and I have made notes on the side about next steps this does not include answering all the questions in the pink post-its.

[2022-09-27 21:21] victorialb-usds commented on #6503
Noting to schedule in research to understand users internal and external is needed and then usability of features as they are developed.

[2022-09-27 21:42] sliu1000 commented on #6590
Update from Ravi from Safehealth:

Hey Brick,

A few days ago, we worked with your team to test the quality of the data sent from Safeheath's QA environment to CDC staging environment.

I just wanted to inform you that we have deployed that fix to our production, so going forward all the data submitted will adhere to the requirements.

We have a few questions related to resubmission of the histori

[2022-09-27 21:58] brick-green commented on #6850
Requested hostname or IP from ME. Also asked what authentication methods they can support. Our preference is public key auth.

[2022-09-28 12:41] #6624 closed, assigned to JosiahSiegel

[2022-09-28 13:44] sliu1000 commented on #6427
Hi Eric,

Thank you for the clarification.  We'll provide you with an update once our Engineer finishes reviewing your sample CSV Test file.

Best regards,

Sharon
The ReportStream Support Team

Contact us at reportstream@cdc.gov

Support hours:  8:00 am through 9:00 pm Eastern time

Monday-Friday, excluding US public holidays

From: StoneLab Inc. <president@stonelab.kr>
Sent: Tuesday, September 2

[2022-09-28 14:09] sliu1000 opened #6857 "Validate file for LimsABC for Nova for NJ"
Hi All,

The sending facility is Nova Diagnostics Lab CLIA:14D2216112. They send to ReportStream through a data aggregator called LimsABC. I have sent two test files to the test folder:

covid-19-379e58e7-9698-4713-a4db-7add338bb2d8-20220927145341 (MSH-10: RNLN12345)
covid-19-d0ce882a-be99-4198-8852-b7c8efa7eaa4-20220927150445 (MSH-10 RNLN45678)

Please let me know if you have issues finding the m

[2022-09-28 14:41] sliu1000 commented on #6590
Meeting Scheduled for 9/30 at 2:30 pm:

Hi Ravi,

Per your request, this time is to answer a few questions related to resubmission of the historical data.
Could possibly send us your questions ahead of time, this will help us to make sure the appropriate team members are on the call.

Best regards,

Sharon
-------------------------------------------------
Hi Ravi,

Sounds good. Here are some open

[2022-09-28 14:43] brick-green commented on #6851
@oslynn I saw the you merged the PR for this already. But it looks like the values are incorrect. This information was in a comment on the epic for this ticket. Sorry I didn't add it to this ticket specifically.
[code]

Can you make another PR with these values included in the settings?

[2022-09-28 15:20] oslynn commented on #6851
@brick-green , I will create another PR to correct that.

[2022-09-28 15:37] brick-green commented on #6849
Going to create some test messages with fake data to send via email

[2022-09-28 15:48] RakshindaAslam commented on #6503
@HeatherRienks - can we schedule a review of this with the entire team sometime next week?

[2022-09-28 16:35] a-chappelear commented on #6160
This can be closed and the design ticket can be started. The [design team should refine that ticket together](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6555), as the [service map work ](https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6503)may adjust some of the mappings as we go alon

[2022-09-28 16:36] HeatherRienks commented on #6160
FYI @fmccaf1

[2022-09-28 16:37] HeatherRienks commented on #6555
@a-chappelear - this would be great to pair with @fmccaf1 on!

[2022-09-28 16:45] HeatherRienks commented on #6503
@RakshindaAslam - yes, I will coordinate with the Design Crew to review this with the team.

[2022-09-28 16:49] snesm opened #6859 "CodeQL configuration issue"
## Problem statement

CodeQL scans show "Base branch: Not Found"

## Problem detail

 [Links to documents, workflows, or list of key people and contact info]

- [Example](https://github.com/CDCgov/prime-reportstream/pull/6856/checks?check_run_id=8585190416)
- [Possible configuration instructions](https://github.com/github/codeql-action/issues/104)
- ...

## Acceptance criteria

- [ ] ...

## To do

[2022-09-28 17:15] #6557 closed, assigned to PatriciaPerozoUSDS

[2022-09-28 17:19] #6642 closed

[2022-09-28 17:22] #6138 closed

[2022-09-28 17:26] #6483 closed

[2022-09-28 17:31] #6573 closed

[2022-09-28 17:53] snesm opened #6860 "Storage account config"
## Problem statement

pdhstagingnewterraform is set for public access

## What you need to know

Storaage Account                   allowBlobPublicAccess
pdhstagingnewterraform	True

## Acceptance criteria

- [ ] ...

## To do

- [ ] ...

[2022-09-28 17:54] oslynn commented on #6851
From Sarah:
**Do you have an implementation guide we should follow?**​ Nothing specific to Maine; we follow the PHIN HL7 spec for ELR

Do you accept HL7 v2.5.1?​ Yes, we prefer it
What sending protocol do you use to accept files?​
SFTP (preferred)​ This is our preferred as well
REST API​
AS2​
Do you accept HL7 batch messages?​ Yes
Would you like to receive the AoE questions?​ Yes
1. Frequency - we

[2022-09-28 18:04] fmccaf1 commented on #6503
I connected w/ Berni about getting O&O's eyes on this to fill in some gaps. We'll try to get together briefly on Friday and if we need more time (I think we will), then we'll continue the convo next week. @victorialb-usds I'm assuming you're interested in coming too so I'll make sure you're added to everything!

[2022-09-28 18:45] a-chappelear commented on #6680
closing because it's a duplicate of 6787

[2022-09-28 18:45] #6680 closed, assigned to a-chappelear

[2022-09-28 20:01] ahay-agile6 commented on #6657
@a-chappelear here is the lucidchart of notes with brick
https://lucid.app/lucidchart/ea5c58a0-b884-4952-a3e9-165a816dc68f/edit?view_items=lKsVGvSZdI7c&invitationId=inv_d8ce9e1c-7368-4866-8ea7-b2a04516cda0#

[2022-09-28 20:10] a-chappelear commented on #6657
Minor updates are needed to the Figma file for this ticket (based on feedback above) this should stay open in the next sprint (by about 2 points for design). @HeatherRienks @RakshindaAslam

[2022-09-28 20:45] jbiskie commented on #6817
Reviewed and emailed Tim

[2022-09-28 20:47] BerniXiongA6 opened #6863 "Brick Demo API Sender Onboarding Epics & Issues Templates"
## User Story

O&O team members need to be acclimated to the newly available epics and issues templates so that they can save time/effort in creating and working tickets when onboarding new API senders.

## What You Need to Know

These are the names of the new templates that will be demo'ed:

1. API Sender Onboarding Epic
2. API Sender Onboarding - Set up org and settings
3. API Sender Onboarding

[2022-09-28 20:57] Jcavallo7 commented on #6775
Message ID's for resubmission

`b56da2c1-8d32-4346-88cc-ad284a56fa90`
`464f4087-53a7-4dde-9650-92a245edce14`
`b0e09fb9-995b-48b4-97d7-6eca4dcebf6a`
`8dccdfae-4c32-4b18-aa10-0f4a41972050`
`56189dcc-a7a4-4a32-8eb3-82f2a14e2bdf`
`616757e3-55e5-4e93-a671-5cf1fd3ae885`
`ae05733b-911e-4afa-86cd-3538e746ea02`
`7ac95dc9-deae-4447-8360-7617ce2c3a28`
`d8112dc5-980b-4618-b290-6f1d1dd19e4f`
`39416559-cac9-428

[2022-09-28 21:10] oslynn commented on #6775
2022-09-28:   Analysed and Requested resubmission.

Email:
Emma, Jayna

The following message IDs are missing patient City Address those messages are from SimpleReport to IL:

b56da2c1-8d32-4346-88cc-ad284a56fa90
464f4087-53a7-4dde-9650-92a245edce14
b0e09fb9-995b-48b4-97d7-6eca4dcebf6a
8dccdfae-4c32-4b18-aa10-0f4a41972050
56189dcc-a7a4-4a32-8eb3-82f2a14e2bdf
616757e3-55e5-4e93-a671-5cf1fd3ae885
ae

[2022-09-28 21:36] sliu1000 commented on #6857
@GilmoreA6 - Is there a reason why NJ thinks the Labs should be reporting to them directly?

It looks like labs have started to send through ReportStream instead of dealing directly with us here at NJ DOH.

However, they must still go through our on-boarding process.  Two important provisions are:

 They must submit an ELR Interface Enrollment form at https://cdrs.doh.state.nj.us/cdrss/common/cdrs

[2022-09-28 21:54] GilmoreA6 commented on #6589
Innolitics sent new file for validation. I reviewed the file and sent feedback along with instructions for the next step to Sam'an Herman-Griffiths (shermangriffiths@innolitics.com)

"Hi Sam'an,

Not a problem. This file is almost entirely correct. The only change we would like if possible is to the responses in the columns for symptomatic_for_disease. It looks like you are sending "TRUE" or "FALS

[2022-09-28 21:56] GilmoreA6 commented on #6639
BZD attempted to send file to staging but it does not look like it was successful. I have asked them to send me any errors they received when trying to post the file. I am troubleshooting from the logs on our side.

[2022-09-28 22:04] #6160 closed

[2022-09-28 22:05] HeatherRienks commented on #6717
Set up meeting for today (9/28) for this team to discuss: @brick-green @ahay-agile6 @a-chappelear and @fmccaf1

[2022-09-28 22:08] sarahnw commented on #6575
Let's start with who we know for now

Christopher S. Magalei
IT Manager/DMI Lead
ELC - Department of Health
American Samoa Government
Pago Pago, AS 96799

email: chris.magalei@doh.as
mob: 6847315919

[2022-09-28 22:11] GilmoreA6 commented on #6762
Vault does not appear to be set up for DE yet either. There is some confusion about the LIVD values as the test kit used does not appear on the table. Sent email to integration engineer and Vault employees asking for clarification.

[2022-09-28 22:37] HeatherRienks commented on #6657
@a-chappelear - thanks!

[2022-09-28 22:37] jorg3lopez commented on #5296
#### Update:
Reached back to Signetic and made them aware that they need to populate that following feilds:
- OBR-4-2
- OBR-4-7
- OBX-3-2
- OBX-3-3
- OBX-17-7
- OBX-18-1
- OBX-18-3

[2022-09-29 13:50] jeremy-page opened #6866 "Whitelist additional California endpoints"
The following need to be allowed outbound on port 22
Staging - saphiresftpstage.cdph.ca.gov
Production - saphiresftp1.cdph.ca.gov

[2022-09-29 14:08] oslynn commented on #5414
Done

[2022-09-29 14:41] sarahnw opened #6867 "Spike: Resubmission research"
To determine how we should continue to improve resubmissions, we need to research two questions:

1. How is async different from sync?
2. What mappers are we running prior to submission?

For more information talk with @brick-green and @TomNUSDS

[2022-09-29 14:55] doug-s-nava opened #6868 "Allow users to maintain login status between tabs"
## Problem statement

As a logged in report stream user I would like to be able to open a report stream page in a new tab without having to log in again.

## What you need to know

The solution to this is storing login status in localStorage rather than sessionStorage. Our current system relies on sessionStorage as the source of truth for log in status, and this information is not shared between t

[2022-09-29 15:28] shy2cdc commented on #6231
@oslynn Email from Mark

We’ve reviewed your latest file and your updated issues spreadsheet is attached.

Thank you,

Mike Firkser

Technical Lead - NJDOH ELR Team

NJELR.Admin@doh.nj.gov

[2022-09-29 15:29] shy2cdc commented on #6599
From Christina

Hi ReportStream Team,

Hope you all are well! I wanted to extend appreciation again for the thoughtful answers you provided to our team's questions - really exciting to hear you may expand into other infectious diseases in the future!

Are there any updates you can share on the progress of our onboarding or any feedback on the test HL7 messages provided on Sept. 7th? We are eager t

[2022-09-29 15:30] snesm opened #6869 "Storage account ACL"
## Problem statement

Storage account pdhprodpartner has an ACL that does not appear to be populated by terraform.

## What you need to know

pdhprodparner "Networking/Firewalls and virtual networks" uses "Enabled from selected virtual networks and IP addresses".  The individual IP addresses and netblocks configured do not appear to be in terraform or documented elsewhere.  This could cause an iss

[2022-09-29 15:54] shy2cdc commented on #5876
Email from Emily:

Hi Sharon,

Yes, you can close it. @Quratulain Ajmal if you have any questions about Report stream- please reach out directly to open a new ticket!

Thank you!

Emily A. Mabile, MPH

[2022-09-29 15:54] #5876 closed

[2022-09-29 16:32] brick-green commented on #6849
![image.png](https://images.zenhubusercontent.com/60d23d7dcaf07751be9205b6/0c3b2ef3-2133-4203-9eac-085e874e5415)

Maine does not have the resources to continue with onboarding at this time.

[2022-09-29 16:41] brick-green commented on #6850
Scott is still workign with the IT dept to get the SFTP info

[2022-09-29 16:41] BerniXiongA6 commented on #2164
Let's flesh out this ticket more, some questions we can ask ourselves to add more detail:

- Who all wants this? (the more states that want it, the greater the potential priority)
- Is this feature blocking any potential states from onboarding with us?
- What do they want if we offer this feature?

cc: @sarahnw @MauriceReeves-usds @brick-green

[2022-09-29 16:42] brick-green commented on #6849
moving to O&O backlog till ME is ready to move forward

[2022-09-29 17:56] brick-green commented on #6724
Email sent to CA asking if we need to resend the full remaining list (1197) or only the positives (113)

[2022-09-29 18:44] oslynn commented on #2164
2022-09-29.  Mike Fisher (NJ) is asking me to have this feature when we send messages to NJ.

[2022-09-29 18:47] shy2cdc commented on #6857
Email from Mark: Nova Diagnostics - ELR Feedback

We have reviewed your latest ELR Test files, and your issues spreadsheet is attached.

Thank you,

Mike Firkser

Technical Lead - NJDOH ELR Team

NJELR.Admin@doh.nj.gov

[2022-09-29 18:57] brick-green opened #6872 "Aspira Health - API Sender Onboarding"
### What You Need to Know

- [x] Terms of Service agreement signed

- [x] Kickoff meeting completed

- [x] Company’s intake form: ReportStream API – format HL7

Q: What is your expected message volume?

A: We currently report anywhere between 60-200 daily results

Q: Are you currently reporting to any other states outside of your state?

A: No just DE

Q: What is your current process for reporting

[2022-09-29 18:58] brick-green commented on #6872
Berni:
Completed intro/kickoff meeting on Wed 9/14/2022 with William Albanese

[2022-09-29 18:58] brick-green commented on #6872
Berni:
Ok to move to O&O backlog until they're ready to re-engage @BerniXiongA6 can follow up on email chain down the road.

[2022-09-29 18:59] #6745 closed, assigned to brick-green

[2022-09-29 19:27] oslynn commented on #5944
2022-09-29:
Resubmitted the corrected messages to NJ.

Emailed:
Good afternoon, Mike,

Thank you for the validation result.  I resubmitted the message (file: covid-19-production-data-for-test-20220929140229-A-V3.hl7) to your /Home/DOH/cdrss/ELR/CDC_PRIME/TEST.

Per your validation, I corrected new issue regarding the MSH-4 to reflect lab (ProPhase Diagnostic and their CLIA info).

For the File nam

[2022-09-29 21:57] #6813 closed

[2022-09-29 22:30] HeatherRienks commented on #6588
Email was sent by Berni/Sharon to all RS users today and auto-reply message was enabled.

Content here: [https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B87E306C7-C610-4EDC-9DB3-E87D17D9A99E%7D&file=Templates%20for%20Informing%20ReportStream%20Users%20about%20Smartsheet%20Form.docx&action=default&mobileredirect=true](url)

[2022-09-30 15:25] doug-s-nava commented on #6794
this is a pre-req to getting cypress running in a containerized environment, but a quick warning that Cypress tests are not 100% reliable running locally, so part of the work of getting them running dockerized will be ensuring reliability on each run

[2022-09-30 15:36] #6692 closed

[2022-09-30 15:55] doug-s-nava commented on #4790
closing this, as it this work was covered in https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6522 https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6662 https://app.zenhub.com/workspaces/experience-607d9d5e68b95200150fec37/issues/cdcgov/prime-reportstream/6785

[2022-09-30 15:56] #4790 closed

[2022-09-30 16:12] kevinhaube commented on #6486
Closed by PR #6597 (Adoption of Router v6)

[2022-09-30 16:12] #6486 closed

[2022-09-30 16:26] sliu1000 commented on #6637
Update from Sender:

Hi Joel,

Thank you so much for reaching out. I apologize for the delayed response. I have been a bit out of the office last week, this week and next week on paternity leave. I'm working a little bit here and there, and will try and get the task work caught up on this project as soon as possible. It will most likely be mid to end of next week. Thank you for your patience in wo

[2022-09-30 17:24] shy2cdc commented on #6599
From Christina:

Hi @MauriceReeves-usds and @BerniXiongA6 ,

Happy Friday! We received the email about the new support ticketing system your team is using - congratulations on the launch!

Have you had a chance to review our test HL7 messages or could you assist us in creating an account for the support site so we can resubmit the test messages in a ticket for review?

Thank you for your help.

Be

[2022-09-30 17:42] BerniXiongA6 commented on #6599
updates 9/30/2022: Sent a reply to all that we can follow up with Color on Monday when Mo and I are back. Also i let her know that she doesn’t need a new ticket number.

[2022-09-30 18:18] fmccaf1 commented on #6555
I created [this mural](https://app.mural.co/invitation/mural/primedatainput6410/1664549522278?sender=ua604735c5cf1162b042a4310&key=bb142218-add5-4db8-abd0-8102e9d03568) to add a little structure to discovery. Will start scheduling calls with team members to get their input.

[2022-09-30 19:38] oslynn commented on #6407
2022-09-30.  Sarah sent an email requesting information to connect them up with ReportStream.

[2022-10-02 20:34] a-chappelear commented on #6787
Ott scheduled for Wed (hoping to schedule with Jorge)
[Ott script/feedback](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Experience%20Team/UX%20Research/3.%20UX%20Research%20Projects/Value%20sets/Value%20Sets%20-%20Ott.docx?d=wa1e619a814bc4c73a61da8f1284c4fe6&csf=1&web=1&e=EBBZsH)

[2022-10-03 12:47] shy2cdc commented on #6425
Email from Jeuhua at 7:30pm 9/30

Good morning @MauriceReeves-usds ,

Please find attached new csv file. I have turned the formating off in this updated version. Please let me know if there is any addtional question.

Best wishes,
Juehua Yu PhD
Genabio

[2022-10-03 12:50] shy2cdc commented on #5419
Email from Karim 9/30 at 8:04pm

Hello all,
I wanted to share an update regarding our integration with ReportStream.
We processed a batch today in which we processed test results for the entire month of September for all users who had provided consent.
Close to 750 test results passed our selection criteria and those reports were sent over to ReportStream.

When you get a chance, please review the

[2022-10-03 13:51] doug-s-nava opened #6888 "Lookuptable Mismatches Causing Value Sets 404s"
## Problem statement

Problem:

* on https://reportstream.cdc.gov/admin/value-sets/ click on `ethnicity`
* receive an error message

Caused by two issues:

* the list of value sets on the index page is driven by the response for content from the https://prime.cdc.gov/api/lookuptables/sender_automation_value_set/content endpoint, which is possibly out of sync with the actual data available

![Scree

[2022-10-03 14:01] sliu1000 commented on #6724
Update: Response from CA State on 9/29/2022

Thank you, Brick & team!

For CA COVID reporting, if results are negative antigens, we do not need these, if the remaining 1197 have positive & negative PCR results, CA does require these to be reported.
Confirmation on PCRs vs Antigens can help, thanks & let me know if there are any other questions?

Thanks!
Vanessa Burkhart

[2022-10-03 14:03] sliu1000 commented on #6806
Update from User sent on 9/29/2022

Hi Joel,

Thank you so much for reaching out. I apologize for the delayed response. I have been a bit out of the office last week, this week and next week on paternity leave. I'm working a little bit here and there, and will try and get the task work caught up on this project as soon as possible. It will most likely be mid to end of next week. Thank you for your

[2022-10-03 14:06] sliu1000 commented on #6550
Updated Correspondence:

9/30/2022

Hi Berni,

Thank you for your response and for providing the ticket number. Monday sounds great for a progress update—we look forward to hearing from you all.

Have a great weekend!

Best,
Christina

9/30/2022
Hi Christina, thanks for following up.

Since our team is already supporting this work we’ve previously started with you, there’s no need to submit a new

[2022-10-03 14:11] victorialb-usds commented on #6503
Some summary points:
Doing this journey maps and blueprint revealed

- Too many tasks in the original ticket to put on the service blueprint was too many to answer the questions in the ticket
- Many of the pieces in the map are future state, that is OK to lay out where we are going AND we often have the information to make the future state actions, expose the information possible
- STLTs are getti

[2022-10-03 14:55] shy2cdc opened #6890 "MO - MO DHSS COVID-19 Result Reporting - CDC PRIME - Production Validation Errors"
Email from Jake:

Good morning!

We received a message over the weekend missing some data.  Would you mind investigating and re-submitting the file(s)?

Filename:  covid-19-0bad5f28-4d82-475d-86cf-33196314ef0d-20220930192053

MSH-10:  `beb6add4-9b77-43e0-94e6-1dd032f388bc`

MSH-10:  `41e5b0cd-d06d-424e-a746-b5aa343a8a83`

MSH-10:  `21628282-174b-4072-9a45-48f257305832`

PATIENT_RESULT[0].ORDER_OBS

[2022-10-03 15:11] #6817 closed

[2022-10-03 15:36] sliu1000 commented on #6682
Duplicate to ticket # 6817

[2022-10-03 15:36] #6682 closed

[2022-10-03 15:54] victorialb-usds commented on #6503
https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1661979707820/db6b8a08700ccd21fb842da7ac3fa61a476d6d02?sender=u4a60651bc33557d542d18858

[2022-10-03 15:55] brick-green opened #6894 "Aspira Health Onboarding – Create Org and Sender Settings"
### Acceptance Criteria
- [ ] Added to organization.yml and create yamlitos
     - [ ] Customer status testing
     - [ ] For HL7 senders, schemaName: hl7/hl7-ingest-covid-19-training
- [ ] Added to prod settings table
- [ ] Added to staging settings table
- [ ] Key exchange
     - [ ] 1. Shared secret
          - [ ] Created API keys in Azure staging
          - [ ] Created API keys in Azure prod

[2022-10-03 15:56] brick-green opened #6895 "Aspira Health Onboarding - Validate Test Files"
### Acceptance Criteria
- [ ] Sample file from sender received by RS team
- [ ] Sample files saved to Keybase by assigned RS engineer
- [ ] Sample file ingested into RS using validation UI tool by assigned RS engineer
- [ ] Feedback provided to sender by assigned RS engineer  (including instructions on what to modify in order to get validated)*
- [ ] Sender modifies and re-sends sample file to get

[2022-10-03 15:57] brick-green opened #6896 "Aspira Health Onboarding – Testing in Staging and Prod"
### Acceptance Criteria
- [ ] Sender has tested in staging and production
- [ ] RS engineer has determined the data is good enough and graduates Sender to send Prod data to receiver 

### To Do
- [ ] RS engineer: update this ticket with comments with every interaction with sender
- [x] RS team member who originates this ticket: add dependencies:
     - [x] Aspira Health Onboarding – Create Org and

[2022-10-03 16:10] brick-green opened #6897 "Aspira Health Onboarding - Validate Test Files"
### Acceptance Criteria
- [ ] Sample file from sender received by RS team
- [ ] Sample files saved to Keybase by assigned RS engineer
- [ ] Sample file ingested into RS using validation UI tool by assigned RS engineer
- [ ] Feedback provided to sender by assigned RS engineer  (including instructions on what to modify in order to get validated)*
- [ ] Sender modifies and re-sends sample file to get

[2022-10-03 16:26] brick-green opened #6898 "Aspira Health Onboarding – Validate Receiver"
### Acceptance Criteria
- [ ] Contacted receiver to ask them to validate sample production data (real data) from sender
- [ ] Contacted sender to inform which state we’ll be working with (need sample production data for that state)
- [ ] Data received from sender for the selected state
     - [ ] RS engineer accessed Azure “receive” folder in production to pull out reports from sender
     - [ ] E

[2022-10-03 16:29] brick-green opened #6899 "Aspira Health Onboarding – Go Live Coordination"
### Acceptance Criteria
- [ ] Contacted sender to confirm when they want to start sending
- [ ] Introduced sender to the Customer Support form and CC: the Ops team (at least Sharon Liu and Berni Xiong)
- [ ] Adjusted final settings:
     - [ ] Modified organization.yml and created yamlitos
          - [ ] Customer status = active
          - [ ] For HL7 senders, schemaName: hl7/hl7-ingest-covid-19

[2022-10-03 16:43] #6503 closed

[2022-10-03 16:43] #3766 closed

[2022-10-03 18:19] shy2cdc commented on #5944
Email from Mark:

We will be moving you to Phase 2 of ELR Testing. For Phase 2 -

You will be send us your production data, that will be processed into our test environment.

a)       Production data received in TEST will be reviewed to ensure content requirements are met and validated against CDRSS production cases. Fill out the attached spreadsheet with the manually created CDRSS case ID informa

[2022-10-03 18:43] brick-green commented on #6724
Of the 1197, 1174 are molecular tests and need to be resubmitted according to CA rules. I asked Nathan with SR what the process is for manually pulling in the needed files.

[2022-10-03 20:01] a-chappelear commented on #6657
Figma has been updated with the most recent updates from syncs. Quality filters may come into play more in later tickets. If there are additional design needs for this as more discovery work continues in other tickets - we can open a new design ticket/and or make a spike. @RakshindaAslam @ahay-agile6

[2022-10-03 21:56] oslynn commented on #6890
2022-10-03: Requested Intrivo to resubmit those messages with those missing fields.

Good After Noon, Karim,

The following messages were missing ORC-2.1, ORC-2.1, ORC-2.2, ORC-2.3, ORC-2.4 and OBR-2.1, OBR-2.1, OBR-2.2, OBR-2.3, OBR-2.4.

MSH-10:  beb6add4-9b77-43e0-94e6-1dd032f388bc
MSH-10:  41e5b0cd-d06d-424e-a746-b5aa343a8a83
MSH-10:  21628282-174b-4072-9a45-48f257305832

Would you please resu

[2022-10-03 21:59] oslynn commented on #6890
2022-10-03: During the investigation of those missing fields.  I found 748 messages from Intrivo are missing ORC-2.1, ORC-2.1, ORC-2.2, ORC-2.3, ORC-2.4 and OBR-2.1, OBR-2.1, OBR-2.2, OBR-2.3, OBR-2.4.  This need to be discussed in 16 mins standup.

[2022-10-03 22:01] oslynn commented on #5944
2022-20-03:  Regarding to the CDRSS case ID.  This seem to be new requirement from NJ.  Should we provide this information for senders?  This need to be discussed in 16 mins standup.

[2022-10-04 12:08] shy2cdc opened #6903 "CA DOH - Non OBX 23 Errors"
Email from Santosh:

Hello,

I have attached the non OBX-23 errors for 9/30/2022. Please review the errors and resubmit the results.

Thanks

Santosh Prabakar

California Department of Public Health

[2022-10-04 12:09] shy2cdc commented on #6903
[https://app.zenhub.com/files/304423150/90248f4a-f050-420b-9112-594cae2dcf49/download](https://app.zenhub.com/files/304423150/90248f4a-f050-420b-9112-594cae2dcf49/download)

[2022-10-04 13:50] sliu1000 commented on #6417
Update from Sender 10/3/2022:

Hello!
I hear we are close to finalizing a connection. I am very excited. **Can you confirm if we can add other CLIA numbers in the same file, or do I need to fill anything out for the new CLIA numbers?** Also, for **data that was before the connection, do we submit this a certain way?** I just want to make sure we are covering everything once this is established.
Ki

[2022-10-04 13:58] sliu1000 commented on #6471
Update from CEDs Informatics on 10/3/2022:

Hi Sharon,

**We did not get any confirmation that the messages were resent**. Please confirm this on your end and we would check if we received anything.

Thanks,

CEDS Informatics

[2022-10-04 14:15] rnz6 commented on #6343
Alex Miller - alex.sneedmiller@reopenlabs.com requested a ReportStream account and API connection. We've followed up with the TOS agreement and asked for a sample file. @BerniXiongA6

Hello,

I am a Technical Product Manager at a diagnostics company and we are looking to modernize our test reporting. ReportStream appears to be a great solution to a lot of our problems with regards to sending test

[2022-10-04 14:33] fmccaf1 opened #6905 "Document O&O flow: STLT receives error message"

[2022-10-04 14:35] fmccaf1 commented on #6905
Think I created this wrong. Trying again.

[2022-10-04 14:35] #6905 closed

[2022-10-04 14:39] fmccaf1 opened #6906 "Document O&O flow: STLT receives error message"
## Problem statement

ReportStream needs insight into its own processes to better design features and improve usability for external users.

## What you need to know

[Mural board](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1664828377684/37d40ca8316ccc49451a96901ae70dd08050aaf7?sender=ua604735c5cf1162b042a4310)

## Acceptance criteria

- [] Create flow in Mural showing O&O's ac

[2022-10-04 14:40] fmccaf1 commented on #6906
Met with Brick and Berni to collect data on flow. Next step is creating visual representation.

[2022-10-04 15:21] rnz6 opened #6907 "WA - Data Resubmission - First / last both "Unknown""
User: Jennifer Risler
Email address: jenni.risler@doh.wa.gov
Submitting facility: WA DOH

"Possible test data sent to production, two events identified.  First/last both "Unknown".

Request resubmission with corrections if data is for a real patient."

Message ID:
`8f04c1dd-4552-4e73-acf4-61b702a9428e`;  `f68c5fab-8653-40c6-8b7a-785c96445cd7`

[2022-10-04 15:30] jbiskie commented on #6890
Couple notes on this: Intrivo is a RADx MARS sender (OTC). ORC/OBR-2 are not required according to the spec.

[2022-10-04 16:16] snesm opened #6910 "SonarCloud not scanning prime-router"
## Problem statement

SonarCloud seems to be stopped scanning /prime-router code.

## What you need to know

- [SonarCloud scan statistics](https://sonarcloud.io/code?id=CDCgov_prime-data-hub)

## Acceptance criteria

- SonarCloud statistics show results for /prime-router code
- SonarCloud shows correct statistics for /frontend-react and /prime-router

## To do

- [ ] ...

[2022-10-04 17:18] shy2cdc commented on #6599
Email from Ruey:

Hi @MauriceReeves-usds ,

We're trying to send a request with what we believe would be our client but are getting no response. Would you mind providing Color's client name?

Thanks!

[2022-10-04 17:20] shy2cdc commented on #6903
Email from Santosh:

Hello,

I have attached the non OBX-23 errors for 10/03/2022. Please review the errors and resubmit the results.

Thanks

Santosh

[https://app.zenhub.com/files/304423150/8de42aeb-a7c5-4b23-a425-7b07132ee112/download](https://app.zenhub.com/files/304423150/8de42aeb-a7c5-4b23-a425-7b07132ee112/download)

[2022-10-04 18:18] shy2cdc commented on #6599
Email from Nick:

Hi @MauriceReeves-usds ,

Thanks for sending the KID. I'm the developer working on testing the staging connection. I believe I'm sending a proper request, but I seem to get no response. Here's my curl request taken from the programmers' guide. I'm omitting the token for security purposes, but will add the token contents below.
curl -X POST -H "content-length:0" "https://staging.p

[2022-10-04 20:40] RakshindaAslam opened #6912 "Backward compatibility test for Submissions - Full ELR"
## Problem statement
With the Hospital Corporation of America getting ready to send full ELR data to Colorado via ReportStream API, the user needs to continue seeing the submission history with no issues.
The purpose of this ticket is to test the full ELR submission history and document any issues that need to be fixed.

## What you need to know
- Full ELR data is being sent for HCA org in the sta

[2022-10-04 20:42] RakshindaAslam commented on #6912
@doug-s-nava @HeatherRienks - For pre-refinement

[2022-10-04 20:47] RakshindaAslam opened #6913 "Backward compatibility test for Daily Data - Full ELR"
## Problem statement

With the Hospital Corporation of America getting ready to send full ELR data to Colorado via ReportStream API, the user needs to continue seeing the delivered data history (Daily Data) with no issues.
The purpose of this ticket is to test the full ELR daily data history and document any issues that need to be fixed.

## What you need to know
- Work is in progress for pipeline

[2022-10-04 20:48] RakshindaAslam commented on #6913
@doug-s-nava @HeatherRienks - needs pre-refinement. Not ready to be pulled in before Oct 17th.

[2022-10-04 21:54] GilmoreA6 commented on #6640
BZD labs moved to production in testing mode and message sent to CA asking how they would like test messages delivered for evaluation

[2022-10-04 22:02] GilmoreA6 commented on #6762
Message sent to Tara Broke (tara@redoxengine.com)

"Hi Tara,

Other than the LIVD table value not matching, everything else looks good. While we wait for the folks at Vault, the next thing to decide will be whether you want to use token-based authentication or a shared secret key for connecting to the API. Both methods are described in the Programmer's Guide (https://reportstream.cdc.gov/resources

[2022-10-04 22:17] #6589 closed

[2022-10-04 22:17] #6762 closed

[2022-10-04 22:36] #6311 closed

[2022-10-05 12:03] shy2cdc commented on #6639
Email from Desiree:

Hello,

Right now there is one additional CLIA. There may be additional in the future, but probably not for a couple more months.

Kindest Regards,

[2022-10-05 13:04] shy2cdc commented on #6457
Email from Michael:

Hi All,

Jason Garrett is out of the office this week and will be returning next Tuesday.  If possible, could this wait until he is able to formally approve it sometime early next week?

Thanks for your consideration.

[2022-10-05 13:24] oslynn commented on #6457
2022-10-05.  Confirmed from RI.  They are good to go for prod.  I activated them and close this ticket.

[2022-10-05 13:24] #6457 closed

[2022-10-05 14:37] RakshindaAslam opened #6919 "Publish What's New - Oct 2022 Update"
## Problem statement
As a user, I would like to know what features, bugs, other user facing updates have been made to ReportStream product.

## What you need to know
- This document will be updated by POs and DMs with new changes. This will need to be reviewed/revised by the Experience Design team and published on the reportstream.gov website at the end of each month.
https://cdc.sharepoint.com/:w

[2022-10-05 15:14] RakshindaAslam commented on #6846
@kevinhaube - does this need any info or can it be refined?

[2022-10-05 15:22] #6650 closed

[2022-10-05 15:23] HeatherRienks commented on #6919
FYI @fmccaf1

[2022-10-05 15:24] TomNUSDS opened #6921 "Meta data off-by-one for version in Setting History"
Place marker to track down this bug.

[2022-10-05 15:24] TomNUSDS commented on #6921
@brick-green

[2022-10-05 15:32] brick-green opened #6922 "[name of company] Onboarding – Post-Go-Live [specific issue]"
### User story or problem statement

[Please add the specific user story or problem statement here if there’s an immediate issue that RS needs to address after the sender goes live.]

### Acceptance Criteria
- [ ] [please add your acceptance criteria]

### To Do
- [ ] RS engineer: update this ticket with comments with every interaction with sender, receiver, and/or ops team
- [ ] RS team member wh

[2022-10-05 16:00] #6922 closed

[2022-10-05 16:48] #3919 closed

[2022-10-05 16:48] kevinhaube commented on #3919
Closed by release of Delivery API

[2022-10-05 16:49] kevinhaube commented on #4969
Closed by release of Delivery API

[2022-10-05 16:49] #4969 closed

[2022-10-05 16:59] kevinhaube commented on #6846
@RakshindaAslam I'll add the `needs-info` label, because we need to discover _what_ contact information needs to be present so we can accurately estimate how difficult it'll be to get.

[2022-10-05 17:34] shy2cdc commented on #6599
Email from Nick:

Hi @MauriceReeves-usds ,

I'm able to get an access token now. Thanks for catching that!

In addition to the name, though, I also had to modify the scope I was requesting for. I was originally using color-labs.default.report because I was referencing page 11 of this doc https://reportstream.cdc.gov/assets/pdf/ReportStream-Programmers-Guide-v2.3-updated.pdf. It seems ".default.rep

[2022-10-05 17:45] GilmoreA6 commented on #6377
Majority of errors are of type 400: Bad Request. The GAEN documenation (https://github.com/google/exposure-notifications-verification-server/blob/main/docs/api.md#apiissue) mentions several different reasons for why a 400 status might be returned as evident in this table ![image.png](https://images.zenhubusercontent.com/62dae0f57dfc25367c3e0ca6/d53c9ae6-b1d4-4c5f-b61f-5110911c1da2)e

[2022-10-05 18:54] brick-green commented on #6724
CA agreed on the sync today that we only need to send the 113 positive results. I reached out to Laura King with SR to coordinate

[2022-10-05 19:24] #6587 closed

[2022-10-05 19:24] kevinhaube commented on #6587
Scheduled for discussion in Eng Sync, October 6th!

[2022-10-05 19:38] sliu1000 commented on #6903
@BerniXiongA6

What's the priority on this one? We received it on 10/3 and it looks like its not assigned to anyone yet.

[2022-10-05 19:40] sliu1000 commented on #6907
@BerniXiongA6

What's the priority on this one. We received this 10/3 and looks like it has not been assigned as well.

[2022-10-05 20:38] #6396 closed

[2022-10-05 21:35] penny-lischer opened #6930 "[Message ID][Search][UI] View Details"
## Problem statement

As an internal admin, I would like to be able to see the details of a message when selecting a messageId from the Admin -> Message ID Search page.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u3fea607b46e84058d3224917

## Acceptance criter

[2022-10-05 21:39] penny-lischer opened #6931 "[Message ID][Search][UI][API] Complete"
## Problem statement

As an internal admin, I would like to be able to see messages that I search upon as well as the details of a message when selecting a messageId from the Admin -> Message ID Search page.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u3fea607

[2022-10-06 13:32] carlosfelix2 opened #6934 "Change FHIR Path hasExtension function to hasPhoneNumberExtension"
### User Story:
As a developer, I want FHIR Path functions to have consistent naming, so they are easy to use.

### Description/Use Case
Change the name, so it is consistent with other functions.

### Risks/Impacts/Considerations

### Dev Notes:

### Acceptance Criteria
* FHIR Path hasExtension function is renamed to hasPhoneNumberExtension

[2022-10-06 18:11] HeatherRienks commented on #6919
@RakshindaAslam - what was the date that we would like to plan to launch the notes?

@fmccaf1 @a-chappelear

[2022-10-06 19:01] a-chappelear commented on #6787
@RakshindaAslam @doug-s-nava

Take-aways and next steps from O&O:

1) Many were not aware the feature was available to use. Was behind a feature flag as well. O&O will continue to review the feature as is and provide more feedback.

However, based on the demo I showed today - some valid points were raised

2) Value sets as it is now, only let you edit core values. I remember it being discussed tha

[2022-10-06 19:16] shy2cdc commented on #3943
@jbiskie Email from David today:

Hi Joel,

I can’t find any Premier files in the feed. Have you actually sent anything?

[2022-10-06 19:23] BerniXiongA6 commented on #6903
Just flagged it as high priority, and moving into the Sprint backlog for the next available engineer to take on. Any questions, ping @BerniXiongA6

[2022-10-06 19:24] fmccaf1 commented on #6906
Completed visual representation of the process as described by Brick, but putting that together raised a few more additional questions. Working now to get Brick's input on those, then will wrap up ticket.

[2022-10-06 19:24] BerniXiongA6 commented on #6907
I'm flagging resubmissions high just because I don't want them to expire. Whichever engineer taking this on, please ping @BerniXiongA6 with questions.

[2022-10-06 20:07] doug-s-nava commented on #6787
- The add new button should work to add new values to existing data sets. Did you see otherwise in the testing?
- value sets are based on the lookup table system, which means that each change to any value in a value set creates an entirely new version of the table. The implications for overwriting data there is that each change creates a new version, and so previous versions are retrievable (thoug

[2022-10-06 20:53] #6520 closed

[2022-10-06 21:51] brick-green commented on #6489
SafeHealth sent messages to staging for the backlog. I checked them and many still have the same problem of test identifier information misaligning with the LIVD table. Sent my feedback to them.

[2022-10-07 12:06] shy2cdc commented on #6599
@MauriceReeves-usds Email from Nick:

Hi Maurice,

I tried sending a couple messages just now and received the response below. I could easily be doing something wrong, but the error seems to indicate maybe you're missing a schema on your end for us? Regardless, the fact that we're able to connect to your API and get helpful error messages is great progress. Thanks for your continued support!

erro

[2022-10-07 13:07] carlosfelix2 opened #6941 "Tighten the CLIA ID regular expression for the getId and getIdType FHIR Path functions"
### User Story:
As a developer, I want any code that deals with CLIA to do it properly, so there are no issues in the decoding/encoding process of data.

### Description/Use Case
Initially when the regex was implemented we did not know the CLIA has a more specific pattern to it than implemented.  CLIA can have a patter like `11D1111111` or `D1D1111111`, where the number 1 is a digit 0-9, and the l

[2022-10-07 13:17] carlosfelix2 opened #6944 "Limit data that gets sent to CO STLT to be for CO"
### User Story:
As CO PHD, I don't want to receive any data that is not meant for us, so I can process only the data I need.

### Description/Use Case
Currently the universal pipeline is sending all data received to the pipeline to CO.  This is because the assumption is that we only receive data from HCA which is meant to be for CO.  That means we would not be sending any data to CO that it does n

[2022-10-07 15:58] lucasdze commented on #6866
@jeremy-page Please I just want to confirm that there is no more work to do here.

[2022-10-07 16:30] carlosfelix2 opened #6949 "Universal pipeline sets HL7 processing mode to T for receivers masked with status testing"
### User Story:
As a receiver, I want HL7 data to be marked with processing mode T (test) if my customer status is set to Testing, so my data is flagged correctly.

### Description/Use Case
This feature is similar to the existing COVID pipeline.  If the customer status is set to testing then the processing mode in the HL7 data must be set to T.  Also, if the processingModeCode property for the rec

[2022-10-07 16:48] kevinhaube opened #6950 "Retrieve reporting facilities from API"
## Problem statement

To serve the facility-centric data display feature outlined in #7005, the API needs an extension of functionality to account for retrieving a list of Facilities who have reported tests that got routed to the STLT in various Reports

## Resources & info

Blocking React implementation: #7651
The above ticket includes mockups showing the intended use of this endpoint.

An ideal

[2022-10-07 17:01] HeatherRienks commented on #6919
FYI - we will plan to launch around 11/4/22 (end of the first week of the month, as noted above).

[2022-10-07 17:37] RakshindaAslam opened #6953 "Usability Test for Msg Tracker MVP"
## Problem statement
Perform usability testing for Msg ID Search Tool with O&O team to understand if the MVP delivers functionality as expected to allow internal admin to serach messages easily and get the information needed for troubleshooting.
The purpose of this effort is to identify what updates/new enhancements need to be made to make the tool useful for the  O&O team for reducing the time sp

[2022-10-07 17:38] RakshindaAslam commented on #6953
@HeatherRienks @fmccaf1 @a-chappelear - for pre-refinement

[2022-10-07 18:08] sliu1000 opened #6954 "HHS Protect Data Issue - Blanks for MSH-3.1 and MSH-3.2"
## Problem statement

NIH user Krishna, found some data quality issues in HHS Protect from ReportStream Data.

For all test results coming from Intrivo, the MSH-3 segments are being left blank:
MSH-3.1 (Sending system namespace)
MSH-3.2 (Sending system OID)
The MARS specifications requires that these be populated.

## What you need to know

I reviewed 1 Intrivo HL7 file dated 10/6/2022 and it look

[2022-10-07 18:28] HeatherRienks commented on #6503
Link to recording of @victorialb-usds sharing with the team on 10/5/22
https://us06web.zoom.us/rec/share/y94OLZIC6LF4Qaln2cu7wQPMH8Ppn0XZl56rWZofuV9bblWqMbDnNwgHvYKdpSnE.icknIn7sWUUEWnCw?startTime=1664989532000

[2022-10-07 20:01] sliu1000 commented on #6954
Update:

Reportstream sends csv file to HHS Protect (per their request) instead of HL7 file. Andrew from NIH thinks we should start sending our HL7 file to Palantir instead of the CSV files. TBD

[2022-10-07 20:28] sliu1000 commented on #6407
Email sent to Sararh on 10/7/2022:

Sarah

I apologize for the delay in response. Jason went out on paternity leave almost immediately after the call and we haven't had time to debrief Rachelle about what was discussed. I can answer some of these questions but not all of them.
We do have an implimentation guide we can send. It's a little bit out of date but I'm currently working on updating it. If

[2022-10-07 21:37] GilmoreA6 opened #6956 "Vault Onboarding – Testing in Staging and Prod"
### Acceptance Criteria
- [ ] Sender has tested in staging and production
- [ ] RS engineer has determined the data is good enough and graduates Sender to send Prod data to receiver 

### To Do
- [ ] RS engineer: update this ticket with comments with every interaction with sender
- [ ] RS team member who originates this ticket: add dependencies:
     - [ ] [name of company] Onboarding – Create Org

[2022-10-07 21:38] GilmoreA6 opened #6957 "Innolitics Onboarding – Validate Receiver"
### Acceptance Criteria
- [ ] Contacted receiver to ask them to validate sample production data (real data) from sender
- [x] Contacted sender to inform which state we’ll be working with (need sample production data for that state)
- [ ] Data received from sender for the selected state
     - [ ] RS engineer accessed Azure “receive” folder in production to pull out reports from sender
     - [ ] E

[2022-10-07 21:40] GilmoreA6 opened #6958 "Vault Onboarding – Validate Receiver"
### Acceptance Criteria
- [ ] Contacted receiver to ask them to validate sample production data (real data) from sender
- [ ] Contacted sender to inform which state we’ll be working with (need sample production data for that state)
- [ ] Data received from sender for the selected state
     - [ ] RS engineer accessed Azure “receive” folder in production to pull out reports from sender
     - [ ] E

[2022-10-07 21:42] GilmoreA6 commented on #6707
10/6/22 - Sent Innolitics Keys to connect to staging and prod and waiting test file to staging.

[2022-10-07 21:42] GilmoreA6 commented on #6707
"Thanks Sam'an,

I have sent the keys via keybase. The next step will be sending a sample file to staging. Please do not include any real patient data in this test file.

Thanks,

James"

[2022-10-07 21:46] GilmoreA6 commented on #6956
email to Vault and redox (integration service)

"Hi All,

Wanted to check in and see there any questions regarding the LIVD values and also see if there was a decision on token based authentication vs. shared-secret. I am happy to set up a meeting if there are any questions that you feel would be more easily addressed in real-time communication.

Thanks and happy weekend!

-James"

[2022-10-10 15:10] a-chappelear commented on #6787
I created a ticket for adding the warning or type of confirmation. I did not see the new added at the bottom of the table - am wondering if that "new" row could be added to the top? Will wait to see if O&O continues to use the feature as is and has any further feedback.

[2022-10-10 15:11] a-chappelear opened #6959 "Value Sets - UI updates"
## Problem Background
Based on usability feedback on value sets, users would like to see a method for confirming a change and a warning that the change will alter settings.

**Other UI items to consider**
- moving "add new" to the top of the page
- clarifying in content what the change will alter (or how, it isn't clear that this change could be overwritten in code as well, which overwrites the UI

[2022-10-11 12:18] shy2cdc commented on #6640
Email from Ellaison:

Hi @GilmoreA6 ,

Yes, for the CSV messages, please do use CDPH00085 in place of the CLIA and send the prod messages for us to review to our test environment.  Since we are currently getting a fair amount of data in our test environment, it would be helpful to know when you send the messages and the accession numbers which will make it easy for us to locate and review them.

I

[2022-10-11 14:00] oslynn commented on #6851
2022-10-11: I am closing this ticket for now.  According to @brick-green, ME is pausing the onboarding for now since they don't have enough man power.

[2022-10-11 14:00] #6851 closed

[2022-10-11 14:07] oslynn commented on #6343
2022-10-06: Sent ReportStream programmer's guide to Alex Sneed and Forward the email thread to @BerniXiongA6 for setting up the formal onboard meeting with them.

[2022-10-11 14:25] #4395 closed

[2022-10-11 14:29] snesm commented on #6812
duplicate of https://github.com/CDCgov/prime-reportstream/issues/6819

[2022-10-11 14:29] #6812 closed

[2022-10-11 14:45] JosiahSiegel opened #6963 "Demo Environment Restore Optimization"
As a DevOps engineer, I want to optimize the Demo Env restore process so that the restore is complete in 2 hours or less.

Acceptance:
 * Demo env db restore is 2 hours or less

[2022-10-11 15:21] #6657 closed

[2022-10-11 15:42] sliu1000 opened #6964 "SimpleReport CSV Uploader - missing Equipment UID and Equipment Type in ~367 records"
[https://app.zenhub.com/files/304423150/83f151e7-b748-46fb-b62c-de1a8c05c1e9/download](https://app.zenhub.com/files/304423150/83f151e7-b748-46fb-b62c-de1a8c05c1e9/download[https://app.zenhub.com/files/304423150/8c3f806f-c3a6-49be-8244-44bef68e53ac/download](https://app.zenhub.com/files/304423150/8c3f806f-c3a6-49be-8244-44bef68e53ac/download))

Sharada Kawal from Optum sent a request for us to resu

[2022-10-11 15:57] sliu1000 commented on #6417
Update from CA State - Ellaison on 10/7 at 8:45 PM:

Hi James,

Yes, for the CSV messages, please do use CDPH00085 in place of the CLIA and send the prod messages for us to review to our test environment.  Since we are currently getting a fair amount of data in our test environment, it would be helpful to know when you send the messages and the accession numbers which will make it easy for us to l

[2022-10-11 16:05] lucasdze opened #6965 "Test Codeql Analysis Scan on failure"
The Codeql Analysis Scan is currently working with no issue. But it is also good to verify that the Codeql setting will catch any error on the code. So, we will create a wrong JavaScript and python codes and run Codeql analysis on.

[2022-10-11 16:07] lucasdze opened #6966 "Integrate Codeql Analysis Scan with Java code in Prime-report-stream repo"
Enable Codeql Analysis scan for all Java code prime report stream repo

[2022-10-11 17:25] #6555 closed

[2022-10-11 17:28] doug-s-nava opened #6968 "Update Node to v16"
## Problem statement
As a ReportStream developer I want to make sure that all of our tools are compatible with the version of Node we are using.

## What you need to know

This PR needs to be done first https://github.com/CDCgov/prime-reportstream/pull/6319

Sonarcloud is ending support of Node v14, so may as well update now before things get too bad

https://nava.slack.com/archives/C02GH3NA8S1/p1

[2022-10-11 17:29] doug-s-nava commented on #6968
link to https://github.com/CDCgov/prime-reportstream/issues/5926 which can be closed once this is done

[2022-10-11 17:41] RakshindaAslam commented on #6913
cc @HeatherRienks - Need to check with @carlosfelix2 @clediggins-usds when this feature is in staging for testing.

[2022-10-11 18:07] #6787 closed

[2022-10-11 18:47] a-chappelear commented on #6555
An implementation ticket can be made with the above Mural on navigation items above. @HeatherRienks @doug-s-nava

[2022-10-11 18:51] #6659 closed

[2022-10-11 19:01] GilmoreA6 commented on #6707
-Innolitics getting 401 error when attempting to send to staging. Investigating.

[2022-10-11 19:04] GilmoreA6 commented on #6377
Errors do not appear to be related to message content as there are no obvious deficiencies in failed message. Need to investigate full JSON response to see if this is helpful.

[2022-10-11 19:12] sliu1000 commented on #6903
Update from user, still receiving ECG errors:

Received several errors on the below days:

- 10/3
- 10/5
- 10/7

[2022-10-11 19:18] carlosfelix2 commented on #6759
This was implemented as part of another issue

[2022-10-11 19:18] #6759 closed

[2022-10-11 20:18] BerniXiongA6 commented on #6890
@oslynn need to verify if it's been resent

[2022-10-11 20:19] BerniXiongA6 commented on #6775
@oslynn need to verify

[2022-10-11 20:20] BerniXiongA6 commented on #6593
@sarahnw to reach out to Megan Light for re-engagmemnt strategy

[2022-10-11 20:24] BerniXiongA6 commented on #6678
@BerniXiongA6 work with Help desk to confirm with user so we can close out

[2022-10-11 20:27] BerniXiongA6 commented on #6231
@oslynn will look into this and update ticket cc: @BerniXiongA6

[2022-10-11 20:29] BerniXiongA6 commented on #6188
@brick-green will turn into an epic and will refine the AC and details cc: @BerniXiongA6

[2022-10-11 20:33] BerniXiongA6 commented on #6202
@jorg3lopez to dig into it some more and reach out to SR regarding the old data (will find out more after this additional research) cc: @BerniXiongA6

[2022-10-11 20:41] BerniXiongA6 commented on #6343
@BerniXiongA6 will update this ticket with the email exchange with Alex

[2022-10-11 20:57] BerniXiongA6 commented on #6088
@BerniXiongA6 schedule a backlog refinement for team

[2022-10-11 20:57] BerniXiongA6 commented on #6438
@BerniXiongA6 bring into backlog refinement

[2022-10-11 20:59] BerniXiongA6 commented on #6833
@BerniXiongA6 keep an eye on, need to reset pw in 2 months time

[2022-10-11 21:03] #6804 closed

[2022-10-11 21:18] oslynn commented on #5944
2022-10-11: Email to Anthony.

Good After noon, Anthony,

We had a meeting with NJ regarding the CDRSS Case ID for onboarding with them.  What I understand is they want every senders to go through the CDRSS Quick Start Training and obtain the CDRSS Case ID for including in the
Excell sheet provided.  Therefore, they know that sender will be able to manually enter HL7 data if needed.  We are moving

[2022-10-11 21:24] jorg3lopez commented on #6786
#### Update:
Settings have been changed for DE to display "Dr. Gregory" "Warner" when ORC-12-2 and ORC-12-3 fields are blank.

[2022-10-12 00:13] oslynn commented on #6231
2022-10-11: message need to resend:
Following message_id from ProPhase:
20220526224158

20220527134030

20220602152920

20220504123730
20220513090915
20220519130445
20220519211504
20220520145454
20220520172542
20220525125945
20220526095717

'===============
message_id in files below are from SimpleReport:
  Error in Rhapsody Route in PRODUCTION.eml
  Error in Rhapsody Route in PRODUCTION (1).eml

[2022-10-12 00:14] oslynn commented on #6231
2022-10-11: I checked the database.  None of them has been resubmit yet.  I will following up with ProPhase and SimpleReport to see the status.

[2022-10-12 05:40] HeatherRienks commented on #3097
Update from @doug-s-nava - He  is working with @jeremy-page on getting access for the team.

[2022-10-12 12:08] shy2cdc commented on #6355
Email from Amy:

Hi @brick-green ,

We have a few submitters live and are continuing to onboard the rest. Prior to having you cut over, we have some additional data analysis that we need to complete on our side.  At this point we’re expecting to be able to get you live sometime in late October. Let me know if you have any outages or events we need to schedule around and we can settle on an exact d

[2022-10-12 12:58] carlosfelix2 opened #6970 "Setup HCA to connect to production"
### User Story:
As a HCA, I want to connect to the production API, so I can send production data to RS.

### Description/Use Case
HCA needs to be setup to connect to production.  They are currently connected to staging.  They will need a new hca.default sender setup in production as well as a new key (we need the public key for our config).

### Risks/Impacts/Considerations

### Dev Notes:
* See h

[2022-10-12 13:03] carlosfelix2 opened #6971 "CO receiver is setup for the universal pipeline"
### User Story:
As CO receiver, I want to have a receiver setup in staging and production to receive full-ELR data.

### Description/Use Case
Need to setup new receivers in staging and production for CO to receive full-ELR data.  The settings must mimic the other CO receivers, but remove any settings the universal pipeline is not using.

### Risks/Impacts/Considerations

### Dev Notes:
* Note that

[2022-10-12 13:32] carlosfelix2 opened #6972 "Batch function needs to batch HL7 messages per receiver settings"
### User Story:
As a receiver, I want to receive HL7 batch files if I request it, so I can decode the data as I need it.

### Description/Use Case
The batch function can batch CSV and HL7 messages as setup in the receiver settings in the `timing` section.  E.g.
[code]
If the operation is set to merge, HL7 data from the universal pipeline that is to be batched needs to be batched into one HL7 file

[2022-10-12 15:36] snesm opened #6974 "Node V12 EOL"
## Problem statement
Frontend build reports:
[Pre Job](https://github.com/CDCgov/prime-reportstream/actions/runs/3235582497/jobs/5300784860)
Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: dorny/paths-filter, dorny/

[2022-10-12 15:50] sliu1000 commented on #6425
Update from Sender Jeuhua 10/12/2022 at 10:45 am:

To Whom It May Concern:

This is Juehua Yu from Genabio. We are working on report submission by CDC ReportStream system. We have generated EC384 key by following "Step 1:  Prior to submission, send your public key to ReportStream" in the doc "ReportStream-Programmers-Guide-v2.3-updated.docx". The public key has been sent to ReportStream team and h

[2022-10-12 17:19] fmccaf1 opened #6975 "Create document of PHD contacts"
## Problem statement

Let's start building up a resource with contacts we can connect with for ongoing research.

## What you need to know

Rakshinda's work in August kicked us off with this work:

![image.png](https://images.zenhubusercontent.com/629a1db0e70457da479e69ae/3298164b-3a5f-4186-abf2-fef9cf85d59b)

## Acceptance criteria

- [ ] Create living document in Sharepoint

[2022-10-12 17:27] lucasdze opened #6976 "Upgrade NodeJs version from 12 to 16 in all reportstream workflow using gradle/wrapper-validation-action"
There is a warning to change the nodejs version in gradle/wrapper-validation-action. I'll create another ticker for
Node.js 12 actions are deprecated. Please update the following actions to use Node.js 16: gradle/wrapper-validation-action

For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/

[2022-10-12 17:57] #5643 closed

[2022-10-12 18:21] brick-green opened #6981 "CO - Filter Results based on test type and result"
## Problem statement

Memo/Notice sent from CDPHE - Colorado Department of Public Health and Environment dated 7/15/2022.

Effective Immediately:

- CDPHE will no longer require reporting of negative rapid and antigen SARS-CoV-2 negative test results.

- However, Positive and Negative nucleic acid amplification/molecular SARS-CoV-2 tests continue to be reportable to CDPHE

## What you need to know

[2022-10-12 18:25] oslynn commented on #6231
2022-10-12: Reminded ProPhase (emailed Anthony) to resend the following message again:

'============== From ProPhase =========================================
I requested ProPhase (Anthony) to resend these messages + the missing fields. When I checked
the database (table: covid_result_metadata), I don't see any of them resend yet.

Message_ids:
20220526224158
20220527134030
20220602152920
2022050

[2022-10-12 18:27] oslynn commented on #6231
2022-10-12: Reminded SR (Emma) to  to resend the following message again:

Messages inside the following file:
[https://app.zenhub.com/files/304423150/20686683-2f3e-48ac-b4f8-6c34994c0eaf/download](https://app.zenhub.com/files/304423150/20686683-2f3e-48ac-b4f8-6c34994c0eaf/download)

[2022-10-12 18:55] oslynn commented on #6231
2022-11-12: Got response back from SR.

They requested senders to filled in those missing fields and resend those message to RS.  However, none of sender did the resend.  This need to discuss in 16 min standup.

[2022-10-12 19:03] lucasdze commented on #6819
At a high level, version 3.0 includes the following changes:

[New Data Sources and Resources for App Service and Function Apps](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/guides/3.0-upgrade-guide#new-resources-and-data-sources-for-app-service)
[Soft Delete Recovery/Purging for Certificates, Keys, and Secrets](https://registry.terraform.io/providers/hashicorp/azurerm/lat

[2022-10-12 19:18] carlosfelix2 commented on #6944
OBE.  This is not needed at this time and this feature will be added as part of the routing

[2022-10-12 19:18] #6944 closed

[2022-10-12 20:05] BerniXiongA6 commented on #6689
Happy to pair with someone on Exp. team to revisit this work as the O&O rep. If we need to add anyone else in the convo, I can arrange that. Thanks! cc: @HeatherRienks

[2022-10-12 20:14] brick-green opened #6983 "Add LIVD fields to covid-19 schema"
## Problem statement

LIVD table fields need to be available to the receiver settings. This will allow users to adjust filters based on those fields. Fields needed:

- TestType
- CLIAComplexity
- Test Method
- Screening
- Serial Screening
- Direct to Consumer (DTC)
- Home Collection
- Collection Kit
- Non-prescription Testing
- Prescription Home Testing
- Over the Counter (OTC) Home Testing
- Tele

[2022-10-12 21:48] GilmoreA6 commented on #6707
Hi Sam'an,

It looks like for some reason that second test file has incorrect state abbreviations for patient_state and ordering_provider_state. The states should use the two letter postal code abbreviations found here (https://pe.usps.com/text/pub28/28apb.htm). For example in the sample file "GEORGIA" is abbreviated "GE" instead of  the correct "GA".

One other thing I've noticed is it looks like

[2022-10-13 12:07] shy2cdc commented on #6599
Email from Ruey:

Hi Team,

Thank you so much for taking the time to chat with us today. Meeting notes can be found in our meeting doc. A few action items & questions from our meeting below:

ReportStream

Sent message and received "errors" : [ {"scope" : "parameter","message" : "'client:color-labs': unknown schema 'hl7/color-labs-covid-19'"}]

ReportStream to complete Color’s setup so Color can b

[2022-10-13 13:31] RakshindaAslam opened #6986 "Message ID Tracker - Receiver data - UI"
## Problem statement

As an internal admin, I would like to be able to see the receiver specific details of a message when selecting a messageId from the Admin -> Message ID Search page.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u3fea607b46e84058d3224917

Wi

[2022-10-13 13:37] oslynn commented on #6377
When I have a chance, I will take a look at this ticket with James.

[2022-10-13 13:38] RakshindaAslam opened #6987 "Message ID Tracker - Receiver data - Design"
## Problem statement
As an internal admin, I would like to be able to see the receiver specific details of a message when selecting a messageId from the Admin -> Message ID Search page.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u3fea607b46e84058d3224917

Wir

[2022-10-13 13:40] RakshindaAslam commented on #6987
cc @HeatherRienks @fmccaf1 @a-chappelear - This needs to be the next item to continue working on the Msg Tracker MVP for receiver data. Updating it to be the stretch goal for sprint 53.

[2022-10-13 13:41] kevinhaube commented on #6526
Set to deploy on Tuesday, 10/18

[2022-10-13 13:43] RakshindaAslam opened #6988 "Message ID Tracker - Receiver data - API"
## Problem statement

As an internal admin, I would like to be able to see the receiver specific details of a message when selecting a messageId from the Admin -> Message ID Search page.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u3fea607b46e84058d3224917

Wi

[2022-10-13 13:43] BerniXiongA6 opened #6989 "Change error code "Mo intervention required" to more appropriate verbiage"
## Problem statement

[Write a short description of what you want to achieve with this task]

## What you need to know

 [Links to documents, workflows, or list of key people and contact info]

- [Document 1](https://...)
- [Document 2](https://...)
- ...

## Acceptance criteria

- [ ] ...

## To Do
- Let's refine this ticket before bringing it into the sprint -- AC and other info need to be flesh

[2022-10-13 13:44] RakshindaAslam commented on #6986
cc @HeatherRienks @ahay-agile6 @penny-lischer

[2022-10-13 13:44] RakshindaAslam commented on #6988
cc @HeatherRienks @penny-lischer @ahay-agile6

[2022-10-13 14:00] RakshindaAslam opened #6990 "Message Tracker - Multiple Results"
## Problem statement

As an internal admin, I would like the ability to search for multiple msgIDs to understand what happened to it and why it did not make it to the expected state.
The purpose of this is to help with addressing support tickets.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57

[2022-10-13 14:00] RakshindaAslam commented on #6990
@HeatherRienks

[2022-10-13 14:22] RakshindaAslam opened #6992 "Message Tracker - Single Result - MVP"
## Problem statement

As an internal admin, I would like the ability to search for multiple msgIDs to understand what happened to it and why it did not make it to the expected state
The purpose of this is to help with addressing support tickets.

**Additional context**
The main use case for this feature is as a troubleshooting tool if a STLT reaches out about an error or problem. O&O engineers can

[2022-10-13 14:31] sliu1000 commented on #6954
Update:

Adding and removing some recipients due to staffing changes.
Andrew - we'll look at calendars and get back with you.

Thanks,

Joel Biskie (Flexion, Inc.)
Integration Engineer
Pandemic-Ready Interoperability Modernization Effort (PRIME)
From: Weitz, Andrew (NIH/NIBIB) [E] <andrew.weitz@nih.gov>
Sent: Thursday, October 13, 2022 9:07 AM
To: Report Stream (CDC) <reportstream@cdc.gov>; Becket

[2022-10-13 14:31] RakshindaAslam opened #6993 "Public Validation Service - MVP"
## Problem statement

As a prospective sender with no access to the protected ReportStream website, I want to be test my data file in CSV or HL7 format and get user friendly responses to understand, identify and fix issues with my data.

As a RS onboarding engineer/support team member, I spend time validating files from prospective senders. Currently, I receive the files from prospective senders,

[2022-10-13 14:32] RakshindaAslam commented on #6993
cc @HeatherRienks

[2022-10-13 14:38] RakshindaAslam opened #6994 "Backward compatibility for full ELR for data displayed on reportstream.gov"
## Problem statement
With the Hospital Corporation of America getting ready to send full ELR data to Colorado via ReportStream API, the user needs to continue seeing the submission history and delivered data history (Daily Data) with no issues.
The purpose of this ticket is to test the full ELR daily data history and document any issues that need to be fixed.

## What you need to know
- Work is in

[2022-10-13 14:39] RakshindaAslam commented on #6994
cc @HeatherRienks

[2022-10-13 14:43] RakshindaAslam opened #6995 "Publish Monthly - What's New"
## Problem statement
As a user, I would like to know what features, bugs, other user facing updates have been made to ReportStream product.

## What you need to know
- This document will be updated by POs and DMs with new changes. This will need to be reviewed/revised by the Experience Design team and published on the reportstream.gov website at the end of each month.
https://cdc.sharepoint.com/:w

[2022-10-13 14:43] RakshindaAslam commented on #6995
cc @HeatherRienks

[2022-10-13 14:46] #6974 closed

[2022-10-13 14:52] fmccaf1 opened #7000 "Document deployment flow"
## Problem statement

ReportStream needs insight into its own processes to better design features and improve usability for external users.

## What you need to know

[Mural board ](https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1665674479619/dd074ccd7d666ec765264f1da2794dd77404b92c?sender=ua604735c5cf1162b042a4310)

## Acceptance criteria

- [x] Create flow in Mural showing O&O's

[2022-10-13 14:58] RakshindaAslam opened #7001 "Message Tracker - External Authenticated Service"
## Problem statement

As an external authenticated user sender or receiver, I would like the ability to search for one or multiple msgIDs to understand what happened to it and why it did not make it to the expected state
The purpose of this is to help users to self-serve with troubleshooting errors with message delivery via ReportStream.

## What you need to know

Mural with initiative break-down

[2022-10-13 14:59] RakshindaAslam commented on #7001
cc @HeatherRienks

[2022-10-13 15:08] #6202 closed

[2022-10-13 15:34] #6495 closed

[2022-10-13 16:04] a-chappelear commented on #6789
Test files if needed: [https://cdc.sharepoint.com/teams/USDSatCDC/Shared%20Documents/Forms/AllItems.aspx?id=%2Fteams%2FUSDSatCDC%2FShared%20Documents%2FPRIME%20ReportStream%2FTeam%20Documents%2FExperience%20Team%2FEngineering%2FMisc%20Experience%20Eng%20Docs%2FReportStream%20Errors%20%26%20Warnings%20Inventory%20%2D%20sample%20files&viewid=17db3ff6%2D95c5%2D4562%2Da1f3%2D12b5097b5947](https://cdc.

[2022-10-13 16:08] lucasdze commented on #6976
Issue resolved with PR https://github.com/CDCgov/prime-reportstream/pull/7002

[2022-10-13 16:10] lucasdze opened #7003 "Upgrade NodeJs version from 12 to 16 in juliangruber/sleep-action"
Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16: juliangruber/sleep-action

[2022-10-13 16:12] lucasdze opened #7004 "Upgrade NodeJs version from 12 to 16 in jwalton/gh-docker-logs action"
Node.js 12 actions are deprecated. For more information see: https://github.blog/changelog/2022-09-22-github-actions-all-actions-will-begin-running-on-node16-instead-of-node12/. Please update the following actions to use Node.js 16:  jwalton/gh-docker-logs

[2022-10-13 16:13] RakshindaAslam opened #7005 "STLT facing - Information about facilities sending data via RS"
## Problem statement
As an authenticated user with a public health department receiving data from ReportStream, I want to be able to see the following information:
1. List of facilities that send data to my PHD
2. Last date of data sent for each of these facilities
3. Contact information for each facilities so I can contact them directly if I have a question about the data sent or missing
4. Volum

[2022-10-13 16:13] lucasdze commented on #6966
Issue fixed with PR https://github.com/CDCgov/prime-reportstream/pull/6978

[2022-10-13 16:14] RakshindaAslam commented on #7005
cc @HeatherRienks @doug-s-nava @drew-usds

[2022-10-13 16:22] #6912 closed

[2022-10-13 16:43] kevinhaube opened #7008 "Retrieve demographic info for Facility"
## Problem statement

To display info about a reporting facility on the front-end, we need to store and supply facility data from submission rows to the STLTs who received their messages.

## Resources & info

Related React work is blocked: #7652, #7655
The above tickets include mockups that show the intended implementation

## Acceptance criteria

- [ ] Endpoint returns indication of which type o

[2022-10-13 17:55] shy2cdc commented on #6857
Email from Mike:

Documentation can be found at https://cdrs.doh.state.nj.us/cdrss/common/cdrssELREnrollment - we have links to our Implementation  Guide and Onboarding Manual on that page.

Thank you,

Mike Firkser

Technical Lead - NJDOH ELR Team

NJELR.Admin@doh.nj.gov

[2022-10-13 18:04] lucasdze commented on #7004
Resolved with PR https://github.com/CDCgov/prime-reportstream/pull/7006

[2022-10-13 18:27] snesm commented on #7004
https://github.com/CDCgov/prime-reportstream/pull/7006 approved/merged.

[2022-10-13 18:27] #7004 closed

[2022-10-13 18:51] oslynn commented on #6903
2022-10-13: Email to CA as following:
Good after noon, Vanessa Burkhart

My name is OTT SATHNGAM.  I am the engineer who responsible for resubmission of your messages that have OBR-16.1 and ORC-12.1 (ordering_provider_id) side restriction exceeded in segment errors.
I requested SimpleReport team to request their original senders to resent with correct OBR-16.1 and ORC-12.1.  They told me that, it

[2022-10-13 19:34] snesm commented on #7003
or maybe

[code]

[2022-10-13 20:04] #7003 closed

[2022-10-13 20:31] shy2cdc commented on #6231
Email from Anthony:

Good Afternoon Ott,

I reached out to ProPhase and they requested Any way to identify the messages by a different value? If I'm sending from the LIS again I need PID4 or an OBR or orc 2 value.

Is there anyway to get this information from NJ to be able to reprocess the messages? Thank you for your help.

Anthony,

[2022-10-13 20:31] shy2cdc commented on #6707
Email from Sam'an:

Sounds great,
I've defaulted all of the ordering provider information to blank and I'm still getting that same error message. I've attached a copy of the latest report for your reference.
Sam'an Herman-Griffiths
Junior Software Engineer
Innolitics

[2022-10-13 21:27] sliu1000 commented on #6957
Update from Sender: Sam'am Herman-Grifiths at Innolitics - 10/13/2022 at 2:35 PM

Sounds great,
I've defaulted all of the ordering provider information to blank and I'm still getting that same error message. I've attached a copy of the latest report for your reference.
------------------------------------------------------------
Thanks Sam'an,

I have sent the keys via keybase. The next step will

[2022-10-13 21:44] sliu1000 commented on #4477
Update from Sender:

Hi Joel, thanks for the quick response.
Will we be losing any state reporting by moving to HL7, any other cons we should be aware of?

- Iman

---------------------------------------------------------------------------------

Hi Iman,

Nice to hear you've connected with Krishna. We've worked with him and Andrew quite a bit. The Getting Started HL7v2 guide on the page you linke

[2022-10-14 12:07] shy2cdc commented on #4477
Email from Iman:

Hi Joel, thanks for the quick response.

Will we be losing any state reporting by moving to HL7, any other cons we should be aware of?

- Iman

[2022-10-14 13:27] doug-s-nava commented on #5691
@kevinhaube - think we can close this. Can you confirm?

[2022-10-14 13:28] doug-s-nava commented on #5623
going to close this as we are moving off of rest hooks, and this testing business will come out in the wash

[2022-10-14 13:28] #5623 closed

[2022-10-14 13:29] doug-s-nava commented on #5923
this should likely be taken into account in any future Value Sets research. heads up to @fmccaf1 . If user testing doesn't bring up any of these issues, this card can be closed.

[2022-10-14 13:31] doug-s-nava commented on #4486
closing this, as any caching we do now will likely be through react-query

[2022-10-14 13:31] #4486 closed

[2022-10-14 13:32] doug-s-nava commented on #3833
i'm going to close this, as moving off of okta hasn't come up since I started in May. If it comes up again we can make a new ticket

[2022-10-14 13:32] #3833 closed

[2022-10-14 13:33] doug-s-nava commented on #4926
@kevinhaube - can you confirm if this is still an issue? if so we should maybe prioritize this

[2022-10-14 13:35] doug-s-nava commented on #5032
Unclear if this still needs to be done, but much of it seems to have been done. Would love to prioritize looking at this to gauge the current situation

[2022-10-14 13:37] doug-s-nava commented on #5892
closing this as we discussed as part of react-query implementation and ruled that it was a nice to have that can be possibly revisited later after migration to react-query is complete

[2022-10-14 13:37] #5892 closed

[2022-10-14 13:38] doug-s-nava commented on #6151
seems like maybe this was done? can you confirm @kevinhaube ?

[2022-10-14 13:38] doug-s-nava commented on #6289
i ended up adding `--silent` as a simple solution here. done!

[2022-10-14 13:39] #6289 closed

[2022-10-14 14:08] kevinhaube commented on #6151
@doug-s-nava Yep, we can close this out!

[2022-10-14 14:08] #6151 closed

[2022-10-14 14:11] kevinhaube commented on #5691
Yep! We fully rely on session membership state now 👍🏼

[2022-10-14 14:11] #5691 closed

[2022-10-14 15:14] shy2cdc commented on #6231
Email from Anthony:

Good Morning @oslynn ,

Thank you for the information. The question I was asking about was that you requested to resend certain messages from back in May. Our company only holds data for 30 days like yours and I sent the list to ProPhase to resend from their LIS. I copied what they requested that they would need more information in order to pull from the LIS and resend the mes

[2022-10-14 15:46] carlosfelix2 commented on #6848
Design is attached:
[https://app.zenhub.com/files/304423150/b0f41580-4e93-4b6d-957f-f752698796dc/download](https://app.zenhub.com/files/304423150/b0f41580-4e93-4b6d-957f-f752698796dc/download)

[https://app.zenhub.com/files/304423150/1e85fda6-1c2a-4768-ae1a-1865e2bb244f/download](https://app.zenhub.com/files/304423150/1e85fda6-1c2a-4768-ae1a-1865e2bb244f/download)

[2022-10-14 16:02] sliu1000 commented on #6550
Update from Sender:

Hi Team,

Thank you so much for taking the time to chat with us today. Meeting notes can be found in our meeting doc. A few action items & questions from our meeting below:

ReportStream

Sent message and received "errors" : [ {"scope" : "parameter","message" : "'client:color-labs': unknown schema 'hl7/color-labs-covid-19'"}]

ReportStream to complete Color’s setup so Color ca

[2022-10-14 16:05] snesm opened #7014 "Action version skew"
## Problem statement

It appears that dependabot does not find all instances of actions that need updates.

## What you need to know

A grep/cut/sort/uniq massaging of our workflows and actions shows the following possible version skews:

EnricoMi/publish-unit-test-result-action@0ee9ecdb13bc5ce38c9e7527f2582942ced3b246
EnricoMi/publish-unit-test-result-action@2a60c5d47eb29cd5cc922f51bbea18e148f562

[2022-10-14 16:57] a-chappelear commented on #6789
To test on staging, set yourself as a sender - ex: hcintegrations (set-up to accept Hl7)
The validator sits behind a feature flag of "validation-service"

[2022-10-14 17:42] sliu1000 commented on #6459
TEST__RESULT	PERFORMING__ORG__NAME	WELRS__HC	WELRS__ASSIGNED__HC__MANUAL	WELRS__MSH__ID	SUBMITTER__UNIVERSAL__ID__MSH_0402
Detected	SA.OTCSelfReport	COVID-19	False	386665667	1.3.6.1.4.1.38630.2.1.1.519
Detected	SA.OTCSelfReport	COVID-19	False	386665695	1.3.6.1.4.1.38630.2.1.1.519

[2022-10-14 18:19] shy2cdc commented on #6599
Email from Nick:

Hi Sharon,

Thanks for confirming receipt. I'm also attaching our production public key, another item from Ruey's meeting notes. We'd love it if someone could get this added to our client in prod in tandem with the investigation of the staging messaging issue highlighted above. This would greatly help us in our testing.

Best,

Nick

[2022-10-14 18:43] sliu1000 commented on #6857
Update from Sender - Nova Labnetics Diagnostics:

Hi Joel,

I hope you are doing well. Wanted to follow up and see if we can start implementing ReportStream for our new LIS.

Thank you and Regards,
Basit Hussain | Chief Operating Officer

[2022-10-14 19:49] sliu1000 commented on #6550
Update from Color:

Hi Sharon,

Thanks for confirming receipt. I'm also attaching our production public key, another item from Ruey's meeting notes. We'd love it if someone could get this added to our client in prod in tandem with the investigation of the staging messaging issue highlighted above. This would greatly help us in our testing.

Best,

Nick

[2022-10-14 20:09] oslynn commented on #6231
2022-10-14: ProPhase's client can't use MSH-10 to locate message to resend.  They can only use PID4 or OBR2 or ORC2 to locate message in their system.  I emailed NJ to provide those value for each message.  Therefore, I can give to ProPhase.

'====
Good morning, Mike,

They are in the following files:

covid-19-6d03f278-eaa4-4b44-b02f-86b82e1c823c-20220527134110.hl7
20220526224158

covid-19-448ea8

[2022-10-14 21:22] oslynn commented on #6407
2022-10-14: Emailed Teri for SFTP credential and gave IP for whitelist.

"===
Good After noon, Teri,

My Name is OTT SATHNGAM.  I am responsible for onboarding your organization with ReportStream.  I completed ReportStream configuration setting for your organization.
I ready to send you the sample hl7 file for validation.  Please provide me your SFTP information such as credential and path to your

[2022-10-14 22:52] clediggins-usds commented on #6949
Processing Mode code 'T' in HL7 does not mean Testing. There is no 'testing' in the processing mode value set: https://hl7-definition.caristix.com/v2/HL7v2.5.1/Tables/0207

[2022-10-17 13:20] JosiahSiegel opened #7022 "DNS container auto IP correction"
## Problem statement

If the DNS container instance auto updates and is set to the wrong IP, starting and stopping is required to resolve to the correct IP instead of simply "restarting"

## Acceptance criteria

- Updated validate resources workflow to stop and start dns container instance on ip failure

[2022-10-17 13:43] #7022 closed, assigned to JosiahSiegel

[2022-10-17 16:55] kevinhaube commented on #6525
Set to deploy on 10/18

[2022-10-17 17:26] snesm opened #7031 "Disable pull-request-stats"
**Description**
Disable the [pull-request-stats](https://github.com/flowwer-dev/pull-request-stats) action since it is not significantly used and is based on Node12.

**Specific Requested resources**
A list of exact resources needed and recommended names

**Existing Resources?**
Are there any existing resources that we will need to delete or modify for this?

**Additional Context**
Any additional

[2022-10-17 17:35] kevinhaube opened #7032 "API timeout during deployment"
**Describe the bug**
When deploying our ReportStream application, after the container swap occurs, there's an indefinite period of time (10-30 mins) where the front-end site will timeout after 3 minutes waiting for an API response from **only some** endpoints.

**Impact**
Endpoints with this affect, observed 10/18 and 10/20:
- Submission History (cleared after 10ish minutes)
- Data result size dir

[2022-10-17 17:35] kevinhaube commented on #7032
I will be on Experience deployment duty this week: I will observe what endpoints I can trigger the bug on and list them in this ticket's description.

[2022-10-17 18:28] shy2cdc opened #7034 "CA DOH - Zuckerberg SF General SimpleReport submissions"
Email from Bonnie: 10/6 6:38pm

Hi Zuckerberg staff

We have received laboratory result messages sent to SimpleReport from your facility which have encountered errors during transmission. This error has happened due to your facility name exceeding the maximum acceptable length of 35 characters.

To correct this you will need to:

Suspend reporting.
Shorten your facility name to 35 characters, spac

[2022-10-17 19:34] clediggins-usds commented on #6949
We are actually talking about Processing Id, not Processing Mode. MSH.11 https://hl7-definition.caristix.com/v2/HL7v2.8/Tables/0103

[2022-10-17 19:41] shy2cdc commented on #6956
Email from Tara:

Hi James,

I sent your response back to my developer and he responded with:

Based on the programmer’s guide, it looks like we would want to follow the steps on pages 9-11 and submit a public key to reportStream to enable use to use a generated JWT. We have an auth strategy called SMARTBackend that will probably allow us to do what they’re asking.

According to the guide they sho

[2022-10-17 20:54] clediggins-usds opened #7035 "Phase 1 Universal Pipeline hardcoded routing"
### User Story:
As reportstream, I want to hard code CO-PHD as the receiver for phase 1 of Universal Pipeline so I can delivery HCA data.

### Description/Use Case
We need the routing step to calculate its own receivers and add them to the bundle so the translator can just use that data to translate for STLTs.

### Risks/Impacts/Considerations
* Add tests

### Dev Notes:
* Will need to ensure the

[2022-10-17 23:40] #6670 closed

[2022-10-18 05:29] HeatherRienks commented on #7032
FYI @GilmoreA6 :)

[2022-10-18 05:59] HeatherRienks commented on #6689
@BerniXiongA6 -thank you for your offer! The public site updates are a part of our Stretch goal for this Sprint (53), but we should def discuss this priority with the product team.
cc: @fmccaf1

[2022-10-18 12:36] JosiahSiegel opened #7040 "SLOW REPORTSTREAM QUERIES"
## Problem statement

[Chat link](https://semanticbits.slack.com/archives/C01SFFVH31Q/p1666042174728249)

LIST OF SLOW REPORTSTREAM QUERIES
1. This never finishes in PROD, despite supposedly an index on (created_at, sending_org)
   * Tell me all the actions done over the last hour:
[code]
   * Here’s the explain plan on that query in Prod:
[code]
   * This one, almost the same as (1),  also never

[2022-10-18 15:07] sliu1000 commented on #6355
Update from Amy:

Hi Brick,

We’d like to have you start submitting to SaPHIRE ASAP (preferably this week), but we would need to have you submit dual feeds to both CCRS and SaPHIRE for a period of time. Is that something you are able to do?

Thanks,

[2022-10-18 15:41] #6786 closed

[2022-10-18 15:52] sliu1000 commented on #7034
Hi Ott,

Can you please check in Reportstream if the Facility Names was updated:

New Facility Name:  SF DPH ZSFG
Old Facility Name:  Zuckerberg San Francisco General

[2022-10-18 17:15] TomNUSDS opened #7042 "Research expanding pool of Github devs who can see dependabot alerts."
Is there some more granular control to allow everyone with write access to our github to see these warnings?

Most of these security warnings only require updating package dependencies.

https://github.com/CDCgov/prime-reportstream/security/dependabot

Maybe something to surface as something we need in an engineering meeting?

[2022-10-18 17:33] oslynn commented on #6797
@mauricereeves @jimduff-usds.  Perhaps, this is time for us to incorporate the Circuit Breaker pattern to our SendFunction.kt.  Here is info: https://resilience4j.readme.io/docs/circuitbreaker.  Will you let me look into incorporate the pattern into our SendFunction? Please let me know.  I have done this with my past project.  Netflix and many other cloud services use the pattern to solve the very

[2022-10-18 17:46] carlosfelix2 opened #7043 "Receiver can set a FHIR Path jurisdictional filter for the Universal Pipeline"
### User Story:
As a ReportStream Administrator, I want to be able to set the jurisdictional filter for a Universal Pipeline's receiver using FHIR Path, so I can specify values from a FHIR bundle.

### Description/Use Case
The routing for the universal pipeline requires a similar functionality to the filters available in the COVID pipeline. The COVID pipeline uses custom coded filters. For the Uni

[2022-10-18 17:46] carlosfelix2 opened #7044 "Receiver can set a FHIR Path quality filter for the Universal Pipeline"
### User Story:
As a ReportStream Administrator, I want to be able to set the quality filter for a Universal Pipeline's receiver using FHIR Path, so I can specify values from a FHIR bundle.

### Description/Use Case
The routing for the universal pipeline requires a similar functionality to the filters available in the COVID pipeline. The COVID pipeline uses custom coded filters. For the Universal

[2022-10-18 17:46] carlosfelix2 opened #7045 "Receiver can set a FHIR Path routing filter for the Universal Pipeline"
### User Story:
As a ReportStream Administrator, I want to be able to set the routing filter for a Universal Pipeline's receiver using FHIR Path, so I can specify values from a FHIR bundle.

### Description/Use Case
The routing for the universal pipeline requires a similar functionality to the filters available in the COVID pipeline. The COVID pipeline uses custom coded filters. For the Universal

[2022-10-18 17:46] carlosfelix2 opened #7046 "Receiver can set a FHIR Path processing mode filter for the Universal Pipeline"
### User Story:
As a ReportStream Administrator, I want to be able to set the processing mode filter for a Universal Pipeline's receiver using FHIR Path, so I can specify values from a FHIR bundle.

### Description/Use Case
The routing for the universal pipeline requires a similar functionality to the filters available in the COVID pipeline. The COVID pipeline uses custom coded filters. For the Un

[2022-10-18 17:47] carlosfelix2 opened #7047 "reverseQualityFilter property in receiver settings negates the result of the quality filter in the Universal Pipeline"
### User Story:
As a ReportStream Administrator, I want to be able to set reverse the value from a quality filter by setting a flag, so I don't have to develop a complex negation of an existing filter.

### Description/Use Case
The COVID pipeline has a receiver flag called `reverseQualityFilter` that simply takes the result of the quality filter and negates its value.  This was done because it was

[2022-10-18 17:47] carlosfelix2 opened #7048 "Universal Pipeline does not route data to inactive receivers"
### User Story:
As a ReportStream Administrator, I want to be able to disable the sending of data to a UP receiver, so I can manage who receives data.

### Description/Use Case
We want to be able to disable a receiver from receiving data in case there are any issues.

### Risks/Impacts/Considerations

### Dev Notes:

### Acceptance Criteria
* The UP does not route data to a receiver if the receive

[2022-10-18 17:47] carlosfelix2 opened #7049 "Universal Pipeline routing filters use a custom set of FHIR Path constants to help simplify expressions"

[2022-10-18 17:47] carlosfelix2 opened #7050 "Submission History contains jurisdictional filter positive result for Universal Pipeline submissions"
### User Story:
As a Sender, I want to see the list of receivers my data was sent to via the Universal Pipeline with the result of the jurisdictional filter, so I can track my data.

### Description/Use Case
Senders can access the submissions history API to get the submission result for a given report that contains which receivers the report was sent to.  We need to implement the destinations list

[2022-10-18 17:47] carlosfelix2 opened #7051 "Submission History contains quality filter result for Universal Pipeline submissions"
### User Story:
As a Sender, I want to see the list of receivers my data was sent to via the Universal Pipeline with the result of the quality filter, so I can track my data.

### Description/Use Case
Senders can access the submissions history API to get the submission result for a given report that contains which receivers the report was sent to.  We need to implement the destinations list in the

[2022-10-18 17:47] carlosfelix2 opened #7052 "Submission History contains routing filter result for Universal Pipeline submissions"
### User Story:
As a Sender, I want to see the list of receivers my data was sent to via the Universal Pipeline with the result of the routing filter, so I can track my data.

### Description/Use Case
Senders can access the submissions history API to get the submission result for a given report that contains which receivers the report was sent to.  We need to implement the destinations list in the

[2022-10-18 17:47] carlosfelix2 opened #7053 "Submission History contains processing mode filter result for Universal Pipeline submissions"
### User Story:
As a Sender, I want to see the list of receivers my data was sent to via the Universal Pipeline with the result of the processing mode filter, so I can track my data.

### Description/Use Case
Senders can access the submissions history API to get the submission result for a given report that contains which receivers the report was sent to.  We need to implement the destinations lis

[2022-10-18 17:47] carlosfelix2 opened #7054 "Submission History contains destination results for Universal Pipeline submissions"
### User Story:
As a Sender, I want to see the list of receivers my data was sent to via the Universal Pipeline, so I can track my data.

### Description/Use Case
Senders can access the submissions history API to get the submission result for a given report that contains which receivers the report was sent to.  We need to implement the destinations list in the response of the API for data processe

[2022-10-18 17:47] carlosfelix2 opened #7055 "Delivery details contains information about data delivered by the Universal Pipeline"
### User Story:
As a receiver, I want to see the list of deliveries include those made by the UP, so I can track my data.

### Description/Use Case
ReportStream as a system needs to provide receivers with a list of reports sent to them.  This list must include data from all pipelines in a consistent manner, so we need to include deliveries from the UP.

### Risks/Impacts/Considerations
* Some of t

[2022-10-18 17:56] carlosfelix2 commented on #6760
OBE.  See doc[https://app.zenhub.com/files/304423150/8675b2f5-52bc-4649-bfde-839f2a56a8fe/download](https://app.zenhub.com/files/304423150/8675b2f5-52bc-4649-bfde-839f2a56a8fe/download)

[2022-10-18 17:56] #6760 closed

[2022-10-18 17:56] carlosfelix2 commented on #6848
Results of the spike:[https://app.zenhub.com/files/304423150/cd842617-64f6-48b6-a8b0-febc0b7bba85/download](https://app.zenhub.com/files/304423150/cd842617-64f6-48b6-a8b0-febc0b7bba85/download)

[2022-10-18 17:56] #6848 closed

[2022-10-18 18:10] ahay-agile6 opened #7057 "[Message ID][Details][API] Retrieve Sender Details of a single Message"
## Problem statement

As an internal admin, I would like to be able to see the details of a message when selecting a messageId from the Admin -> Message ID Search page.

## What you need to know
Mural with initiative break-down https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1660849046968/e257020850ab71f57b31120e27ec06203ae9c22b?sender=u3fea607b46e84058d3224917

## Acceptance criter

[2022-10-18 18:14] sliu1000 commented on #6427
Sender Requesting an API Key:

I wonder if we could have any updates on the API key.

Otherwise, scheduling would be greatly appreciated as the FDA has been urging us to enable self-reporting from our app, myHomeTest, via ReportStream at earliest.
In more detail, this is in accordance with our description on the app that self-reporting is expected to go through ReportStream in the software develop

[2022-10-18 18:39] lucasdze commented on #5006
Here is (https://icfonline-my.sharepoint.com/:x:/r/personal/58917_icf_com/Documents/Azure-Monitor-Alerts-Rules%20(2).xlsx?d=w80c5914ba6ea473da2430a7c1c639eb8&csf=1&web=1&e=8wZl15) the list of all Alerts currently running in Azure. Now checking if they are all defined in terraform or not.

[2022-10-18 19:52] #6525 closed

[2022-10-18 19:52] #6526 closed

[2022-10-18 21:46] GilmoreA6 commented on #6707
Excellent,

I received the files and they look as expected. Our next and last step will be sending some production data to our production endpoint and testing with a STLT of your choosing (usually the one that will have the most reports). Is there a particular state or healthcare jurisdiction that you would like to use? (note that not all will accept OTC data)

Also, in my notes I have that we wer

[2022-10-18 21:46] #6707 closed

[2022-10-18 21:48] GilmoreA6 commented on #6957
Reached out to Sam'an Herman-Griffiths (shermangriffiths@innolitics.com) to ask which STLT we will be working with.

[2022-10-18 21:48] GilmoreA6 commented on #6957
Reached out to Sam'an Herman-Griffiths (shermangriffiths@innolitics.com) to ask which STLT we will be working with.

[2022-10-19 13:24] jeremy-page opened #7064 "Make PRs against Master not require re-approval after small changes"
Not sure if this can be done but it's worth investigating. Goal is not to require a new approval which is cumbersome and requires the dev to wait for Github to re-runs all the checks.

[2022-10-19 13:55] #6033 closed

[2022-10-19 13:55] #6034 closed

[2022-10-19 13:55] #6035 closed

[2022-10-19 13:55] #6037 closed, assigned to nobody

[2022-10-19 14:29] JosiahSiegel opened #7065 "GH Actions: Deprecating save-state and set-output commands"
## Problem statement

[GitHub Actions: Deprecating save-state and set-output commands](https://github.blog/changelog/2022-10-11-github-actions-deprecating-save-state-and-set-output-commands/)

## What you need to know
- Starting 1st June 2023 workflows using `save-state` or `set-output` commands via stdout will fail with an error.

[2022-10-19 15:41] #6559 closed

[2022-10-19 15:41] #6038 closed

[2022-10-19 15:41] #6751 closed

[2022-10-19 15:41] #6634 closed

[2022-10-19 16:44] kevinhaube commented on #4861
Set to deploy 10/20

[2022-10-19 17:13] shy2cdc commented on #6956
Email from Tara:

Hi James,

Outlook wouldn’t let me attach the public keys, so I’ve put them in this secure link:  https://redoxengine.sendsafely.com/receive/?thread=XP8F-DDFA&packageCode=lDUz0iCYMlSUIEsZs702lOgpUVVFntkqq0gj21i6tZ0#keyCode=DAbX0fC0to9kvxCAci6hdKZRE0YkLf0oO6LX-ChgwwI

Vaultppublickey509.pem is prod

Vaultspublickey509.pem is stage

(notice the difference after vault – p or s – it

[2022-10-19 17:34] shy2cdc commented on #6355
Email from Amy:

Hello,

Were you able to confirm whether you are able to set up a dual feed this week?

Thanks,

Amy Manjon

[2022-10-19 18:56] sliu1000 commented on #6599
@MauriceReeves-usds

Color waiting for their production public key to their client in Prod.

Full communication below:

Hi Sharon,

Thanks for confirming receipt. I'm also attaching our production public key, another item from Ruey's meeting notes. We'd love it if someone could get this added to our client in prod in tandem with the investigation of the staging messaging issue highlighted above. T

[2022-10-19 19:51] lucasdze opened #7070 "Configure Failure Anomalies - pdhtest-fa-test Alert via Terraform code"
Failure Anomalies - pdhtest-fa-test Alert is currently running in Azure but not set up from a terraform code. Need to be investigated and create a terraform code to configure it in Azure.
https://portal.azure.com/#@cdc.onmicrosoft.com/resource/subscriptions/7d1e3999-6577-4cd5-b296-f518e5c8e677/resourceGroups/prime-data-hub-test/providers/microsoft.alertsmanagement/smartDetectorAlertRules/Failure%2

[2022-10-19 19:54] lucasdze opened #7071 "Configure pdhprod-504-alert via Terraform code"
pdhprod-504-alert is currently running in Azure but not set up from a terraform code. Need to be investigated and create a terraform code to configure it in Azure.

https://portal.azure.com/#@cdc.onmicrosoft.com/resource/subscriptions/7d1e3999-6577-4cd5-b296-f518e5c8e677/resourceGroups/prime-data-hub-prod/providers/microsoft.insights/scheduledqueryrules/pdhprod-504-alert/overview

[2022-10-19 19:56] lucasdze commented on #5006
This Alert list is now updated and I created separated ticket to follow up with alerts that aren't configure via terraform
https://icfonline-my.sharepoint.com/:x:/r/personal/58917_icf_com/_layouts/15/Doc.aspx?sourcedoc=%7B80C5914B-A6EA-473D-A243-0A7C1C639EB8%7D&file=Azure-Monitor-Alerts-Rules%20(2).xlsx&action=default&mobileredirect=true&cid=6ed14a71-f9b6-4b4c-ade5-a358cad8fbeb

[2022-10-19 20:49] lucasdze commented on #5198
I was able to get this list of resources that are not tagged in Azure
![image](https://user-images.githubusercontent.com/50645318/196801234-2c7042df-8bfa-4cd2-8fd7-4420bf275738.png)

[2022-10-19 21:33] sliu1000 commented on #6427
Update from Sender:

Needs to submit their data no later than November 5, 2022.  They missed their last deadline and was given an extension.

Communication:

Thanks for your prompt response.
And absolutely we have not enough time for our software (SaMD = mobile medical application) validation until due date given by FDA.
Our original due date was overed already. So, FDA gave one more chance about

[2022-10-20 12:41] shy2cdc commented on #5944
Email from Anthony:

Good Morning @oslynn ,

Just checking on the status of the information needed to resend the requested messages from May again.

Thank you,

[2022-10-20 12:42] shy2cdc commented on #6417
Hello,

All of this was sent and I received notification that it was successful. Can you please advise?

Thank you!

Qais Alkurdi

[2022-10-20 13:11] oslynn commented on #5944
2022-10-20.  Attached to email the Phase 2 excel and the latest production message to Anthony.

[2022-10-20 15:37] #6930 closed

[2022-10-20 15:53] shy2cdc commented on #6641
Email from Tara:

Hi James,

It looks like we are missing the endpoint we need to hit that is specific for Vault.  Would you be able to help me with that?  I’m being asked for something like - https://staging.prime.cdc.gov/api/token?scope=<redoxClientIdentifierHere>

Tara

[2022-10-20 16:03] oslynn commented on #5944
2022-10-20 Mike can't find those message in their system any more to get information for ProPhase.

'=== email ===
DOH-ADMIN NJELR [DOH] <NJELR.ADMIN@doh.nj.gov>
I cannot find those files or order numbers in our system.

Please note, @Boyd-Lee, Joyce [DOH] is your point of contact for Phase 2 testing.

Thank you,
Mike Firkser
Technical Lead - NJDOH ELR Team
NJELR.Admin@doh.nj.gov

Therefore, I wil

[2022-10-20 16:46] kevinhaube commented on #6987
@fmccaf1 @HeatherRienks In eng sync (10/20) we discussed using this as a reactive ticket, to gather feedback rather than update any design work now. There are already designs for the Receiver section of the UI, and we've got the UI work pointed for development.

[2022-10-20 16:52] kevinhaube opened #7078 "Update to Node 18"
## Problem statement

Node 16 LTS ends **September 11, 2023**. Our current node required version is `16.18.0`. We will need to update the app and CI to run on Node 18 by the end of Node 16 LTS.

## What you need to know

- [Node EOL (end of life)](https://endoflife.date/nodejs)
- Using NVM (Node version manager) that has some info you may need to know

## Acceptance criteria

- [ ] ReportStream's

[2022-10-20 18:16] #4861 closed

[2022-10-20 18:39] shy2cdc opened #7080 "ELR Failure - RI, 10/19/2022"
Email from Jason Garrett RI DOH:

Hi @oslynn ,

I am emailing at this time because RI has identified an ELR that failed upon entry into the RI system.  This is with accession#` cb23c0a5-3984-4ba2-8f9c-141db7d7bca4` and failed on entry yesterday 10/19.  I had our vendor investigate the raw message and the case for failure is listed below.  Can you please review and verify if this is a good result o

[2022-10-20 19:14] oslynn commented on #6775
Ott,

Do you have any update on this issue?  The local health department has asked and found another case for the following message control ID.

ba1c56c2-a3a3-4e86-9a80-35036d2d09ab

Thanks

Todd

[2022-10-20 19:19] shy2cdc commented on #6775
Email from Todd:

What about just fixing the issue so we don’t have more come in?

Todd

[2022-10-20 19:26] #7035 closed

[2022-10-20 19:43] fmccaf1 opened #7081 "Research with O&O: Understand external use case for validation service"
## Problem statement
Experience team does not yet understand the external use case and user context for this feature.

## Acceptance criteria
Perform interviews with O&O admin team to identify:
- What is the current onboarding flow for this type of user?
- How is this validation done today?
- What type of lift is needed (once the feature is built) to help users understand that they can use this va

[2022-10-20 19:55] fmccaf1 opened #7082 "Map the error message flow for receivers"
## Problem statement
What happens when receivers get an error?

## Acceptance criteria
Perform interviews with receivers (PHDs) to understand:
- How do PHDs realize they're getting incomplete data?
- What is the process for PHDs in reaction to incomplete data?

## To do
- [ ] Identify and reach out to (minimum of 5, including CA) PHDs to communicate research plan and schedule interviews
- [ ] Crea

[2022-10-20 20:10] fmccaf1 opened #7083 "Document STLT onboarding flow (internal and external)"
## Problem statement
ReportStream needs insight into its own processes to better design features and improve usability for external users. We also need insight into how the onboarding experience feels and is experienced by STLTs.

## What you need to know
There are currently journey maps and service maps in Mural, but they are primarily hypotheses (not based in real data from research).

 ## To do

[2022-10-20 20:12] #6963 closed, assigned to JosiahSiegel

[2022-10-20 20:38] oslynn commented on #7034
@sliu1000 do you have message id for me to check?

[2022-10-20 20:41] oslynn commented on #6231
2022-10-20 Mike can't find those message in their system any more to get information for ProPhase.

'=== email ===
DOH-ADMIN NJELR [DOH] <NJELR.ADMIN@doh.nj.gov>
**I cannot find those files or order numbers in our system.**

Please note, @Boyd-Lee, Joyce [DOH] is your point of contact for Phase 2 testing.

Thank you,
Mike Firkser
Technical Lead - NJDOH ELR Team
NJELR.Admin@doh.nj.gov

Therefore, I

[2022-10-20 20:41] #6231 closed

[2022-10-20 20:41] oslynn commented on #6231
Mike (NJ) can't find those message in their system any more to get information for ProPhase.

[2022-10-20 20:52] sliu1000 commented on #7034
@oslynn

The ReportID: `Covid-19-4d92224f-5134-4a1a-b8c6-c6c73c8a9f69-20220930210926.csv`

[2022-10-20 23:07] oslynn opened #7086 "Livd-table-update command broke"
Try to update  livd table got the following:
![image.png](https://images.zenhubusercontent.com/6166db74c72e6d9735fd8b3b/3a980f13-2f4a-4a97-bbbb-2e5c084e3b16)

[2022-10-21 12:29] #5926 closed

[2022-10-21 12:49] shy2cdc commented on #7080
Email from Jason G:

Good morning Ott,

This morning RI received a list of ELR failures from the ReportStream feed due to missing required data elements in the HL7 messaging.  There are 7 total failed messages from yesterday, and all with the same reason code.  Below is a screenshot of the reason for failure and list of accession numbers.  Please work to have these corrected and resubmitted as soo

[2022-10-21 13:24] BerniXiongA6 opened #7087 "Vikor Scientific LLC - API Sender Onboarding"
### What You Need to Know

- [ ] Terms of Service agreement signed

- [x] Kickoff meeting completed

- [ ] Company’s intake form: [paste info below this]

### To Do

- [ ] create individual tickets for this epic

- [ ] RS team member who originates this ticket: complete the following when creating this Issue.

- [ ] RS team member who originates this ticket: add any dependencies, as needed

[2022-10-21 13:29] BerniXiongA6 commented on #7087
Referred by Laura King / SimpleReport.
Berni is handling intake at this time - 10/20/2022.

Last correspondence from prospective API Sender - 10/20/2022:

Berni's initial intake email - 10/20/2022:

[2022-10-21 14:33] snesm opened #7088 "Hide addresses"
## Problem statement

Move terraform_caller_ip_address list to a secret read from Key Vault. See the postgres password as an example (although this needs to be a LIST)

[2022-10-21 14:48] shy2cdc opened #7089 "Reset Your Password For SpringML Prod App"
Hello,

This email has been generated for reportstream@cdc.gov to reset your password for the SpringML Prod App.

Please use the following link to reset your password: Reset Password Here. This link will expire after one hour or after being used once. Afterwards, a new password reset email will need to be generated.

We ask you to start sending data to the SpringML Prod App https://labupload.healt

[2022-10-21 15:08] oslynn commented on #6775
2022-10-21: @sliu1000 and I have found the SR csvupload has Patient City Address as required field.  However, in manual, it is not required.  To fix this issue for all STSLs, @sliu1000 will ask SR team to make it as required field.

After SR compete the task, this ticket can be closed.

[2022-10-21 15:46] sliu1000 commented on #6954
@jbiskie

Hi Joel were you able to review the Intrivo file and provide feedback to Karim?

Please see below their correspondence:
ReportStream team – Can you please follow up with Karim asap, as we discussed on Monday?

Karim, apologies that I can’t help you directly.  ReportStream needs to verify the sample messages that you provided.

Thanks,

Andrew

[2022-10-21 16:13] BerniXiongA6 opened #7090 "Osang LLC / Stone Labs Onboarding - Validate Test Files"
### Acceptance Criteria
- [x] Sample file from sender received by RS team
- [x] Sample files saved to Keybase by assigned RS engineer
- [x] Sample file ingested into RS using validation UI tool by assigned RS engineer
- [x] Feedback provided to sender by assigned RS engineer  (including instructions on what to modify in order to get validated)*
- [ ] Sender modifies and re-sends sample file to get

[2022-10-21 16:15] BerniXiongA6 opened #7091 "Osang LLC / Stone Labs Onboarding – Create Org and Sender Settings"
### Acceptance Criteria
- [x] Added to organization.yml and create yamlitos
    - [x] Customer status = testing
    - [x] For CSV OTC senders, schemaName: csv-otc-covid-19

- [ ] Added to prod settings table
- [ ] Added to staging settings table
- [ ] Key exchange
    - [ ] 1. Shared secret
         - [ ] Created API keys in Azure staging
         - [ ] Created API keys in Azure prod
         - [

[2022-10-21 16:16] BerniXiongA6 commented on #7091
Hi @jbiskie I don't know if this step was completed yet because there wasn't an individual ticket until now. If this step has been completed, please feel free to comment and close it. Thanks! cc: @MauriceReeves-usds

[2022-10-21 16:18] BerniXiongA6 commented on #7090
cc: @MauriceReeves-usds -- @jbiskie  is helping while you're out of the office -- we'll keep you posted on this when you return!

[2022-10-21 16:20] BerniXiongA6 opened #7092 "Utah Onboarding – Create Org and Sender Settings"
### Acceptance Criteria
- [ ] Added to organization.yml and create yamlitos
    - [ ] Customer status = testing
    - [ ] For HL7 senders, schemaName: hl7/hl7-ingest-covid-19-training

- [ ] Added to prod settings table
- [ ] Added to staging settings table

FYI: this ticket can be completely concurrently with “Validate Test Files” ticket for this API sender

### To Do
- [ ] RS engineer: update th

[2022-10-21 16:21] BerniXiongA6 opened #7093 "Utah Onboarding - Validate Test Files"
## Problem statement

The HL7 structure needs to be tested with UT. They will need messages sent through the test feed first as fake data. When that passes validation, then LIVE messages should be sent

## Acceptance criteria

- [x] Fake messages sent to UT
- [ ] UT accepts HL7 structure of fake messages
- [ ] Live messages sent to UT
- [ ] UT accepts HL7 structure of live messages

## To do

- [

[2022-10-21 16:39] sliu1000 commented on #6890
Hi @oslynn - 10/21/2022

Jake from Missouri sent an email requesting the investigate and re-submit the below file due to missing data. It looks like the sender is Intrivo and fields that are missing fields may be optional (please see Joel's note above).

Good morning!

We received a message early this morning missing some data.  Would you mind investigating and re-submitting the file(s)?

Filename

[2022-10-21 17:02] BerniXiongA6 commented on #6689
All old content files for this project can be found here: https://cdc.sharepoint.com/:p:/r/teams/USDSatCDC/Shared%20Documents/PRIME%20ReportStream/Team%20Documents/Experience%20Team/Content%20design/3.%20Content%20Design%20Projects/ReportStream%20Website%20Copy%20Writing/Proposed%20Outline%20for%20RS%20Website%20Content%20Infrastructure%20Revisions%20-%20June%202022%20to%20July%202022.pptx?d=w87cf

[2022-10-21 17:22] HeatherRienks commented on #5013
@BerniXiongA6 - I don't believe there is any existing work to be done here. If there anything you are aware of that is outstanding?

[2022-10-21 17:31] BerniXiongA6 commented on #5013
Outstanding work is changing “COVID-19” references to more general “reportable diseases” verbiage instead. And if there are any updated metrics to the info we’ve last provided them!

[2022-10-21 17:41] sliu1000 opened #7094 "Receiver RI - Molecular Diagnostics ELR's Failing"
## Problem statement

Per Jason Suchon - It appears as though all of the Molecular Diagnostic ELRs coming through the RI feed are failing.  Here is the failure list of accessions from the most recent push, today, 10/21.  All of the Molecular Diagnostic ELRs will need to be replayed once the correction is implemented.

## What you need to know

 [Links to documents, workflows, or list of key people

[2022-10-21 17:51] shy2cdc commented on #7080
Email from Jason G:

Thank you all.  I have also looped in Jason from our ASP vendor, who conducted the onboarding, in case there are any back end questions that he may be able to assist with.  Ott, if you would like one cumulative file of all the Advanced Molecular Diagnostic accessions #’s which failed, please let me know.  I would be more than happy to get that for you.  In the meantime, is tha

[2022-10-21 17:52] shy2cdc commented on #6956
Email from Tara:

Hi James,

It looks like we may need some help.  Are you seeing any messages hit your endpoint?

We are trying to query a token request, our paramaters are:

grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjU5MTY1YTRlLTcwMDctNDY3Yy04YzgwLTk0NjJmNDI4Nz

[2022-10-21 17:56] HeatherRienks commented on #3251
@BerniXiongA6 - I think we can prob close this Epic since we have now defined the process ([noted here](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/doc2.aspx?sourcedoc=%7B9640218C-586E-42B0-9FCC-0324D8C7B4F5%7D&file=Update%20SVG%20Map%20and%20List%20Process.docx&action=default&mobileredirect=true&cid=3eaf4dd2-134b-45ee-bb71-55e2de84a5d8)) for updating the SVG map for states who ha

[2022-10-21 18:16] fmccaf1 commented on #6789
Testing and summary of findings complete (see Mural in ticket text). Closing ticket.

[2022-10-21 18:16] #6789 closed

[2022-10-21 18:19] fmccaf1 commented on #7081
Did sufficient exploration during user testing of validation service (Ticket #6789) of question: Does this feature make sense for external users. Summary of answer: Yes, it makes more sense externally than internally (since O&O can do same function using command line). Will continue to learn about onboarding flow and potential use of this feature in work to document internal onboarding process (se

[2022-10-21 18:19] #7081 closed

[2022-10-21 18:35] BerniXiongA6 commented on #3251
I agree!

[2022-10-21 18:39] fmccaf1 opened #7095 "Publish What's New - Nov 2022 Update"
## Problem statement
As a user, I would like to know what features, bugs, other user facing updates have been made to ReportStream product.

## Acceptance criteria
Please check the box corresponding with your name when you have finished editing the ["Content Updates" document](https://cdc.sharepoint.com/:w:/r/teams/USDSatCDC/_layouts/15/Doc.aspx?sourcedoc=%7B46d04c32-4db8-4d1d-941a-e5fdbf76df09%7D

[2022-10-21 19:53] #6775 closed

[2022-10-21 19:53] sliu1000 commented on #6775
Fwd'd to SimpleReport to update.

[2022-10-21 19:57] fmccaf1 commented on #7083
Brick suggested 3 potential STLTs who have gone through onboarding recently (within the past several months) who could be good candidates for interviews: Rhode Island, Missouri, Indiana. Next step is reaching out to Ott to learn more, since he did most onboarding activities with these 3.

[2022-10-21 19:59] sliu1000 commented on #6641
Update from Sender:

Hi James,

It looks like we may need some help.  Are you seeing any messages hit your endpoint?

We are trying to query a token request, our paramaters are:

grant_type=client_credentials&client_assertion_type=urn%3Aietf%3Aparams%3Aoauth%3Aclient-assertion-type%3Ajwt-bearer&client_assertion=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjU5MTY1YTRlLTcwMDctNDY3Yy04YzgwLTk0NjJmNDI

[2022-10-21 20:22] Jcavallo7 opened #7097 "WA - Wrong Jurisdiction For Result"
User is Caroline Thomas.

The issue is as follows:

"WA DOH received a result from QUICKMED DIAGNOSTIC INC that we believe belongs to another health jurisdiction.
In this result, the patient address is in Tianjin and the ordering facility and ordering provider both have CA addresses.

If this result is indeed for WA, please let us know."

ReportID:  `00bdca40-e78b-437d-842f-2e52e6a46325` date 10/1

[2022-10-21 20:56] BerniXiongA6 opened #7098 "Content updates to ReportStream Website - Improve instructions and process for Account Registration Guide"
## Problem statement

External User Story: As a prospective ReportStream user, I would like a simple way to register for a ReportStream account so that I don't have to make too many manual steps and delay the process.

Internal User Story: As an O&O team, we would like to streamline the way we collect new user account set up data by integrating SmartSheet to automate that process AT THE TIME of re

[2022-10-21 20:57] BerniXiongA6 commented on #7098
@HeatherRienks here's the new ticket that you can bring to your team to discuss for a future sprint. @sliu1000 and I are happy to consult on this since the idea was generated from O&O team.

[2022-10-21 20:59] HeatherRienks commented on #7098
@BerniXiongA6 - great, thank you!

cc: @fmccaf1

[2022-10-21 21:17] brick-green commented on #6489
SafeHealth provided the backlog. @sliu1000 Can you let the states know? Looks like there were 4 states that we have tickets for. All are attached to this epic

cc @BerniXiongA6

[2022-10-21 21:37] sliu1000 commented on #6489
Sent email to WA, CA, LA and TN the below:

Greetings,

Please be advised that the Sender Safehealth has sent their backlog.

Best regards,

Sharon

[2022-10-21 22:27] jbiskie commented on #7091
Sender settings are ready and pushed to a branch, onboarding-ops/7091/osang-onboarding. Just need to create the PR.

Requested keybase username from Osang.

[2022-10-21 22:31] jbiskie commented on #7090
Modifications requested:

Please use comma delimiters between fields. The sample you sent is tab delimited
The date fields are in scientific notation, so they've lost some precision. Please ensure you're sending the full date/time string.
One field was missing, testing_lab_specimen_received_date. This is in the spec between specimen_collection_date and test_result_date
date_result_release is missi

[2022-10-21 22:40] BerniXiongA6 opened #7104 "Add Missouri to "where we're live""
## Problem statement

Missouri has been live and needs to be updated on the SVG map and text list on ReportStream's public facing web page "Where We're Live."

## Acceptance criteria
- [ ] SVG map and text list show Missouri as "live" on these pages:
  - [ ] https://reportstream.cdc.gov/
  - [ ] https://reportstream.cdc.gov/how-it-works/where-were-live

## To do

- [x] Engr to create PR
- [x] Exp.

[2022-10-21 22:42] BerniXiongA6 opened #7105 "Add Rhode Island to "where we're live""
## Problem statement

Rhode Island has been live and needs to be updated on the SVG map and text list on ReportStream's public facing web page "Where We're Live."

## Acceptance criteria
- [ ] SVG map and text list show Rhode Island as "live" on these pages:
  - [ ] https://reportstream.cdc.gov/
  - [ ] https://reportstream.cdc.gov/how-it-works/where-were-live

## To do

- [ ] Engr to create PR
-

[2022-10-24 12:40] shy2cdc commented on #7080
Email from Jason G:

Hi @oslynn tt,

There were continued Advanced Molecular Diagnostics ELR failures over this weekend due to the feed continuing to stay active while you work on the fix.  I have attached a cumulative list of message ID’s and test accession #’s for your FYI of all AMD failures.  All of these results will need correct and resubmission to RI once your fix is in place.  If RI contin

[2022-10-24 12:40] shy2cdc commented on #7080
Email from Ott:

Good morning, Mr. Garrett,

I will deactivate the feed while I am working on the fix.  Is that ok with you?  I will reactivate it as soon as I have a fix in place.

Very best regards,
-Ott Sathngam
CDC SWE

[2022-10-24 12:45] oslynn commented on #7080
2022-10-24 - Email from RI (Jason Garrett)

Hi Ott,

There were continued Advanced Molecular Diagnostics ELR failures over this weekend due to the feed continuing to stay active while you work on the fix.  I have attached a cumulative list of message ID’s and test accession #’s for your FYI of all AMD failures.  All of these results will need correct and resubmission to RI once your fix is in plac

[2022-10-24 14:51] sliu1000 commented on #6954
@jbiskie

Update from Intrivo:

Hi Joel,

Sex, Race, and Ethnicity are all optional values that the users have the ability to set on their profiles. None of our users provide that, however.

Regarding County, we don't have a UI to collect that on our app.
I wasn't aware of this issue being raised during our app walkthroughs, however, I'll discuss it with our product team.
Where available, we send

[2022-10-24 14:55] sliu1000 commented on #7091
Updated Communication:

Dear Joel,

We appreciate your detailed feedback for the sample file and corrections.

Concerning each item, I'd like to add some firsthand comments or inquiries.
(Please refer to text in blue)

Please use comma delimiters between fields. The sample you sent is tab delimited
            -  We will correct this
The date fields are in scientific notation, so they've lost some

[2022-10-24 15:04] #6971 closed

[2022-10-24 15:10] kevinhaube commented on #7032
@jeremy-page @jimduff-usds After observing this last week and paying extra special attention to emerging patterns, my hypothesis is that the container may be under a heavy load at start-up, and paired with the slow performance of the Submission History endpoint, it creates these timeouts. In one instance I was able to query an empty submission history array, but then it timed out on a response tha

[2022-10-24 17:15] sliu1000 commented on #6425
Update from Genabio as they are looking for an Update:

Hi Sharon,

Thank you for your email. Hopefully the engineer will look into our case and get back to us soon.

Best wishes,
Juehua Yu PhD
Genabio Diagnositics INC

[2022-10-24 17:17] sliu1000 commented on #7091
Update from Sender:

Dear Joel,

Thanks for the clarification.

We've restructured the transmitting data protocol matching your guidance while considering the identification part.

Best regards,
Eric (Mingoo) Song

[2022-10-24 17:40] BerniXiongA6 commented on #6425
@sliu1000 we're working on getting this ticket re-assigned to an engineer who can assist with next steps. Will update the ticket when that happens. Thanks Sharon!

[2022-10-24 18:00] sliu1000 commented on #7091
Update from Sender:

Dear Berni,

Thank you for the clarification of the below two issues.

1) We just noticed Joel that our mobile app's reporting data protocol has been reconstructed to meet the criteria.
2) The following is the keybase.io username:  https://keybase.io/osangllc
osangllc (Osang LLC) | Keybase
osangllc (Osang LLC) is now on Keybase, an open source app for encryption and cryptograp

[2022-10-24 18:00] #5414 closed

[2022-10-24 18:20] oslynn opened #7118 "Clean up the livd-table-update utility command."
The CDC https://www.cdc.gov/csels/dls/sars-cov-2-livd-codes.html is blocking all bots.  Therefore, the download option of the livd-table-update is no long work since it is a bot.  From now on, we can only download the LIVD Table Spreadsheet manually.

This ticket is to clean up the download option from the utility.  We also need to add unit and integration tests to the utility.
Update all document

[2022-10-24 19:20] #7091 closed

[2022-10-24 19:27] rnz6 opened #7120 "Idaho - Password Expiration in 13 days"
Please reset password before 13 day expiration window.

From: DHW SFTP Server <SecureFTP@dhw.idaho.gov>
Date: Monday, October 24, 2022 at 02:00
To: Reeves, Maurice (CDC/OD/OCS) <qva8@cdc.gov>
Subject: Automated message from EFT administrator

Maurice Reeves,
The password for account: SimpleReport will expire in 13 days. Please change your password at your earliest convenience. Instructions for cha

[2022-10-24 19:33] rnz6 opened #7121 "Texas - Password Expiration in 4 days"
Please reset password before 4 day window.

From: GlobalSCAPE EFT Server EDTS <NoReply@hhsc.state.tx.us>
Date: Saturday, October 22, 2022 at 01:00
To: Reeves, Maurice (CDC/OD/OCS) <qva8@cdc.gov>
Subject: Automated message from EFT administrator

Maurice Reeves,

User ID: idielr007

This notification is to inform you that your password will expire on EDTS in 4 days

If you strictly connect using ke

[2022-10-24 19:37] rnz6 opened #7122 "New Jersey - Move It Account Questionnaire"
Hello,

We are in the process of verifying if you still need your State of New Jersey, Department of Health MoveIt account.  We have provided a questionnaire below that we are requesting you fill out to determine if you still need access to MoveIt, along a few other questions that will help us identify how you use MoveIt, password expirations and if you are receive the emails from the MoveIt syste

[2022-10-24 20:07] kevinhaube commented on #7032
@jimduff-usds Yes, this is the query as it goes out from our front-end call in prod:

`https://prime.cdc.gov/api/waters/org/simple_report/submissions?pagesize=61&cursor=3000-01-01T00:00:00.000Z&endcursor=2000-01-01T00:00:00.000Z&sort=DESC&showfailed=false`

[2022-10-24 20:23] BerniXiongA6 commented on #6343
Last email reply from BX to Alex on 10/7/2022:

Email reply from Alex on 10/7/2022:

BX sent next steps email to schedule Kickoff to Alex on 10/7/2022:

[2022-10-24 20:24] BerniXiongA6 commented on #6343
As of today 10/24/2022, Alex and ReOpen/Cerner team has not responded regarding scheduling an API Sender Kickoff meeting with O&O.

[2022-10-24 20:25] sliu1000 commented on #7090
Update from Joel/Engineering:

Eric,

I've sent the API keys and sample commands to your keybase account.

Thanks!

Joel Biskie (Flexion, Inc.)
Integration Engineer
Pandemic-Ready Interoperability Modernization Effort (PRIME)

[2022-10-24 20:53] kevinhaube opened #7123 "Revision Cycle: Validation Service"
## Problem Statment

The Validation service has been tested by O&O, and requests were made for changes to the UI to:
- Add consistency in messaging
- Update table display and information
- and make changes to the API error messages

## Resources

Florence's usability testing research mural: https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1666190212832/25f971cebb2d289837352dc406cb379

[2022-10-24 22:19] kevinhaube opened #7124 "[Validation][Requested Changes] Update Warning, Error, Success banner placements and content to consistent"
## Problem Statement

Currently on the validation results page, our error, warning, and success banners all display inconsistently. Some do not have titles, others are placed below the tables versus above, and elements around each are not consistently positioned above/below the banner.

## Resources

Florences mural of research: https://app.mural.co/t/primedatainput6410/m/primedatainput6410/166619

[2022-10-24 22:19] kevinhaube opened #7125 "[Validation][Requested Changes] Update Error & warnings banner content to include links to helpful resources"
## Problem Statement

Currently when validation errors occur, error messages point users to the Programmer's Guide, but to not provide a link in any fashion. The original request was to make the error message text itself link to the programmer's guide, however this requires some trickery. A more consistent approach was agreed on: link to relevant guides in the Error and warning banner messaging.

[2022-10-24 22:19] kevinhaube opened #7126 "[Validation][Requested Changes] Update Error/Warning table columns and column headers"
## Problem Statement

Header text changes were requested for clarity in communication:
- Warning (the column header) -> Requested Change
- Remove the Rows Containing Requested Edit / Indices column(s)

## Resources

Florences mural of research: https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1666190212832/25f971cebb2d289837352dc406cb379ce362068c?sender=ua604735c5cf1162b042a4310

##

[2022-10-24 22:20] kevinhaube opened #7127 "[Validation][Requested Changes] Update table styling with max-size for columns"
## Problem Statement

The error and warning tables sometimes present one column much larger than the rest, squishing important information down to narrow cells that cause weird wrapping.

## Resources

Florences mural of research: https://app.mural.co/t/primedatainput6410/m/primedatainput6410/1666190212832/25f971cebb2d289837352dc406cb379ce362068c?sender=ua604735c5cf1162b042a4310

USWDS Table stand

[2022-10-24 22:20] kevinhaube opened #7128 "[Validation][Requested Changes] Update error messages from API"
## Problem Statement

The error message response from the API is currently missing the field attribute for two notable fields:
- MSH-9
- ORU-R01

Additionally, the date-time format of invalid date format errors displays as an alien-like string that engineers can interpret, but common users might not understand. Rather, the updated error message should state the desired date-time format standard (i

[2022-10-24 22:28] oslynn commented on #5944
2022-10-24.  Continue Phase 2 for ProPhase.  Email to NJ below:
Good After Noon, Joyce,

I submitted the production data from ProPhase Diagnostic (file: covid-19-production-data-for-test-20220929140229-A-V3.hl7) to your staging folder for the Phase 2 validation.
Attached please find the Excel Sheet with CDRSS case ID.

Please let me know if we miss anything else.

Very best regards,
-Ott Sathngam

[2022-10-24 22:30] oslynn commented on #7080
2022-10-24.  Configure prod setting database for RI-DOH to block messages that doesn't have valid OBX-3.2.
Notified RI with email below:

Good after noon, Mr. Garrett,

I configured our system to not send the message that doesn't have valid "Test Ordered LOINC Long Name" (OBX-3.2).
Therefore, you will still get other messages.  Further, I will be working with senders to resolve those invalid messa

[2022-10-24 22:54] #7057 closed

[2022-10-25 13:06] jeremy-page opened #7130 "Check onboard/offboard steps for Sonarcloud"
We need devs to have access to Sonarcloud. Not sure who has admin

[2022-10-25 13:10] shy2cdc commented on #7080
Email from Jason G:

Hi Ott,

Failed message info from yesterday, 10/24, below.

Processed Time

Status

Message ID

Reporting Facility

Accession#

Exception Text

10/24/22 4:01 PM

Failure

`c11377a5-907d-42f8-b71b-ac1ceabcf00f-6`

Advanced Molecular Diagnostics

`c11377a5-907d-42f8-b71b-ac1ceabcf00f`

Error creating lab. Blank identifiers in CE or CWE segments 1 or 4. See Activity Details.

10/